
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/http/enums.ts#L24-L34">angular2/src/http/enums.ts (line 24)</a>

:markdown
  Acceptable credentials option to be associated with a <a href='Request-class.html'><code>Request</code></a>, based on
  [RequestCredentials](https://fetch.spec.whatwg.org/#requestcredentials) from the Fetch spec.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 Omit

    
    :markdown
      
      





  .l-sub-section
    h3 SameOrigin

    
    :markdown
      
      





  .l-sub-section
    h3 Include

    
    :markdown
      
      




