
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/http/base_response_options.ts#L44-L62">angular2/src/http/base_response_options.ts (line 44)</a>

:markdown
  The http module provides services to perform http requests. To get started, see the <a href='Http-class.html'><code>Http</code></a>
  class.

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Injectable
    pre.prettyprint
      code.
        @Injectable()


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor()
    
    :markdown
      
      




  .l-sub-section
    h3 body

    
    :markdown
      
      





  .l-sub-section
    h3 status

    
    :markdown
      
      





  .l-sub-section
    h3 headers

    
    :markdown
      
      





  .l-sub-section
    h3 statusText

    
    :markdown
      
      





  .l-sub-section
    h3 type

    
    :markdown
      
      





  .l-sub-section
    h3 url

    
    :markdown
      
      




