
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/http/interfaces.ts#L27-L37">angular2/src/http/interfaces.ts (line 27)</a>

:markdown
  Abstract class from which real connections are derived.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3#readyState readyState

    
    :markdown





  .l-sub-section
    h3#request request

    
    :markdown





  .l-sub-section
    h3#response response

    
    :markdown





  .l-sub-section
    h3#dispose dispose

    
    pre.prettyprint
      code.
        dispose()
    
    :markdown




