
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/http/http.ts#L33-L179">angular2/src/http/http.ts (line 33)</a>

:markdown
  The http module provides services to perform http requests. To get started, see the <a href='Http-class.html'><code>Http</code></a>
  class.

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Injectable
    pre.prettyprint
      code.
        @Injectable()


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_backend: ConnectionBackend, _defaultOptions: RequestOptions)
    
    :markdown
      
      




  .l-sub-section
    h3 request

    
    pre.prettyprint
      code.
        request(url: string | Request, options?: RequestOptionsArgs)
    
    :markdown
      Performs any type of http request. First argument is required, and can either be a url or
      a <a href='Request-class.html'><code>Request</code></a> instance. If the first argument is a url, an optional <a href='RequestOptions-class.html'><code>RequestOptions</code></a>
      object can be provided as the 2nd argument. The options object will be merged with the values
      of <a href='BaseRequestOptions-class.html'><code>BaseRequestOptions</code></a> before performing the request.
      
      





  .l-sub-section
    h3 get

    
    pre.prettyprint
      code.
        get(url: string, options?: RequestOptionsArgs)
    
    :markdown
      Performs a request with `get` http method.
      
      





  .l-sub-section
    h3 post

    
    pre.prettyprint
      code.
        post(url: string, body: string, options?: RequestOptionsArgs)
    
    :markdown
      Performs a request with `post` http method.
      
      





  .l-sub-section
    h3 put

    
    pre.prettyprint
      code.
        put(url: string, body: string, options?: RequestOptionsArgs)
    
    :markdown
      Performs a request with `put` http method.
      
      





  .l-sub-section
    h3 delete

    
    pre.prettyprint
      code.
        delete(url: string, options?: RequestOptionsArgs)
    
    :markdown
      Performs a request with `delete` http method.
      
      





  .l-sub-section
    h3 patch

    
    pre.prettyprint
      code.
        patch(url: string, body: string, options?: RequestOptionsArgs)
    
    :markdown
      Performs a request with `patch` http method.
      
      





  .l-sub-section
    h3 head

    
    pre.prettyprint
      code.
        head(url: string, options?: RequestOptionsArgs)
    
    :markdown
      Performs a request with `head` http method.
      
      




