
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/http/interfaces.ts#L35-L50">angular2/src/http/interfaces.ts (line 35)</a>

:markdown
  Interface for options to construct a Request, based on
  [RequestInit](https://fetch.spec.whatwg.org/#requestinit) from the Fetch spec.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 url?

    
    :markdown

      
      





  .l-sub-section
    h3 method?

    
    :markdown

      
      





  .l-sub-section
    h3 headers?

    
    :markdown

      
      





  .l-sub-section
    h3 body?

    
    :markdown

      
      





  .l-sub-section
    h3 mode?

    
    :markdown

      
      





  .l-sub-section
    h3 credentials?

    
    :markdown

      
      





  .l-sub-section
    h3 cache?

    
    :markdown

      
      




