
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/http/interfaces.ts#L50-L64">angular2/src/http/interfaces.ts (line 50)</a>

:markdown
  Interface for options to construct a Response, based on
  [ResponseInit](https://fetch.spec.whatwg.org/#responseinit) from the Fetch spec.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 body?

    
    :markdown
      
      





  .l-sub-section
    h3 status?

    
    :markdown
      
      





  .l-sub-section
    h3 statusText?

    
    :markdown
      
      





  .l-sub-section
    h3 headers?

    
    :markdown
      
      





  .l-sub-section
    h3 type?

    
    :markdown
      
      





  .l-sub-section
    h3 url?

    
    :markdown
      
      




