
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/http/backends/jsonp_backend.ts#L9-L89">angular2/src/http/backends/jsonp_backend.ts (line 9)</a>

:markdown
  The http module provides services to perform http requests. To get started, see the <a href='Http-class.html'><code>Http</code></a>
  class.
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(req: Request, _dom: BrowserJsonp, baseResponseOptions?: ResponseOptions)
    
    :markdown
      
      




  .l-sub-section
    h3 readyState

    
    :markdown
      
      





  .l-sub-section
    h3 request

    
    :markdown
      
      





  .l-sub-section
    h3 response

    
    :markdown
      
      





  .l-sub-section
    h3 baseResponseOptions

    
    :markdown
      
      





  .l-sub-section
    h3 finished

    
    pre.prettyprint
      code.
        finished(data?: any)
    
    :markdown
      
      





  .l-sub-section
    h3 dispose

    
    pre.prettyprint
      code.
        dispose()
    
    :markdown
      
      




