
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/http/backends/jsonp_backend.ts#L10-L93">angular2/src/http/backends/jsonp_backend.ts (line 10)</a>

:markdown
.l-main-section
  h2 Members
  .l-sub-section
    h3#readyState readyState

    
    :markdown





  .l-sub-section
    h3#request request

    
    :markdown





  .l-sub-section
    h3#response response

    
    :markdown





  .l-sub-section
    h3#baseResponseOptions baseResponseOptions

    
    :markdown





  .l-sub-section
    h3#finished finished

    
    pre.prettyprint
      code.
        finished(data?: any)
    
    :markdown





  .l-sub-section
    h3#dispose dispose

    
    pre.prettyprint
      code.
        dispose()
    
    :markdown




