
.l-main-section
  h2 jsonpInjectables <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../http'>angular2/http</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/http.ts#L72-L79">angular2/http.ts (line 72)</a>

  :markdown
    
    

