
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/http/http.ts#L178-L205">angular2/src/http/http.ts (line 178)</a>

:markdown
  
  

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Injectable
    pre.prettyprint
      code.
        @Injectable()


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(backend: ConnectionBackend, defaultOptions: RequestOptions)
    
    :markdown
      
      




  .l-sub-section
    h3 request

    
    pre.prettyprint
      code.
        request(url: string | Request, options?: IRequestOptions)
    
    :markdown
      Performs any type of http request. First argument is required, and can either be a url or
      a <a href='Request-class.html'><code>Request</code></a> instance. If the first argument is a url, an optional <a href='RequestOptions-class.html'><code>RequestOptions</code></a>
      object can be provided as the 2nd argument. The options object will be merged with the values
      of <a href='BaseRequestOptions-class.html'><code>BaseRequestOptions</code></a> before performing the request.
      
      




