
<h1>angular2/http/ReadyStates</h1>
<h2>(enum)</h2>
<div>
<p>All possible states in which a connection can be, based on
<a href="http://www.w3.org/TR/XMLHttpRequest/#states">States</a> from the <code>XMLHttpRequest</code> spec, but with an
additional &quot;CANCELLED&quot; state.</p>

</div>
