
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/http/enums.ts#L55-L68">angular2/src/http/enums.ts (line 55)</a>

:markdown
  All possible states in which a connection can be, based on
  [States](http://www.w3.org/TR/XMLHttpRequest/#states) from the `XMLHttpRequest` spec, but with an
  additional "CANCELLED" state.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 UNSENT

    
    :markdown
      
      





  .l-sub-section
    h3 OPEN

    
    :markdown
      
      





  .l-sub-section
    h3 HEADERS_RECEIVED

    
    :markdown
      
      





  .l-sub-section
    h3 LOADING

    
    :markdown
      
      





  .l-sub-section
    h3 DONE

    
    :markdown
      
      





  .l-sub-section
    h3 CANCELLED

    
    :markdown
      
      




