
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/http/enums.ts#L47-L61">angular2/src/http/enums.ts (line 47)</a>

:markdown
  The http module provides services to perform http requests. To get started, see the <a href='Http-class.html'><code>Http</code></a>
  class.
.l-main-section
  h2 Members
  .l-sub-section
    h3 Unsent

    
    :markdown
      
      





  .l-sub-section
    h3 Open

    
    :markdown
      
      





  .l-sub-section
    h3 HeadersReceived

    
    :markdown
      
      





  .l-sub-section
    h3 Loading

    
    :markdown
      
      





  .l-sub-section
    h3 Done

    
    :markdown
      
      





  .l-sub-section
    h3 Cancelled

    
    :markdown
      
      




