
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/http/enums.ts#L47-L61">angular2/src/http/enums.ts (line 47)</a>

:markdown
  All possible states in which a connection can be, based on
  [States](http://www.w3.org/TR/XMLHttpRequest/#states) from the `XMLHttpRequest` spec, but with an
  additional "CANCELLED" state.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3#Unsent Unsent

    
    :markdown





  .l-sub-section
    h3#Open Open

    
    :markdown





  .l-sub-section
    h3#HeadersReceived HeadersReceived

    
    :markdown





  .l-sub-section
    h3#Loading Loading

    
    :markdown





  .l-sub-section
    h3#Done Done

    
    :markdown





  .l-sub-section
    h3#Cancelled Cancelled

    
    :markdown




