
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/http/interfaces.ts#L37-L55">angular2/src/http/interfaces.ts (line 37)</a>

:markdown
  Interface for options to construct a Request, based on
  [RequestInit](https://fetch.spec.whatwg.org/#requestinit) from the Fetch spec.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3#url url?

    
    :markdown





  .l-sub-section
    h3#method method?

    
    :markdown





  .l-sub-section
    h3#search search?

    
    :markdown





  .l-sub-section
    h3#headers headers?

    
    :markdown





  .l-sub-section
    h3#body body?

    
    :markdown





  .l-sub-section
    h3#mode mode?

    
    :markdown





  .l-sub-section
    h3#credentials credentials?

    
    :markdown





  .l-sub-section
    h3#cache cache?

    
    :markdown




