
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/http/base_request_options.ts#L5-L62">angular2/src/http/base_request_options.ts (line 5)</a>

:markdown
  Creates a request options object similar to the `RequestInit` description
  in the [Fetch
  Spec](https://fetch.spec.whatwg.org/#requestinit) to be optionally provided when instantiating a
  <a href='Request-class.html'><code>Request</code></a>.
  
  All values are null by default.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor({method, headers, body, mode, credentials, cache, url}?: IRequestOptions)
    
    :markdown
      
      




  .l-sub-section
    h3 method

    
    :markdown
      Http method with which to execute the request.
      
      Defaults to "GET".
      
      





  .l-sub-section
    h3 headers

    
    :markdown
      Headers object based on the `Headers` class in the [Fetch
      Spec](https://fetch.spec.whatwg.org/#headers-class).
      
      





  .l-sub-section
    h3 body

    
    :markdown
      Body to be used when creating the request.
      
      





  .l-sub-section
    h3 mode

    
    :markdown
      
      





  .l-sub-section
    h3 credentials

    
    :markdown
      
      





  .l-sub-section
    h3 cache

    
    :markdown
      
      





  .l-sub-section
    h3 url

    
    :markdown
      
      





  .l-sub-section
    h3 merge

    
    pre.prettyprint
      code.
        merge(options?: IRequestOptions)
    
    :markdown
      Creates a copy of the `RequestOptions` instance, using the optional input as values to override
      existing values.
      
      




