
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/http/enums.ts#L1-L11">angular2/src/http/enums.ts (line 1)</a>

:markdown
  Acceptable origin modes to be associated with a <a href='Request-class.html'><code>Request</code></a>, based on
  [RequestMode](https://fetch.spec.whatwg.org/#requestmode) from the Fetch spec.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 Cors

    
    :markdown
      
      





  .l-sub-section
    h3 NoCors

    
    :markdown
      
      





  .l-sub-section
    h3 SameOrigin

    
    :markdown
      
      




