
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/http/enums.ts#L34-L47">angular2/src/http/enums.ts (line 34)</a>

:markdown
  Supported http methods.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 GET

    
    :markdown
      
      





  .l-sub-section
    h3 POST

    
    :markdown
      
      





  .l-sub-section
    h3 PUT

    
    :markdown
      
      





  .l-sub-section
    h3 DELETE

    
    :markdown
      
      





  .l-sub-section
    h3 OPTIONS

    
    :markdown
      
      





  .l-sub-section
    h3 HEAD

    
    :markdown
      
      





  .l-sub-section
    h3 PATCH

    
    :markdown
      
      




