
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/http/enums.ts#L11-L24">angular2/src/http/enums.ts (line 11)</a>

:markdown
  Acceptable cache option to be associated with a <a href='Request-class.html'><code>Request</code></a>, based on
  [RequestCache](https://fetch.spec.whatwg.org/#requestcache) from the Fetch spec.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 Default

    
    :markdown
      
      





  .l-sub-section
    h3 NoStore

    
    :markdown
      
      





  .l-sub-section
    h3 Reload

    
    :markdown
      
      





  .l-sub-section
    h3 NoCache

    
    :markdown
      
      





  .l-sub-section
    h3 ForceCache

    
    :markdown
      
      





  .l-sub-section
    h3 OnlyIfCached

    
    :markdown
      
      




