
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/http/enums.ts#L24-L34">angular2/src/http/enums.ts (line 24)</a>

:markdown
  The http module provides services to perform http requests. To get started, see the <a href='Http-class.html'><code>Http</code></a>
  class.
.l-main-section
  h2 Members
  .l-sub-section
    h3 Omit

    
    :markdown
      
      





  .l-sub-section
    h3 SameOrigin

    
    :markdown
      
      





  .l-sub-section
    h3 Include

    
    :markdown
      
      




