
<h1>angular2/http/RequestModesOpts</h1>
<h2>(enum)</h2>
<div>
<p>Acceptable origin modes to be associated with a <a href='Request-class.html'><code>Request</code></a>, based on
<a href="https://fetch.spec.whatwg.org/#requestmode">RequestMode</a> from the Fetch spec.</p>

</div>
