
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/http/enums.ts#L61-L73">angular2/src/http/enums.ts (line 61)</a>

:markdown
  The http module provides services to perform http requests. To get started, see the <a href='Http-class.html'><code>Http</code></a>
  class.
.l-main-section
  h2 Members
  .l-sub-section
    h3 Basic

    
    :markdown
      
      





  .l-sub-section
    h3 Cors

    
    :markdown
      
      





  .l-sub-section
    h3 Default

    
    :markdown
      
      





  .l-sub-section
    h3 Error

    
    :markdown
      
      





  .l-sub-section
    h3 Opaque

    
    :markdown
      
      




