
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/http/base_response_options.ts#L5-L44">angular2/src/http/base_response_options.ts (line 5)</a>

:markdown
  The http module provides services to perform http requests. To get started, see the <a href='Http-class.html'><code>Http</code></a>
  class.
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor({body, status, headers, statusText, type, url}?: ResponseOptionsArgs)
    
    :markdown
      
      




  .l-sub-section
    h3 body

    
    :markdown
      
      





  .l-sub-section
    h3 status

    
    :markdown
      
      





  .l-sub-section
    h3 headers

    
    :markdown
      
      





  .l-sub-section
    h3 statusText

    
    :markdown
      
      





  .l-sub-section
    h3 type

    
    :markdown
      
      





  .l-sub-section
    h3 url

    
    :markdown
      
      





  .l-sub-section
    h3 merge

    
    pre.prettyprint
      code.
        merge(options?: ResponseOptionsArgs)
    
    :markdown
      
      




