
<h1>angular2/http/ResponseTypes</h1>
<h2>(enum)</h2>
<div>
<p>Acceptable response types to be associated with a <a href='Response-class.html'><code>Response</code></a>, based on
<a href="https://fetch.spec.whatwg.org/#responsetype">ResponseType</a> from the Fetch spec.</p>

</div>
