
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/http/enums.ts#L68-L80">angular2/src/http/enums.ts (line 68)</a>

:markdown
  Acceptable response types to be associated with a <a href='Response-class.html'><code>Response</code></a>, based on
  [ResponseType](https://fetch.spec.whatwg.org/#responsetype) from the Fetch spec.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 Basic

    
    :markdown
      
      





  .l-sub-section
    h3 Cors

    
    :markdown
      
      





  .l-sub-section
    h3 Default

    
    :markdown
      
      





  .l-sub-section
    h3 Error

    
    :markdown
      
      





  .l-sub-section
    h3 Opaque

    
    :markdown
      
      




