
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/http/interfaces.ts#L57-L71">angular2/src/http/interfaces.ts (line 57)</a>

:markdown
  The http module provides services to perform http requests. To get started, see the <a href='Http-class.html'><code>Http</code></a>
  class.
.l-main-section
  h2 Members
  .l-sub-section
    h3 body?

    
    :markdown
      
      





  .l-sub-section
    h3 status?

    
    :markdown
      
      





  .l-sub-section
    h3 statusText?

    
    :markdown
      
      





  .l-sub-section
    h3 headers?

    
    :markdown
      
      





  .l-sub-section
    h3 type?

    
    :markdown
      
      





  .l-sub-section
    h3 url?

    
    :markdown
      
      




