
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/http/enums.ts#L61-L73">angular2/src/http/enums.ts (line 61)</a>

:markdown
  Acceptable response types to be associated with a <a href='Response-class.html'><code>Response</code></a>, based on
  [ResponseType](https://fetch.spec.whatwg.org/#responsetype) from the Fetch spec.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3#Basic Basic

    
    :markdown





  .l-sub-section
    h3#Cors Cors

    
    :markdown





  .l-sub-section
    h3#Default Default

    
    :markdown





  .l-sub-section
    h3#Error Error

    
    :markdown





  .l-sub-section
    h3#Opaque Opaque

    
    :markdown




