
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/http/url_search_params.ts#L26-L140">angular2/src/http/url_search_params.ts (line 26)</a>

:markdown
  The http module provides services to perform http requests. To get started, see the <a href='Http-class.html'><code>Http</code></a>
  class.
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(rawParams?: string)
    
    :markdown
      
      




  .l-sub-section
    h3 paramsMap

    
    :markdown
      
      





  .l-sub-section
    h3 rawParams

    
    :markdown
      
      





  .l-sub-section
    h3 clone

    
    pre.prettyprint
      code.
        clone()
    
    :markdown
      
      





  .l-sub-section
    h3 has

    
    pre.prettyprint
      code.
        has(param: string)
    
    :markdown
      
      





  .l-sub-section
    h3 get

    
    pre.prettyprint
      code.
        get(param: string)
    
    :markdown
      
      





  .l-sub-section
    h3 getAll

    
    pre.prettyprint
      code.
        getAll(param: string)
    
    :markdown
      
      





  .l-sub-section
    h3 set

    
    pre.prettyprint
      code.
        set(param: string, val: string)
    
    :markdown
      
      





  .l-sub-section
    h3 setAll

    
    pre.prettyprint
      code.
        setAll(searchParams: URLSearchParams)
    
    :markdown
      
      





  .l-sub-section
    h3 append

    
    pre.prettyprint
      code.
        append(param: string, val: string)
    
    :markdown
      
      





  .l-sub-section
    h3 appendAll

    
    pre.prettyprint
      code.
        appendAll(searchParams: URLSearchParams)
    
    :markdown
      
      





  .l-sub-section
    h3 replaceAll

    
    pre.prettyprint
      code.
        replaceAll(searchParams: URLSearchParams)
    
    :markdown
      
      





  .l-sub-section
    h3 toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown
      
      





  .l-sub-section
    h3 delete

    
    pre.prettyprint
      code.
        delete(param: string)
    
    :markdown
      
      




