
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/http/backends/xhr_backend.ts#L49-L83">angular2/src/http/backends/xhr_backend.ts (line 49)</a>

:markdown
  Creates <a href='XHRConnection-class.html'><code>XHRConnection</code></a> instances.
  
  This class would typically not be used by end users, but could be
  overridden if a different backend implementation should be used,
  such as in a node backend.
  
  #Example
  
  ```
  import {Http, MyNodeBackend, httpInjectables, BaseRequestOptions} from 'angular2/http';
  @Component({
    appInjector: [
      httpInjectables,
      bind(Http).toFactory((backend, options) => {
        return new Http(backend, options);
      }, [MyNodeBackend, BaseRequestOptions])]
  })
  class MyComponent {
    constructor(http:Http) {
      http('people.json').subscribe(res => this.people = res.json());
    }
  }
  ```
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_NativeConstruct: BrowserXHR)
    
    :markdown
      
      




  .l-sub-section
    h3 createConnection

    
    pre.prettyprint
      code.
        createConnection(request: Request)
    
    :markdown

      
      




