
p.location-badge.
  exported from <a href='../http'>angular2/http</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/http/backends/xhr_backend.ts#L9-L62">angular2/src/http/backends/xhr_backend.ts (line 9)</a>

:markdown
  Creates connections using `XMLHttpRequest`. Given a fully-qualified
  request, an `XHRConnection` will immediately create an `XMLHttpRequest` object and send the
  request.
  
  This class would typically not be created or interacted with directly inside applications, though
  the <a href='MockConnection-class.html'><code>MockConnection</code></a> may be interacted with in tests.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(req: Request, browserXHR: BrowserXhr, baseResponseOptions?: ResponseOptions)
    
    :markdown
      
      




  .l-sub-section
    h3 request

    
    :markdown
      
      





  .l-sub-section
    h3 response

    
    :markdown
      Response <a href='../core/EventEmitter-class.html'><code>EventEmitter</code></a> which emits a single <a href='Response-class.html'><code>Response</code></a> value on load event of
      `XMLHttpRequest`.
      
      





  .l-sub-section
    h3 readyState

    
    :markdown
      
      





  .l-sub-section
    h3 dispose

    
    pre.prettyprint
      code.
        dispose()
    
    :markdown
      Calls abort on the underlying XMLHttpRequest.
      
      




