
.l-main-section
  h2 Attribute <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../annotations'>angular2/annotations</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.27/modules/angular2/src/core/annotations/decorators.ts#L56-L56">angular2/src/core/annotations/decorators.ts (line 56)</a>

  :markdown
    
    

