
.l-main-section
  h2 Component <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../annotations'>angular2/annotations</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/core/annotations/decorators.ts#L349-L350">angular2/src/core/annotations/decorators.ts (line 349)</a>

  :markdown
    <a href='Component-var.html'><code>Component</code></a> factory function.
    
    

