
p.location-badge.
  exported from <a href='../annotations'>angular2/annotations</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/core/annotations/decorators.ts#L12-L19">angular2/src/core/annotations/decorators.ts (line 12)</a>

:markdown
  Interface for the <a href='Directive-var.html'><code>Directive</code></a> decorator function.
  
  See <a href='DirectiveFactory-interface.html'><code>DirectiveFactory</code></a>.
  
  
