
p.location-badge.
  exported from <a href='../annotations'>angular2/annotations</a>
  defined in <a href="https://github.com/angular/angular/tree/f2ef90b/modules/angular2/src/core/annotations_impl/annotations.ts#L801-L812">angular2/src/core/annotations_impl/annotations.ts (line 801)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 selector

    
    :markdown

      
      





  .l-sub-section
    h3 properties

    
    :markdown

      
      





  .l-sub-section
    h3 events

    
    :markdown

      
      





  .l-sub-section
    h3 host

    
    :markdown

      
      





  .l-sub-section
    h3 lifecycle

    
    :markdown

      
      





  .l-sub-section
    h3 hostInjector

    
    :markdown

      
      





  .l-sub-section
    h3 exportAs

    
    :markdown

      
      





  .l-sub-section
    h3 compileChildren

    
    :markdown

      
      




