
.l-main-section
  h2 Directive <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../annotations'>angular2/annotations</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/core/annotations/decorators.ts#L355-L355">angular2/src/core/annotations/decorators.ts (line 355)</a>

  :markdown
    <a href='Directive-var.html'><code>Directive</code></a> factory function.
    
    

