
<h1>angular2/annotations/LifecycleEvent</h1>
<h2>(enum)</h2>
<div>
<p>Lifecycle events are guaranteed to be called in the following order:</p>
<ul>
<li><code>onChange</code> (optional if any bindings have changed),</li>
<li><code>onInit</code> (optional after the first check only),</li>
<li><code>onCheck</code>,</li>
<li><code>onAllChangesDone</code></li>
</ul>

</div>
