
<h1>onAllChangesDone</h1>
<h2>(const)</h2>
<div>
<p>Notify a directive when the bindings of all its children have been changed.</p>
.l-main-section
  h2 Example:
pre(class="prettyprint linenums")
  code.
@Directive({
  selector: '[class-set]',
  lifecycle: [onAllChangesDone]
})
class ClassSet {

  onAllChangesDone() {
  }

}
</div>
