
.l-main-section
  h2 onAllChangesDone <span class="type">variable</span>
  p.location-badge.
    exported from <a href="/angular2/annotations.html">angular2/annotations</a>

  :markdown
    Notify a directive when the bindings of all its children have been changed.
    
    ## Example:
    
    ```
    @Directive({
      selector: '[class-set]',
      lifecycle: [onAllChangesDone]
    })
    class ClassSet {
    
      onAllChangesDone() {
      }
    
    }
     ```

