
.l-main-section
  h2 onChange <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../annotations'>angular2/annotations</a>
    defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/core/annotations_impl/annotations.ts#L1057-L1057">angular2/src/core/annotations_impl/annotations.ts (line 1057)</a>

  :markdown
    Notify a directive when any of its bindings have changed.
    
    This method is called right after the directive's bindings have been checked,
    and before any of its children's bindings have been checked.
    
    It is invoked only if at least one of the directive's bindings has changed.
    
    ## Example:
    
    ```
    @Directive({
      selector: '[class-set]',
      properties: [
        'propA',
        'propB'
      ],
      lifecycle: [onChange]
    })
    class ClassSet {
      propA;
      propB;
      onChange(changes:{[idx: string, PropertyUpdate]}) {
        // This will get called after any of the properties have been updated.
        if (changes['propA']) {
          // if propA was updated
        }
        if (changes['propA']) {
          // if propB was updated
        }
      }
    }
     ```

