
.l-main-section
  h2 onCheck <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../annotations'>angular2/annotations</a>
    defined in <a href="https://github.com/angular/angular/tree/f2ef90b/modules/angular2/src/core/annotations_impl/annotations.ts#L1081-L1081">angular2/src/core/annotations_impl/annotations.ts (line 1081)</a>

  :markdown
    Notify a directive when it has been checked.
    
    This method is called right after the directive's bindings have been checked,
    and before any of its children's bindings have been checked.
    
    It is invoked every time even when none of the directive's bindings has changed.
    
    ## Example:
    
    ```
    @Directive({
      selector: '[class-set]',
      lifecycle: [onCheck]
    })
    class ClassSet {
      onCheck() {
      }
    }
     ```

