
.l-main-section
  h2 onDestroy <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../annotations'>angular2/annotations</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.27/modules/angular2/src/core/annotations_impl/annotations.ts#L1075-L1075">angular2/src/core/annotations_impl/annotations.ts (line 1075)</a>

  :markdown
    Notify a directive whenever a <a href='View-var.html'><code>View</code></a> that contains it is destroyed.
    
    ## Example
    
    ```
    @Directive({
      ...,
      lifecycle: [onDestroy]
    })
    class ClassSet {
      onDestroy() {
        // invoked to notify directive of the containing view destruction.
      }
    }
    ```

