
p.location-badge.
  exported from <a href='../annotations'>angular2/annotations</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/core/compiler/interfaces.ts#L22-L27">angular2/src/core/compiler/interfaces.ts (line 22)</a>

:markdown
  Defines lifecycle method [onInit] called when a directive is being checked the first time.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 onInit

    
    pre.prettyprint
      code.
        onInit()
    
    :markdown

      
      




