
.l-main-section
  h2 onInit <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../annotations'>angular2/annotations</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.27/modules/angular2/src/core/annotations_impl/annotations.ts#L1161-L1161">angular2/src/core/annotations_impl/annotations.ts (line 1161)</a>

  :markdown
    Notify a directive when it has been checked the first itme.
    
    This method is called right after the directive's bindings have been checked,
    and before any of its children's bindings have been checked.
    
    It is invoked only once.
    
    ## Example:
    
    ```
    @Directive({
      selector: '[class-set]',
      lifecycle: [onInit]
    })
    class ClassSet {
      onInit() {
      }
    }
     ```

