
p.
  <span class="location-badge">exported from <a href="/angular2/annotations">angular2/annotations</a></span>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/core/annotations/di.js#L12">angular2/src/core/annotations/di.js (line 12)</a>

:markdown
  Specifies that a function for setting host properties should be injected.
  
  NOTE: This is changing pre 1.0.
  
  The directive can inject a property setter that would allow setting this property on the host element.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(propName)
    

    :markdown
      




  .l-sub-section
    h3 propName

    

    :markdown
      





  .l-sub-section
    h3 token

    

    :markdown
      




