
.l-main-section
  h2 Query <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../annotations'>angular2/annotations</a>
    defined in <a href="https://github.com/angular/angular/tree/f2ef90b/modules/angular2/src/core/annotations/decorators.ts#L57-L57">angular2/src/core/annotations/decorators.ts (line 57)</a>

  :markdown
    
    

