
p.location-badge.
  exported from <a href='../annotations'>angular2/annotations</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/core/annotations/decorators.ts#L294-L345">angular2/src/core/annotations/decorators.ts (line 294)</a>

:markdown
  <a href='Query-var.html'><code>Query</code></a> factory for creating annotations, decorators or DSL.
  
  ## Example as TypeScript Decorator
  
  ```
  import {Query, QueryList, Component, View} from "angular2/angular2";
  
  @Component({...})
  @View({...})
  class MyComponent {
    constructor(@Query(SomeType) queryList: QueryList) {
      ...
    }
  }
  ```
  
  ## Example as ES5 DSL
  
  ```
  var MyComponent = ng
    .Component({...})
    .View({...})
    .Class({
      constructor: [new ng.Query(SomeType), function(queryList) {
        ...
      }]
    })
  ```
  
  ## Example as ES5 annotation
  
  ```
  var MyComponent = function(queryList) {
    ...
  };
  
  MyComponent.annotations = [
    new ng.Component({...})
    new ng.View({...})
  ]
  MyComponent.parameters = [
    [new ng.Query(SomeType)]
  ]
  ```
  
  
