
.l-main-section
  h2 Query <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../annotations'>angular2/annotations</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/core/annotations/decorators.ts#L396-L396">angular2/src/core/annotations/decorators.ts (line 396)</a>

  :markdown
    <a href='Query-var.html'><code>Query</code></a> factory function.
    
    

