
p.location-badge.
  exported from <a href="/angular2/annotations.html">angular2/annotations</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/core/annotations/di.js#L77">angular2/src/core/annotations/di.js (line 77)</a>

:markdown
  Specifies that a <a href='../view/QueryList-class.html'><code>QueryList</code></a> should be injected.
  
  See <a href='../view/QueryList-class.html'><code>QueryList</code></a> for usage and example.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(directive)
    
    :markdown
      




  .l-sub-section
    h3 directive

    
    :markdown
      




