
p.
  <span class="location-badge">exported from <a href="/angular2/annotations">angular2/annotations</a></span>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/core/annotations/di.js#L77">angular2/src/core/annotations/di.js (line 77)</a>

:markdown
  Specifies that a <a href="angular2/view/QueryList-class"><code>QueryList</code></a> should be injected.
  
  See <a href="angular2/view/QueryList-class"><code>QueryList</code></a> for usage and example.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(directive)
    

    :markdown
      




  .l-sub-section
    h3 directive

    

    :markdown
      




