
.l-main-section
  h2 View <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../annotations'>angular2/annotations</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/core/annotations/decorators.ts#L354-L355">angular2/src/core/annotations/decorators.ts (line 354)</a>

  :markdown
    <a href='View-var.html'><code>View</code></a> factory function.
    
    

