
p.location-badge.
  exported from <a href='../annotations'>angular2/annotations</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/render/api.ts#L274-L293">angular2/src/render/api.ts (line 274)</a>

:markdown
  How the template and styles of a view should be encapsulated.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 EMULATED

    
    :markdown
      Emulate scoping of styles by preprocessing the style rules
      and adding additional attributes to elements. This is the default.
      
      





  .l-sub-section
    h3 NATIVE

    
    :markdown
      Uses the native mechanism of the renderer. For the DOM this means creating a ShadowRoot.
      
      





  .l-sub-section
    h3 NONE

    
    :markdown
      Don't scope the template nor the styles.
      
      




