
.l-main-section
  h2 ViewQuery <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../annotations'>angular2/annotations</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/core/annotations/decorators.ts#L371-L371">angular2/src/core/annotations/decorators.ts (line 371)</a>

  :markdown
    <a href='ViewQuery-var.html'><code>ViewQuery</code></a> factory function.
    
    

