
p.location-badge.
  exported from <a href='../annotations'>angular2/annotations</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/core/annotations/decorators.ts#L37-L56">angular2/src/core/annotations/decorators.ts (line 37)</a>

:markdown
  Interface for the <a href='View-var.html'><code>View</code></a> decorator function.
  
  See <a href='ViewFactory-interface.html'><code>ViewFactory</code></a>.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 View

    
    pre.prettyprint
      code.
        View(obj: {
        templateUrl?: string,
        template?: string,
        directives?: List&lt;Type | any | List&lt;any&gt;&gt;,
        renderer?: string,
        styles?: List&lt;string&gt;,
        styleUrls?: List&lt;string&gt;,
      })
    
    :markdown
      Chain <a href='View-var.html'><code>View</code></a> annotation.
      
      




