
p.location-badge.
  exported from <a href='../annotations'>angular2/annotations</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/core/annotations/decorators.ts#L179-L241">angular2/src/core/annotations/decorators.ts (line 179)</a>

:markdown
  <a href='ViewAnnotation-class.html'><code>ViewAnnotation</code></a> factory for creating annotations, decorators or DSL.
  
  ## Example as TypeScript Decorator
  
  ```
  import {Component, View} from "angular2/angular2";
  
  @Component({...})
  @View({...})
  class MyComponent {
    constructor() {
      ...
    }
  }
  ```
  
  ## Example as ES5 DSL
  
  ```
  var MyComponent = ng
    .Component({...})
    .View({...})
    .Class({
      constructor: function() {
        ...
      }
    })
  ```
  
  ## Example as ES5 annotation
  
  ```
  var MyComponent = function() {
    ...
  };
  
  MyComponent.annotations = [
    new ng.Component({...})
    new ng.View({...})
  ]
  ```
  
  
