
.l-main-section
  h2 ViewQuery <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../annotations'>angular2/annotations</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/core/annotations/decorators.ts#L377-L377">angular2/src/core/annotations/decorators.ts (line 377)</a>

  :markdown
    <a href='ViewQuery-var.html'><code>ViewQuery</code></a> factory function.
    
    

