
p.
  <span class="location-badge">exported from <a href="/angular2/annotations">angular2/annotations</a></span>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/core/annotations/view.js#L34">angular2/src/core/annotations/view.js (line 34)</a>

:markdown
  Declare the available HTML templates for an application.
  
  Each angular component requires a single `@Component` and at least one `@View` annotation. The @View
  annotation specifies the HTML template to use, and lists the directives that are active within the template.
  
  When a component is instantiated, the template is loaded into the component's shadow root, and the
  expressions and statements in the template are evaluated against the component.
  
  For details on the `@Component` annotation, see [Component].
  
  ## Example
  
  ```
  @Component({
    selector: 'greet'
  })
  @View({
    template: 'Hello {{name}}!',
    directives: [GreetUser, Bold]
  })
  class Greet {
    name: string;
  
    constructor() {
      this.name = 'World';
    }
  }
  ```
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        ({
          templateUrl,
          template,
          directives
        }: {
          templateUrl: string,
          template: string,
          directives: List&lt;Type&gt;
        })

    

    :markdown
      




  .l-sub-section
    h3 directives

    

    :markdown
      Specify a list of directives that are active within a template. [TODO: true?]
      
      Directives must be listed explicitly to provide proper component encapsulation.
      
      
      
      ```javascript
      @Component({
          selector: 'my-component'
        })
      @View({
        directives: [For]
        template: '
        <ul>
          <li *for="item in items">{{item}}</li>
        </ul>'
      })
      class MyComponent {
      }
      ```





  .l-sub-section
    h3 template

    

    :markdown
      Specify an inline template for an angular component.
      
      NOTE: either `templateURL` or `template` should be used, but not both.





  .l-sub-section
    h3 templateUrl

    

    :markdown
      Specify a template URL for an angular component.
      
      NOTE: either `templateURL` or `template` should be used, but not both.




