/*
* Typographic Styles
*
* General Typographic Styles for content displayed in the body of a page
*/

body {
  font-family: $brand-font;
  font-size: 14px;
  color: $blue-grey-600;

  &.ng-cloak {
    display: none;
  }
}


/*
* Text Colors
*
* Text color utility color classes
*/

.text-snow {
  color: $white;
}

a {
  color: $blue-700;
  text-decoration: none;

  &:hover {
    color: $blue-600;
    text-decoration: underline;
  }
}

code {
  background: rgba($blue-grey-50, .56);
  border-radius: 2px;
  font-family: $mono-font;
  color: $teal-700;
  padding: 0px 4px;
  font-size: 90%;
}

.location-badge {
  position: absolute;
  bottom: 0;
  right: $unit * 3;
  padding: $unit;
  z-index: $layer-1;
  font-size: 12px !important;
}


/*
* Utility Classes
*
*/

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}


/*
* Text Styles
*
*/

.text-display-4 {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 112px;
  font-weight: 300;
  line-height: 118px;
}

.text-display-3 {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 56px;
  font-weight: 400;
  line-height: 118px;
}

.text-display-2,
.docs-content h1 {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
}

.text-display-1,
.docs-content h2 {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
}

.text-headline,
.docs-content h3 {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.text-title,
.docs-content h4 {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.docs-content {
  h1 {
    font-size: 34px;
    line-height: 40px;
    margin: ($unit * 6) 0 ($unit * 3) 0;

    &:first-of-type {
      margin-top: 0;
    }
  }
  h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin: ($unit * 6) 0 ($unit * 2) 0;

    &:first-of-type {
      margin-top: $unit * 2;
    }
  }
  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin: ($unit * 6) 0 ($unit * 1) 0;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin: ($unit * 6) 0 ($unit * 1) 0;
    text-transform: uppercase;
  }
}

table th,
.text-subhead,
.text-body,
.docs-content p,
.docs-content ul,
.docs-content ol {
  margin: 0px 0px ($unit * 3) 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding: 0;

  &.is-plain {
    list-style-type: none;
    padding: 0px;
  }
}

.docs-content ul,
.docs-content ol {
  padding-left: ($unit * 4);
}

table td {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.text-caption {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.text-aside,
.docs-content aside {
  @extend .text-caption;
  background: rgba($blue-grey-50, .24);
  color: $blue-grey-700;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  opacity: 1;
  border-radius: 2px;
  padding: $unit * 3;
  margin-bottom: $unit * 2;
  width: $unit * 30;

  p {
    color: $blue-grey-700;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
  }

  .l-sub-section & {
    background: $fog;
  }

  &.is-right {
    float: right;
    margin-left: $unit * 2;
  }

  &.is-left {
    float: left;
    margin-right: $unit * 2;
  }
}

.l-sub-section .text-aside,
.docs-content .l-sub-section  aside {
  background: $snow;
}

.docs-content .l-sub-section {
  pre:last-child {
    margin-bottom: 0;
  }
}
.docs-content .card-row {
  max-width: 1000px;
  > div > .card {
    margin: $unit ($unit * 3);
  }
  > div:first-child > .card {
    margin-left: 0;
  }
  > div:last-child > .card {
    margin-right: 0;
  }
}
@include respond-to('mobile') {
  .docs-content .card-row {
    &[layout="row"] {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      & > div {
        & > .card {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}