/*
* Typographic Styles
*
* Material Design Typographic Styles
*/

body {
  font-family: $brand-font;
  font-size: 14px;
  color: $platinum;
}

.text-center {
  text-align: center;
}

.text-display-4 {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 112px;
  font-weight: 300;
  opacity: .54;
  line-height: 118px;
}

.text-display-3 {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 56px;
  font-weight: 400;
  opacity: .54;
  line-height: 118px;
}

.text-display-2 {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 45px;
  font-weight: 400;
  opacity: .54;
  line-height: 48px;
}

.text-display-1 {
  margin: 0px;
  font-size: 34px;
  font-weight: 400;
  opacity: .54;
  line-height: 40px;
}

.text-headline {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 24px;
  font-weight: 400;
  opacity: .87;
  line-height: 32px;
}

.text-title {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 20px;
  font-weight: 500;
  opacity: .87;
  line-height: 32px;
}

.text-subhead,
.text-body {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 16px;
  font-weight: 400;
  opacity: .87;
  line-height: 28px;
}

// STANDARD TEXT TOO SMALL
// .text-body {
//   font-size: 16px;
//   font-weight: 400;
//   opacity: .87;
//   line-height: 24px;
// }

.text-caption {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 12px;
  font-weight: 400;
  opacity: .54;
  line-height: 20px;
}
