**/*.ngfactory.ts
**/*.metadata.json
**/*.css.shim.ts
*.js
!/hero-profile/rollup-config.js
!/hero-profile/publish.js
!/hero-profile/inline-resources.js
!/hero-profile/package.json
!ts/rollup-config.js