
p.location-badge.
  exported from <a href="/angular2/view.html">angular2/view</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/core/compiler/dynamic_component_loader.js#L14">angular2/src/core/compiler/dynamic_component_loader.js (line 14)</a>

:markdown
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(location:ElementRef, instance:any, componentView:AppView, dispose:Function)
    
    :markdown
      




  .l-sub-section
    h3 componentView

    
    :markdown
      





  .l-sub-section
    h3 dispose

    
    pre.prettyprint
      code.
        dispose()
    
    :markdown
      





  .l-sub-section
    h3 hostView

    
    :markdown
      





  .l-sub-section
    h3 injector

    
    :markdown
      





  .l-sub-section
    h3 instance

    
    :markdown
      





  .l-sub-section
    h3 location

    
    :markdown
      




