
p.location-badge.
  exported from <a href="/angular2/view.html">angular2/view</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/core/compiler/compiler.js#L46">angular2/src/core/compiler/compiler.js (line 46)</a>

:markdown
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(reader: DirectiveMetadataReader, cache:CompilerCache, templateResolver: TemplateResolver, componentUrlMapper: ComponentUrlMapper, urlResolver: UrlResolver, renderer: renderApi.Renderer, protoViewFactory: ProtoViewFactory)
    
    :markdown
      




  .l-sub-section
    h3 buildRenderDirective

    
    pre.prettyprint
      code.
        buildRenderDirective(directiveBinding)
    
    :markdown
      





  .l-sub-section
    h3 compile

    
    pre.prettyprint
      code.
        compile(component: Type)
    
    :markdown
      





  .l-sub-section
    h3 compileInHost

    
    pre.prettyprint
      code.
        compileInHost(componentTypeOrBinding:any)
    
    :markdown
      




