
p.location-badge.
  exported from <a href="/angular2/view.html">angular2/view</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/core/compiler/dynamic_component_loader.js#L44">angular2/src/core/compiler/dynamic_component_loader.js (line 44)</a>

:markdown
  Service for dynamically loading a Component into an arbitrary position in the internal Angular
  application tree.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(compiler:Compiler, viewManager: AppViewManager)
    
    :markdown
      




  .l-sub-section
    h3 loadIntoExistingLocation

    
    pre.prettyprint
      code.
        loadIntoExistingLocation(typeOrBinding, location:ElementRef, injector:Injector = null)
    
    :markdown
      Loads a component into the location given by the provided ElementRef. The loaded component
      receives injection as if it in the place of the provided ElementRef.





  .l-sub-section
    h3 loadIntoNewLocation

    
    pre.prettyprint
      code.
        loadIntoNewLocation(typeOrBinding, parentComponentLocation:ElementRef, elementOrSelector:any, injector:Injector = null)
    
    :markdown
      Loads a component in the element specified by elementOrSelector. The loaded component receives
      injection normally as a hosted view.





  .l-sub-section
    h3 loadNextToExistingLocation

    
    pre.prettyprint
      code.
        loadNextToExistingLocation(typeOrBinding, location:ElementRef, injector:Injector = null)
    
    :markdown
      Loads a component next to the provided ElementRef. The loaded component receives
      injection normally as a hosted view.




