
p.
  <span class="location-badge">exported from <a href="/angular2/view">angular2/view</a></span>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/core/compiler/element_injector.js#L27">angular2/src/core/compiler/element_injector.js (line 27)</a>

:markdown
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(elementInjector, hostView, boundElementIndex, injector)
    
    :markdown
      




  .l-sub-section
    h3 boundElementIndex

    
    :markdown
      





  .l-sub-section
    h3 elementInjector

    
    :markdown
      





  .l-sub-section
    h3 hostView

    
    :markdown
      





  .l-sub-section
    h3 injector

    
    :markdown
      





  .l-sub-section
    h3 viewContainer

    
    :markdown
      




