
p.location-badge.
  exported from <a href="/angular2/view.html">angular2/view</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/core/compiler/element_ref.js#L8">angular2/src/core/compiler/element_ref.js (line 8)</a>

:markdown
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(parentView:ViewRef, boundElementIndex:number)
    
    :markdown
      




  .l-sub-section
    h3 boundElementIndex

    
    :markdown

      





  .l-sub-section
    h3 domElement

    
    :markdown

      Exposes the underlying DOM element.
      (DEPRECATED way of accessing the DOM, replacement coming)





  .l-sub-section
    h3 getAttribute

    
    pre.prettyprint
      code.
        getAttribute(name:string)
    
    :markdown

      Gets an attribute from the underlying DOM element.
      (DEPRECATED way of accessing the DOM, replacement coming)





  .l-sub-section
    h3 parentView

    
    :markdown

      




