
p.location-badge.
  exported from <a href="/angular2/view.html">angular2/view</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/core/compiler/view_container.js#L12">angular2/src/core/compiler/view_container.js (line 12)</a>

:markdown
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(parentView: viewModule.AppView, defaultProtoView: viewModule.AppProtoView, elementInjector: eiModule.ElementInjector)
    
    :markdown
      




  .l-sub-section
    h3 clear

    
    pre.prettyprint
      code.
        clear()
    
    :markdown
      





  .l-sub-section
    h3 create

    
    pre.prettyprint
      code.
        create(atIndex:number=-1, protoView:viewModule.AppProtoView = null, injector:Injector = null)
    
    :markdown
      





  .l-sub-section
    h3 defaultProtoView

    
    :markdown
      





  .l-sub-section
    h3 detach

    
    pre.prettyprint
      code.
        detach(atIndex:number=-1)
    
    :markdown
      The method can be used together with insert to implement a view move, i.e.
      moving the dom nodes while the directives in the view stay intact.





  .l-sub-section
    h3 elementInjector

    
    :markdown
      





  .l-sub-section
    h3 get

    
    pre.prettyprint
      code.
        get(index: number)
    
    :markdown
      





  .l-sub-section
    h3 getRender

    
    pre.prettyprint
      code.
        getRender()
    
    :markdown
      





  .l-sub-section
    h3 hydrated

    
    pre.prettyprint
      code.
        hydrated()
    
    :markdown
      





  .l-sub-section
    h3 indexOf

    
    pre.prettyprint
      code.
        indexOf(view:viewModule.AppView)
    
    :markdown
      





  .l-sub-section
    h3 insert

    
    pre.prettyprint
      code.
        insert(view:viewModule.AppView, atIndex:number=-1)
    
    :markdown
      





  .l-sub-section
    h3 internalClearWithoutRender

    
    pre.prettyprint
      code.
        internalClearWithoutRender()
    
    :markdown
      





  .l-sub-section
    h3 length

    
    :markdown
      





  .l-sub-section
    h3 parentView

    
    :markdown
      





  .l-sub-section
    h3 remove

    
    pre.prettyprint
      code.
        remove(atIndex:number=-1)
    
    :markdown
      




