
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/di/exceptions.ts#L27-L58">angular2/src/di/exceptions.ts (line 27)</a>

:markdown
  Base class for all errors arising from misconfigured bindings.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(injector: Injector, key: Key, constructResolvingMessage: Function, originalException?: any, originalStack?: any)
    
    :markdown
      
      




  .l-sub-section
    h3 name

    
    :markdown
      
      





  .l-sub-section
    h3 message

    
    :markdown
      
      





  .l-sub-section
    h3 keys

    
    :markdown
      
      





  .l-sub-section
    h3 injectors

    
    :markdown
      
      





  .l-sub-section
    h3 constructResolvingMessage

    
    :markdown
      
      





  .l-sub-section
    h3 addKey

    
    pre.prettyprint
      code.
        addKey(injector: Injector, key: Key)
    
    :markdown
      
      





  .l-sub-section
    h3 context

    
    :markdown
      
      





  .l-sub-section
    h3 toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown
      
      




