
.l-main-section
  h2 Ancestor <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../di'>angular2/di</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/di/decorators.ts#L83-L83">angular2/src/di/decorators.ts (line 83)</a>

  :markdown
    Factory for creating <a href='AncestorMetadata-class.html'><code>AncestorMetadata</code></a>.
    
    

