
.l-main-section
  h2(class="function export") bind

  
  pre.prettyprint
    code.
      bind(token) : BindingBuilder
  

  p.location-badge.
    exported from <a href='../di'>angular2/di</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.27/modules/angular2/src/di/binding.ts#L286-L304">angular2/src/di/binding.ts (line 286)</a>

  :markdown
    Provides an API for imperatively constructing <a href='Binding-class.html'><code>Binding</code></a>s.
    
    This is only relevant for JavaScript. See <a href='BindingBuilder-class.html'><code>BindingBuilder</code></a>.
    
    ## Example
    
    ```javascript
    bind(MyInterface).toClass(MyClass)
    
    ```
    


