
.l-main-section
  h2(class="function export") bind

  p <code>(token)</code>

  p(class="module").
    exported from <a href="/angular2/di">angular2/di</a>

  :markdown
    Provides fluent API for imperative construction of [Binding] objects. (JavaScript only.)
    


