
.l-main-section
  h2(class="function export") bind

  p <code>(token)</code>

  p(class="module").
    exported from <a href="/angular2/di">angular2/di</a>

  :markdown
    Provides an API for imperatively constructing <a href="angular2/di/Binding-class"><code>Binding</code></a>s.
    
    This is only relevant for JavaScript. See <a href="angular2/di/BindingBuilder-class"><code>BindingBuilder</code></a>.
    
    ## Example
    
    ```javascript
    bind(MyInterface).toClass(MyClass)
    
    ```
    


