
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/di/injector.ts#L360-L366">angular2/src/di/injector.ts (line 360)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(binding: ResolvedBinding, visibility: Visibility)
    
    :markdown
      
      




  .l-sub-section
    h3 binding

    
    :markdown
      
      





  .l-sub-section
    h3 visibility

    
    :markdown
      
      





  .l-sub-section
    h3 getKeyId

    
    pre.prettyprint
      code.
        getKeyId()
    
    :markdown
      
      




