
.l-main-section
  h2(class="function export") bind

  p <code>(token)</code>

  p.location-badge.
    exported from <a href="/angular2/di.html">angular2/di</a>

  :markdown
    Provides an API for imperatively constructing <a href='Binding-class.html'><code>Binding</code></a>s.
    
    This is only relevant for JavaScript. See <a href='BindingBuilder-class.html'><code>BindingBuilder</code></a>.
    
    ## Example
    
    ```javascript
    bind(MyInterface).toClass(MyClass)
    
    ```
    


