
.l-main-section
  h2 DEFAULT_VISIBILITY <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../di'>angular2/di</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/di/metadata.ts#L199-L200">angular2/src/di/metadata.ts (line 199)</a>

  :markdown
    
    

