
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/di/binding.ts#L22-L32">angular2/src/di/binding.ts (line 22)</a>

:markdown
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(key: Key, asPromise: boolean, lazy: boolean, optional: boolean, properties: List&lt;any&gt;)
    
    :markdown
      
      




  .l-sub-section
    h3 key

    
    :markdown

      
      





  .l-sub-section
    h3 asPromise

    
    :markdown

      
      





  .l-sub-section
    h3 lazy

    
    :markdown

      
      





  .l-sub-section
    h3 optional

    
    :markdown

      
      





  .l-sub-section
    h3 properties

    
    :markdown

      
      




