
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/di/injector.ts#L363-L370">angular2/src/di/injector.ts (line 363)</a>

:markdown
  Used to provide dependencies that cannot be easily expressed as bindings.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 getDependency

    
    pre.prettyprint
      code.
        getDependency(injector: Injector, binding: ResolvedBinding, dependency: Dependency)
    
    :markdown
      
      




