
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/di/binding.ts#L13-L23">angular2/src/di/binding.ts (line 13)</a>

:markdown
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(public key: Key, public asPromise: boolean, public lazy: boolean, public optional: boolean, public properties: List&lt;any&gt;)
    
    :markdown
      
      




  .l-sub-section
    h3 asPromise

    
    :markdown

      
      





  .l-sub-section
    h3 key

    
    :markdown

      
      





  .l-sub-section
    h3 lazy

    
    :markdown

      
      





  .l-sub-section
    h3 optional

    
    :markdown

      
      





  .l-sub-section
    h3 properties

    
    :markdown

      
      




