
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/core/di/binding.ts#L24-L34">angular2/src/core/di/binding.ts (line 24)</a>

:markdown
  The `di` module provides dependency injection container services.
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(key: Key, optional: boolean, lowerBoundVisibility: any, upperBoundVisibility: any, properties: any[])
    
    :markdown
      
      




  .l-sub-section
    h3 key

    
    :markdown
      
      





  .l-sub-section
    h3 optional

    
    :markdown
      
      





  .l-sub-section
    h3 lowerBoundVisibility

    
    :markdown
      
      





  .l-sub-section
    h3 upperBoundVisibility

    
    :markdown
      
      





  .l-sub-section
    h3 properties

    
    :markdown
      
      




