
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/di/binding.ts#L23-L35">angular2/src/di/binding.ts (line 23)</a>

:markdown
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(key: Key, optional: boolean, visibility: VisibilityMetadata, properties: List&lt;any&gt;)
    
    :markdown
      
      




  .l-sub-section
    h3 key

    
    :markdown
      
      





  .l-sub-section
    h3 optional

    
    :markdown
      
      





  .l-sub-section
    h3 visibility

    
    :markdown
      
      





  .l-sub-section
    h3 properties

    
    :markdown
      
      




