
.l-main-section
  h2 FORWARD_REF <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../di'>angular2/di</a>
    defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/di/forward_ref.ts#L36-L36">

  :markdown
    
    

