
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/di/decorators.ts#L26-L34">angular2/src/di/decorators.ts (line 26)</a>

:markdown
  Factory for creating <a href='InjectableMetadata-class.html'><code>InjectableMetadata</code></a>.
  
  
