
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/f2ef90b/modules/angular2/src/di/annotations_impl.ts#L109-L127">angular2/src/di/annotations_impl.ts (line 109)</a>

:markdown
  A marker annotation that marks a class as available to `Injector` for creation. Used by tooling
  for generating constructor stubs.
  
  ```
  class NeedsService {
    constructor(svc:UsefulService) {}
  }
  
  @Injectable
  class UsefulService {}
  ```
