
.l-main-section
  h2 Injectable <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../di'>angular2/di</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.27/modules/angular2/src/di/decorators.ts#L14-L14">angular2/src/di/decorators.ts (line 14)</a>

  :markdown
    
    

