
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/di/annotations_impl.ts#L38-L57">angular2/src/di/annotations_impl.ts (line 38)</a>

:markdown
  A parameter annotation that creates a synchronous lazy dependency.
  
  ```
  class AComponent {
    constructor(@InjectLazy(MyService) aServiceFn:Function) {
      var aService:MyService = aServiceFn();
    }
  }
  ```
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(token)
    
    :markdown
      
      




  .l-sub-section
    h3 token

    
    :markdown

      
      





  .l-sub-section
    h3 toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown

      
      




