
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/core/di/exceptions.ts#L95-L113">angular2/src/core/di/exceptions.ts (line 95)</a>

:markdown
  The `di` module provides dependency injection container services.
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(injector: Injector, originalException: any, originalStack: any, key: Key)
    
    :markdown
      
      




  .l-sub-section
    h3 causeKey

    
    :markdown
      
      




