
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/di/exceptions.ts#L95-L115">angular2/src/di/exceptions.ts (line 95)</a>

:markdown
  Thrown when a constructing type returns with an Error.
  
  The `InstantiationError` class contains the original error plus the dependency graph which caused
  this object to be instantiated.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(injector: Injector, originalException: any, originalStack: any, key: Key)
    
    :markdown
      
      




  .l-sub-section
    h3 causeKey

    
    :markdown

      
      




