
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/di/exceptions.ts#L130-L153">angular2/src/di/exceptions.ts (line 130)</a>

:markdown
  Thrown when a constructing type returns with an Error.
  
  The `InstantiationError` class contains the original error plus the dependency graph which caused
  this object to be instantiated.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(cause, key)
    
    :markdown
      
      




  .l-sub-section
    h3 cause

    
    :markdown

      
      





  .l-sub-section
    h3 causeKey

    
    :markdown

      
      




