
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/f2ef90b/modules/angular2/src/di/exceptions.ts#L153-L170">angular2/src/di/exceptions.ts (line 153)</a>

:markdown
  Thrown when an object other then <a href='Binding-class.html'><code>Binding</code></a> (or `Type`) is passed to <a href='Injector-class.html'><code>Injector</code></a>
  creation.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(binding)
    
    :markdown
      
      




  .l-sub-section
    h3 message

    
    :markdown

      
      





  .l-sub-section
    h3 toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown

      
      




