
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/core/di/key.ts#L6-L36">angular2/src/core/di/key.ts (line 6)</a>

:markdown
  The `di` module provides dependency injection container services.
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(token: Object, id: number)
    
    :markdown
      
      




  .l-sub-section
    h3 token

    
    :markdown
      
      





  .l-sub-section
    h3 id

    
    :markdown
      
      





  .l-sub-section
    h3 displayName

    
    :markdown
      
      




