
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/di/key.ts#L6-L39">angular2/src/di/key.ts (line 6)</a>

:markdown
  A unique object used for retrieving items from the <a href='Injector-class.html'><code>Injector</code></a>.
  
  Keys have:
  - a system-wide unique `id`.
  - a `token`, usually the `Type` of the instance.
  
  Keys are used internally by the <a href='Injector-class.html'><code>Injector</code></a> because their system-wide unique `id`s allow the
  injector to index in arrays rather than looking up items in maps.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(token: Object, id: number)
    
    :markdown
      




  .l-sub-section
    h3 token

    
    :markdown

      
      





  .l-sub-section
    h3 id

    
    :markdown

      
      





  .l-sub-section
    h3 displayName

    
    :markdown

      
      




