
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/di/exceptions.ts#L169-L189">

:markdown
  Thrown when the class has no annotation information.
  
  Lack of annotation information prevents the <a href='Injector-class.html'><code>Injector</code></a> from determining which dependencies
  need to be injected into the constructor.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(typeOrFunc)
    
    :markdown
      
      




  .l-sub-section
    h3 message

    
    :markdown

      
      





  .l-sub-section
    h3 name

    
    :markdown

      
      





  .l-sub-section
    h3 toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown

      
      




