
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/di/exceptions.ts#L58-L71">angular2/src/di/exceptions.ts (line 58)</a>

:markdown
  Thrown when trying to retrieve a dependency by `Key` from <a href='Injector-class.html'><code>Injector</code></a>, but the
  <a href='Injector-class.html'><code>Injector</code></a> does not have a <a href='Binding-class.html'><code>Binding</code></a> for <a href='Key-class.html'><code>Key</code></a>.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(injector: Injector, key: Key)
    
    :markdown
      
      



