
.l-main-section
  h2 Optional <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../di'>angular2/di</a>
    defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/di/decorators.ts#L13-L13">angular2/src/di/decorators.ts (line 13)</a>

  :markdown
    
    

