
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/di/exceptions.ts#L156-L169">angular2/src/di/exceptions.ts (line 156)</a>

:markdown
  Thrown when getting an object by index.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(index: any)
    
    :markdown
      
      




  .l-sub-section
    h3 message

    
    :markdown
      
      





  .l-sub-section
    h3 toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown
      
      




