
.l-main-section
  h2 PRIVATE <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../di'>angular2/di</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/di/injector.ts#L27-L27">angular2/src/di/injector.ts (line 27)</a>

  :markdown
    
    

