
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/core/di/injector.ts#L175-L189">angular2/src/core/di/injector.ts (line 175)</a>

:markdown
  The `di` module provides dependency injection container services.
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(bwv: BindingWithVisibility[])
    
    :markdown
      
      




  .l-sub-section
    h3 numberOfBindings

    
    :markdown
      
      





  .l-sub-section
    h3 getBindingAtIndex

    
    pre.prettyprint
      code.
        getBindingAtIndex(index: number)
    
    :markdown
      
      




