
.l-main-section
  h2 PUBLIC_AND_PRIVATE <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../di'>angular2/di</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/di/injector.ts#L28-L28">angular2/src/di/injector.ts (line 28)</a>

  :markdown
    
    

