
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/core/di/binding.ts#L217-L242">angular2/src/core/di/binding.ts (line 217)</a>

:markdown
  The `di` module provides dependency injection container services.
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(key: Key, factory: Function, dependencies: Dependency[])
    
    :markdown
      
      




  .l-sub-section
    h3 key

    
    :markdown
      A key, usually a `Type`.
      
      





  .l-sub-section
    h3 factory

    
    :markdown
      Factory function which can return an instance of an object represented by a key.
      
      





  .l-sub-section
    h3 dependencies

    
    :markdown
      Arguments (dependencies) to the `factory` function.
      
      




