
.l-main-section
  h2(class="function export") resolveForwardRef

  
  pre.prettyprint
    code.
      resolveForwardRef(type: any) : any
  

  p.location-badge.
    exported from <a href='../di'>angular2/di</a>
    defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/di/forward_ref.ts#L35-L51">angular2/src/di/forward_ref.ts (line 35)</a>

  :markdown
    Lazily retrieve the reference value.
    
    See: <a href='forwardRef-function.html'><code>forwardRef</code></a>
    


