
.l-main-section
  h2(class="function export") resolveForwardRef

  
  pre.prettyprint
    code.
      resolveForwardRef(type: any) : any
  

  p.location-badge.
    exported from <a href='../di'>angular2/di</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/di/forward_ref.ts#L33-L47">angular2/src/di/forward_ref.ts (line 33)</a>

  :markdown
    Lazily retrieve the reference value.
    
    See: <a href='forwardRef-function.html'><code>forwardRef</code></a>
    
    


