
.l-main-section
  h2(class="function export") resolveBindings

  
  pre.prettyprint
    code.
      resolveBindings(bindings: List&lt;Type | Binding | List&lt;any&gt;&gt;) : List&lt;ResolvedBinding&gt;
  

  p.location-badge.
    exported from <a href='../di'>angular2/di</a>
    defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/di/injector.ts#L370-L393">angular2/src/di/injector.ts (line 370)</a>

  :markdown
    
    


