
p.location-badge.
  exported from <a href="/angular2/di.html">angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/di/binding.js#L263">angular2/src/di/binding.js (line 263)</a>

:markdown
  An internal resolved representation of a <a href="Binding-class.html"><code>Binding</code></a> used by the <a href="Injector-class.html"><code>Injector</code></a>.
  
  A <a href="Binding-class.html"><code>Binding</code></a> is resolved when it has a factory function. Binding to a class, alias, or value, are just convenience
  methods, as <a href="Injector-class.html"><code>Injector</code></a> only operates on calling factory functions.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(key:Key, factory:Function, dependencies:List&lt;Dependency&gt;, providedAsPromise:boolean)
    
    :markdown
      




  .l-sub-section
    h3 dependencies

    
    :markdown
      Arguments (dependencies) to the `factory` function.





  .l-sub-section
    h3 factory

    
    :markdown
      Factory function which can return an instance of an object represented by a key.





  .l-sub-section
    h3 key

    
    :markdown
      A key, usually a `Type`.





  .l-sub-section
    h3 providedAsPromise

    
    :markdown
      Specifies whether the `factory` function returns a `Promise`.




