
.l-main-section
  h2 Self <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../di'>angular2/di</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/di/decorators.ts#L78-L78">angular2/src/di/decorators.ts (line 78)</a>

  :markdown
    Factory for creating <a href='SelfMetadata-class.html'><code>SelfMetadata</code></a>.
    
    

