
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/core/di/type_literal.ts#L1-L7">angular2/src/core/di/type_literal.ts (line 1)</a>

:markdown
  The `di` module provides dependency injection container services.
.l-main-section
  h2 Members
  .l-sub-section
    h3 type

    
    :markdown
      
      




