
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/di/decorators.ts#L50-L58">angular2/src/di/decorators.ts (line 50)</a>

:markdown
  Factory for creating <a href='UnboundedMetadata-class.html'><code>UnboundedMetadata</code></a>.
  
  
