
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/di/metadata.ts#L83-L99">angular2/src/di/metadata.ts (line 83)</a>

:markdown
  Specifies how injector should resolve a dependency.
  
  See <a href='Self-var.html'><code>Self</code></a>, <a href='Ancestor-var.html'><code>Ancestor</code></a>, <a href='Unbounded-var.html'><code>Unbounded</code></a>.
  
  

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation CONST
    pre.prettyprint
      code.
        @CONST()


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(crossBoundaries: boolean, _includeSelf: boolean)
    
    :markdown
      
      




  .l-sub-section
    h3 crossBoundaries

    
    :markdown
      
      





  .l-sub-section
    h3 includeSelf

    
    :markdown
      
      





  .l-sub-section
    h3 toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown
      
      




