.grid-fluid.l-space-bottom-8
  for versions, framework in downloads
    div.c9.card
      frameworkName = framework.replace(/\_/gm, ' ')
      header
        h2.text-headline #{frameworkName}


      for version, name in versions
        if name == "description"
          p #{version}

        else
          .card-content

            ul.hover-card-container
              if version.file
                li
                  != partial("../_includes/_hover-card", {name: "Version " + name, url: version.file })

              if version.npm
                li
                  != partial("../_includes/_hover-card", {name: "Version " + name, url: version.npm })

              if version.pub
                li
                  != partial("../_includes/_hover-card", {name: "Version " + name, url: version.pub })
