{% if doc.metadataDoc and doc.metadataDoc.members.length %}

  h2 Metadata Properties

  {% for metadata in doc.metadataDoc.members %}{% if not metadata.internal %}
  a(name="{$ metadata.name $}-anchor" class="anchor-offset")
  pre(class="prettyprint no-bg" ng-class="{ 'anchor-focused': appCtrl.isApiDocMemberFocused('{$ metadata.name $}') }")
    code(class="api-doc-code").
      {$ metadata.name $}{$ params.paramList(metadata.parameters) | indent(8, false) | trim $}{$ params.returnType(metadata.returnType) $}

    :marked
      {%- if not metadata.notYetDocumented %}
{$ metadata.description | indentForMarkdown(6) | replace('### Example', '') | replace('## Example', '') | replace('# Example', '') | trimBlankLines $}
      {% endif -%}

    {% if not loop.last %}
    .hr(class="hr-margin")
    {% endif %}

  {% endif %}{% endfor %}
{% endif %}