node_modules
_temp
bower_components
jspm_packages
typings
**/packages
build
pubspec.lock
.pub
.packages
*.map
.DS_Store
**/*.iml
.idea
.vscode
**/js/latest/api
**/ts/latest/api
**/dart/latest/api
**/docs/**/_fragments
_.*
**/resources/zips
public/docs/xref-*.*
_zip-output
www
npm-debug*.log*
*.plnkr.html
plnkr.html
*plnkr.no-link.html
public/docs/*/latest/guide/cheatsheet.json
protractor-results.txt
link-checker-results.txt
