extends ../../../ts/latest/guide/security.jade

block includes
  include ../_util-fns

block toc
  :marked
    * [Reporting Vulnerabilities](#report-issues)
    * [Best Practices](#best-practices)
    * [Preventing Cross-Site Scripting (XSS)](#xss)
    <!-- * [Trusting Safe Values](#bypass-security-apis) -->
    <!-- * [HTTP-level Vulnerabilities](#http) -->
    * [Auditing Angular Applications](#code-review)

block html-sanitization
  :marked
    Angular recognizes the value as unsafe, and automatically sanitizes it. It removes the `<script>`
    tag but keeps safe content, producing output like this:

    > **Binding innerHTML**<br>
    > Bound value:<br>
    > Template &lt;script&gt;alert("0wned")&lt;/script&gt; &lt;b&gt;Syntax&lt;/b&gt;<br>
    > Result of binding to innerHTML:<br>
    > Template **Syntax**

block bypass-security-apis
  //- N/A

block http
  //- N/A
