.editorconfig
.idea
.vscode
styles.css
typings
typings.json
node_modules
jspm_packages
*.js.map
package.json
karma.conf.js
karma-test-shim.js
tsconfig.json
tslint.json
wallaby.js
npm-debug*.
protractor.config.js
systemjs.config.js
_test-output
_temp
**/ts/**/*.js
**/ts-snippets/**/*.js
*.d.ts
**/*e2e-spec.js

!systemjs.config.1.js
