{% include "lib/githubLinks.html" -%}
{% include "lib/paramList.html" -%}
{% extends 'class.template.html' -%}

{% block additional %}
.l-main-section
  h2 Selector
  .l-sub-section
    h3.selector
      code {$ doc.directiveOptions.selector $}

.l-main-section
  h2 Inputs
  .l-sub-section
    h3.input {% for binding, property in doc.inputs %}
      code {$ property.bindingName | dashCase $}
      | &nbsp;bound to&nbsp;
      code {$ property.memberDoc.classDoc.name $}.{$ property.propertyName $}
    :markdown
{$ property.memberDoc.description | indentForMarkdown(2) | trimBlankLines $}
  {% endfor %}

.l-main-section
  h2 Outputs
  .l-sub-section
    h3.input {% for binding, property in doc.outputs %}
      code {$ property.bindingName | dashCase $}
      | &nbsp;bound to&nbsp;
      code {$ property.memberDoc.classDoc.name $}.{$ property.propertyName $}
    :markdown
{$ event.memberDoc.description | indentForMarkdown(2) | trimBlankLines $}
  {% endfor %}
{% endblock %}
