
p.location-badge.
  exported from <a href='../forms'>angular2/forms</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/forms/model.ts#L37-L135">angular2/src/forms/model.ts (line 37)</a>

:markdown
  Omitting from external API doc as this is really an abstract internal concept.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(validator: Function)
    
    :markdown
      
      




  .l-sub-section
    h3 validator

    
    :markdown
      
      





  .l-sub-section
    h3 value

    
    :markdown
      
      





  .l-sub-section
    h3 status

    
    :markdown
      
      





  .l-sub-section
    h3 valid

    
    :markdown
      
      





  .l-sub-section
    h3 errors

    
    :markdown
      
      





  .l-sub-section
    h3 pristine

    
    :markdown
      
      





  .l-sub-section
    h3 dirty

    
    :markdown
      
      





  .l-sub-section
    h3 touched

    
    :markdown
      
      





  .l-sub-section
    h3 untouched

    
    :markdown
      
      





  .l-sub-section
    h3 valueChanges

    
    :markdown
      
      





  .l-sub-section
    h3 markAsTouched

    
    pre.prettyprint
      code.
        markAsTouched()
    
    :markdown
      
      





  .l-sub-section
    h3 markAsDirty

    
    pre.prettyprint
      code.
        markAsDirty({onlySelf}?: {onlySelf?: boolean})
    
    :markdown
      
      





  .l-sub-section
    h3 setParent

    
    pre.prettyprint
      code.
        setParent(parent: ControlGroup | ControlArray)
    
    :markdown
      
      





  .l-sub-section
    h3 updateValidity

    
    pre.prettyprint
      code.
        updateValidity({onlySelf}?: {onlySelf?: boolean})
    
    :markdown
      
      





  .l-sub-section
    h3 updateValueAndValidity

    
    pre.prettyprint
      code.
        updateValueAndValidity({onlySelf, emitEvent}?: {onlySelf?: boolean, emitEvent?: boolean})
    
    :markdown
      
      





  .l-sub-section
    h3 find

    
    pre.prettyprint
      code.
        find(path: List&lt;string | number&gt;| string)
    
    :markdown
      
      





  .l-sub-section
    h3 getError

    
    pre.prettyprint
      code.
        getError(errorCode: string, path?: List&lt;string&gt;)
    
    :markdown
      
      





  .l-sub-section
    h3 hasError

    
    pre.prettyprint
      code.
        hasError(errorCode: string, path?: List&lt;string&gt;)
    
    :markdown
      
      




