
p.location-badge.
  exported from <a href='../forms'>angular2/forms</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/forms/directives/abstract_control_directive.ts#L1-L19">angular2/src/forms/directives/abstract_control_directive.ts (line 1)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 control

    
    :markdown
      
      





  .l-sub-section
    h3 value

    
    :markdown
      
      





  .l-sub-section
    h3 valid

    
    :markdown
      
      





  .l-sub-section
    h3 errors

    
    :markdown
      
      





  .l-sub-section
    h3 pristine

    
    :markdown
      
      





  .l-sub-section
    h3 dirty

    
    :markdown
      
      





  .l-sub-section
    h3 touched

    
    :markdown
      
      





  .l-sub-section
    h3 untouched

    
    :markdown
      
      




