
p.location-badge.
  exported from <a href='../forms'>angular2/forms</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/forms/directives/checkbox_value_accessor.ts#L8-L59">angular2/src/forms/directives/checkbox_value_accessor.ts (line 8)</a>

:markdown
  The accessor for writing a value and listening to changes on a checkbox input element.
  
   # Example
   ```
   <input type="checkbox" [ng-control]="rememberLogin">
   ```
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(cd: NgControl, renderer: Renderer, elementRef: ElementRef)
    
    :markdown
      
      




  .l-sub-section
    h3 onChange

    
    :markdown

      
      





  .l-sub-section
    h3 onTouched

    
    :markdown

      
      





  .l-sub-section
    h3 cd

    
    :markdown

      
      





  .l-sub-section
    h3 renderer

    
    :markdown

      
      





  .l-sub-section
    h3 elementRef

    
    :markdown

      
      





  .l-sub-section
    h3 writeValue

    
    pre.prettyprint
      code.
        writeValue(value: any)
    
    :markdown

      
      





  .l-sub-section
    h3 ngClassUntouched

    
    :markdown

      
      





  .l-sub-section
    h3 ngClassTouched

    
    :markdown

      
      





  .l-sub-section
    h3 ngClassPristine

    
    :markdown

      
      





  .l-sub-section
    h3 ngClassDirty

    
    :markdown

      
      





  .l-sub-section
    h3 ngClassValid

    
    :markdown

      
      





  .l-sub-section
    h3 ngClassInvalid

    
    :markdown

      
      





  .l-sub-section
    h3 registerOnChange

    
    pre.prettyprint
      code.
        registerOnChange(fn: (_) =&gt; {})
    
    :markdown

      
      





  .l-sub-section
    h3 registerOnTouched

    
    pre.prettyprint
      code.
        registerOnTouched(fn: () =&gt; {})
    
    :markdown

      
      




