
p.
  <span class="location-badge">exported from <a href="/angular2/forms">angular2/forms</a></span>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/forms/model.js#L217">angular2/src/forms/model.js (line 217)</a>

:markdown
  Defines a part of a form, of variable length, that can contain other controls.
  
  A `ControlArray` aggregates the values and errors of each [Control] in the group. Thus, if one of the controls in a
  group is invalid, the entire group is invalid. Similarly, if a control changes its value, the entire group changes
  as well.
  
  `ControlArray` is one of the three fundamental building blocks used to define forms in Angular, along with [Control]
  and [ControlGroup]. [ControlGroup] can also contain other controls, but is of fixed length.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        (controls:List&lt;AbstractControl&gt;, validator:Function = Validators.array)

    

    :markdown
      




  .l-sub-section
    h3 at

    
    pre.prettyprint
      code.
        (index:number)

    

    :markdown
      





  .l-sub-section
    h3 controls

    

    :markdown
      





  .l-sub-section
    h3 insert

    
    pre.prettyprint
      code.
        (index:number, control:AbstractControl)

    

    :markdown
      





  .l-sub-section
    h3 length

    

    :markdown
      





  .l-sub-section
    h3 push

    
    pre.prettyprint
      code.
        (control:AbstractControl)

    

    :markdown
      





  .l-sub-section
    h3 removeAt

    
    pre.prettyprint
      code.
        (index:number)

    

    :markdown
      




