
p.location-badge.
  exported from <a href='../forms'>angular2/forms</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/forms/model.ts#L74-L106">angular2/src/forms/model.ts (line 74)</a>

:markdown
  Defines a part of a form that cannot be divided into other controls.
  
  `Control` is one of the three fundamental building blocks used to define forms in Angular, along
  with
  <a href='ControlGroup-class.html'><code>ControlGroup</code></a> and <a href='ControlArray-class.html'><code>ControlArray</code></a>.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(value: any, validator: Function = Validators.nullValidator)
    
    :markdown
      
      




  .l-sub-section
    h3 updateValue

    
    pre.prettyprint
      code.
        updateValue(value: any)
    
    :markdown

      
      




