
p.location-badge.
  exported from <a href='../forms'>angular2/forms</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/forms/directives/control_value_accessor.ts#L1-L4">angular2/src/forms/directives/control_value_accessor.ts (line 1)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 registerOnChange

    
    pre.prettyprint
      code.
        registerOnChange(fun: any)
    
    :markdown

      
      





  .l-sub-section
    h3 writeValue

    
    pre.prettyprint
      code.
        writeValue(obj: any)
    
    :markdown

      
      




