
p.location-badge.
  exported from <a href='../forms'>angular2/forms</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/forms/directives/control_container.ts#L3-L14">angular2/src/forms/directives/control_container.ts (line 3)</a>

:markdown
  A directive that contains a group of [NgControl].
  
  Only used by the forms module.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 name

    
    :markdown
      
      





  .l-sub-section
    h3 formDirective

    
    :markdown
      
      





  .l-sub-section
    h3 path

    
    :markdown
      
      




