
p.location-badge.
  exported from <a href='../forms'>angular2/forms</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/forms/directives/control_name_directive.ts#L13-L99">

:markdown
  Binds a control with the specified name to a DOM element.
  
  # Example
  
  In this example, we bind the login control to an input element. When the value of the input
  element
  changes, the value of
  the control will reflect that change. Likewise, if the value of the control changes, the input
  element reflects that
  change.
  
  Here we use <a href='formDirectives-const.html'><code>formDirectives</code></a>, rather than importing each form directive individually, e.g.
  `ControlDirective`, `ControlGroupDirective`. This is just a shorthand for the same end result.
  
   ```
  @Component({selector: "login-comp"})
  @View({
       directives: [formDirectives],
       template:
               "<form [ng-form-model]='loginForm'>" +
               "Login <input type='text' ng-control='login'>" +
               "<button (click)="onLogin()">Login</button>" +
               "</form>"
       })
  class LoginComp {
   loginForm:ControlGroup;
  
   constructor() {
     this.loginForm = new ControlGroup({
       login: new Control(""),
     });
   }
  
   onLogin() {
     // this.loginForm.value
   }
  }
  
   ```
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_parent: ControlContainerDirective)
    
    :markdown
      
      




  .l-sub-section
    h3 control

    
    :markdown

      
      





  .l-sub-section
    h3 formDirective

    
    :markdown

      
      





  .l-sub-section
    h3 model

    
    :markdown

      
      





  .l-sub-section
    h3 ngModel

    
    :markdown

      
      





  .l-sub-section
    h3 onChange

    
    pre.prettyprint
      code.
        onChange(c: StringMap&lt;string, any&gt;)
    
    :markdown

      
      





  .l-sub-section
    h3 onDestroy

    
    pre.prettyprint
      code.
        onDestroy()
    
    :markdown

      
      





  .l-sub-section
    h3 path

    
    :markdown

      
      





  .l-sub-section
    h3 viewToModelUpdate

    
    pre.prettyprint
      code.
        viewToModelUpdate(newValue: any)
    
    :markdown

      
      




