
p.location-badge.
  exported from <a href='../forms'>angular2/forms</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/forms/directives/control_value_accessor.ts#L1-L10">angular2/src/forms/directives/control_value_accessor.ts (line 1)</a>

:markdown
  A bridge between a control and a native element.
  
  Please see <a href='DefaultValueAccessor-class.html'><code>DefaultValueAccessor</code></a> for more information.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 writeValue

    
    pre.prettyprint
      code.
        writeValue(obj: any)
    
    :markdown

      
      





  .l-sub-section
    h3 registerOnChange

    
    pre.prettyprint
      code.
        registerOnChange(fn: any)
    
    :markdown

      
      





  .l-sub-section
    h3 registerOnTouched

    
    pre.prettyprint
      code.
        registerOnTouched(fn: any)
    
    :markdown

      
      




