
p.
  <span class="location-badge">exported from <a href="/angular2/forms">angular2/forms</a></span>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/forms/directives.js#L31">angular2/src/forms/directives.js (line 31)</a>

:markdown
  The default accessor for writing a value and listening to changes that is used by a [Control] directive.
  
  This is the default strategy that Angular uses when no other accessor is applied.
  
   # Example
   ```
   <input type="text" [control]="loginControl">
   ```
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        (setValueProperty:Function)

    

    :markdown
      




  .l-sub-section
    h3 onChange

    

    :markdown
      





  .l-sub-section
    h3 writeValue

    
    pre.prettyprint
      code.
        (value)

    

    :markdown
      




