
.l-main-section
  h2 formInjectables <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../forms'>angular2/forms</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/forms.ts#L42-L42">angular2/forms.ts (line 42)</a>

  :markdown
    
    

