
.l-main-section
  p.location-badge.
    exported from <a href='../forms'>angular2/forms</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/forms/directives.ts#L38-L53">angular2/src/forms/directives.ts (line 38)</a>

  :markdown
    A list of all the form directives used as part of a `@View` annotation.
    
     This is a shorthand for importing them each individually.
    
    

