
.l-main-section
  h2 formDirectives <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../forms'>angular2/forms</a>
    defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/forms/directives.ts#L37-L52">angular2/src/forms/directives.ts (line 37)</a>

  :markdown
    A list of all the form directives used as part of a `@View` annotation.
    
     This is a shorthand for importing them each individually.
    

