
<h1>formDirectives</h1>
<h2>(const)</h2>
<div>
<p>A list of all the form directives used as part of a <code>@View</code> annotation.</p>
<p> This is a shorthand for importing them each individually.</p>

</div>
