
p.location-badge.
  exported from <a href='../forms'>angular2/forms</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/forms/directives/form_interface.ts#L3-L18">angular2/src/forms/directives/form_interface.ts (line 3)</a>

:markdown
  An interface that <a href='NgFormModel-class.html'><code>NgFormModel</code></a> and <a href='NgForm-class.html'><code>NgForm</code></a> implement.
  
  Only used by the forms module.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 addControl

    
    pre.prettyprint
      code.
        addControl(dir: NgControl)
    
    :markdown
      
      





  .l-sub-section
    h3 removeControl

    
    pre.prettyprint
      code.
        removeControl(dir: NgControl)
    
    :markdown
      
      





  .l-sub-section
    h3 getControl

    
    pre.prettyprint
      code.
        getControl(dir: NgControl)
    
    :markdown
      
      





  .l-sub-section
    h3 addControlGroup

    
    pre.prettyprint
      code.
        addControlGroup(dir: NgControlGroup)
    
    :markdown
      
      





  .l-sub-section
    h3 removeControlGroup

    
    pre.prettyprint
      code.
        removeControlGroup(dir: NgControlGroup)
    
    :markdown
      
      





  .l-sub-section
    h3 getControlGroup

    
    pre.prettyprint
      code.
        getControlGroup(dir: NgControlGroup)
    
    :markdown
      
      





  .l-sub-section
    h3 updateModel

    
    pre.prettyprint
      code.
        updateModel(dir: NgControl, value: any)
    
    :markdown
      
      




