
.l-main-section
  h2 formDirectives <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../forms'>angular2/forms</a>

  :markdown
    A list of all the form directives used as part of a `@View` annotation.
    
     This is a shorthand for importing them each individually.
    

