
.l-main-section
  h2 INVALID <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../forms'>angular2/forms</a>
    defined in <a href="https://github.com/angular/angular/tree/f2ef90b/modules/angular2/src/forms/model.ts#L18-L18">angular2/src/forms/model.ts (line 18)</a>

  :markdown
    Indicates that a Control is invalid, i.e. that an error exists in the input value.
    

