
.l-main-section
  h2 INVALID <span class="type">variable</span>
  p.location-badge.
    exported from <a href="/angular2/forms">angular2/forms</a>

  :markdown
    Indicates that a Control is invalid, i.e. that an error exists in the input value.
    

