
.l-main-section
  h2(class="function export") isControl

  
  pre.prettyprint
    code.
      isControl(c: Object) : boolean
  

  p.location-badge.
    exported from <a href='../forms'>angular2/forms</a>
    defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/forms/model.ts#L18-L22">angular2/src/forms/model.ts (line 18)</a>

  :markdown
    
    


