
p.location-badge.
  exported from <a href='../forms'>angular2/forms</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/forms/directives/ng_control_group.ts#L12-L74">angular2/src/forms/directives/ng_control_group.ts (line 12)</a>

:markdown
  This module is used for handling user input, by defining and building a <a href='ControlGroup-class.html'><code>ControlGroup</code></a> that
  consists of
  <a href='Control-class.html'><code>Control</code></a> objects, and mapping them onto the DOM. <a href='Control-class.html'><code>Control</code></a> objects can then be used
  to read information
  from the form DOM elements.
  
  This module is not included in the `angular2` module; you must import the forms module
  explicitly.

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Directive
    pre.prettyprint
      code.
        @Directive({
          selector: &#39;[ng-control-group]&#39;,
          bindings: [controlGroupBinding],
          properties: [&#39;name: ng-control-group&#39;],
          lifecycle: [LifecycleEvent.OnInit, LifecycleEvent.OnDestroy],
          exportAs: &#39;form&#39;
        })


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_parent: ControlContainer)
    
    :markdown
      
      




  .l-sub-section
    h3 onInit

    
    pre.prettyprint
      code.
        onInit()
    
    :markdown
      
      





  .l-sub-section
    h3 onDestroy

    
    pre.prettyprint
      code.
        onDestroy()
    
    :markdown
      
      





  .l-sub-section
    h3 control

    
    :markdown
      
      





  .l-sub-section
    h3 path

    
    :markdown
      
      





  .l-sub-section
    h3 formDirective

    
    :markdown
      
      




