
p.location-badge.
  exported from <a href='../forms'>angular2/forms</a>
  defined in <a href="https://github.com/angular/angular/tree/f2ef90b/modules/angular2/src/forms/directives/ng_control.ts#L3-L22">angular2/src/forms/directives/ng_control.ts (line 3)</a>

:markdown
  An abstract class that all control directive extend.
  
  It binds a <a href='Control-class.html'><code>Control</code></a> object to a DOM element.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor()
    
    :markdown
      
      




  .l-sub-section
    h3 name

    
    :markdown

      
      





  .l-sub-section
    h3 valueAccessor

    
    :markdown

      
      





  .l-sub-section
    h3 validator

    
    :markdown

      
      





  .l-sub-section
    h3 path

    
    :markdown

      
      





  .l-sub-section
    h3 control

    
    :markdown

      
      





  .l-sub-section
    h3 viewToModelUpdate

    
    pre.prettyprint
      code.
        viewToModelUpdate(newValue: any)
    
    :markdown

      
      




