
p.location-badge.
  exported from <a href='../forms'>angular2/forms</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/forms/directives/select_control_value_accessor.ts#L9-L24">angular2/src/forms/directives/select_control_value_accessor.ts (line 9)</a>

:markdown
  Marks <option> as dynamic, so Angular can be notified when options change.
  
  #Example:
  
  ```
  <select ng-control="city">
    <option *ng-for="#c of cities" [value]="c"></option>
  </select>
  ```
  
  

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Directive
    pre.prettyprint
      code.
        @Directive({selector: &#39;option&#39;})


