
p.location-badge.
  exported from <a href='../forms'>angular2/forms</a>
  defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/forms/directives/select_control_value_accessor.ts#L19-L68">angular2/src/forms/directives/select_control_value_accessor.ts (line 19)</a>

:markdown
  The accessor for writing a value and listening to changes on a select element.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(cd: NgControl, renderer: Renderer, elementRef: ElementRef, query: QueryList&lt;NgSelectOption&gt;)
    
    :markdown
      
      




  .l-sub-section
    h3 value

    
    :markdown

      
      





  .l-sub-section
    h3 onChange

    
    :markdown

      
      





  .l-sub-section
    h3 onTouched

    
    :markdown

      
      





  .l-sub-section
    h3 cd

    
    :markdown

      
      





  .l-sub-section
    h3 renderer

    
    :markdown

      
      





  .l-sub-section
    h3 elementRef

    
    :markdown

      
      





  .l-sub-section
    h3 writeValue

    
    pre.prettyprint
      code.
        writeValue(value)
    
    :markdown

      
      





  .l-sub-section
    h3 registerOnChange

    
    pre.prettyprint
      code.
        registerOnChange(fn)
    
    :markdown

      
      





  .l-sub-section
    h3 registerOnTouched

    
    pre.prettyprint
      code.
        registerOnTouched(fn)
    
    :markdown

      
      




