
p.
  <span class="location-badge">exported from <a href="/angular2/forms">angular2/forms</a></span>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/forms/validators.js#L16">angular2/src/forms/validators.js (line 16)</a>

:markdown
  Provides a set of validators used by form controls.
  
  # Example
  
  ```
  var loginControl = new Control("", Validators.required)
  ```
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 array

    
    pre.prettyprint
      code.
        (c:modelModule.ControlArray)

    

    :markdown
      





  .l-sub-section
    h3 compose

    
    pre.prettyprint
      code.
        (validators:List&lt;Function&gt;)

    

    :markdown
      





  .l-sub-section
    h3 group

    
    pre.prettyprint
      code.
        (c:modelModule.ControlGroup)

    

    :markdown
      





  .l-sub-section
    h3 nullValidator

    
    pre.prettyprint
      code.
        (c:any)

    

    :markdown
      





  .l-sub-section
    h3 required

    
    pre.prettyprint
      code.
        (c:modelModule.Control)

    

    :markdown
      




