
p.location-badge.
  exported from <a href='../forms'>angular2/forms</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/forms/validators.ts#L4-L61">angular2/src/forms/validators.ts (line 4)</a>

:markdown
  Provides a set of validators used by form controls.
  
  # Example
  
  ```
  var loginControl = new Control("", Validators.required)
  ```
  
  
