
.l-main-section
  h2 VALID <span class="type">variable</span>
  p.location-badge.
    exported from <a href="/angular2/forms.html">angular2/forms</a>

  :markdown
    Indicates that a Control is valid, i.e. that no errors exist in the input value.
    

