
p.location-badge.
  exported from <a href="/angular2/forms.html">angular2/forms</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/forms/validators.js#L16">angular2/src/forms/validators.js (line 16)</a>

:markdown
  Provides a set of validators used by form controls.
  
  # Example
  
  ```
  var loginControl = new Control("", Validators.required)
  ```
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 array

    
    pre.prettyprint
      code.
        array(c:modelModule.ControlArray)
    
    :markdown

      





  .l-sub-section
    h3 compose

    
    pre.prettyprint
      code.
        compose(validators:List&lt;Function&gt;)
    
    :markdown

      





  .l-sub-section
    h3 group

    
    pre.prettyprint
      code.
        group(c:modelModule.ControlGroup)
    
    :markdown

      





  .l-sub-section
    h3 nullValidator

    
    pre.prettyprint
      code.
        nullValidator(c:any)
    
    :markdown

      





  .l-sub-section
    h3 required

    
    pre.prettyprint
      code.
        required(c:modelModule.Control)
    
    :markdown

      




