
.l-main-section
  h2 Host <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../di'>angular2/di</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/di/decorators.ts#L82-L82">angular2/src/di/decorators.ts (line 82)</a>

  :markdown
    Factory for creating <a href='HostMetadata-class.html'><code>HostMetadata</code></a>.
    
    

