
p.location-badge.
  exported from <a href='../di'>angular2/di</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/di/injector.ts#L167-L181">angular2/src/di/injector.ts (line 167)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(bwv: BindingWithVisibility[])
    
    :markdown
      
      




  .l-sub-section
    h3 numberOfBindings

    
    :markdown
      
      





  .l-sub-section
    h3 getBindingAtIndex

    
    pre.prettyprint
      code.
        getBindingAtIndex(index: number)
    
    :markdown
      
      




