doctype
html(lang="en"  layout="column" ng-app="myApp")
  head
    != partial("..//_includes/_head-include")

  body(layout="column" ng-controller="AppCtrl")
    != partial("../_includes/_main-nav")
    != partial("../_includes/_docs-nav")
    != yield
    != partial("../_includes/_footer")
