doctype
html(lang="en" ng-app="angularIOApp")
  head
    != partial("../_includes/_head-include")

  body(class="l-offset-nav l-offset-side-nav"  ng-controller="AppCtrl")
    != partial("../_includes/_main-nav")
    != partial("../_includes/_docs-nav")
    != partial("../_includes/_hero")

    if banner
      != partial("../_includes/_banner")

    article.l-content-small.grid-fluid.docs-content
      != yield

        footer
          p See something that could be better?&nbsp;
            a(href="https://github.com/angular/angular.io/edit/master/public/" + current.path.join('/') + ".jade") Edit this page on GitHub.
      
    != partial("../_includes/_footer")
    != partial("../_includes/_scripts-include")