doctype
html(lang="en" ng-app="angularIOApp" itemscope itemtype="http://schema.org/Framework")
  head
    != partial("../_includes/_head-include")

  body(class="l-offset-nav l-offset-side-nav"  ng-controller="AppCtrl as appCtrl")
    != partial("../_includes/_main-nav")
    if current.path[2]
      != partial("_includes/_side-nav")
    != partial("../_includes/_hero")
    != partial("../_includes/_banner")

    if current.path[3] == 'api'
      if current.path[4] == 'index'
        != yield
      else
        article(class="l-content-small grid-fluid docs-content")
          != yield
    else if current.path.indexOf('cheatsheet') > 0
      != yield
    else
      if current.path[3] == 'index' || current.path[3] == 'styleguide'
        article(class="l-content-small grid-fluid docs-content")
          != yield
      else
        article(class="l-content-small grid-fluid docs-content")
          div(class="c10")
            .showcase
              .showcase-content
                != yield
                  if (current.path[3] == 'guide' || current.path[3] == 'tutorial') && current.path[4]
                    != partial("../_includes/_next-item")

    != partial("../_includes/_footer")
    != partial("../_includes/_scripts-include")