//- WARNING: _layout.jade and _layout-dart-api.jade should match in terms of content
//- except that one uses Harp partial/yield and the other uses Jade extends/include.
doctype
html(lang="en" ng-app="angularIOApp" itemscope itemtype="http://schema.org/Framework")
  // template: public/docs/_layout-dart-api
  head
    include ../_includes/_head-include
    block head-extra

  block var-def
  body(class="l-offset-nav l-offset-side-nav"  ng-controller="AppCtrl as appCtrl")
    include ../_includes/_main-nav
    if current.path[2]
      include _includes/_side-nav
    include ../_includes/_hero
    include ../_includes/_banner

    if current.path[3] == 'api'
      if current.path[4] == 'index'
        block main-content
      else
        article(class="l-content-small grid-fluid docs-content")
          block main-content
    else if current.path.indexOf('cheatsheet') > 0
      block main-content
    else
      if current.path[3] == 'index' || current.path[3] == 'styleguide'
        article(class="l-content-small grid-fluid docs-content")
          block main-content
      else
        article(class="l-content-small grid-fluid docs-content")
          div(class="c10")
            .showcase
              .showcase-content
                block main-content
                if (current.path[3] == 'guide' || current.path[3] == 'tutorial') && current.path[4]
                  include ../_includes/_next-item

    include ../_includes/_footer
    include ../_includes/_scripts-include
