.l-main-section

   h1 This is the archive of the Angular v2 documentation
  .l-sub-section
    h3 TypeScript

    p: <a href="/docs/ts/latest">Angular TS - Archived version 2</a>
      
    h3 JavaScript

    p <a href="/docs/js/latest">Angular JS - Archived version 2</a>

    h3 Dart

    p: <a href="/docs/dart/latest">Angular Dart - Archived version 2</a>
