.l-main-section
  .l-sub-section
    h3 TypeScript

    p: <a href="/docs/ts/latest">Angular 2 TS - Latest Version</a>
      
    h3 JavaScript

    p <a href="/docs/js/latest">Angular 2 JS - Latest Version</a>


    h3 Dart

    p: <a href="/docs/dart/latest">Angular 2 Dart - Latest Version</a>