.grid-fluid
  .c10
    != partial("/_includes/styleguide/_layouts")
    != partial("/_includes/styleguide/_code-examples")
    != partial("/_includes/styleguide/_alerts")
    != partial("/_includes/styleguide/_callouts")
    != partial("/_includes/styleguide/_tables")
    != partial("/_includes/styleguide/_aside")

//!= partial("/_includes/styleguide/_jump-nav")