include ../../../_includes/_util-fns

//- See the _util-fns file included above for a description of the use of these variables.
- var _docsFor = 'dart';
- var _decorator = 'annotation';
- var _array = 'list';
- var _an_array = 'a list';
- var _priv = '_';

mixin liveExampleLink(linkText, exampleUrlPartName)
  a(href='https://angular-examples.github.io/#{exampleUrlPartName}')= linkText

mixin liveExampleLink2(linkText, exampleUrlPartName)
  - var liveExampleSourceLinkText = attributes.srcLinkText || 'view source'
  | #[+liveExampleLink(linkText, exampleUrlPartName)] 
  | (#[a(href='https://github.com/angular-examples/#{exampleUrlPartName}') #{liveExampleSourceLinkText}])

- var adjustExamplePath = function(_path) {
-   if(!_path) return _path;
-   var path = _path.trim();
-   var folder = getFolder(path);
-   var extn = getExtn(path);
-   // if(extn == 'dart') return path;
-   var baseName = getBaseFileName(path) || path; // TODO: have getBaseFileName() return path
-   var baseNameNoExt = baseName.substr(0,baseName.length - (extn.length + 1));
-   var inWebFolder = baseNameNoExt.match(/^(main|index)$/);
-   // Adjust the folder path, e.g., ts -> dart 
-   folder = folder.replace(/(^|\/)ts\//, '$1dart/').replace(/(^|\/)app($|\/)/, inWebFolder ? '$1web$2' : '$1lib$2');
-   // In file name, replace special characters with underscore
-   baseNameNoExt = baseNameNoExt.replace(/[\-\.]/g, '_');
-   // Adjust the file extension
-   if(extn == 'ts') extn = 'dart';
-   return (folder ? folder + '/' : '') + baseNameNoExt + (extn ? '.' + extn : '');
- };

- var adjustExampleTitle = function(_title) {
-   if(!_title || !adjustExamplePath) return _title;
-   var title = _title.trim();
-   // Assume title is a path if it ends with an extension like '.foo',
-   // optionally followed by some comment in parentheses.
-   var matches = title.match(/(.*\.\w+)($|\s*\([\w ]+\)?$)/);
-   if(matches && matches.length == 3) {
-     // e.g. matches == ['abc.ts (excerpt)', 'abc.ts', ' (excerpt)']
-     var path = adjustExamplePath(matches[1]);
-     title = path + matches[2];
-   }
-   return title;
- }
