- var base = current.path[4] ? '.' : './guide';
.banner.grid-fluid
  .alert.is-important
    :marked
      This cheat sheet is provisional and subject to change.

article(class="l-content-small grid-fluid docs-content")
  .cheatsheet
    ngio-cheatsheet(src= base + '/cheatsheet.json')
