include _util-fns

block var-def
  - var fragPath='../../ts/latest/_fragments/';

!=partial(fragPath + 'glossary-intro')
!=partial(fragPath + 'glossary-a1')
!=partial(fragPath + 'glossary-a-2')
!=partial(fragPath + 'glossary-b-c')
!=partial(fragPath + 'glossary-d1')
!=partial(fragPath + 'glossary-d2')
!=partial(fragPath + 'glossary-e1')
!=partial(fragPath + 'glossary-e2')
!=partial(fragPath + 'glossary-f-l')
!=partial(fragPath + 'glossary-m1')
//partial(fragPath + 'glossary-m2') not needed in dart
!=partial(fragPath + 'glossary-n-s-1')

:marked
  ## snake_case

.l-sub-section
  :marked
    The practice of writing compound words or phrases such that each word is separated by an
    underscore (`_`).
    
    Library and file names are often spelled in snake_case. Examples include:
    `angular2_tour_of_heroes` and `app_component.dart`.
    
    This form is also known as **underscore case**.

!=partial(fragPath + 'glossary-n-s-2')
!=partial(fragPath + 'glossary-t1')
//partial(fragPath + 'glossary-t2') notneeded in dart
!=partial(fragPath + 'glossary-u-z')
