extends ../../ts/_cache/glossary.jade

block includes
  include _util-fns

block annotation-defn
  :marked
    When unqualified, _annotation_ refers to a Dart [metadata
    annotation][metadata] (as opposed to, say, a type annotation).  A metadata
    annotation begins with the character `@`, followed by either a reference
    to a compile-time constant (such as [`Component`](#component)) or a call
    to a constant constructor. See the [Dart Language Guide][metadata] for
    details.

    The corresponding term in TypeScript and JavaScript is
    [_decorator_](!{docsPath}/ts/latest/glossary.html#decorator).

    [metadata]: https://www.dartlang.org/guides/language/language-tour#metadata

block bootstrap-defn-top
  :marked
    You launch an Angular application by "bootstrapping" it with the
    [bootstrap][bootstrap] method. Bootstraping identifies an
    application's top level "root" [component](#component), which is 
    the first component that is loaded for the application, and optionally
    registers service [providers](#provider) with the [dependency injection
    system](#dependency-injection).
    For more information, see the [Setup](!{docsLatest}/guide/setup.html) page.

    [bootstrap]: !{docsLatest}/api/angular2.platform.browser/bootstrap.html

block decorator-defn
  :marked
    When used in this guide, these JavaScript terms are taken as synonymous with
    [annotation](#annotation).

block module-defn
  //- Taken from the Dart Difference in guide/architecture.jade
  :marked
    In this guide, the term _module_ refers to a Dart compilation unit, such
    as a library, or a package. (If a Dart file has no `library` or `part`
    directive, then that file itself is a library and thus a compilation
    unit.) For more information about compilation units, see
    the chapter on "Libraries and Scripts" in the
    [Dart Language Specification](https://www.dartlang.org/docs/spec/).

block append snake-case-defn
  :marked
      Library and file names are often spelled in snake_case. Examples include:
      `angular_tour_of_heroes` and `app_component.dart`.

block zone-defn
  :marked
    Zones are a mechanism for encapsulating and intercepting
    a Dart application's asynchronous activity.

    Learn more about zones in this [article][zones].

    [zones]: https://www.dartlang.org/articles/libraries/zones
