include ../../ts/latest/index

div.c12.l-space-top-3
  .alert.is-helpful.
    Not using Angular 2 yet? Perhaps you need the
    <a href="https://www.dartdocs.org/documentation/angular/latest" target="_blank">API docs for the original AngularDart</a>.

