// TODO: don't duplicate text from /docs/js/latest/resources.jade

.l-main-section
  h2 Victor Savkin's Blog Posts
  ul
    li <a href="http://victorsavkin.com/post/110170125256/change-detection-in-angular-2">Change detection</a>
    li <a href="http://victorsavkin.com/post/108837493941/better-support-for-functional-programming-in">Functional programming </a>
    li <a href="http://victorsavkin.com/post/102965317996/angular-2-bits-unified-dependency-injection">Dependency injection</a>

.l-main-section
  h2 David East's Intro Todo App
  ul
    li <span class="icon-play-circle-outline"></span> <a href="https://www.youtube.com/watch?v=uD6Okha_Yj0">Building a Todo App</a> (video)

.l-main-section
  h2 <span class="icon-play-circle-outline"></span> More Videos
  ul
    li <a href="https://www.youtube.com/watch?v=lGdnh8QSPPk&list=PLhc_bKwZngxW_ZlY0NkaGkvKpiA_pzcZ-">ng-europe playlist of videos</a> on Angular 2 and future of Angular
    li Coming soon: <a href="http://www.ng-conf.org/">ng-conf 2015 playlist of videos</a>


