
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/forms/directives/abstract_control_directive.ts#L1-L19">angular2/src/core/forms/directives/abstract_control_directive.ts (line 1)</a>

:markdown
.l-main-section
  h2 Members
  .l-sub-section
    h3#control control

    
    :markdown





  .l-sub-section
    h3#value value

    
    :markdown





  .l-sub-section
    h3#valid valid

    
    :markdown





  .l-sub-section
    h3#errors errors

    
    :markdown





  .l-sub-section
    h3#pristine pristine

    
    :markdown





  .l-sub-section
    h3#dirty dirty

    
    :markdown





  .l-sub-section
    h3#touched touched

    
    :markdown





  .l-sub-section
    h3#untouched untouched

    
    :markdown




