
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/di/exceptions.ts#L28-L55">angular2/src/core/di/exceptions.ts (line 28)</a>

:markdown
  Base class for all errors arising from misconfigured bindings.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3#constructor constructor

    
    pre.prettyprint
      code.
        constructor(injector: Injector, key: Key, constructResolvingMessage: Function)
    
    :markdown




  .l-sub-section
    h3#message message

    
    :markdown





  .l-sub-section
    h3#keys keys

    
    :markdown





  .l-sub-section
    h3#injectors injectors

    
    :markdown





  .l-sub-section
    h3#constructResolvingMessage constructResolvingMessage

    
    :markdown





  .l-sub-section
    h3#addKey addKey

    
    pre.prettyprint
      code.
        addKey(injector: Injector, key: Key)
    
    :markdown





  .l-sub-section
    h3#context context

    
    :markdown




