
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/di/exceptions.ts#L28-L56">angular2/src/core/di/exceptions.ts (line 28)</a>

:markdown
  Starting point to import all public core APIs.
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(injector: Injector, key: Key, constructResolvingMessage: Function)
    
    :markdown
      
      




  .l-sub-section
    h3 name

    
    :markdown
      
      





  .l-sub-section
    h3 message

    
    :markdown
      
      





  .l-sub-section
    h3 keys

    
    :markdown
      
      





  .l-sub-section
    h3 injectors

    
    :markdown
      
      





  .l-sub-section
    h3 constructResolvingMessage

    
    :markdown
      
      





  .l-sub-section
    h3 addKey

    
    pre.prettyprint
      code.
        addKey(injector: Injector, key: Key)
    
    :markdown
      
      





  .l-sub-section
    h3 context

    
    :markdown
      
      




