
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/forms/model.ts#L38-L132">angular2/src/core/forms/model.ts (line 38)</a>

:markdown
  Omitting from external API doc as this is really an abstract internal concept.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3#constructor constructor

    
    pre.prettyprint
      code.
        constructor(validator: Function)
    
    :markdown




  .l-sub-section
    h3#validator validator

    
    :markdown





  .l-sub-section
    h3#value value

    
    :markdown





  .l-sub-section
    h3#status status

    
    :markdown





  .l-sub-section
    h3#valid valid

    
    :markdown





  .l-sub-section
    h3#errors errors

    
    :markdown





  .l-sub-section
    h3#pristine pristine

    
    :markdown





  .l-sub-section
    h3#dirty dirty

    
    :markdown





  .l-sub-section
    h3#touched touched

    
    :markdown





  .l-sub-section
    h3#untouched untouched

    
    :markdown





  .l-sub-section
    h3#valueChanges valueChanges

    
    :markdown





  .l-sub-section
    h3#markAsTouched markAsTouched

    
    pre.prettyprint
      code.
        markAsTouched()
    
    :markdown





  .l-sub-section
    h3#markAsDirty markAsDirty

    
    pre.prettyprint
      code.
        markAsDirty({onlySelf}?: {onlySelf?: boolean})
    
    :markdown





  .l-sub-section
    h3#setParent setParent

    
    pre.prettyprint
      code.
        setParent(parent: ControlGroup | ControlArray)
    
    :markdown





  .l-sub-section
    h3#updateValidity updateValidity

    
    pre.prettyprint
      code.
        updateValidity({onlySelf}?: {onlySelf?: boolean})
    
    :markdown





  .l-sub-section
    h3#updateValueAndValidity updateValueAndValidity

    
    pre.prettyprint
      code.
        updateValueAndValidity({onlySelf, emitEvent}?: {onlySelf?: boolean, emitEvent?: boolean})
    
    :markdown





  .l-sub-section
    h3#find find

    
    pre.prettyprint
      code.
        find(path: Array&lt;string | number&gt;| string)
    
    :markdown





  .l-sub-section
    h3#getError getError

    
    pre.prettyprint
      code.
        getError(errorCode: string, path?: string[])
    
    :markdown





  .l-sub-section
    h3#hasError hasError

    
    pre.prettyprint
      code.
        hasError(errorCode: string, path?: string[])
    
    :markdown




