
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/compiler/interfaces.ts#L109-L125">angular2/src/core/compiler/interfaces.ts (line 109)</a>

:markdown
  Notify a directive when the bindings of all its content children have been checked the first
  time (whether they have changed or not).
  
  ## Example
  
  ```
  @Component(...)
  class MyComponent implements AfterContentInit {
    afterContentInit(): void {
    }
  }
   ```
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3#afterContentInit afterContentInit

    
    pre.prettyprint
      code.
        afterContentInit()
    
    :markdown




