
.l-main-section
  h2 APP_COMPONENT <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../core'>angular2/core</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/core/application_tokens.ts#L25-L25">angular2/src/core/application_tokens.ts (line 25)</a>

  :markdown
    An opaque token representing the application root type in the <a href='../di/Injector-class.html'><code>Injector</code></a>.
    
    ```
    @Component(...)
    @View(...)
    class MyApp {
      ...
    }
    
    bootstrap(MyApp).then((appRef:ApplicationRef) {
      expect(appRef.injector.get(appComponentTypeToken)).toEqual(MyApp);
    });
    
    ```
    
    

