
.l-main-section
  p.location-badge.
    exported from <a href='../core'>angular2/core</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/application_tokens.ts#L26-L26">angular2/src/core/application_tokens.ts (line 26)</a>

  :markdown
    An <a href='angular2/di/OpaqueToken'>OpaqueToken</a> representing the application root type in the <a href='Injector-class.html'><code>Injector</code></a>.
    
    ```
    @Component(...)
    @View(...)
    class MyApp {
      ...
    }
    
    bootstrap(MyApp).then((appRef:ApplicationRef) {
      expect(appRef.injector.get(appComponentTypeToken)).toEqual(MyApp);
    });
    
    ```
    
    

