
.l-main-section
  h2 appComponentTypeToken <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../core'>angular2/core</a>
    defined in <a href="https://github.com/angular/angular/tree/f2ef90b/modules/angular2/src/core/application_tokens.ts#L4-L4">angular2/src/core/application_tokens.ts (line 4)</a>

  :markdown
    
    

