
.l-main-section
  h2 appComponentRefToken <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../core'>angular2/core</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.27/modules/angular2/src/core/application_tokens.ts#L3-L3">angular2/src/core/application_tokens.ts (line 3)</a>

  :markdown
    
    

