
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/application_ref.ts#L242-L320">angular2/src/core/application_ref.ts (line 242)</a>

:markdown
  Represents an Angular application.
  
  Use to retrieve the application <a href='Injector-class.html'><code>Injector</code></a> or to bootstrap new
  components at the root of the application. Can also be used to dispose
  of the entire application and all its loaded components.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3#registerBootstrapListener registerBootstrapListener

    
    pre.prettyprint
      code.
        registerBootstrapListener(listener: (ref: ComponentRef) =&gt; void)
    
    :markdown
      Register a listener to be called each time a new root component type is bootstrapped.
      
      





  .l-sub-section
    h3#bootstrap bootstrap

    
    pre.prettyprint
      code.
        bootstrap(componentType: Type, bindings?: Array&lt;Type | Binding | any[]&gt;)
    
    :markdown
      Bootstrap a new component at the root level of the application, optionally with
      component specific bindings.
      
      





  .l-sub-section
    h3#injector injector

    
    :markdown
      Retrieve the application <a href='Injector-class.html'><code>Injector</code></a>.
      
      





  .l-sub-section
    h3#zone zone

    
    :markdown
      Retrieve the application <a href='NgZone-interface.html'><code>NgZone</code></a>.
      
      





  .l-sub-section
    h3#dispose dispose

    
    pre.prettyprint
      code.
        dispose()
    
    :markdown




