
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/core/application_common.ts#L338-L383">angular2/src/core/application_common.ts (line 338)</a>

:markdown
  Represents a Angular's representation of an Application.
  
  `ApplicationRef` represents a running application instance. Use it to retrieve the host
  component, injector,
  or dispose of an application.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(hostComponent: ComponentRef, hostComponentType: Type, injector: Injector)
    
    :markdown
      




  .l-sub-section
    h3 hostComponentType

    
    :markdown
      Returns the current <a href='../annotations/Component-var.html'><code>Component</code></a> type.
      
      





  .l-sub-section
    h3 hostComponent

    
    :markdown
      Returns the current <a href='../annotations/Component-var.html'><code>Component</code></a> instance.
      
      





  .l-sub-section
    h3 dispose

    
    pre.prettyprint
      code.
        dispose()
    
    :markdown
      Dispose (un-load) the application.
      
      





  .l-sub-section
    h3 injector

    
    :markdown
      Returns the root application <a href='../di/Injector-class.html'><code>Injector</code></a>.
      
      




