
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/core/application_ref.ts#L3-L47">angular2/src/core/application_ref.ts (line 3)</a>

:markdown
  Define angular core API here.
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(hostComponent: ComponentRef, hostComponentType: Type, injector: Injector)
    
    :markdown
      




  .l-sub-section
    h3 hostComponentType

    
    :markdown
      Returns the current <a href='../metadata/ComponentMetadata-class.html'><code>ComponentMetadata</code></a> type.
      
      





  .l-sub-section
    h3 hostComponent

    
    :markdown
      Returns the current <a href='../metadata/ComponentMetadata-class.html'><code>ComponentMetadata</code></a> instance.
      
      





  .l-sub-section
    h3 dispose

    
    pre.prettyprint
      code.
        dispose()
    
    :markdown
      Dispose (un-load) the application.
      
      





  .l-sub-section
    h3 injector

    
    :markdown
      Returns the root application <a href='../di/Injector-class.html'><code>Injector</code></a>.
      
      




