
.l-main-section
  h2(class="function export") asNativeElements

  
  pre.prettyprint
    code.
      asNativeElements(arr: DebugElement[]) : any[]
  

  p.location-badge.
    exported from <a href='../core'>angular2/core</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/debug/debug_element.ts#L147-L151">angular2/src/core/debug/debug_element.ts (line 147)</a>

  :markdown
    
    


