
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/change_detection/constants.ts#L8-L49">angular2/src/core/change_detection/constants.ts (line 8)</a>

:markdown
  Starting point to import all public core APIs.
.l-main-section
  h2 Members
  .l-sub-section
    h3 CheckOnce

    
    :markdown
      `CheckedOnce` means that after calling detectChanges the mode of the change detector
      will become `Checked`.
      
      





  .l-sub-section
    h3 Checked

    
    :markdown
      `Checked` means that the change detector should be skipped until its mode changes to
      `CheckOnce`.
      
      





  .l-sub-section
    h3 CheckAlways

    
    :markdown
      `CheckAlways` means that after calling detectChanges the mode of the change detector
      will remain `CheckAlways`.
      
      





  .l-sub-section
    h3 Detached

    
    :markdown
      `Detached` means that the change detector sub tree is not a part of the main tree and
      should be skipped.
      
      





  .l-sub-section
    h3 OnPush

    
    :markdown
      `OnPush` means that the change detector's mode will be set to `CheckOnce` during hydration.
      
      





  .l-sub-section
    h3 Default

    
    :markdown
      `Default` means that the change detector's mode will be set to `CheckAlways` during hydration.
      
      





  .l-sub-section
    h3 OnPushObserve

    
    :markdown
      This is an experimental feature. Works only in Dart.
      
      




