
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/change_detection/interfaces.ts#L55-L74">angular2/src/core/change_detection/interfaces.ts (line 55)</a>

:markdown
.l-main-section
  h2 Members
  .l-sub-section
    h3#parent parent

    
    :markdown





  .l-sub-section
    h3#mode mode

    
    :markdown





  .l-sub-section
    h3#ref ref

    
    :markdown





  .l-sub-section
    h3#addChild addChild

    
    pre.prettyprint
      code.
        addChild(cd: ChangeDetector)
    
    :markdown





  .l-sub-section
    h3#addShadowDomChild addShadowDomChild

    
    pre.prettyprint
      code.
        addShadowDomChild(cd: ChangeDetector)
    
    :markdown





  .l-sub-section
    h3#removeChild removeChild

    
    pre.prettyprint
      code.
        removeChild(cd: ChangeDetector)
    
    :markdown





  .l-sub-section
    h3#removeShadowDomChild removeShadowDomChild

    
    pre.prettyprint
      code.
        removeShadowDomChild(cd: ChangeDetector)
    
    :markdown





  .l-sub-section
    h3#remove remove

    
    pre.prettyprint
      code.
        remove()
    
    :markdown





  .l-sub-section
    h3#hydrate hydrate

    
    pre.prettyprint
      code.
        hydrate(context: any, locals: Locals, directives: any, pipes: any)
    
    :markdown





  .l-sub-section
    h3#dehydrate dehydrate

    
    pre.prettyprint
      code.
        dehydrate()
    
    :markdown





  .l-sub-section
    h3#markPathToRootAsCheckOnce markPathToRootAsCheckOnce

    
    pre.prettyprint
      code.
        markPathToRootAsCheckOnce()
    
    :markdown





  .l-sub-section
    h3#handleEvent handleEvent

    
    pre.prettyprint
      code.
        handleEvent(eventName: string, elIndex: number, locals: Locals)
    
    :markdown





  .l-sub-section
    h3#detectChanges detectChanges

    
    pre.prettyprint
      code.
        detectChanges()
    
    :markdown





  .l-sub-section
    h3#checkNoChanges checkNoChanges

    
    pre.prettyprint
      code.
        checkNoChanges()
    
    :markdown




