
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/change_detection/change_detector_ref.ts#L2-L38">angular2/src/core/change_detection/change_detector_ref.ts (line 2)</a>

:markdown
  Starting point to import all public core APIs.
.l-main-section
  h2 Members
  .l-sub-section
    h3 markForCheck

    
    pre.prettyprint
      code.
        markForCheck()
    
    :markdown
      Request to check all OnPush ancestors.
      
      





  .l-sub-section
    h3 detach

    
    pre.prettyprint
      code.
        detach()
    
    :markdown
      Detaches the change detector from the change detector tree.
      
      The detached change detector will not be checked until it is reattached.
      
      





  .l-sub-section
    h3 reattach

    
    pre.prettyprint
      code.
        reattach()
    
    :markdown
      Reattach the change detector to the change detector tree.
      
      This also requests a check of this change detector. This reattached change detector will be
      checked during the next change detection run.
      
      




