
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/change_detection/exceptions.ts#L17-L34">angular2/src/core/change_detection/exceptions.ts (line 17)</a>

:markdown
  Thrown when an expression evaluation raises an exception.
  
  This error wraps the original exception, this is done to attach expression location information.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3#constructor constructor

    
    pre.prettyprint
      code.
        constructor(exp: string, originalException: any, originalStack: any, context: any)
    
    :markdown




  .l-sub-section
    h3#location location

    
    :markdown
      Location of the expression.
      
      




