
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/util/decorators.ts#L1-L22">angular2/src/core/util/decorators.ts (line 1)</a>

:markdown
  Declares the interface to be used with <a href='Class-function.html'><code>Class</code></a>.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3#extends extends?

    
    :markdown
      Optional argument for specifying the superclass.
      
      





  .l-sub-section
    h3#constructor constructor

    
    :markdown
      Required constructor function for a class.
      
      The function may be optionally wrapped in an `Array`, in which case additional parameter
      annotations may be specified.
      The number of arguments and the number of parameter annotations must match.
      
      See <a href='Class-function.html'><code>Class</code></a> for example of usage.
      
      




