
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.27/modules/angular2/src/core/compiler/compiler.ts#L27-L47">angular2/src/core/compiler/compiler.ts (line 27)</a>

:markdown
  Cache that stores the AppProtoView of the template of a component.
  Used to prevent duplicate work and resolve cyclic dependencies.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 set

    
    pre.prettyprint
      code.
        set(component: Type, protoView: AppProtoView)
    
    :markdown

      
      





  .l-sub-section
    h3 get

    
    pre.prettyprint
      code.
        get(component: Type)
    
    :markdown

      
      





  .l-sub-section
    h3 clear

    
    pre.prettyprint
      code.
        clear()
    
    :markdown

      
      




