
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/compiler/dynamic_component_loader.ts#L7-L42">angular2/src/core/compiler/dynamic_component_loader.ts (line 7)</a>

:markdown
  Starting point to import all public core APIs.
.l-main-section
  h2 Members
  .l-sub-section
    h3 location

    
    :markdown
      Location of the component host element.
      
      





  .l-sub-section
    h3 instance

    
    :markdown
      Instance of component.
      
      





  .l-sub-section
    h3 hostView

    
    :markdown
      Returns the host <a href='ViewRef-interface.html'><code>ViewRef</code></a>.
      
      





  .l-sub-section
    h3 dispose

    
    pre.prettyprint
      code.
        dispose()
    
    :markdown
      Dispose of the component instance.
      
      




