
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/f2ef90b/modules/angular2/src/core/compiler/dynamic_component_loader.ts#L7-L16">angular2/src/core/compiler/dynamic_component_loader.ts (line 7)</a>

:markdown
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(location: ElementRef, instance: any, dispose: Function)
    
    :markdown
      
      




  .l-sub-section
    h3 location

    
    :markdown

      
      





  .l-sub-section
    h3 instance

    
    :markdown

      
      





  .l-sub-section
    h3 dispose

    
    :markdown

      
      





  .l-sub-section
    h3 hostView

    
    :markdown

      
      




