
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/core/compiler/compiler.ts#L71-L361">angular2/src/core/compiler/compiler.ts (line 71)</a>

:markdown
  Define angular core API here.

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Injectable
    pre.prettyprint
      code.
        @Injectable()


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_directiveResolver: DirectiveResolver, _pipeResolver: PipeResolver, _defaultPipes: Type[], _compilerCache: CompilerCache, _viewResolver: ViewResolver, _componentUrlMapper: ComponentUrlMapper, _urlResolver: UrlResolver, _render: RenderCompiler, _protoViewFactory: ProtoViewFactory, appUrl: AppRootUrl)
    
    :markdown
      




  .l-sub-section
    h3 compileInHost

    
    pre.prettyprint
      code.
        compileInHost(componentTypeOrBinding: Type | Binding)
    
    :markdown
      
      




