
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/forms/model.ts#L238-L288">angular2/src/core/forms/model.ts (line 238)</a>

:markdown
  Defines a part of a form, of variable length, that can contain other controls.
  
  A `ControlArray` aggregates the values and errors of each <a href='Control-class.html'><code>Control</code></a> in the group. Thus, if
  one of the controls in a group is invalid, the entire group is invalid. Similarly, if a control
  changes its value, the entire group changes as well.
  
  `ControlArray` is one of the three fundamental building blocks used to define forms in Angular,
  along with <a href='Control-class.html'><code>Control</code></a> and <a href='ControlGroup-class.html'><code>ControlGroup</code></a>. <a href='ControlGroup-class.html'><code>ControlGroup</code></a> can also contain
  other controls, but is of fixed length.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3#constructor constructor

    
    pre.prettyprint
      code.
        constructor(controls: AbstractControl[], validator?: Function)
    
    :markdown




  .l-sub-section
    h3#controls controls

    
    :markdown





  .l-sub-section
    h3#at at

    
    pre.prettyprint
      code.
        at(index: number)
    
    :markdown





  .l-sub-section
    h3#push push

    
    pre.prettyprint
      code.
        push(control: AbstractControl)
    
    :markdown





  .l-sub-section
    h3#insert insert

    
    pre.prettyprint
      code.
        insert(index: number, control: AbstractControl)
    
    :markdown





  .l-sub-section
    h3#removeAt removeAt

    
    pre.prettyprint
      code.
        removeAt(index: number)
    
    :markdown





  .l-sub-section
    h3#length length

    
    :markdown




