
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/forms/directives/control_container.ts#L2-L13">angular2/src/core/forms/directives/control_container.ts (line 2)</a>

:markdown
  Starting point to import all public core APIs.
.l-main-section
  h2 Members
  .l-sub-section
    h3 name

    
    :markdown
      
      





  .l-sub-section
    h3 formDirective

    
    :markdown
      
      





  .l-sub-section
    h3 path

    
    :markdown
      
      




