
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/forms/model.ts#L165-L249">angular2/src/core/forms/model.ts (line 165)</a>

:markdown
  Starting point to import all public core APIs.
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(controls: StringMap&lt;string, AbstractControl&gt;, optionals?: StringMap&lt;string, boolean&gt;, validator?: Function)
    
    :markdown
      
      




  .l-sub-section
    h3 controls

    
    :markdown
      
      





  .l-sub-section
    h3 addControl

    
    pre.prettyprint
      code.
        addControl(name: string, c: AbstractControl)
    
    :markdown
      
      





  .l-sub-section
    h3 removeControl

    
    pre.prettyprint
      code.
        removeControl(name: string)
    
    :markdown
      
      





  .l-sub-section
    h3 include

    
    pre.prettyprint
      code.
        include(controlName: string)
    
    :markdown
      
      





  .l-sub-section
    h3 exclude

    
    pre.prettyprint
      code.
        exclude(controlName: string)
    
    :markdown
      
      





  .l-sub-section
    h3 contains

    
    pre.prettyprint
      code.
        contains(controlName: string)
    
    :markdown
      
      




