
.l-main-section
  p.location-badge.
    exported from <a href='../core'>angular2/core</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/pipes/default_pipes.ts#L26-L27">angular2/src/core/pipes/default_pipes.ts (line 26)</a>

  :markdown

