
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/forms/directives/validators.ts#L7-L14">angular2/src/core/forms/directives/validators.ts (line 7)</a>

:markdown
  Starting point to import all public core APIs.

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Directive
    pre.prettyprint
      code.
        @Directive({
          selector: &#39;[required][ng-control],[required][ng-form-control],[required][ng-model]&#39;,
          bindings: [DEFAULT_VALIDATORS]
        })


