
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/di/injector.ts#L387-L394">angular2/src/core/di/injector.ts (line 387)</a>

:markdown
  Starting point to import all public core APIs.
.l-main-section
  h2 Members
  .l-sub-section
    h3 getDependency

    
    pre.prettyprint
      code.
        getDependency(injector: Injector, binding: ResolvedBinding, dependency: Dependency)
    
    :markdown
      
      




