
.l-main-section
  p.location-badge.
    exported from <a href='../core'>angular2/core</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/metadata.ts#L496-L496">angular2/src/core/metadata.ts (line 496)</a>

  :markdown
    <a href='DirectiveMetadata-class.html'><code>DirectiveMetadata</code></a> factory function.
    
    

