
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/metadata.ts#L50-L57">angular2/src/core/metadata.ts (line 50)</a>

:markdown
  Interface for the <a href='DirectiveMetadata-class.html'><code>DirectiveMetadata</code></a> decorator function.
  
  See <a href='DirectiveFactory-interface.html'><code>DirectiveFactory</code></a>.
  
  
