
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/compiler/directive_resolver.ts#L13-L119">angular2/src/core/compiler/directive_resolver.ts (line 13)</a>

:markdown
  Resolve a `Type` for <a href='DirectiveMetadata-class.html'><code>DirectiveMetadata</code></a>.
  
  This interface can be overridden by the application developer to create custom behavior.
  
  See <a href='Compiler-interface.html'><code>Compiler</code></a>
  
  

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Injectable
    pre.prettyprint
      code.
        @Injectable()


.l-main-section
  h2 Members
  .l-sub-section
    h3#resolve resolve

    
    pre.prettyprint
      code.
        resolve(type: Type)
    
    :markdown
      Return <a href='DirectiveMetadata-class.html'><code>DirectiveMetadata</code></a> for a given `Type`.
      
      




