
.l-main-section
  p.location-badge.
    exported from <a href='../core'>angular2/core</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/render/dom/dom_tokens.ts#L4-L4">angular2/src/core/render/dom/dom_tokens.ts (line 4)</a>

  :markdown
    
    

