
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/render/dom/dom_renderer.ts#L34-L267">angular2/src/core/render/dom/dom_renderer.ts (line 34)</a>

:markdown
  Starting point to import all public core APIs.

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Injectable
    pre.prettyprint
      code.
        @Injectable()


.l-main-section
  h2 Members
  .l-sub-section
    h3 createRootHostView

    
    pre.prettyprint
      code.
        createRootHostView(hostProtoViewRef: RenderProtoViewRef, fragmentCount: number, hostElementSelector: string)
    
    :markdown
      
      





  .l-sub-section
    h3 createView

    
    pre.prettyprint
      code.
        createView(protoViewRef: RenderProtoViewRef, fragmentCount: number)
    
    :markdown
      
      





  .l-sub-section
    h3 destroyView

    
    pre.prettyprint
      code.
        destroyView(viewRef: RenderViewRef)
    
    :markdown
      
      





  .l-sub-section
    h3 getNativeElementSync

    
    pre.prettyprint
      code.
        getNativeElementSync(location: RenderElementRef)
    
    :markdown
      
      





  .l-sub-section
    h3 getRootNodes

    
    pre.prettyprint
      code.
        getRootNodes(fragment: RenderFragmentRef)
    
    :markdown
      
      





  .l-sub-section
    h3 attachFragmentAfterFragment

    
    pre.prettyprint
      code.
        attachFragmentAfterFragment(previousFragmentRef: RenderFragmentRef, fragmentRef: RenderFragmentRef)
    
    :markdown
      
      





  .l-sub-section
    h3 attachFragmentAfterElement

    
    pre.prettyprint
      code.
        attachFragmentAfterElement(elementRef: RenderElementRef, fragmentRef: RenderFragmentRef)
    
    :markdown
      
      





  .l-sub-section
    h3 detachFragment

    
    pre.prettyprint
      code.
        detachFragment(fragmentRef: RenderFragmentRef)
    
    :markdown
      
      





  .l-sub-section
    h3 hydrateView

    
    pre.prettyprint
      code.
        hydrateView(viewRef: RenderViewRef)
    
    :markdown
      
      





  .l-sub-section
    h3 dehydrateView

    
    pre.prettyprint
      code.
        dehydrateView(viewRef: RenderViewRef)
    
    :markdown
      
      





  .l-sub-section
    h3 setElementProperty

    
    pre.prettyprint
      code.
        setElementProperty(location: RenderElementRef, propertyName: string, propertyValue: any)
    
    :markdown
      
      





  .l-sub-section
    h3 setElementAttribute

    
    pre.prettyprint
      code.
        setElementAttribute(location: RenderElementRef, attributeName: string, attributeValue: string)
    
    :markdown
      
      





  .l-sub-section
    h3 setElementClass

    
    pre.prettyprint
      code.
        setElementClass(location: RenderElementRef, className: string, isAdd: boolean)
    
    :markdown
      
      





  .l-sub-section
    h3 setElementStyle

    
    pre.prettyprint
      code.
        setElementStyle(location: RenderElementRef, styleName: string, styleValue: string)
    
    :markdown
      
      





  .l-sub-section
    h3 invokeElementMethod

    
    pre.prettyprint
      code.
        invokeElementMethod(location: RenderElementRef, methodName: string, args: any[])
    
    :markdown
      
      





  .l-sub-section
    h3 setText

    
    pre.prettyprint
      code.
        setText(viewRef: RenderViewRef, textNodeIndex: number, text: string)
    
    :markdown
      
      





  .l-sub-section
    h3 setEventDispatcher

    
    pre.prettyprint
      code.
        setEventDispatcher(viewRef: RenderViewRef, dispatcher: any)
    
    :markdown
      
      




