
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/core/compiler/dynamic_component_loader.ts#L13-L79">angular2/src/core/compiler/dynamic_component_loader.ts (line 13)</a>

:markdown
  Service for dynamically loading a Component into an arbitrary position in the internal Angular
  application tree.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_compiler: Compiler, _viewManager: AppViewManager)
    
    :markdown
      
      




  .l-sub-section
    h3 loadAsRoot

    
    pre.prettyprint
      code.
        loadAsRoot(typeOrBinding: Type | Binding, overrideSelector: string, injector: Injector)
    
    :markdown

      Loads a root component that is placed at the first element that matches the component's
      selector.
      
      The loaded component receives injection normally as a hosted view.
      
      





  .l-sub-section
    h3 loadIntoLocation

    
    pre.prettyprint
      code.
        loadIntoLocation(typeOrBinding: Type | Binding, hostLocation: ElementRef, anchorName: string, bindings?: ResolvedBinding[])
    
    :markdown

      Loads a component into the component view of the provided ElementRef
      next to the element with the given name
      The loaded component receives
      injection normally as a hosted view.
      
      





  .l-sub-section
    h3 loadNextToLocation

    
    pre.prettyprint
      code.
        loadNextToLocation(typeOrBinding: Type | Binding, location: ElementRef, bindings?: ResolvedBinding[])
    
    :markdown

      Loads a component next to the provided ElementRef. The loaded component receives
      injection normally as a hosted view.
      
      




