
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.27/modules/angular2/src/core/compiler/dynamic_component_loader.ts#L16-L116">angular2/src/core/compiler/dynamic_component_loader.ts (line 16)</a>

:markdown
  Service for dynamically loading a Component into an arbitrary position in the internal Angular
  application tree.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_compiler: Compiler, _viewManager: AppViewManager)
    
    :markdown
      
      




  .l-sub-section
    h3 loadIntoExistingLocation

    
    pre.prettyprint
      code.
        loadIntoExistingLocation(typeOrBinding, location: ElementRef, injector?: Injector)
    
    :markdown

      Loads a component into the location given by the provided ElementRef. The loaded component
      receives injection as if it in the place of the provided ElementRef.
      
      





  .l-sub-section
    h3 loadAsRoot

    
    pre.prettyprint
      code.
        loadAsRoot(typeOrBinding, overrideSelector?: string, injector?: Injector)
    
    :markdown

      Loads a root component that is placed at the first element that matches the
      component's selector.
      The loaded component receives injection normally as a hosted view.
      
      





  .l-sub-section
    h3 loadIntoNewLocation

    
    pre.prettyprint
      code.
        loadIntoNewLocation(typeOrBinding, parentComponentLocation: ElementRef, injector?: Injector)
    
    :markdown

      Loads a component into a free host view that is not yet attached to
      a parent on the render side, although it is attached to a parent in the injector hierarchy.
      The loaded component receives injection normally as a hosted view.
      
      





  .l-sub-section
    h3 loadNextToExistingLocation

    
    pre.prettyprint
      code.
        loadNextToExistingLocation(typeOrBinding, location: ElementRef, injector?: Injector)
    
    :markdown

      Loads a component next to the provided ElementRef. The loaded component receives
      injection normally as a hosted view.
      
      




