
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/core/compiler/element_ref.ts#L3-L63">angular2/src/core/compiler/element_ref.ts (line 3)</a>

:markdown
  Reference to the element.
  
  Represents an opaque reference to the underlying element. The element is a DOM ELement in
  a Browser, but may represent other types on other rendering platforms. In the browser the
  `ElementRef` can be sent to the web-worker. Web Workers can not have references to the
  DOM Elements.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(parentView: ViewRef, boundElementIndex: number, renderBoundElementIndex: number, _renderer: Renderer)
    
    :markdown
      
      




  .l-sub-section
    h3 parentView

    
    :markdown
      Reference to the <a href='ViewRef-class.html'><code>ViewRef</code></a> where the `ElementRef` is inside of.
      
      





  .l-sub-section
    h3 boundElementIndex

    
    :markdown
      Index of the element inside the <a href='ViewRef-class.html'><code>ViewRef</code></a>.
      
      This is used internally by the Angular framework to locate elements.
      
      





  .l-sub-section
    h3 renderBoundElementIndex

    
    :markdown
      Index of the element inside the `RenderViewRef`.
      
      This is used internally by the Angular framework to locate elements.
      
      





  .l-sub-section
    h3 renderView

    
    :markdown
      
      
      
      





  .l-sub-section
    h3 nativeElement

    
    :markdown
      Returns the native Element implementation.
      
      In the browser this represents the DOM Element.
      
      The `nativeElement` can be used as an escape hatch when direct DOM manipulation is needed. Use
      this with caution, as it creates tight coupling between your application and the Browser, which
      will not work in WebWorkers.
      
      NOTE: This method will return null in the webworker scenario!
      
      




