
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/facade/async.ts#L89-L128">angular2/src/facade/async.ts (line 89)</a>

:markdown
  Use Rx.Observable but provides an adapter to make it work as specified here:
  https://github.com/jhusain/observable-spec
  
  Once a reference implementation of the spec is available, switch to it.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor()
    
    :markdown
      
      




  .l-sub-section
    h3 observer

    
    pre.prettyprint
      code.
        observer(generator: any)
    
    :markdown
      
      





  .l-sub-section
    h3 toRx

    
    pre.prettyprint
      code.
        toRx()
    
    :markdown
      
      





  .l-sub-section
    h3 next

    
    pre.prettyprint
      code.
        next(value: any)
    
    :markdown
      
      





  .l-sub-section
    h3 throw

    
    pre.prettyprint
      code.
        throw(error: any)
    
    :markdown
      
      





  .l-sub-section
    h3 return

    
    pre.prettyprint
      code.
        return(value?: any)
    
    :markdown
      
      




