
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/metadata/directives.ts#L951-L971">angular2/src/core/metadata/directives.ts (line 951)</a>

:markdown
  Declare a bound event.
  
  ## Example
  
  ```
  @Directive({
    selector: 'sample-dir'
  })
  class SampleDir {
    @Event() event = new EventEmitter(); // Same as @Event('event') event = new EventEmitter();
    @Event("el-event") dirEvent = new EventEmitter();
  }
  ```
  
  

.l-main-section
  h2 Annotations
.l-main-section
  h2 Members
  .l-sub-section
    h3#constructor constructor

    
    pre.prettyprint
      code.
        constructor(bindingPropertyName?: string)
    
    :markdown




  .l-sub-section
    h3#bindingPropertyName bindingPropertyName

    
    :markdown




