
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/facade/async.ts#L90-L157">angular2/src/core/facade/async.ts (line 90)</a>

:markdown
  Starting point to import all public core APIs.
.l-main-section
  h2 Members
  .l-sub-section
    h3 observer

    
    pre.prettyprint
      code.
        observer(generator: any)
    
    :markdown
      
      





  .l-sub-section
    h3 toRx

    
    pre.prettyprint
      code.
        toRx()
    
    :markdown
      
      





  .l-sub-section
    h3 next

    
    pre.prettyprint
      code.
        next(value: any)
    
    :markdown
      Emits a `value`.
      
      





  .l-sub-section
    h3 throw

    
    pre.prettyprint
      code.
        throw(error: any)
    
    :markdown
      Emits an `error`.
      
      





  .l-sub-section
    h3 return

    
    pre.prettyprint
      code.
        return(value?: any)
    
    :markdown
      Closes the stream.
      
      




