
p.location-badge.
  exported from <a href="/angular2/core">angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/core/exception_handler.js#L34">angular2/src/core/exception_handler.js (line 34)</a>

:markdown
  Provides a hook for centralized exception handling.
  
  The default implementation of `ExceptionHandler` prints error messages to the `Console`. To intercept error handling,
  write a custom exception handler that replaces this default as appropriate for your app.
  
  # Example
  
  ```javascript
  @Component({
    selector: 'my-app',
    injectables: [
      bind(ExceptionHandler).toClass(MyExceptionHandler)
    ]
  })
  @View(...)
  class MyApp { ... }
  
  
  class MyExceptionHandler implements ExceptionHandler {
    call(error, stackTrace = null, reason = null) {
      // do something with the exception
    }
  }
  
  ```
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 call

    
    pre.prettyprint
      code.
        call(error, stackTrace = null, reason = null)
    
    :markdown
      




