
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/change_detection/exceptions.ts#L1-L17">angular2/src/core/change_detection/exceptions.ts (line 1)</a>

:markdown
  An error thrown if application changes model breaking the top-down data flow.
  
  Angular expects that the data flows from top (root) component to child (leaf) components.
  This is known as directed acyclic graph. This allows Angular to only execute change detection
  once and prevents loops in change detection data flow.
  
  This exception is only thrown in dev mode.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3#constructor constructor

    
    pre.prettyprint
      code.
        constructor(exp: string, oldValue: any, currValue: any, context: any)
    
    :markdown



