
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/forms/directives/form_interface.ts#L3-L18">angular2/src/core/forms/directives/form_interface.ts (line 3)</a>

:markdown
  An interface that <a href='NgFormModel-class.html'><code>NgFormModel</code></a> and <a href='NgForm-class.html'><code>NgForm</code></a> implement.
  
  Only used by the forms module.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3#addControl addControl

    
    pre.prettyprint
      code.
        addControl(dir: NgControl)
    
    :markdown





  .l-sub-section
    h3#removeControl removeControl

    
    pre.prettyprint
      code.
        removeControl(dir: NgControl)
    
    :markdown





  .l-sub-section
    h3#getControl getControl

    
    pre.prettyprint
      code.
        getControl(dir: NgControl)
    
    :markdown





  .l-sub-section
    h3#addControlGroup addControlGroup

    
    pre.prettyprint
      code.
        addControlGroup(dir: NgControlGroup)
    
    :markdown





  .l-sub-section
    h3#removeControlGroup removeControlGroup

    
    pre.prettyprint
      code.
        removeControlGroup(dir: NgControlGroup)
    
    :markdown





  .l-sub-section
    h3#getControlGroup getControlGroup

    
    pre.prettyprint
      code.
        getControlGroup(dir: NgControlGroup)
    
    :markdown





  .l-sub-section
    h3#updateModel updateModel

    
    pre.prettyprint
      code.
        updateModel(dir: NgControl, value: any)
    
    :markdown




