
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/forms/form_builder.ts#L4-L126">angular2/src/core/forms/form_builder.ts (line 4)</a>

:markdown
  Starting point to import all public core APIs.

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Injectable
    pre.prettyprint
      code.
        @Injectable()


.l-main-section
  h2 Members
  .l-sub-section
    h3 group

    
    pre.prettyprint
      code.
        group(controlsConfig: StringMap&lt;string, any&gt;, extra?: StringMap&lt;string, any&gt;)
    
    :markdown
      
      





  .l-sub-section
    h3 control

    
    pre.prettyprint
      code.
        control(value: Object, validator?: Function)
    
    :markdown
      
      





  .l-sub-section
    h3 array

    
    pre.prettyprint
      code.
        array(controlsConfig: any[], validator?: Function)
    
    :markdown
      
      




