
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/metadata/directives.ts#L971-L1004">angular2/src/core/metadata/directives.ts (line 971)</a>

:markdown
  Declare a host property binding.
  
  ## Example
  
  ```
  @Directive({
    selector: 'sample-dir'
  })
  class SampleDir {
    @HostBinding() prop1; // Same as @HostBinding('prop1') prop1;
    @HostBinding("el-prop") prop2;
  }
  ```
  
  This is equivalent to
  
  ```
  @Directive({
    selector: 'sample-dir',
    host: {'[prop1]': 'prop1', '[el-prop]': 'prop2'}
  })
  class SampleDir {
    prop1;
    prop2;
  }
  ```
  
  

.l-main-section
  h2 Annotations
.l-main-section
  h2 Members
  .l-sub-section
    h3#constructor constructor

    
    pre.prettyprint
      code.
        constructor(hostPropertyName?: string)
    
    :markdown




  .l-sub-section
    h3#hostPropertyName hostPropertyName

    
    :markdown




