
.l-main-section
  p.location-badge.
    exported from <a href='../core'>angular2/core</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/di/decorators.ts#L82-L82">angular2/src/core/di/decorators.ts (line 82)</a>

  :markdown
    Factory for creating <a href='HostMetadata-class.html'><code>HostMetadata</code></a>.
    
    

