
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/metadata.ts#L443-L463">angular2/src/core/metadata.ts (line 443)</a>

:markdown
  Starting point to import all public core APIs.
