
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/metadata.ts#L467-L486">angular2/src/core/metadata.ts (line 467)</a>

:markdown
  <a href='HostListenerMetadata-class.html'><code>HostListenerMetadata</code></a> factory for creating decorators.
  
  ## Example as TypeScript Decorator
  
  ```
  @Directive({
    selector: 'sample-dir'
  })
  class SampleDir {
    @HostListener("change", ['$event.target.value']) onChange(value){}
  }
  ```
  
  
