
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/metadata.ts#L447-L467">angular2/src/core/metadata.ts (line 447)</a>

:markdown
  <a href='HostBindingMetadata-class.html'><code>HostBindingMetadata</code></a> factory for creating decorators.
  
  ## Example as TypeScript Decorator
  
  ```
  @Directive({
    selector: 'sample-dir'
  })
  class SampleDir {
    @HostBinding() prop1; // Same as @HostBinding('prop1') prop1;
    @HostBinding("el-prop") prop1;
  }
  ```
  
  
