
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/metadata/directives.ts#L1004-L1035">angular2/src/core/metadata/directives.ts (line 1004)</a>

:markdown
  Declare a host listener.
  
  ## Example
  
  ```
  @Directive({
    selector: 'sample-dir'
  })
  class SampleDir {
    @HostListener("change", ['$event.target.value']) onChange(value){}
  }
  ```
  
  This is equivalent to
  
  ```
  @Directive({
    selector: 'sample-dir',
    host: {'(change)': 'onChange($event.target.value)'}
  })
  class SampleDir {
    onChange(value){}
  }
  ```
  
  

.l-main-section
  h2 Annotations
.l-main-section
  h2 Members
  .l-sub-section
    h3#constructor constructor

    
    pre.prettyprint
      code.
        constructor(eventName: string, args?: string[])
    
    :markdown




  .l-sub-section
    h3#eventName eventName

    
    :markdown





  .l-sub-section
    h3#args args

    
    :markdown




