
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/di/key.ts#L7-L37">angular2/src/core/di/key.ts (line 7)</a>

:markdown
  Starting point to import all public core APIs.
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(token: Object, id: number)
    
    :markdown
      
      




  .l-sub-section
    h3 token

    
    :markdown
      
      





  .l-sub-section
    h3 id

    
    :markdown
      
      





  .l-sub-section
    h3 displayName

    
    :markdown
      
      




