
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/change_detection/differs/keyvalue_differs.ts#L10-L18">angular2/src/core/change_detection/differs/keyvalue_differs.ts (line 10)</a>

:markdown
  Provides a factory for <a href='KeyValueDiffer-interface.html'><code>KeyValueDiffer</code></a>.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3#supports supports

    
    pre.prettyprint
      code.
        supports(objects: Object)
    
    :markdown





  .l-sub-section
    h3#create create

    
    pre.prettyprint
      code.
        create(cdRef: ChangeDetectorRef)
    
    :markdown




