
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/life_cycle/life_cycle.ts#L6-L90">angular2/src/core/life_cycle/life_cycle.ts (line 6)</a>

:markdown
  Starting point to import all public core APIs.

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Injectable
    pre.prettyprint
      code.
        @Injectable()


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(changeDetector?: ChangeDetector, enforceNoNewChanges?: boolean)
    
    :markdown
      
      




  .l-sub-section
    h3 tick

    
    pre.prettyprint
      code.
        tick()
    
    :markdown
      Invoke this method to explicitly process change detection and its side-effects.
      
       In development mode, `tick()` also performs a second change detection cycle to ensure that no
      further
       changes are detected. If additional changes are picked up during this second cycle, bindings
      in
      the app have
       side-effects that cannot be resolved in a single change detection pass. In this case, Angular
      throws an error,
       since an Angular application can only have one change detection pass during which all change
      detection must
       complete.
      
      




