
.l-main-section
  p.location-badge.
    exported from <a href='../core'>angular2/core</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/render/dom/dom_tokens.ts#L25-L26">angular2/src/core/render/dom/dom_tokens.ts (line 25)</a>

  :markdown
    Defines when a compiled template should be stored as a string
    rather than keeping its Nodes to preserve memory.
    
    

