
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/directives/ng_class.ts#L16-L131">angular2/src/core/directives/ng_class.ts (line 16)</a>

:markdown
  Starting point to import all public core APIs.

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Directive
    pre.prettyprint
      code.
        @Directive({selector: &#39;[ng-class]&#39;, properties: [&#39;rawClass: ng-class&#39;, &#39;initialClasses: class&#39;]})


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_iterableDiffers: IterableDiffers, _keyValueDiffers: KeyValueDiffers, _ngEl: ElementRef, _renderer: Renderer)
    
    :markdown
      
      




  .l-sub-section
    h3 initialClasses

    
    :markdown
      
      





  .l-sub-section
    h3 rawClass

    
    :markdown
      
      





  .l-sub-section
    h3 doCheck

    
    pre.prettyprint
      code.
        doCheck()
    
    :markdown
      
      





  .l-sub-section
    h3 onDestroy

    
    pre.prettyprint
      code.
        onDestroy()
    
    :markdown
      
      




