
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/forms/directives/ng_control.ts#L2-L17">angular2/src/core/forms/directives/ng_control.ts (line 2)</a>

:markdown
  An abstract class that all control directive extend.
  
  It binds a <a href='Control-class.html'><code>Control</code></a> object to a DOM element.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3#name name

    
    :markdown





  .l-sub-section
    h3#valueAccessor valueAccessor

    
    :markdown





  .l-sub-section
    h3#validator validator

    
    :markdown





  .l-sub-section
    h3#path path

    
    :markdown





  .l-sub-section
    h3#viewToModelUpdate viewToModelUpdate

    
    pre.prettyprint
      code.
        viewToModelUpdate(newValue: any)
    
    :markdown




