
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/forms/directives/ng_control_group.ts#L13-L75">angular2/src/core/forms/directives/ng_control_group.ts (line 13)</a>

:markdown
  Starting point to import all public core APIs.

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Directive
    pre.prettyprint
      code.
        @Directive({
          selector: &#39;[ng-control-group]&#39;,
          bindings: [controlGroupBinding],
          properties: [&#39;name: ng-control-group&#39;],
          exportAs: &#39;form&#39;
        })


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_parent: ControlContainer)
    
    :markdown
      
      




  .l-sub-section
    h3 onInit

    
    pre.prettyprint
      code.
        onInit()
    
    :markdown
      
      





  .l-sub-section
    h3 onDestroy

    
    pre.prettyprint
      code.
        onDestroy()
    
    :markdown
      
      





  .l-sub-section
    h3 control

    
    :markdown
      
      





  .l-sub-section
    h3 path

    
    :markdown
      
      





  .l-sub-section
    h3 formDirective

    
    :markdown
      
      




