
p.
  <span class="location-badge">exported from <a href="/angular2/core">angular2/core</a></span>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/core/compiler/ng_element.js#L13">angular2/src/core/compiler/ng_element.js (line 13)</a>

:markdown
  Allows direct access to the underlying DOM element.
  
  Attention: NgElement will be replaced by a different concept
  for accessing an element in a way that is compatible with the render layer.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(view, boundElementIndex)
    

    :markdown
      




  .l-sub-section
    h3 domElement

    

    :markdown
      





  .l-sub-section
    h3 getAttribute

    
    pre.prettyprint
      code.
        getAttribute(name:string)
    

    :markdown
      




