
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/directives/ng_for.ts#L9-L124">angular2/src/core/directives/ng_for.ts (line 9)</a>

:markdown
  Starting point to import all public core APIs.

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Directive
    pre.prettyprint
      code.
        @Directive({selector: &#39;[ng-for][ng-for-of]&#39;, properties: [&#39;ngForOf&#39;]})


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_viewContainer: ViewContainerRef, _templateRef: TemplateRef, _iterableDiffers: IterableDiffers, _cdr: ChangeDetectorRef)
    
    :markdown
      
      




  .l-sub-section
    h3 ngForOf

    
    :markdown
      
      





  .l-sub-section
    h3 doCheck

    
    pre.prettyprint
      code.
        doCheck()
    
    :markdown
      
      




