
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/pipes/number_pipe.ts#L21-L56">angular2/src/core/pipes/number_pipe.ts (line 21)</a>

:markdown
  Starting point to import all public core APIs.

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Injectable
    pre.prettyprint
      code.
        @Injectable()


