
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/facade/async.ts#L85-L90">angular2/src/facade/async.ts (line 85)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 observer

    
    pre.prettyprint
      code.
        observer(generator: any)
    
    :markdown
      
      




