
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.27/modules/angular2/src/core/compiler/interfaces.ts#L7-L12">angular2/src/core/compiler/interfaces.ts (line 7)</a>

:markdown
  Defines lifecycle method [onChange] called after all of component's bound
  properties are updated.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 onChange

    
    pre.prettyprint
      code.
        onChange(changes: StringMap&lt;string, any&gt;)
    
    :markdown

      
      




