
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/core/compiler/interfaces.ts#L17-L22">angular2/src/core/compiler/interfaces.ts (line 17)</a>

:markdown
  Defines lifecycle method [onCheck] called when a directive is being checked.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 onCheck

    
    pre.prettyprint
      code.
        onCheck()
    
    :markdown

      
      




