
.l-main-section
  p.location-badge.
    exported from <a href='../core'>angular2/core</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/metadata.ts#L523-L523">angular2/src/core/metadata.ts (line 523)</a>

  :markdown
    <a href='PipeMetadata-class.html'><code>PipeMetadata</code></a> factory function.
    
    

