
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/metadata/directives.ts#L903-L931">angular2/src/core/metadata/directives.ts (line 903)</a>

:markdown
  Declare reusable pipe function.
  
  ## Example
  
  ```
  @Pipe({
    name: 'lowercase'
  })
  class Lowercase {
    transform(v, args) { return v.toLowerCase(); }
  }
  ```
  
  

.l-main-section
  h2 Annotations
.l-main-section
  h2 Members
  .l-sub-section
    h3#constructor constructor

    
    pre.prettyprint
      code.
        constructor({name, pure}: {name: string, pure: boolean})
    
    :markdown




  .l-sub-section
    h3#name name

    
    :markdown





  .l-sub-section
    h3#pure pure

    
    :markdown




