
.l-main-section
  h2(class="function export") platform

  
  pre.prettyprint
    code.
      platform(bindings?: Array&lt;Type | Binding | any[]&gt;) : PlatformRef
  

  p.location-badge.
    exported from <a href='../core'>angular2/core</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/application_common.ts#L93-L110">angular2/src/core/application_common.ts (line 93)</a>

  :markdown
    Initialize the Angular context on the page.
    
    If no bindings are provided, calling <a href='platform-function.html'><code>platform</code></a>() is idempotent,
    and will use the default platform bindings (which can be obtained from
    <a href='ApplicationRef/rootBindings'>rootBindings</a>).
    
    


