
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/facade/collection.ts#L164-L166">angular2/src/core/facade/collection.ts (line 164)</a>

:markdown
  Starting point to import all public core APIs.
