
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/metadata.ts#L407-L427">angular2/src/core/metadata.ts (line 407)</a>

:markdown
  <a href='PropertyMetadata-class.html'><code>PropertyMetadata</code></a> factory for creating decorators.
  
  ## Example as TypeScript Decorator
  
  ```
  @Directive({
    selector: 'sample-dir'
  })
  class SampleDir {
    @Property() property; // Same as @Property('property') property;
    @Property("el-property") dirProperty;
  }
  ```
  
  
