
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/core/compiler/view_ref.ts#L91-L134">angular2/src/core/compiler/view_ref.ts (line 91)</a>

:markdown
  A reference to an Angular ProtoView.
  
  A ProtoView is a reference to a template for easy creation of views.
  (See <a href='AppViewManager-class.html#createViewInContainer'><code>AppViewManager</code></a> and <a href='AppViewManager-class.html#createRootHostView'><code>AppViewManager</code></a>).
  
  A `ProtoView` is a foctary for creating `View`s.
  
  ## Example
  
  Given this template
  
  ```
  Count: {{items.length}}
  <ul>
    <li *ng-for="var item of items">{{item}}</li>
  </ul>
  ```
  
  The above example we have two <a href='ProtoViewRef-class.html'><code>ProtoViewRef</code></a>s:
  
  Outter <a href='ProtoViewRef-class.html'><code>ProtoViewRef</code></a>:
  ```
  Count: {{items.length}}
  <ul>
    <template ng-for var-item [ng-for-of]="items"></template>
  </ul>
  ```
  
  Inner <a href='ProtoViewRef-class.html'><code>ProtoViewRef</code></a>:
  ```
    <li>{{item}}</li>
  ```
  
  Notice that the original template is broken down into two separate <a href='ProtoViewRef-class.html'><code>ProtoViewRef</code></a>s.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_protoView:AppProtoView)
    
    :markdown
      



