
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/core/annotations_impl/di.ts#L44-L56">

:markdown
  Specifies that a <a href='QueryList'>QueryList</a> should be injected.
  
  See <a href='QueryList'>QueryList</a> for usage and example.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(directive: any)
    
    :markdown
      
      




  .l-sub-section
    h3 directive

    
    :markdown

      
      




