
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/metadata/di.ts#L50-L75">angular2/src/core/metadata/di.ts (line 50)</a>

:markdown
  Specifies that a <a href='QueryList-class.html'><code>QueryList</code></a> should be injected.
  
  See <a href='QueryList-class.html'><code>QueryList</code></a> for usage and example.
  
  

.l-main-section
  h2 Annotations
.l-main-section
  h2 Members
  .l-sub-section
    h3#constructor constructor

    
    pre.prettyprint
      code.
        constructor(_selector: Type | string, {descendants = false}?: {descendants?: boolean})
    
    :markdown




  .l-sub-section
    h3#descendants descendants

    
    :markdown





  .l-sub-section
    h3#isViewQuery isViewQuery

    
    :markdown





  .l-sub-section
    h3#selector selector

    
    :markdown





  .l-sub-section
    h3#isVarBindingQuery isVarBindingQuery

    
    :markdown





  .l-sub-section
    h3#varBindings varBindings

    
    :markdown





  .l-sub-section
    h3#toString toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown




