
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/core/compiler/query_list.ts#L2-L44">angular2/src/core/compiler/query_list.ts (line 2)</a>

:markdown
  Injectable Objects that contains a live list of child directives in the light Dom of a directive.
  The directives are kept in depth-first pre-order traversal of the DOM.
  
  In the future this class will implement an Observable interface.
  For now it uses a plain list of observable callbacks.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 reset

    
    pre.prettyprint
      code.
        reset(newList: List&lt;T&gt;)
    
    :markdown

      
      





  .l-sub-section
    h3 add

    
    pre.prettyprint
      code.
        add(obj: T)
    
    :markdown

      
      





  .l-sub-section
    h3 fireCallbacks

    
    pre.prettyprint
      code.
        fireCallbacks()
    
    :markdown

      
      





  .l-sub-section
    h3 onChange

    
    pre.prettyprint
      code.
        onChange(callback: () =&gt; void)
    
    :markdown

      
      





  .l-sub-section
    h3 removeCallback

    
    pre.prettyprint
      code.
        removeCallback(callback: () =&gt; void)
    
    :markdown

      
      





  .l-sub-section
    h3 length

    
    :markdown

      
      





  .l-sub-section
    h3 first

    
    :markdown

      
      





  .l-sub-section
    h3 last

    
    :markdown

      
      





  .l-sub-section
    h3 map

    
    pre.prettyprint
      code.
        map(fn: (T) =&gt; U)
    
    :markdown

      
      




