
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.27/modules/angular2/src/core/annotations_impl/di.ts#L46-L66">angular2/src/core/annotations_impl/di.ts (line 46)</a>

:markdown
  Specifies that a <a href='QueryList-class.html'><code>QueryList</code></a> should be injected.
  
  See <a href='QueryList-class.html'><code>QueryList</code></a> for usage and example.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_directive: any, {descendants = false}?: {descendants?: boolean})
    
    :markdown
      
      




  .l-sub-section
    h3 descendants

    
    :markdown

      
      





  .l-sub-section
    h3 directive

    
    :markdown

      
      





  .l-sub-section
    h3 toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown

      
      




