
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/render/api.ts#L138-L277">angular2/src/core/render/api.ts (line 138)</a>

:markdown
.l-main-section
  h2 Members
  .l-sub-section
    h3#constructor constructor

    
    pre.prettyprint
      code.
        constructor({id, selector, compileChildren, events, hostListeners, hostProperties, hostAttributes,
                       properties, readAttributes, type, callOnDestroy, callOnChanges, callDoCheck,
                       callOnInit, callAfterContentInit, callAfterContentChecked, callAfterViewInit,
                       callAfterViewChecked, changeDetection, exportAs}: {
            id?: string,
            selector?: string,
            compileChildren?: boolean,
            events?: string[],
            hostListeners?: Map&lt;string, string&gt;,
            hostProperties?: Map&lt;string, string&gt;,
            hostAttributes?: Map&lt;string, string&gt;,
            properties?: string[],
            readAttributes?: string[],
            type?: number,
            callOnDestroy?: boolean,
            callOnChanges?: boolean,
            callDoCheck?: boolean,
            callOnInit?: boolean,
            callAfterContentInit?: boolean,
            callAfterContentChecked?: boolean,
            callAfterViewInit?: boolean,
            callAfterViewChecked?: boolean,
            changeDetection?: ChangeDetectionStrategy,
            exportAs?: string
          })
    
    :markdown




  .l-sub-section
    h3#id id

    
    :markdown





  .l-sub-section
    h3#selector selector

    
    :markdown





  .l-sub-section
    h3#compileChildren compileChildren

    
    :markdown





  .l-sub-section
    h3#events events

    
    :markdown





  .l-sub-section
    h3#properties properties

    
    :markdown





  .l-sub-section
    h3#readAttributes readAttributes

    
    :markdown





  .l-sub-section
    h3#type type

    
    :markdown





  .l-sub-section
    h3#callOnDestroy callOnDestroy

    
    :markdown





  .l-sub-section
    h3#callOnChanges callOnChanges

    
    :markdown





  .l-sub-section
    h3#callDoCheck callDoCheck

    
    :markdown





  .l-sub-section
    h3#callOnInit callOnInit

    
    :markdown





  .l-sub-section
    h3#callAfterContentInit callAfterContentInit

    
    :markdown





  .l-sub-section
    h3#callAfterContentChecked callAfterContentChecked

    
    :markdown





  .l-sub-section
    h3#callAfterViewInit callAfterViewInit

    
    :markdown





  .l-sub-section
    h3#callAfterViewChecked callAfterViewChecked

    
    :markdown





  .l-sub-section
    h3#changeDetection changeDetection

    
    :markdown





  .l-sub-section
    h3#exportAs exportAs

    
    :markdown





  .l-sub-section
    h3#hostListeners hostListeners

    
    :markdown





  .l-sub-section
    h3#hostProperties hostProperties

    
    :markdown





  .l-sub-section
    h3#hostAttributes hostAttributes

    
    :markdown




