
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/render/api.ts#L377-L395">angular2/src/render/api.ts (line 377)</a>

:markdown
  Abstract reference to the element which can be marshaled across web-worker boundary.
  
  This interface is used by the Renderer API.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 renderView

    
    :markdown
      Reference to the `RenderViewRef` where the `RenderElementRef` is inside of.
      
      





  .l-sub-section
    h3 renderBoundElementIndex

    
    :markdown
      Index of the element inside the `RenderViewRef`.
      
      This is used internally by the Angular framework to locate elements.
      
      




