
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/render/api.ts#L283-L286">angular2/src/core/render/api.ts (line 283)</a>

:markdown
  Starting point to import all public core APIs.
