
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/di/binding.ts#L252-L265">angular2/src/core/di/binding.ts (line 252)</a>

:markdown
  Starting point to import all public core APIs.
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(factory: Function, dependencies: Dependency[])
    
    :markdown
      
      




  .l-sub-section
    h3 factory

    
    :markdown
      Factory function which can return an instance of an object represented by a key.
      
      





  .l-sub-section
    h3 dependencies

    
    :markdown
      Arguments (dependencies) to the `factory` function.
      
      




