
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/directives/ng_switch.ts#L7-L15">angular2/src/core/directives/ng_switch.ts (line 7)</a>

:markdown
.l-main-section
  h2 Members
  .l-sub-section
    h3#constructor constructor

    
    pre.prettyprint
      code.
        constructor(_viewContainerRef: ViewContainerRef, _templateRef: TemplateRef)
    
    :markdown




  .l-sub-section
    h3#create create

    
    pre.prettyprint
      code.
        create()
    
    :markdown





  .l-sub-section
    h3#destroy destroy

    
    pre.prettyprint
      code.
        destroy()
    
    :markdown




