
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/util/decorators.ts#L22-L69">angular2/src/core/util/decorators.ts (line 22)</a>

:markdown
  An interface implemented by all Angular type decorators, which allows them to be used as ES7
  decorators as well as
  Angular DSL syntax.
  
  DSL syntax:
  
  ```
  var MyClass = ng
    .Component({...})
    .View({...})
    .Class({...});
  ```
  
  ES7 syntax:
  
  ```
  @ng.Component({...})
  @ng.View({...})
  class MyClass {...}
  ```
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3#annotations annotations

    
    :markdown
      Storage for the accumulated annotations so far used by the DSL syntax.
      
      Used by <a href='Class-function.html'><code>Class</code></a> to annotate the generated class.
      
      





  .l-sub-section
    h3#Class Class

    
    pre.prettyprint
      code.
        Class(obj: ClassDefinition)
    
    :markdown
      Generate a class from the definition and annotate it with <a href='TypeDecorator-interface.html#annotations'><code>TypeDecorator</code></a>.
      
      




