
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/facade/lang.ts#L5-L5">angular2/src/facade/lang.ts (line 5)</a>

:markdown
  Runtime representation of a type.
  
  In JavaScript a Type is a constructor function.
  
  
