
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/facade/lang.ts#L23-L23">angular2/src/core/facade/lang.ts (line 23)</a>

:markdown
  Starting point to import all public core APIs.
