
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/f2ef90b/modules/angular2/src/core/annotations_impl/visibility.ts#L173-L213">angular2/src/core/annotations_impl/visibility.ts (line 173)</a>

:markdown
  Specifies that an injector should retrieve a dependency from any ancestor element, crossing
  component boundaries.
  
  Use <a href='../annotations/Ancestor-var.html'><code>Ancestor</code></a> to look for ancestors within the current shadow boundary only.
  
  ## Example
  
  Here is a simple directive that retrieves a dependency from an ancestor element.
  
  ```
  @Directive({
    selector: '[dependency]',
    properties: [
      'id: dependency'
    ]
  })
  class Dependency {
    id:string;
  }
  
  
  @Directive({
    selector: '[my-directive]'
  })
  class Dependency {
    constructor(@Unbounded() dependency:Dependency) {
      expect(dependency.id).toEqual(2);
    };
  }
  ```
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor({self}?: {self?: boolean})
    
    :markdown
      
      




  .l-sub-section
    h3 toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown

      
      




