
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/pipes/uppercase_pipe.ts#L5-L38">angular2/src/core/pipes/uppercase_pipe.ts (line 5)</a>

:markdown
  Implements uppercase transforms to text.
  
  # Example
  
  In this example we transform the user text uppercase.
  
   ```
  @Component({
    selector: "username-cmp"
  })
  @View({
    template: "Username: {{ user | uppercase }}"
  })
  class Username {
    user:string;
  }
  
  ```
  
  

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Pipe
    pre.prettyprint
      code.
        @Pipe({name: &#39;uppercase&#39;})


  .l-sub-section
    h3.annotation Injectable
    pre.prettyprint
      code.
        @Injectable()


.l-main-section
  h2 Members
  .l-sub-section
    h3#transform transform

    
    pre.prettyprint
      code.
        transform(value: string, args?: any[])
    
    :markdown




