
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/services/url_resolver.ts#L9-L33">angular2/src/services/url_resolver.ts (line 9)</a>

:markdown
  Used by the <a href='Compiler-class.html'><code>Compiler</code></a> when resolving HTML and CSS template URLs.
  
  This interface can be overridden by the application developer to create custom behavior.
  
  See <a href='Compiler-class.html'><code>Compiler</code></a>
  
  

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Injectable
    pre.prettyprint
      code.
        @Injectable()


.l-main-section
  h2 Members
  .l-sub-section
    h3 resolve

    
    pre.prettyprint
      code.
        resolve(baseUrl: string, url: string)
    
    :markdown
      Resolves the `url` given the `baseUrl`:
      - when the `url` is null, the `baseUrl` is returned,
      - if `url` is relative ('path/to/here', './path/to/here'), the resolved url is a combination of
      `baseUrl` and `url`,
      - if `url` is absolute (it has a scheme: 'http://', 'https://' or start with '/'), the `url` is
      returned as is (ignoring the `baseUrl`)
      




