
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/core/compiler/view_ref.ts#L13-L24">angular2/src/core/compiler/view_ref.ts (line 13)</a>

:markdown
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_view:AppView)
    
    :markdown
      
      




  .l-sub-section
    h3 render

    
    :markdown

      
      





  .l-sub-section
    h3 setLocal

    
    pre.prettyprint
      code.
        setLocal(contextName: string, value: any)
    
    :markdown

      
      




