
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/metadata.ts#L77-L97">angular2/src/core/metadata.ts (line 77)</a>

:markdown
  Starting point to import all public core APIs.
.l-main-section
  h2 Members
  .l-sub-section
    h3 View

    
    pre.prettyprint
      code.
        View(obj: {
            templateUrl?: string,
            template?: string,
            directives?: Array&lt;Type | any | any[]&gt;,
            pipes?: Array&lt;Type | any | any[]&gt;,
            renderer?: string,
            styles?: string[],
            styleUrls?: string[],
          })
    
    :markdown
      Chain <a href='ViewMetadata-class.html'><code>ViewMetadata</code></a> annotation.
      
      




