
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/render/api.ts#L311-L340">angular2/src/core/render/api.ts (line 311)</a>

:markdown
  Starting point to import all public core APIs.
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor({componentId, templateAbsUrl, template, styleAbsUrls, styles, directives,
                       encapsulation}?: {
            componentId?: string,
            templateAbsUrl?: string,
            template?: string,
            styleAbsUrls?: string[],
            styles?: string[],
            directives?: RenderDirectiveMetadata[],
            encapsulation?: ViewEncapsulation
          })
    
    :markdown
      
      




  .l-sub-section
    h3 componentId

    
    :markdown
      
      





  .l-sub-section
    h3 templateAbsUrl

    
    :markdown
      
      





  .l-sub-section
    h3 template

    
    :markdown
      
      





  .l-sub-section
    h3 directives

    
    :markdown
      
      





  .l-sub-section
    h3 styleAbsUrls

    
    :markdown
      
      





  .l-sub-section
    h3 styles

    
    :markdown
      
      





  .l-sub-section
    h3 encapsulation

    
    :markdown
      
      




