
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/core/annotations_impl/view.ts#L104-L112">angular2/src/core/annotations_impl/view.ts (line 104)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 templateUrl

    
    :markdown

      
      





  .l-sub-section
    h3 template

    
    :markdown

      
      





  .l-sub-section
    h3 directives

    
    :markdown

      
      





  .l-sub-section
    h3 renderer

    
    :markdown

      
      





  .l-sub-section
    h3 styles

    
    :markdown

      
      





  .l-sub-section
    h3 styleUrls

    
    :markdown

      
      




