
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/render/api.ts#L286-L305">angular2/src/core/render/api.ts (line 286)</a>

:markdown
  Starting point to import all public core APIs.
.l-main-section
  h2 Members
  .l-sub-section
    h3 Emulated

    
    :markdown
      Emulate scoping of styles by preprocessing the style rules
      and adding additional attributes to elements. This is the default.
      
      





  .l-sub-section
    h3 Native

    
    :markdown
      Uses the native mechanism of the renderer. For the DOM this means creating a ShadowRoot.
      
      





  .l-sub-section
    h3 None

    
    :markdown
      Don't scope the template nor the styles.
      
      




