
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/di/injector.ts#L28-L46">angular2/src/core/di/injector.ts (line 28)</a>

:markdown
  Visibility of a <a href='Binding-class.html'><code>Binding</code></a>.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3#Public Public

    
    :markdown
      A `Public` <a href='Binding-class.html'><code>Binding</code></a> is only visible to regular (as opposed to host) child injectors.
      
      





  .l-sub-section
    h3#Private Private

    
    :markdown
      A `Private` <a href='Binding-class.html'><code>Binding</code></a> is only visible to host (as opposed to regular) child injectors.
      
      





  .l-sub-section
    h3#PublicAndPrivate PublicAndPrivate

    
    :markdown
      A `PublicAndPrivate` <a href='Binding-class.html'><code>Binding</code></a> is visible to both host and regular child injectors.
      
      




