
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/facade/exceptions.ts#L15-L41">angular2/src/core/facade/exceptions.ts (line 15)</a>

:markdown
.l-main-section
  h2 Members
  .l-sub-section
    h3#constructor constructor

    
    pre.prettyprint
      code.
        constructor(_wrapperMessage: string, _originalException: any, _originalStack?: any, _context?: any)
    
    :markdown




  .l-sub-section
    h3#wrapperMessage wrapperMessage

    
    :markdown





  .l-sub-section
    h3#wrapperStack wrapperStack

    
    :markdown





  .l-sub-section
    h3#originalException originalException

    
    :markdown





  .l-sub-section
    h3#originalStack originalStack

    
    :markdown





  .l-sub-section
    h3#context context

    
    :markdown





  .l-sub-section
    h3#message message

    
    :markdown





  .l-sub-section
    h3#toString toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown




