
p.location-badge.
  exported from <a href='../core'>angular2/core</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/facade/exceptions.ts#L15-L41">angular2/src/core/facade/exceptions.ts (line 15)</a>

:markdown
  Starting point to import all public core APIs.
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_wrapperMessage: string, _originalException: any, _originalStack?: any, _context?: any)
    
    :markdown
      
      




  .l-sub-section
    h3 wrapperMessage

    
    :markdown
      
      





  .l-sub-section
    h3 wrapperStack

    
    :markdown
      
      





  .l-sub-section
    h3 originalException

    
    :markdown
      
      





  .l-sub-section
    h3 originalStack

    
    :markdown
      
      





  .l-sub-section
    h3 context

    
    :markdown
      
      





  .l-sub-section
    h3 message

    
    :markdown
      
      





  .l-sub-section
    h3 toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown
      
      




