extends ../../../ts/latest/guide/architecture.jade

block includes
  include ../_util-fns
  - var _library_module = 'library'
  - var _at_angular = 'angular2'

:marked
  Angular 2 is a framework to help us build client applications in HTML and
  either JavaScript or a language (like Dart or TypeScript) that compiles to JavaScript.

block angular-parts
  :marked
    Angular 2 for Dart is published as the `angular2` package, which
    (like many other Dart packages) is available via the Pub tool.

block dart-terminology
  .callout.is-helpful
    header Dart difference: Module is a compilation unit
    :marked
      The term "module" used in this guide refers to a
      Dart _compilation unit_, i.e., a _library_ or _part_.
      For more information about compilation units, see
      the chapter on "Libraries and Scripts" in the
      [Dart Language Specification](https://www.dartlang.org/docs/spec/).

block modules-are-optional
  //- N/A

block ts-export
  //- N/A

block ts-import
  //- N/A

block angular-library-modules
  :marked
    Some modules are libraries.
    Angular itself ships as a collection of libraries within the
    [**angular2**](https://pub.dartlang.org/packages/angular2) package.

block angular-imports
  +makeExcerpt('app/app.component.ts', 'import')

block ts-decorator
  :marked
    Annotations often have configuration parameters.
    The `@Component` annotation takes parameters to provide the
    information Angular needs to create and present the component and its view.

    Here are a few of the possible `@Component` parameters:
