extends ../../../ts/latest/guide/attribute-directives.jade

block includes
  include ../_util-fns

block highlight-directive-1
  :marked
    We begin by importing the Angular `core`.
    Then we define the directive metadata by means of the `@Directive` annotation. 
