extends /docs/ts/_cache/guide/component-styles.jade

block includes
  - var _example = 'component-styles';
  include ../_util-fns

//- TODO: consider adding material equivalent to TS Appendices 1 & 2 if relevant.

block style-url
  :marked
    Note that the URLs in `styleUrls` are relative to the component.

block module-bundlers
  //- TODO: determine if an equivalent of the TS material is relevant for Dart.
  //- Leaving empty for now.

block css-import-url
  :marked
    In *this* case the URL is relative to the CSS file into which we are importing.
  .alert.is-important
    :marked
      URLs are currently not interpreted in this way, see 
      [issue 8518](https://github.com/angular/angular/issues/8518).
      Until this issue is fixed, absolute package-reference style URLs must 
      be given as is illustrated below.
    
block module-id
  :marked
    Thankfully, this is the default interpretation of relative URLs in 
    Angular2 for Dart:

  +makeExcerpt('app/quest-summary.component.ts', 'urls', '')



