include ../_util-fns

:marked
  We typically display data in Angular by binding controls in an HTML template
  to properties of an Angular component.

  In this chapter, we'll create a component with a list of heroes. Each hero has a name.
  We'll display the list of hero names and
  conditionally show a selected hero in a detail area below the list.

  The final UI looks like this:

figure.image-display
  img(src="/resources/images/devguide/displaying-data/final.png" alt="Final UI")


<a id="interpolation"></a>
.l-main-section
:marked
  ## Showing component properties with interpolation
  The easiest way to display a component property
  is to bind the property name through interpolation.
  With interpolation, we put the property name in the view template, enclosed in double curly braces: `{{myHero}}`.

  Let's build a small illustrative example together.

  <a id="platform_directives"></a>
  Create a new project folder (`displaying`) and create 3 files:
  `pubspec.yaml`, `web/index.html`, and `web/main.dart`.
  Put these contents in the files:

- var stylePattern = [{ otl: /(platform_directives.*$)/gm }, null, null];
+makeTabs('displaying-data/dart/pubspec.yaml, displaying-data/dart/web/index.html, displaying-data/dart/web/main.dart', ',,final', 'pubspec.yaml, web/index.html, web/main.dart', stylePattern)

:marked
  All of this code should look familiar from the
  [QuickStart](../quickstart.html),
  except for the `platform_directives` entry in `pubspec.yaml`
  and the imports in `main.dart`.

  In `pubspec.yaml`, the `platform_directives` entry lets us use
  core directives, such as the NgFor directive that we'll soon add to our app.

  In `main.dart`, importing `app_component.dart` lets us implement part
  of the app in a different Dart file. The QuickStart version of `main.dart`
  imported `core.dart`, but we don't need that import here because
  this version of `main.dart` is so basic: it only bootstraps the app,
  and doesn't implement any components or other injectable types.

  So that the code can run,
  let's create a stub for the `<my-app>` component.

  Create a new directory called `lib`.
  In it, put a file called `app_component.dart`
  with the following code:

+makeExample('displaying-data/dart/lib/app_component_1.dart', null, 'lib/app_component.dart')

:marked
  We defined a component with two properties: `title` and `myHero`.
  The template displays the two component properties using double curly brace
  interpolation:

+makeExample('displaying-data/dart/lib/app_component_1.dart', 'template')(format=".")

:marked
  Angular automatically pulls the value of the `title` and `myHero` properties from the component and
  inserts those values into the browser. Angular updates the display
  when these properties change.


.l-sub-section
  :marked
    More precisely, the redisplay occurs after some kind of asynchronous event related to
    the view such as a keystroke, a timer completion, or an async `XHR` response.
    We don't have those in this sample.
    But then the properties aren't changing on their own either. For the moment we must operate on faith.
:marked
  Notice that we haven't called **new** to create an instance of the `AppComponent` class.
  Angular is creating an instance for us. How?

  Notice the CSS `selector` in the `@Component` decorator that specifies an element named "my-app".
  Remember back in QuickStart that we added the `<my-app>` element to the body of our `index.html` file:
+makeExample('displaying-data/dart/web/index.html', 'my-app')(format=".")


:marked
  When we bootstrap with the `AppComponent` class (in `main.dart`), Angular looks for a `<my-app>`
  in the `index.html`, finds it, instantiates an instance of `AppComponent`, and renders it
  inside the `<my-app>` tag.

  Try running the app. It should display the title and hero name:
figure.image-display
  img(src="/resources/images/devguide/displaying-data/title-and-hero.png" alt="Title and Hero")
// TODO: Here the TS version says "Let's review some of the choices we made and consider alternatives." However, it's unclear where this review ends. Clarify the structure in the TS, and make sure this is the best place for the Dart version of this section.

#performance.l-sub-section
  :marked
    ### Template inline or template file?

    We can store our component's template in one of two places.
    We can define it *inline* using the `template` property, as we do here.
    Or we can define the template in a separate HTML file and link to it in
    the component metadata using the `@Component` decorator's `templateUrl` property.

    The choice between inline and separate HTML is a matter of taste,
    circumstances, and organization policy.
    Here we're using inline HTML because the template is small, and the demo
    is simpler without the additional HTML file.

    In either style, the template data bindings have the same access to the component's properties.


<a id="ngFor"></a>
.l-main-section
:marked
  ## Showing a list property with NgFor

  We want to display a list of heroes. We begin by adding a list of hero names to the component and redefine `myHero` to be the first name in the list.
+makeExample('displaying-data/dart/lib/app_component_2.dart', 'mock-heroes', 'lib/app_component.dart (excerpt)')(format=".")

:marked
  Now we use the Angular `NgFor` "repeater" directive in the template to display
  each item in the `heroes` list.

+makeExample('displaying-data/dart/lib/app_component_2.dart', 'template','lib/app_component.dart (excerpt)')(format=".")


:marked
  Our presentation is the familiar HTML unordered list with `<ul>` and `<li>` tags. Let's focus on the `<li>` tag.
+makeExample('displaying-data/dart/lib/app_component_2.dart', 'li-repeater')(format=".")

:marked
  We added a somewhat mysterious `*ngFor` to the `<li>` element.
  That's the Angular "repeater" directive.
  Its presence on the `<li>` tag marks that `<li>` element (and its children) as the "repeater template".

.alert.is-important
  :marked
    Don't forget the leading asterisk (\*) in `*ngFor`.
    <!-- Learn more about this and `NgFor` in the [Template Syntax](./template-syntax.html#ngFor) chapter.-->

:marked
  Notice the `#hero` in the `NgFor` double-quoted instruction.
  The `#hero` is a local template variable
  <!-- TODO: link to (./template-syntax.html#local-vars) -->
  declaration.
  The `#` prefix declares a local variable name named `hero`.

  Angular duplicates the `<li>` for each item in the list, setting the `hero` variable
  to the item (the hero) in the current iteration. Angular uses that variable as the
  context for the interpolation in the double curly braces.

.l-sub-section
  :marked
    We happened to give `NgFor` a list to display.
    In fact, `NgFor` can repeat items for any [Iterable](https://api.dartlang.org/stable/dart-core/Iterable-class.html) object.

:marked
  Now the heroes appear in an unordered list.

figure.image-display
  img(src="/resources/images/devguide/displaying-data/hero-names-list.png" alt="After ngfor")

.callout.is-important
  header Did the app break?
  :marked
    If the app stops working after adding `*ngFor`,
    make sure `pubspec.yaml` has the [correct **platform_directives** entry](#platform_directives).
    A missing or incorrect `platform_directives` entry results in template parse errors.

.l-main-section
:marked
  ## Creating a class for the data

  We are defining our data directly inside our component.
  That's fine for a demo but certainly isn't a best practice. It's not even a good practice.
  Although we won't do anything about that in this chapter, we'll make a mental note to fix this down the road.

  At the moment, we're binding to a list of strings. We do that occasionally in real applications, but
  most of the time we're binding to more specialized objects.

  Let's turn our list of hero names into a list of `Hero` objects. For that we'll need a `Hero` class.

  Create a new file in the `lib/` folder called `hero.dart` with the following code.
+makeExample('displaying-data/dart/lib/hero.dart',null,'lib/hero.dart')

:marked
  We've defined a class with a constructor, a string description, and two properties: `id` and `name`.

.l-main-section
:marked
  ## Using the Hero class
  Let's make the `heroes` property in our component return a list of these Hero objects.
- var stylePattern = { otl: /(import.*$)|(final)|(new Hero.*$)/gm };
+makeExample('displaying-data/dart/lib/app_component_3.dart', 'heroes', 'app_component.dart (excerpt)', stylePattern)(format=".")

:marked
  We'll have to update the template.
  At the moment it displays the string value of the `Hero` object.
  Let's fix that so we display only the hero's `name` property.
- var stylePattern = { otl: /(myHero\.name)|(hero\.name)/gm };
+makeExample('displaying-data/dart/lib/app_component_3.dart', 'template','app_component.dart (template)', stylePattern)(format=".")


:marked
  Our display looks the same, but now we know much better what a hero really is.

<a id="ngIf"></a>
.l-main-section
:marked
  ## Conditional display with NgIf

  Sometimes the app should display a view or a portion of a view only under specific circumstances.

  In our example, we'd like to display a message if we have a large number of heroes &mdash; say, more than 3.

  The Angular `NgIf` directive inserts or removes an element based on a boolean condition.
  We can see it in action by adding the following paragraph at the bottom of the template:
+makeExample('displaying-data/dart/lib/app_component.dart', 'message')
.alert.is-important
  :marked
    Don't forget the leading asterisk (\*) in `*ngIf`.
    <!-- Learn more about this and `NgIf` in the [Template Syntax](./template-syntax.html#ngIf) chapter. -->


:marked
  The template expression
  <!--PENDING: link to (./template-syntax.html#template-expressions)-->
  inside the double quotes looks much like Dart, and it _is_ much like Dart.
  When the component's list of heroes has more than 3 items, Angular adds the paragraph to the DOM and the message appears.
  If there are 3 or fewer items, Angular omits the paragraph, so no message appears.

.alert.is-helpful
  :marked
    Angular isn't showing and hiding the message. It is adding and removing the paragraph element from the DOM.
    That hardly matters here. But it would matter a great deal, from a performance perspective, if
    we were conditionally including or excluding a big chunk of HTML with many data bindings.

:marked
  Try it out. Because the list has four items, the message should appear.
  Go back into `app_component.dart` and delete or comment out one of the elements from the hero list.
  The browser should refresh automatically and the message should disappear.

.l-main-section
:marked
  ## Summary
  Now we know how to use:
  - **interpolation** with double curly braces to display a component property
  - **`NgFor`** to display a list of items
  - a Dart class to shape the **model data** for our component and display properties of that model
  - **`NgIf`** to conditionally display a chunk of HTML based on a boolean expression


  Here's our final code:

+makeTabs(`displaying-data/dart/lib/app_component.dart,
           displaying-data/dart/lib/hero.dart,
           displaying-data/dart/pubspec.yaml,
           displaying-data/dart/web/index.html,
           displaying-data/dart/web/main.dart`,
           ',,,,final',
           'lib/app_component.dart, lib/hero.dart, pubspec.yaml, web/index.html, web/main.dart')
