extends ../../../ts/latest/guide/displaying-data.jade

block includes
  include ../_util-fns
  - var _iterableUrl = 'https://api.dartlang.org/stable/dart-core/Iterable-class.html';
  - var _boolean = 'boolean';

block quickstart-repo
  //- Must have this block so that Jade picks up the Dart include.
  include ../_quickstart_repo

block hero-class
  :marked
    We've defined a class with a constructor, two properties (`id` and `name`), 
    and a `toString()` method.

block final-code
  +makeTabs(`displaying-data/dart/lib/app_component.dart,
             displaying-data/dart/lib/hero.dart,
             displaying-data/dart/pubspec.yaml,
             displaying-data/dart/web/index.html,
             displaying-data/dart/web/main.dart`,
             ',,,,final',
             'lib/app_component.dart, lib/hero.dart, pubspec.yaml, web/index.html, web/main.dart')
