include ../../../../_includes/_util-fns

:marked
  We're working on the Dart version of this glossary.
  In the meantime, please read the
  [TypeScript version of the glossary](/docs/ts/latest/guide/glossary.html).
