extends ../../../ts/latest/guide/index.jade

block includes
  include ../_util-fns

block example-links
  :marked
    Look for a link to that sample near the top of each page.
    For example, the sample repo https://github.com/angular-examples/architecture
    contains the code
    for the [Architecture](architecture.html) chapter's sample.
    A running version of that sample is at
    https://angular-examples.github.io/architecture/.
