extends ../../../ts/_cache/guide/lifecycle-hooks.jade

block includes
  include ../_util-fns

block other-angular-subsystems
  :marked
    The router, for instance, also has its own [router lifecycle
    hooks](router.html#router-lifecycle-hooks) that allow us to tap into
    specific moments in route navigation.
    A parallel can be drawn between `ngOnInit` and `routerOnActivate`.  Both are
    prefixed so as to avoid collision, and both run right when a component is
    being initialized.

block tick-methods
  :marked
    The `LoggerService.tick` method, which returns a `Future`, postpones the
    update one turn of the of the browser's update cycle ... and that's long enough.
