extends ../../../ts/latest/guide/lifecycle-hooks.jade

block includes
  include ../_util-fns

block optional-interfaces
  //- n/a for Dart

block tick-methods
  :marked
    The `LoggerService.tick` method, which returns a `Future`, postpones the update one turn of the of the browser's update cycle ... and that's long enough.
