include ../_util-fns

:marked
  We're working on the Dart version of this chapter.
  In the meantime, please see these resources:

  * [Lifecycle Hooks](/docs/ts/latest/guide/lifecycle-hooks.html):
    The TypeScript version of this chapter

  * [Dart source code](https://github.com/angular/angular.io/tree/master/public/docs/_examples/lifecycle-hooks/dart):
    A preliminary version of the example code that will appear in this chapter

