:marked
  ## NPM and NPM packages

  TypeScript and JavaScript developers rely on the Node Package Manager (*npm*) to install
  angular and other libraries.
  
  Dart applications do not use *npm* to load 3rd party modules so
  the chapter describing that process is irrelevant to Dart developers.