extends ../../../ts/latest/guide/pipes.jade

block includes
  include ../_util-fns

block pure-change
  :marked
    Angular executes a *pure pipe* only when it detects a *pure change* to the input value.
    In Angular Dart, a *pure change* results only from a change in object reference 
    (given that [everything is an object in Dart](https://www.dartlang.org/docs/dart-up-and-running/ch02.html#important-concepts)).

