.l-main-section

  h2#section-route-use Using the Component Router
  p There are three steps to setting up routing with Angular's Component Router
  ol
    li Install the Component Router
    li Map paths to components
    li Link to routes


.l-main-section

  h2#section-install-router Import the Component Router

  p.
    Create two files, <code>index.html</code> and <code>app.dart</code>, both at the web directory of the project:

  pre.prettyprint.lang-bash
    code.
      touch index.html
      touch app.dart

  p.
    The router is part of the angular2 package as published on pub.

  p.
    Then you can add the router into your app by importing the Router library in your <code>app.dart</code> file:

  pre.prettyprint.linenums.lang-dart
    code.
      import 'package:angular2/angular2.dart';
      import 'package:angular2/router.dart';

  p.
    This is the same as you've seen in the rest of Angular 2, except the <code>router-outlet</code> directive.
    <code>router-outlet</code> is a placeholder for part of your app loaded dynamically based on the route configuration.

  p So how do we configure the app? Let's open <code>app.dart</code> and find out. Add this to the file:

  //- TODO: inlined HTML is broken; see: https://github.com/angular/angular.io/issues/64
  pre.prettyprint.linenums.lang-dart
    code.
      import 'package:angular2/angular2.dart';
      import 'package:angular2/router.dart';
      import 'package:angular2/di.dart';

      import 'package:router_demo/components/home/home.dart';

      import 'package:angular2/src/reflection/reflection.dart' show reflector;
      import 'package:angular2/src/reflection/reflection_capabilities.dart' show ReflectionCapabilities;

      @Component(
        selector: 'my-app'
      )
      @View(
        template: '<router-outlet></router-outlet>',
        directives: const [RouterOutlet]
      )
      @RouteConfig(const [ const {
        'path': '/',
        'component': HomeComp
      }])
      class AppComp {}

      main() {
        reflector.reflectionCapabilities = new ReflectionCapabilities();
        bootstrap(AppComp, routeInjectables);
      }

.l-main-section
  h2#section-map-paths-to-components Map paths to components

  p.
    A component's template can have "outlets," which are holes in the DOM for loading parts of your app based on the
    route configuration and it can ask the DI system for an instance of Router. A component's router tells the component what to put
    inside the outlets based on URL. The configuration maps routes to components for each outlet.

  p Let's make a <code>home</code> component that our app can route to:

  pre.prettyprint.lang-bash
    code.
      mkdir -p lib/components/home
      touch lib/components/home/home.html lib/components/home/home.dart

  p This creates our component directory and its corresponding files: a template and a Dart component.

  p Let's open <code>home.html</code> and add some content:

  pre.prettyprint.lang-html
    code.
      &lt;h1&gt;Hello {{home.name}}!&lt;/h1&gt;

  p Let's make a component:

  pre.prettyprint.linenums.lang-dart
    code.
      @Component(
        selector: 'home'
      )
      @View(
        template: 'Hello {{name}}'
      )
      class HomeComp {
        String name;
        HomeComp() : name = 'Friend' {}
      }

  p If you load up the app, you should see <code>Hello Friend!</code>

.l-main-section
  h2#section-link-to-routes Link to routes

  p Let's add another route and then link to it. This route will have a route parameter, <code>id</code>.

  p In <code>app.dart</code>:

  pre.prettyprint.linenums.lang-dart
    code.
      @Component(
        selector: 'my-app'
      )
      @RouteConfig(const [
        const { 'path': '/',           'component': HomeComp },
        const { 'path': '/detail/:id', 'component': DetailComp }
      ])
      class AppComp {}


  p.
    We can link to our detail component using the <code>router-link</code> directive.
    Add this to <code>index.html</code>:

  pre.prettyprint.lang-html
    code.
      &lt;body ng-app=&quot;myApp&quot; ng-controller=&quot;AppController as app&quot;&gt;
        &lt;a router-link=&quot;detail({id: 5})&quot;&gt;link to detail&lt;/a&gt;
        ...

  p This directive will generate an <code>href</code> and update the browser URL.

  p We should also implement our detail component. Let's make these new files:

  pre.prettyprint.lang-bash
    code.
      mkdir components/detail
      touch components/detail/detail.html components/detail/detail.dart

  p In <code>detail.dart</code>, we implement a controller that uses the <code>id</code> route parameter:

  pre.prettyprint.linenums.lang-dart
    code.
      //TODO: imports
      @Component(
        selector: 'detail'
      )
      @View(
        template: 'User ID: {{id}}'
      )
      class DetailComp {
        number id;
        DetailComp(RouteParams routeParams) : id = routeParams.get('id') {}
      }

.l-main-section

  h2#section-configuring-the-router Configuring the Router

  p.
    Unlike other routing systems, Component Router maps URLs to components. A router takes an array of pairings like
    this:

  pre.prettyprint.linenums.lang-javascript(data-name="typescript")
    code.
      @Component(...)
      @View(...)
      @RouteConfig(const [
        const { 'path': '/user', 'component': 'user' }
      ])
      class MyComp {}




  .l-sub-section
    h3#section-sibling-outlets Sibling Outlets

    p You can configure multiple outlets on the same path like this:

    pre.prettyprint.linenums.lang-dart
      code.
        @Component(...)
        @View(
          template:
            `&lt;div router-outlet="master"&gt;&lt;/div&gt;
             &lt;div router-outlet="detail"&gt;&lt;/div&gt;`,
          directives: const [RouterOutlet]
        )
        @RouteConfig(const [ const {
          'path': '/user', 'components': const {
            'master': UserListComp,
            'detail': UserComp
          }
        }])
        class MyComponent {}



    p You can link to any sibling just as you normally would:

    pre.prettyprint.linenums.lang-html
      code.
        //HTML
        &lt;p&gt;These both link to the same view:&lt;/p&gt;
        &lt;a router-link=&quot;userList&quot;&gt;link to userList&lt;/a&gt;
        &lt;a router-link=&quot;user&quot;&gt;link to user component&lt;/a&gt;


    p Or, you can explicitly link to a outlet-component pair like this:

    pre.prettyprint.linenums.lang-html
      code.
        //HTML
        &lt;p&gt;These both link to the same view:&lt;/p&gt;
        &lt;a router-link=&quot;master:userList&quot;&gt;link to userList&lt;/a&gt;
        &lt;a router-link=&quot;detail:user&quot;&gt;link to user component&lt;/a&gt;

  .l-sub-section
    h3#section-redirecting-routes Redirecting routes

    p You can use `redirectTo` for migrating to a new URL scheme and setting up default routes.

    p.
      For example, as specified below, when a user navigates to `/`, the URL changes to `/user` and the outlet
      at that level loads the `user` component.

    pre.prettyprint.linenums.lang-dart
      code.
        @Component(...)
        @View(
          directives: const [RouterOutlet]
        )
        @RouteConfig(const [
          const { 'path': '/', 'redirectTo': '/user' },
          const { 'path': '/user', 'component': UserComp }
        ])
        class MyComp {}


  .l-sub-section
    h3#section-aliases Aliases

    p.
      When linking to a route, you normally use the name of the component. You can also specify an alias to use
      instead.

    p Consider the following route configuration:

    pre.prettyprint.linenums.lang-dart
      code.
        @Component(...)
        @View(
          directives: const [RouterOutlet]
        )
        @RouteConfig(const [
          const { 'path': '/', 'component': 'user' }
        ])
        class MyComp {}


    p We can link to the route in our template with the name of the component:

    pre.prettyprint.linenums.lang-html
      code.
        //HTML
        &lt;a router-link=&quot;user&quot;&gt;link to user component&lt;/a&gt;

    p Or, we can define an alias <code>myUser</code> like this:

    pre.prettyprint.linenums.lang-dart
      code.
        @Component(...)
        @View(...)
        @RouteConfig(const [
          const { 'path': '/', 'component': UserComp, 'as': 'myUser' }
        ])
        class MyComp {}


    p And refer instead to the alias for the component in our template, with the same end-result:

    pre.prettyprint.linenums.lang-html
      code.
        //HTML
        &lt;a router-link=&quot;myUser&quot;&gt;link to user component&lt;/a&gt;

    p.
      This is especially useful when you have sibling components, but want to refer to an entire level of routing in
      your controller. For example:

    pre.prettyprint.linenums.lang-dart
      code.
        @RouteConfig(const [
          const { 'path': '/', 'components':
              const { 'master': UserListComp, 'detail': UserComp },
          'as': 'myUser' }
        ])


  //- TODO(btford): expand on this.
  .l-sub-section
    h3#dynamic-configuration Dynamic Configuration

    p.
      You can configure dynamic routing by asking the DI system for a <code>Router</code>.
