extends ../../../ts/_cache/guide/setup.jade

block includes
  include ../_util-fns
  - var _prereq = 'the Dart SDK';
  - var _playground = 'repository';
  - var _Install = 'Get';
  //- npm/pub commands
  - var _install = 'get';
  - var _start = 'serve';

block qs-seed
  :marked
    The <live-example name="quickstart">QuickStart project</live-example> can 
    conveniently be used to seed new projects. It contains the following core files:

block core-files
  +makeTabs(`
      quickstart/ts/app/app.component.ts,
      quickstart/ts/app/main.ts,
      quickstart/ts/index.html,
      quickstart/dart/pubspec.yaml,
      quickstart/ts/styles.css`,
    ',,,,quickstart',
    `app/app.component.ts,
    app/main.ts,
    index.html,
    pubspec.yaml,
    styles.css (excerpt)`)

  :marked
    These files are organized as follows:

  .filetree
    .file angular_quickstart
    .children
      .file lib
      .children
        .file app_component.dart
      .file pubspec.yaml
      .file web
      .children
        .file index.html
        .file main.dart
        .file styles.css

block install-tooling
  :marked
    Install the **[Dart SDK](https://www.dartlang.org/downloads/)**,
    if not already on your machine, and any tools you like to use with Dart.
    The Dart SDK includes tools such as **[pub][pub]**, the Dart package manager.
    If you don't have a favorite Dart editor already, try
    [WebStorm][WS], which comes with a Dart plugin.
    You can also download [Dart plugins for other IDEs and editors][DT].

    [WS]: https://confluence.jetbrains.com/display/WI/Getting+started+with+Dart
    [DT]: https://www.dartlang.org/tools/
    [pub]: https://www.dartlang.org/tools/pub/
