extends ../../../ts/latest/guide/structural-directives.jade

block includes
  include ../_util-fns

block unless-intro
  :marked
    Creating a directive is similar to creating a component.
    Here is how we begin:
