
p.
  <span class="location-badge">exported from <a href="/angular2/di_errors">angular2/di_errors</a></span>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/di/exceptions.js#L32">angular2/src/di/exceptions.js (line 32)</a>

:markdown
  Base class for all errors arising from misconfigured bindings.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(key, constructResolvingMessage:Function)
    
    :markdown
      




  .l-sub-section
    h3 addKey

    
    pre.prettyprint
      code.
        addKey(key)
    
    :markdown
      





  .l-sub-section
    h3 constructResolvingMessage

    
    :markdown
      





  .l-sub-section
    h3 keys

    
    :markdown
      





  .l-sub-section
    h3 message

    
    :markdown
      





  .l-sub-section
    h3 toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown
      




