
p.
  <span class="location-badge">exported from <a href="/angular2/di_errors">angular2/di_errors</a></span>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/di/exceptions.js#L141">angular2/src/di/exceptions.js (line 141)</a>

:markdown
  Thrown when a constructing type returns with an Error.
  
  The `InstantiationError` class contains the original error plus the dependency graph which caused this object to be
  instantiated.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(cause, key)
    
    :markdown
      




  .l-sub-section
    h3 cause

    
    :markdown
      





  .l-sub-section
    h3 causeKey

    
    :markdown
      




