
p.
  <span class="location-badge">exported from <a href="/angular2/di_errors">angular2/di_errors</a></span>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/di/exceptions.js#L157">angular2/src/di/exceptions.js (line 157)</a>

:markdown
  Thrown when object other then [Binding] (or [Type]) is passed to [Injector] creation.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        (binding)

    

    :markdown
      




  .l-sub-section
    h3 message

    

    :markdown
      





  .l-sub-section
    h3 toString

    
    pre.prettyprint
      code.
        ()

    

    :markdown
      




