
p.
  <span class="location-badge">exported from <a href="/angular2/di_errors">angular2/di_errors</a></span>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/di/exceptions.js#L177">angular2/src/di/exceptions.js (line 177)</a>

:markdown
  Thrown when the class as no annotation information.
  
  Lack of annotation prevents the [Injector] from determininig what dependencies need to be injected int the
  constructor.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        (typeOrFunc)

    

    :markdown
      




  .l-sub-section
    h3 message

    

    :markdown
      





  .l-sub-section
    h3 toString

    
    pre.prettyprint
      code.
        ()

    

    :markdown
      




