
p.
  <span class="location-badge">exported from <a href="/angular2/di_errors">angular2/di_errors</a></span>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/di/exceptions.js#L61">angular2/src/di/exceptions.js (line 61)</a>

:markdown
  Thrown when trying to retrieve a dependency by [Key] from [Injector], but [Injector] does not have a [Binding] for
  said [Key].
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        (key)

    

    :markdown
      



