doctype html public
html(lang="en" ng-app="angularIOApp" itemscope itemtype="http://schema.org/Framework")
  head
    != partial("/_includes/_head-include")

  body.ng-cloak.l-offset-nav(ng-controller="AppCtrl as appCtrl")
    != partial("/_includes/_main-nav")

    <!-- HERO LOGO -->
    if hero == 'home'
      != partial("/_includes/_hero-home")
    else
      != partial("/_includes/_hero")

    - var format = autoformat ? 'docs-content' : ''


    article(class="l-content #{format}")
      != yield

    != partial("/_includes/_footer")
    != partial("/_includes/_scripts-include")