doctype
html(lang="en"  layout="column" ng-app="myApp")

  head
    != partial("/_includes/_head-include")

  body(class="l-offset-nav"  ng-controller="AppCtrl")
    != partial("/_includes/_main-nav")

    // INCLUDE HERO
    if hero == 'home'
      != partial("/_includes/_hero-home")
    else
      != partial("/_includes/_hero")

    // PAGE CONTENT
    .l-content
      != yield

    // FOOTER & SCRIPTS
    != partial("/_includes/_footer")
    != partial("/_includes/_scripts-include")