div
  p(class="text-body") Would you like to be listed in this page? Fill out this <a href="https://docs.google.com/a/rangle.io/forms/d/1qzWaDpTgTPe4iPDRF_VCT9aHXKimUocwlFnVJUdKabY/viewform?c=0&w=1">form</a>.
  div(style="display: flex; justify-content: space-between; flex-wrap: wrap;")
    div
      h1 Books
      div(class="resources")
        h3 Packt Publishing
        ul(class="publisher")
          li(class="book")
            a(class="title text-body" href="https://www.packtpub.com/web-development/switching-angular-2") Switching to Angular 2
          li(class="book")
            a(class="title text-body" href="https://www.packtpub.com/web-development/mastering-angular-2-components") Mastering Angular 2 Components
          li(class="book")
            a(class="title text-body" href="https://www.packtpub.com/web-development/angular-2-blueprints") Angular 2 Blueprints
          li(class="book")
            a(class="title text-body" href="https://www.packtpub.com/web-development/angular-2-example") Angular 2 By Examples
          li(class="book")
            a(class="title text-body" href="https://www.packtpub.com/web-development/mastering-angular-2-components") Angular 2 Components
          li(class="book")
            a(class="title text-body" href="https://www.packtpub.com/web-development/learning-angular-2-net-developers") Learning Angular 2 for .NET Developers
          li(class="book")
            a(class="title text-body" href="https://www.packtpub.com/web-development/angular-2-test-driven-development") Angular 2 Test-driven Development

        h3 Manning Publications
        ul(class="publisher")
          li(class="book")
            a(class="title text-body" href="https://www.manning.com/books/angular-2-in-action") Angular 2 In Action
          li(class="book")
            a(class="title text-body" href="https://www.manning.com/books/angular-2-development-with-typescript") Angular 2 Development with TypeScript
          li(class="book")
            a(class="title text-body" href="https://www.manning.com/books/testing-angular-2-applications") Testing Angular 2 Applications

        h3 O'Reilly Media
        ul(class="publisher")
          li(class="book")
            a(class="title text-body" href="http://www.oreilly.com/pub/e/3693") Angular 2 Web Development with TypeScript
          li(class="book")
            a(class="title text-body" href="http://shop.oreilly.com/product/0636920051824.do") Migrating to Angular 2
          li(class="book")
            a(class="title text-body" href="http://shop.oreilly.com/product/9781785886201.do") Switching to Angular 2

        h3 Self-published
        ul(class="publisher")
          li(class="book")
            a(class="title text-body" href="http://ngcourse.rangle.io/") Rangle.io: ngCourse 2
          li(class="book")
            a(class="title text-body" href="https://www.ng-book.com/2/") ng-book 2
          li(class="book")
            a(class="title text-body" href="https://leanpub.com/angular2-book") Angular 2 Book
          li(class="book")
            a(class="title text-body" href="https://books.ninja-squad.com/angular2") Become a ninja with Angular 2
          li(class="book")
            a(class="title text-body" href="https://leanpub.com/practical-angular-2") Practical Angular 2

    div
      h1 Training
      div(class="resources")
        h3 Rangle.io
        ul(class="publisher")
          li(class="course")
            a(class="title text-body" href="http://rangle.io/services/javascript-training/training-angular1-angular2-with-ngupgrade/") Angular 2 Online Training

        h3 Pluralsight
        ul(class="publisher")
          li(class="course")
            a(class="title text-body" href="https://www.pluralsight.com/courses/angular-2-first-look") Angular 2: First Look
          li(class="course")
            a(class="title text-body" href="https://www.pluralsight.com/courses/angular-2-getting-started") Angular 2: Getting Started

        h3 Udemy
        ul(class="publisher")
          li
            a(class="title text-body" href="https://www.udemy.com/the-complete-guide-to-angular-2/?utm_content=_._ag_angular%202_._ad_47395956109_._de_c_._dm__._lo_9061189_._&matchtype=b&gclid=CjwKEAjww9O3BRDp1tq0jIP023YSJAB0-j1S4bFN4tudrjzZO_-ABNAfFQJrhrKo7KX1AnV-8yjV-hoCRrDw_wcB&utm_medium=udemyads&k_clickid=dce13cd7-9844-44dc-9967-020275b637c9_408_GOOGLE_NEW-AW-PROS-TECH-Dev-angular-2-EN-ENG_._ci_756150_._sl_ENG_._vi_TECH_._sd_All_._la_EN_.__angular%202_%2Bangular%20%2B2_b_47395956109_c&utm_campaign=NEW-AW-PROS-TECH-Dev-angular-2-EN-ENG_._ci_756150_._sl_ENG_._vi_TECH_._sd_All_._la_EN_._&utm_source=adwords&utm_term=_._pl__._pd__._ti_kwd-68757357257_._kw_%2Bangular%20%2B2_._&pmtag=72bf13dc-329c-411c-b381-a6143735b9dc") The Complete Guide to Angular 2
          li
            a(class="title text-body" href="https://www.udemy.com/angular-2-tutorial-for-beginners/") Angular 2 With TypeScript for Beginners
          li
            a(class="title text-body" href="https://www.udemy.com/angular-2-tutorial-for-beginners/") Angular 2 Jumpstart with Typescript
          li
            a(class="title text-body" href="https://www.udemy.com/angular-2-fundamentals/") Angular 2 Fundamentals
          li
            a(class="title text-body" href="https://www.udemy.com/angular-2-master-class-with-alejandro-rangel/") Angular 2 Master Class
          li
            a(class="title text-body" href="https://www.udemy.com/introduction-to-angular2/") Angular 2 Demystified

        h3 egghead.io
        ul(class="publisher")
          li
            a(class="title text-body" href="https://egghead.io/technologies/angular2") Angular 2 videos

        h3 Workshops & Onsite Training Vendors
        ul(class="publisher")
          li
            a(class="title text-body" href="http://rangle.io/services/javascript-training/angular2-training/") Rangle.io
          li
            a(class="title text-body" href="http://oasisdigital.com/training") Oasis Digital
          li
            a(class="title text-body" href="http://thoughtram.io/") Thoughtram

    div
      h1 Tooling and Libraries
      div(class="resources")
        h3 Tooling
        ul
          li
            a(class="text-body" href="https://augury.rangle.io/") Augury
          li
            a(class="text-body" href="https://github.com/angular/universal") Angular Universal
          li
            a(class="text-body" href="https://github.com/johnpapa/lite-server") Lite-server
          li
            a(class="text-body" href="https://github.com/mgechev/codelyzer") Codelyzer

        h3 IDEs
        ul
          li
            a(class="text-body" href="http://code.visualstudio.com/") Visual Studio Code
          li
            a(class="text-body" href="https://www.jetbrains.com/webstorm/") WebStorm
          li
            a(class="text-body" href="https://www.jetbrains.com/idea/") IntelliJ IDEA

        h3 Data Libraries
        ul
          li
            a(class="text-body" href="https://www.firebase.com/") Firebase
          li
            a(class="text-body" href="https://www.meteor.com/") Meteor
          li
            a(class="text-body" href="http://mean.io/") MEAN

        h3 UI Components
        ul
          li
            a(class="text-body" href="https://github.com/angular/material2") Angular Material 2
          li
            a(class="text-body" href="http://www.primefaces.org/primeng/") Prime Faces
          li
            a(class="text-body" href="http://www.telerik.com/blogs/what-to-expect-in-2016-for-kendo-ui-with-angular-2-and-more") Kendo UI
          li
            a(class="text-body" href="http://ng-lightning.github.io/ng-lightning/") ng-lightening
          li
            a(class="text-body" href="http://wijmo.com/products/wijmo-5/") Wijmo
          li
            a(class="text-body" href="https://angular-ui.github.io/bootstrap/") Bootstrap UI
          li
            a(class="text-body" href="https://vaadin.com/home") Vaadin

        h3 Cross-Platform Development
        ul
          li
            a(class="text-body" href="https://github.com/NativeScript/nativescript-angular") NativeScript
          li
            a(class="text-body" href="http://angular.github.io/react-native-renderer/") React Native
          li
            a(class="text-body" href="http://ionicframework.com/docs/v2/") Ionic
          li
            a(class="text-body" href="http://github.com/angular/angular-electron") Electron
          li
            a(class="text-body" href="http://github.com/preboot/angular2-universal-windows-app") Windows (UWP)

    div
      h1 Communities
      div(class="resources")
        p(class="text-body") Would you like to be listed in this page? Fill out this <a href="https://docs.google.com/a/rangle.io/forms/d/1qzWaDpTgTPe4iPDRF_VCT9aHXKimUocwlFnVJUdKabY/viewform?c=0&w=1">form</a>.

        h3 Podcasts
        ul(class="podcasts")
          li(class="podcast")
            a(class="text-body" href="https://angularair.com/") AngularAir
          li(class="podcast")
            a(class="text-body" href="https://javascriptair.com/") JavaScript Air
          li(class="podcast")
            a(class="text-body" href="https://devchat.tv/adventures-in-angular") Adventures in Angular


        h3 Communities
        ul(class="communities")
          li(class="community")
            a(class="text-body" href="http://angularbeers.org/") Angular Beers
          li(class="community")
            a(class="text-body" href="http://angularcamp.org/") Angular Camp
          li(class="community")
            a(class="text-body" href="http://www.meetup.com/find/?allMeetups=false&keywords=angularjs&radius=Infinity&userFreeform=94043&gcResults=Mountain+View%2C+CA+94043%2C+USA%3AUS%3ACalifornia%3ASanta+Clara+County%3AMountain+View%3Anull%3A94043%3A37.428434%3A-122.07238159999997&change=yes&sort=default") Angular Meetups

















