div(class="resources")
  p Would you like to be listed in this page? Fill out this <a href="https://docs.google.com/a/rangle.io/forms/d/1qzWaDpTgTPe4iPDRF_VCT9aHXKimUocwlFnVJUdKabY/viewform?c=0&w=1">form</a>.

  h3 Packt Publishing
  ul(class="publisher")
    li(class="book")
      a(class="title" href="https://www.packtpub.com/web-development/switching-angular-2") Switching to Angular 2
    li(class="book")
      a(class="title" href="https://www.packtpub.com/web-development/mastering-angular-2-components") Mastering Angular 2 Components
    li(class="book")
      a(class="title" href="https://www.packtpub.com/web-development/angular-2-blueprints") Angular 2 Blueprints
    li(class="book")
      a(class="title" href="https://www.packtpub.com/web-development/angular-2-example") Angular 2 By Examples
    li(class="book")
      a(class="title" href="https://www.packtpub.com/web-development/mastering-angular-2-components") Angular 2 Components
    li(class="book")
      a(class="title" href="https://www.packtpub.com/web-development/learning-angular-2-net-developers") Learning Angular 2 for .NET Developers
    li(class="book")
      a(class="title" href="https://www.packtpub.com/web-development/angular-2-test-driven-development") Angular 2 Test-driven Development

  h3 Manning Publications
  ul(class="publisher")
    li(class="book")
      a(class="title" href="https://www.manning.com/books/angular-2-in-action") Angular 2 In Action
    li(class="book")
      a(class="title" href="https://www.manning.com/books/angular-2-development-with-typescript") Angular 2 Development with TypeScript
    li(class="book")
      a(class="title" href="https://www.manning.com/books/testing-angular-2-applications") Testing Angular 2 Applications

  h3 O'Reilly Media
  ul(class="publisher")
    li(class="book")
      a(class="title" href="http://www.oreilly.com/pub/e/3693") Angular 2 Web Development with TypeScript
    li(class="book")
      a(class="title" href="http://shop.oreilly.com/product/0636920051824.do") Migrating to Angular 2
    li(class="book")
      a(class="title" href="http://shop.oreilly.com/product/9781785886201.do") Switching to Angular 2

  h3 Self-published
  ul(class="publisher")
    li(class="book")
      a(class="title" href="http://ngcourse.rangle.io/") Rangle.io: ngCourse 2
    li(class="book")
      a(class="title" href="https://www.ng-book.com/2/") ng-book 2
    li(class="book")
      a(class="title" href="https://leanpub.com/angular2-book") Angular 2 Book
    li(class="book")
      a(class="title" href="https://books.ninja-squad.com/angular2") Become a ninja with Angular 2
    li(class="book")
      a(class="title" href="https://leanpub.com/practical-angular-2") Practical Angular 2




