div(class="resources")
  p(class="text-body") Would you like to be listed in this page? Fill out this <a href="https://docs.google.com/a/rangle.io/forms/d/1qzWaDpTgTPe4iPDRF_VCT9aHXKimUocwlFnVJUdKabY/viewform?c=0&w=1">form</a>.

  h3 Podcasts
  ul(class="podcasts")
    li(class="podcast")
      a(class="text-body" href="https://angularair.com/") AngularAir
    li(class="podcast")
      a(class="text-body" href="https://javascriptair.com/") JavaScript Air
    li(class="podcast")
      a(class="text-body" href="https://devchat.tv/adventures-in-angular") Adventures in Angular


  h3 Communities
  ul(class="communities")
    li(class="community")
      a(class="text-body" href="http://angularbeers.org/") Angular Beers
    li(class="community")
      a(class="text-body" href="http://angularcamp.org/") Angular Camp
    li(class="community")
      a(class="text-body" href="http://www.meetup.com/find/?allMeetups=false&keywords=angularjs&radius=Infinity&userFreeform=94043&gcResults=Mountain+View%2C+CA+94043%2C+USA%3AUS%3ACalifornia%3ASanta+Clara+County%3AMountain+View%3Anull%3A94043%3A37.428434%3A-122.07238159999997&change=yes&sort=default") Angular Meetups





