.l-main-section
  h2 Angular Projects
  p We'd love for you to contribute to our source code and to make Angular projects even better.

  .l-sub-section
    h3 Angular 2

    p Angular 2, now in beta, is a next generation mobile and desktop application development platform.

    a(href="https://github.com/angular/angular/blob/master/CONTRIBUTING.md" class="button" md-button) Contribute to Angular 2

  .l-sub-section
    h3 Angular for JavaScript or Dart

    p Angular is a development platform for building mobile and desktop applications.

    a(href="https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md" class="button" md-button) Contribute to Angular for JS

    a(href="https://github.com/angular/angular.dart/blob/master/CONTRIBUTING.md" class="button" md-button) Contribute to Angular for DART

  .l-sub-section
    h3 Angular Material

    p Our goal is to deliver a lean, lightweight set of Angular-based UI elements that implement the material design specification for use in Angular single-page applications (SPAs).

    a(href="https://github.com/angular/material/blob/master/.github/CONTRIBUTING.md" class="button" md-button) Contribute to Angular Material

  .l-sub-section
    h3 AngularFire

    p AngularFire is the officially supported Angular binding for Firebase. Firebase is a full backend so you don't need servers to build your Angular app.

    a(href="https://github.com/firebase/angularFire" class="button" md-button) Contribute to AngularFire
