table.is-full-width
  thead
    tr
      th Event
      th Location
      th Date

  tbody
      
    <!-- ngVikings -->
    tr
      th
        a(
        target="_blank"
        href="https://ngvikings.org/"
        ) ngVikings
      td Copenhagen, Denmark
      td Feb. 11, 2017
