div
  div
    h2(class="text-headline") Cross Platform
    div(class="feature-row")
      div(class="feature")
        h3 Progressive Web Apps
        p(class="text-body") Use modern web platform capabilities to deliver app-like experiences.  High performance, offline and zero-step installation.

      div(class="feature")
        h3 Native
        p(class="text-body") Build native mobile apps with strategies from Ionic Framework, NativeScript, and React Native.

      div(class="feature")
        h3 Desktop
        p(class="text-body") Create desktop-installed apps across Mac, Windows, and Linux using the same Angular methods you've learned for the web plus ability to access native OS APIs.

    h2(class="text-headline") Speed & Performance
    div(class="feature-row")
      div(class="feature")
        h3 Code generation
        p(class="text-body") Angular turns your templates into code that's highly optimized for today's JavaScript virtual machines giving you all the benefits of hand-written code with the productivity of a framework.
      div(class="feature")
        h3 Universal
        p(class="text-body") Serve the first view of your application on node.js, .NET, PHP and other servers for near-instant rendering in just HTML and CSS.  Also paves the way for sites that optimize for SEO.
      div(class="feature")
        h3 Code Splitting
        p(class="text-body") Angular apps load quickly with the new Component Router that delivers automatic code-splitting so users only load code required to render the view they request.

    h2(class="text-headline") Productivity
    div(class="feature-row")
      div(class="feature")
        h3 Templates
        p(class="text-body") Quickly create UI views with simple and powerful template syntax.
      div(class="feature")
        h3 Angular CLI
        p(class="text-body") Command line tools: start building fast, add components and tests, then instantly deploy.
      div(class="feature")
        h3 IDEs
        p(class="text-body") Get intelligent code completion, instant errors and other feedback in popular editors and IDEs.

    h2(class="text-headline") Full Development Story
    div(class="feature-row")
      div(class="feature")
        h3 Testing
        p(class="text-body") With Karma for unit tests, you can know if you've broken things every time you save. And Protractor makes your scenario tests run faster and stably.
      div(class="feature")
        h3 Animation
        p(class="text-body") Create high performance complex choreographies and animation timelines with very little code through Angular's intuitive API.
      div(class="feature")
        h3 Accessibility
        p(class="text-body") Create accessible applications with ARIA-enabled components, developer guides, and built-in a11y test infrastructure.

!= partial("/_includes/_cta-bar")
