section(class="l-content-block" layout="row")
  div(flex="20")
    .sticker <span class="sticker-icon icon-stay-current-portrait"></span>
  div(flex="80")
    h3.text-headline  LIGHTWEIGHT &amp; MOBILE READY
    p.text-body High Life mustache bitters flannel paleo, Vice chia mumblecore tousled Williamsburg. Scenester whatever farm-to-table Kickstarter hella, lo-fi lumbersexual street art lomo swag Echo Park. High Life leggings tofu Intelligentsia bespoke, American Apparel selfies ennui.

section(class="l-content-block" layout="row")
  div(flex="20")
    .sticker <span class="sticker-icon icon-filter-list"></span>
  div(flex="80")
    h3.text-headline  ADVANCED FILTERING
    p.text-body High Life mustache bitters flannel paleo, Vice chia mumblecore tousled Williamsburg. Scenester whatever farm-to-table Kickstarter hella, lo-fi lumbersexual street art lomo swag Echo Park. High Life leggings tofu Intelligentsia bespoke, American Apparel selfies ennui.

section(class="l-content-block" layout="row")
  div(flex="20")
    .sticker <span class="sticker-icon icon-language"></span>
  div(flex="80")
    h3.text-headline  INTERNATIONALIZATION (I18N &amp; L10)
    p.text-body High Life mustache bitters flannel paleo, Vice chia mumblecore tousled Williamsburg. Scenester whatever farm-to-table Kickstarter hella, lo-fi lumbersexual street art lomo swag Echo Park. High Life leggings tofu Intelligentsia bespoke, American Apparel selfies ennui.



!= partial("/_includes/_cta-bar")