.grid-fluid.l-space-bottom-8
  .c7
    h3.text-headline  Build Incredible Applications
    p.text-body Angular is a development platform for creating applications using modern web standards. Angular includes a wealth of essential features such as mobile gestures, animations, filtering, routing, data binding, security, internationalization, and beautiful UI components. It's extremely modular, lightweight, and easy to learn.
  .c5.text-center
    img(src="/resources/images/logos/html5/html5.png")


.grid-fluid.l-space-bottom-8
  .c7
    h3.text-headline  Start Quick, Build Fast
    p.text-body Express your ideas with clean, understandable code. Angular is simple to build on, easy to change, and friendly to the way UX designers work. Create a UI that is beautiful by default, with material design and support for web components. Angular takes <a href="#">just minutes to learn</a>.
  .c5
    p(data-height="224" data-theme-id="12714" data-slug-hash="pvKKQa" data-default-tab="html" data-user="alexwolfe" class='codepen')
    script(async src="//assets.codepen.io/assets/embed/ei.js")

.grid-fluid.l-space-bottom-8
  .c7
    h3.text-headline  Open Source &amp;  MIT Licensed
    p.text-body Angular is built by you, for you. Our community shapes Angular's direction: core contributions come from big companies and small ones, from students and independent experts. We do our work in the open so that you can help Angular <a href="#">improve, or extend and modify</a> what we've built.
  .c5.text-center
    img(src="/resources/images/logos/license/mit.png")



.grid-fluid.text-center
  .c8.a2.b2
    h3.text-headline Loved by Millions of Developers
    p.text-body Join millions of devs who use Angular. Ramp up in minutes, and build an app today.
    != partial("/_includes/_cta-bar")