section(layout="row")
  div(flex="70")
    h3.text-headline  Build Incredible Web Applications
    p.text-body Angular uses the latest technology High Life mustache bitters flannel paleo, Vice chia mumblecore tousled Williamsburg. Scenester whatever farm-to-table Kickstarter hella, lo-fi lumbersexual street art lomo swag Echo Park. High Life leggings tofu Intelligentsia bespoke, American Apparel selfies ennui.
  div(flex="30") image goes here...


!= partial("/_includes/_cta-bar")