.grid-fluid.l-space-bottom-8
  .c12.text-center
    h3.text-headline.text-uppercase  Angular
  .c12.text-center
    figure
      img(src="/resources/images/logos/standard/shield-large.svg" alt="Us" style="width:80px;")
  .clear
  
.grid-fluid.l-space-bottom-8
  .c12.text-center
    h3.text-headline.text-uppercase  Angular GDE (Google Developer Expert)
  .c12.text-center
    figure
      img(src="/resources/images/logos/standard/angular-gde-logo@2x.png" alt="Us" style="width:80px;")
  .clear
