div(class="presskit-container l-space-neg-top-8")
  div(class="presskit-row")
    div(class="presskit-inner")
      div
        h2 ANGULAR LOGO
        p The logo graphics available for download on this page are provided under <a class="cc-by-anchor" target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>. This means that you can pretty much do what you like with it including printing it on shirts, creating your own variations, or getting it tattooed over your navel.
        p We do ask that you not use the rest of the site graphics in other contexts to avoid confusion.

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        img(src="resources/images/logos/angular/angular.svg")
      div
        h3(class="l-space-left-3") FULL COLOR LOGO
        ul(class="l-space-left-3")
          li
            span Angular Logo (png) - <a href="resources/images/logos/angular/angular.png" download>Download</a>
          li
            span Angular Logo (svg) - <a href="resources/images/logos/angular/angular.svg" download>Download</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        div
          img(src="resources/images/logos/angular/angular_solidBlack.svg")
      div
        h3(class="l-space-left-3") ONE COLOR LOGO
        ul(class="l-space-left-3")
          li
            span Angular Logo Black (png) - <a href="resources/images/logos/angular/angular_solidBlack.png" download>Download</a>
          li
            span Angular Logo Black (svg) - <a href="resources/images/logos/angular/angular_solidBlack.svg" download>Download</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        div
          img(src="resources/images/logos/angular/angular_whiteTransparent.svg" class="transparent-img-bg")
      div
        h3(class="l-space-left-3") ONE COLOR INVERSE LOGO
        ul(class="l-space-left-3")
          li
            span Angular Logo White Semi-Transparent (png) - <a href="resources/images/logos/angular/angular_whiteTransparent.png" download>Download</a>
          li
            span Angular Logo Semi-Transparent (svg) - <a href="resources/images/logos/angular/angular_whiteTransparent.svg" download>Download</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div
        h2 PRESS AND MEDIA
        p
        | For inquiries regarding press and media please contact us at
        | <a href="mailto:press@angular.io">press@angular.io</a>.

  style div.bullets ul {list-style-type: disc !important; margin-left: 1em !important;}
  div(class="presskit-row")
    div(class="presskit-inner")
      div.bullets
        h2 BRAND NAMES
        :marked
          ## Angular
          The name **Angular** represents the work and promises provided to you by the Angular team.

          When not specified, Angular is assumed to be referring to the latest and greatest stable version from the Angular Team.

          ### Example
          **Version 4.1 Now Available** - We are pleased to announce that the latest release of Angular is now available. Staying up to date is easy!

          ### Example
          **Correct**
          
          >**New *ngIf Capabilities** - New in version 4.0 is the ability to use additional syntax to create local variables. This can be very helpful in cases such as working with observables …
          
          **Incorrect**

          >**New *ngIf Capabilities In Angular 4** - Angular 4 introduces the ability to use additional syntax to create local variables. This can be very helpful in cases such as working with observables …
          
          **Reasoning**
          
          >By not using “Angular 4” in the title, the content still feels applicable and useful after version 5, 6, 7 have been released, as the syntax is unlikely to change in the short and medium term.

          ## AngularJS
          
          **AngularJS** is the 1.x series of work and promises provided by the Angular team. 

          ### Examples

          1. AngularJS is one of the most used framework on the web today (by number of projects).
          1. Millions of developers are currently building with AngularJS.
          1. Developers are beginning to upgrade from AngularJS to Angular.
          1. I’m upgrading my application from AngularJS to Angular.
          1. I'm using AngularJS Material on this project.


          AngularJS projects should use the
          <a href="/resources/images/logos/angularjs/AngularJS-Shield.svg" target="_blank" title="AngularJS logo">
          original AngularJS logo</a> / icon, and not the Angular icon.
          
        figure
          img(src="/resources/images/logos/angularjs/AngularJS-Shield.svg" alt="AngularJS Logo" style="margin-left:20px;" )

        :marked
          ## Angular Material

          This is the work being performed by the Angular team to provide Material Design components for Angular applications.

          ## AngularJS Material

          This is the work being performed by the Angular team on Material Design components that are compatible with AngularJS.

          ## 3rd Party Projects

          **X for Angular**
          3rd parties should use the terminology “X for Angular” or “ng-X” for software projects. Projects should avoid the use of Angular X (e.g. Angular UI Toolkit), as it could create authorship confusion. This rule does not apply to events or meetup groups.

          Developers should avoid using Angular version numbers in project names, as this will artificially limit their projects by tying them to a point in time of Angular, or will require renaming over time.

          Where a codename or shortname is used, such as on npm or github, some are acceptable, some are not acceptable.

          **Do not use**
          - ng2-
          - angular2-

          **OK to use**
          * ng-
          * angular-

          As always, component and directive selectors should not begin with “ng-” selectors as this will conflict with components and directives provided by the Angular team.

          ### Examples

          * The ng-BE team just launched ng-health to help developers track their own health. 
          * I’m going to use NativeScript for Angular to take advantage of native UI widgets. 
          * ReallyCoolTool for Angular. 
          * ReallyCoolTool for AngularJS. 

  div(class="presskit-row")
    div(class="presskit-inner")
      div.bullets
        h2 TERMS WE USE
        :marked
          We often use terms that are not part of our brand, 
          but we want to remain consistent on the styling and use of them to prevent confusion and to appear unified.

          * Ahead of Time Compilation (AOT) 
          * Just in Time Compilation (JIT)
