div(class="presskit-container l-space-neg-top-8")
  div(class="presskit-row")
    div(class="presskit-inner")
      div
        h2 ANGULAR LOGO
        p The logo graphics available for download on this page are provided under <a class="cc-by-anchor" target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>. This means that you can pretty much do what you like with it including printing it on shirts, creating your own variations, or getting it tattooed over your navel.
        p We do ask that you not use the rest of the site graphics in other contexts to avoid confusion.

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        img(src="resources/images/logos/angular2/angular.svg")
      div
        h3(class="l-space-left-3") FULL COLOR LOGO
        ul(class="l-space-left-3")
          li
            span Angular Logo (png) - <a href="resources/images/logos/angular2/angular.png" download>Download</a>
          li
            span Angular Logo (svg) - <a href="resources/images/logos/angular2/angular.svg" download>Download</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        div
          img(src="resources/images/logos/angular2/angular_solidBlack.svg")
      div
        h3(class="l-space-left-3") ONE COLOR LOGO
        ul(class="l-space-left-3")
          li
            span Angular Logo Black (png) - <a href="resources/images/logos/angular2/angular_solidBlack.png" download>Download</a>
          li
            span Angular Logo Black (svg) - <a href="resources/images/logos/angular2/angular_solidBlack.svg" download>Download</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        div
          img(src="resources/images/logos/angular2/angular_whiteTransparent.svg" class="transparent-img-bg")
      div
        h3(class="l-space-left-3") ONE COLOR INVERSE LOGO
        ul(class="l-space-left-3")
          li
            span Angular Logo White Semi-Transparent (png) - <a href="resources/images/logos/angular2/angular_whiteTransparent.png" download>Download</a>
          li
            span Angular Logo Semi-Transparent (svg) - <a href="resources/images/logos/angular2/angular_whiteTransparent.svg" download>Download</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div
        h2 PRESS AND MEDIA
        p
        | For inquiries regarding press and media please contact us at
        | <a href="mailto:press@angular.io">press@angular.io</a>.
