div(class="resources")
  p Would you like to be listed in this page? Fill out this <a href="https://docs.google.com/a/rangle.io/forms/d/1qzWaDpTgTPe4iPDRF_VCT9aHXKimUocwlFnVJUdKabY/viewform?c=0&w=1">form</a>.

  h3 Tooling
  ul
    li
      a(href="https://augury.rangle.io/") Augury
    li
      a(href="https://github.com/angular/universal") Angular Universal
    li
      a(href="https://github.com/johnpapa/lite-server") Lite-server
    li
      a(href="https://github.com/mgechev/codelyzer") Codelyzer

  h3 IDEs
  ul
    li
      a(href="http://code.visualstudio.com/") Visual Studio Code
    li
      a(href="https://www.jetbrains.com/webstorm/") WebStorm
    li
      a(href="https://www.jetbrains.com/idea/") IntelliJ IDEA

  h3 Data Libraries
  ul
    li
      a(href="https://www.firebase.com/") Firebase
    li
      a(href="https://www.meteor.com/") Meteor
    li
      a(href="http://mean.io/") MEAN

  h3 UI Components
  ul
    li
      a(href="https://github.com/angular/material2") Angular Material 2
    li
      a(href="http://www.primefaces.org/primeng/") Prime Faces
    li
      a(href="http://www.telerik.com/blogs/what-to-expect-in-2016-for-kendo-ui-with-angular-2-and-more") Kendo UI
    li
      a(href="http://ng-lightning.github.io/ng-lightning/") ng-lightening
    li
      a(href="http://wijmo.com/products/wijmo-5/") Wijmo
    li
      a(href="https://angular-ui.github.io/bootstrap/") Bootstrap UI
    li
      a(href="https://vaadin.com/home") Vaadin

  h3 Cross-Platform Development
  ul
    li
      a(href="https://github.com/NativeScript/nativescript-angular") NativeScript
    li
      a(href="http://angular.github.io/react-native-renderer/") React Native
    li
      a(href="http://ionicframework.com/docs/v2/") Ionic
    li
      a(href="http://github.com/angular/angular-electron") Electron
    li
      a(href="http://github.com/preboot/angular2-universal-windows-app") Windows (UWP)






