style(rel='stylesheet').
    .fake-centered {
        width: 440px;
        margin: 0 auto;
        text-align: left;
    }

.grid-fluid.l-space-bottom-4
    .c2 &nbsp;

    .c8.text-center
        p.text-body.
            The results of the Angular Cardboard Hackathon are in!

        - for (var i = 0; i < 5; i++)
            img(src="/resources/images/cardboard/cardboard.png" alt="" width="20%")
    .c2 &nbsp;
    .clear
.grid-fluid.l-space-bottom-6.text-center
    .c2 &nbsp;
    .c8
        div.l-space-bottom-4.banner.is-centered.banner-ng-annoucement
          h2 Congratulations Albert Sanchez and Vlado Tešanović!
          p.
            Learn more about the winning entries on the <a href="http://blog.ionic.io/announcing-the-angular-cardboard-hackathon-winners/">Ionic blog</a>.
        div.fake-centered
          p Entries were judged in two categories:
          ul
              li Most Engaging App
              li.
                Best Technology Demonstration
                <br>
                <small>Huge hint: Angular scores points</small>

          p Don’t have Cardboard and want one? Check out:
          p.text-center
            a(href="http://www.unofficialcardboard.com/")
              img(src="/resources/images/cardboard/UC_Logo_Black.png" alt="Unofficial Cardboard" width="30%")

          h4 <a href="/cardboard/CardboardContestRules.pdf">Rules of the Contest</a>

          p <a href="/cardboard/CardboardContestRules.pdf">Terms and Conditions Link</a> | <a href="http://www.google.com/policies/">Google Privacy Policy Link</a>

    .c2 &nbsp;




