style(rel='stylesheet').
    .fake-centered {
        width: 440px;
        margin: 0 auto;
        text-align: left;
    }

.grid-fluid.l-space-bottom-4
    .c2 &nbsp;

    .c8.text-center
        p.text-body.
            We love exciting new technologies, it’s one of the reasons we created Angular, and we love Google Cardboard. What could be better (or more fun) than combining the two?
        p Only the app you build and we can’t wait to see your ideas come to virtual life (literally!).

        - for (var i = 0; i < 5; i++)
            img(src="/resources/images/cardboard/cardboard.png" alt="" width="20%")
    .c2 &nbsp;
    .clear
.grid-fluid.l-space-bottom-6.text-center
    .c2 &nbsp;
    .c8
        div.l-space-bottom-4.banner.is-centered.banner-ng-annoucement
          h2 Excited? So are we!
          p.
            Submit your Angular Cardboard App before <b>December 31, 2015</b><br>
            and you could win <b>a free ticket</b> to ng-conf 2016!
        div.fake-centered
          p Entries will be judged in two categories:
          ul
              li Most Engaging App
              li.
                Best Technology Demonstration
                <br>
                <small>Huge hint: Angular 2 scores points</small>

          p <b>We’ve partnered with Ionic to give you a head’s start with this</b>
          img(src="/resources/images/cardboard/Ionic_Logo.png" alt="" width="40%")
          p
            a(href="https://github.com/driftyco/ionic-starter-cardboard") Starter Template for Angular Cardboard

          h4 Ready?
          p
            a(href="https://docs.google.com/a/google.com/forms/d/1qHPldjf1VuR565IUhUDjz7VuC8dU_3WBF80zGi6xOss/edit") Sign-Up Here
          p Don’t have Cardboard and want one? Check out:
          p.text-center
            a(href="http://www.unofficialcardboard.com/")
              img(src="/resources/images/cardboard/UC_Logo_Black.png" alt="Unofficial Cardboard" width="30%")

          h4 <a href="/cardboard/CardboardContestRules.pdf">Rules of the Contest</a>
          p.
           Changed your mind?  That’s okay, we know stuff comes up, <a
           href="mailto:juliekremer+contest@google.com">email us</a> and
           we will remove you from the contest and delete all of your submitted information.
          p <a href="/cardboard/CardboardContestRules.pdf">Terms and Conditions Link</a> | <a href="http://www.google.com/policies/">Google Privacy Policy Link</a>

    .c2 &nbsp;




