<!-- for embedded plnkrs -->
<div *ngIf="embedded">
  <div *ngIf="embeddedShow">
    <iframe frameborder="0" width="100%" height="100%" [src]="src"></iframe>
  </div>
  <img *ngIf="!embeddedShow" class="live-example__img" (click)="toggleEmbedded()" [src]="imgSrc" alt="plunker">
</div>
<!-- for inline plnrks -->
<span class="live-example--inlined" *ngIf="!embedded">
    <a [href]="liveExampleUrl" target="_blank" [innerHTML]="liveExampleAnchorText"></a>
    <span *ngIf="viewSourceUrl">(<a [href]="viewSourceUrl">{{srcText}}</a>)</span>
</span><!-- do not put blank lines or spaces after this -->