
p.location-badge.
  exported from <a href="/angular2/pipes.html">angular2/pipes</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/change_detection/pipes/async_pipe.js#L103">angular2/src/change_detection/pipes/async_pipe.js (line 103)</a>

:markdown
  Provides a factory for [AsyncPipe].
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 create

    
    pre.prettyprint
      code.
        create(cdRef)
    
    :markdown

      





  .l-sub-section
    h3 supports

    
    pre.prettyprint
      code.
        supports(obs)
    
    :markdown

      




