
.l-main-section
  h2 async <span class="type">variable</span>
  p(class="module") exported from <a href="/angular2/pipes">angular2/pipes</a>

  :markdown
    Async binding to such types as Observable.
    

