
.l-main-section
  h2 async <span class="type">variable</span>
  p.location-badge.
    exported from <a href="/angular2/pipes.html">angular2/pipes</a>

  :markdown
    Async binding to such types as Observable.
    

