
p.location-badge.
  exported from <a href='../pipes'>angular2/pipes</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/pipes/async_pipe.ts#L33-L130">angular2/src/pipes/async_pipe.ts (line 33)</a>

:markdown
  Implements async bindings to Observable and Promise.
  
  # Example
  
  In this example we bind the description observable to the DOM. The async pipe will convert an
  observable to the
  latest value it emitted. It will also request a change detection check when a new value is
  emitted.
  
   ```
  @Component({
    selector: "task-cmp",
    changeDetection: ON_PUSH
  })
  @View({
    template: "Task Description {{ description | async }}"
  })
  class Task {
   description:Observable<string>;
  }
  
  ```
  
  

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Pipe
    pre.prettyprint
      code.
        @Pipe({name: &#39;async&#39;})


  .l-sub-section
    h3.annotation Injectable
    pre.prettyprint
      code.
        @Injectable()


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_ref: ChangeDetectorRef)
    
    :markdown
      
      




  .l-sub-section
    h3 onDestroy

    
    pre.prettyprint
      code.
        onDestroy()
    
    :markdown
      
      





  .l-sub-section
    h3 transform

    
    pre.prettyprint
      code.
        transform(obj: Observable | Promise&lt;any&gt;, args?: any[])
    
    :markdown
      
      




