
p.location-badge.
  exported from <a href="/angular2/pipes.html">angular2/pipes</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/change_detection/pipes/iterable_changes.js#L515">angular2/src/change_detection/pipes/iterable_changes.js (line 515)</a>

:markdown
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(item)
    
    :markdown
      




  .l-sub-section
    h3 currentIndex

    
    :markdown

      





  .l-sub-section
    h3 item

    
    :markdown

      





  .l-sub-section
    h3 previousIndex

    
    :markdown

      





  .l-sub-section
    h3 toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown

      




