
p.location-badge.
  exported from <a href='../pipes'>angular2/pipes</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/change_detection/pipes/number_pipe.ts#L102-L126">angular2/src/change_detection/pipes/number_pipe.ts (line 102)</a>

:markdown
  Formats a number as local currency.
  
  # Usage
  
      expression | currency[:currencyCode[:symbolDisplay[:digitInfo]]]
  
  where `currencyCode` is the ISO 4217 currency code, such as "USD" for the US dollar and
  "EUR" for the euro. `symbolDisplay` is a boolean indicating whether to use the currency
  symbol (e.g. $) or the currency code (e.g. USD) in the output. The default for this value
  is `false`.
  For more information about `digitInfo` see <a href='DecimalPipe-class.html'><code>DecimalPipe</code></a>
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 transform

    
    pre.prettyprint
      code.
        transform(value: any, args: any[])
    
    :markdown

      
      




