
.l-main-section
  h2 DEFAULT_PIPES <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../pipes'>angular2/pipes</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/pipes/default_pipes.ts#L26-L27">angular2/src/pipes/default_pipes.ts (line 26)</a>

  :markdown
    
    

