
p.location-badge.
  exported from <a href='../pipes'>angular2/pipes</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/change_detection/pipes/iterable_changes.ts#L26-L473">angular2/src/change_detection/pipes/iterable_changes.ts (line 26)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor()
    
    :markdown
      
      




  .l-sub-section
    h3 supports

    
    pre.prettyprint
      code.
        supports(obj: Object)
    
    :markdown
      
      





  .l-sub-section
    h3 collection

    
    :markdown
      
      





  .l-sub-section
    h3 length

    
    :markdown
      
      





  .l-sub-section
    h3 forEachItem

    
    pre.prettyprint
      code.
        forEachItem(fn: Function)
    
    :markdown
      
      





  .l-sub-section
    h3 forEachPreviousItem

    
    pre.prettyprint
      code.
        forEachPreviousItem(fn: Function)
    
    :markdown
      
      





  .l-sub-section
    h3 forEachAddedItem

    
    pre.prettyprint
      code.
        forEachAddedItem(fn: Function)
    
    :markdown
      
      





  .l-sub-section
    h3 forEachMovedItem

    
    pre.prettyprint
      code.
        forEachMovedItem(fn: Function)
    
    :markdown
      
      





  .l-sub-section
    h3 forEachRemovedItem

    
    pre.prettyprint
      code.
        forEachRemovedItem(fn: Function)
    
    :markdown
      
      





  .l-sub-section
    h3 transform

    
    pre.prettyprint
      code.
        transform(collection: any, args?: List&lt;any&gt;)
    
    :markdown
      
      





  .l-sub-section
    h3 check

    
    pre.prettyprint
      code.
        check(collection: any)
    
    :markdown
      
      





  .l-sub-section
    h3 isDirty

    
    :markdown
      
      





  .l-sub-section
    h3 toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown
      
      




