
p.
  <span class="location-badge">exported from <a href="/angular2/pipes">angular2/pipes</a></span>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/change_detection/pipes/keyvalue_changes.js#L21">angular2/src/change_detection/pipes/keyvalue_changes.js (line 21)</a>

:markdown
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor()
    
    :markdown
      




  .l-sub-section
    h3 check

    
    pre.prettyprint
      code.
        check(map)
    
    :markdown
      





  .l-sub-section
    h3 forEachAddedItem

    
    pre.prettyprint
      code.
        forEachAddedItem(fn:Function)
    
    :markdown
      





  .l-sub-section
    h3 forEachChangedItem

    
    pre.prettyprint
      code.
        forEachChangedItem(fn:Function)
    
    :markdown
      





  .l-sub-section
    h3 forEachItem

    
    pre.prettyprint
      code.
        forEachItem(fn:Function)
    
    :markdown
      





  .l-sub-section
    h3 forEachPreviousItem

    
    pre.prettyprint
      code.
        forEachPreviousItem(fn:Function)
    
    :markdown
      





  .l-sub-section
    h3 forEachRemovedItem

    
    pre.prettyprint
      code.
        forEachRemovedItem(fn:Function)
    
    :markdown
      





  .l-sub-section
    h3 isDirty

    
    :markdown
      





  .l-sub-section
    h3 supports

    
    pre.prettyprint
      code.
        supports(obj)
    
    :markdown
      





  .l-sub-section
    h3 supportsObj

    
    pre.prettyprint
      code.
        supportsObj(obj)
    
    :markdown
      





  .l-sub-section
    h3 toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown
      





  .l-sub-section
    h3 transform

    
    pre.prettyprint
      code.
        transform(map)
    
    :markdown
      




