
.l-main-section
  h2 keyValDiff <span class="type">variable</span>
  p.location-badge.
    exported from <a href="/angular2/pipes.html">angular2/pipes</a>

  :markdown
    Structural diffing for `Object`s and `Map`s.
    

