
.l-main-section
  h2 keyValDiff <span class="type">variable</span>
  p(class="module") exported from <a href="/angular2/pipes">angular2/pipes</a>

  :markdown
    Structural diffing for `Object`s and `Map`s.
    

