
p.location-badge.
  exported from <a href="/angular2/pipes.html">angular2/pipes</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/change_detection/pipes/keyvalue_changes.js#L360">angular2/src/change_detection/pipes/keyvalue_changes.js (line 360)</a>

:markdown
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(key)
    
    :markdown
      




  .l-sub-section
    h3 currentValue

    
    :markdown
      





  .l-sub-section
    h3 key

    
    :markdown
      





  .l-sub-section
    h3 previousValue

    
    :markdown
      





  .l-sub-section
    h3 toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown
      




