
p.location-badge.
  exported from <a href='../pipes'>angular2/pipes</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/change_detection/pipes/lowercase_pipe.ts#L3-L34">angular2/src/change_detection/pipes/lowercase_pipe.ts (line 3)</a>

:markdown
  Implements lowercase transforms to text.
  
  # Example
  
  In this example we transform the user text lowercase.
  
   ```
  @Component({
    selector: "username-cmp"
  })
  @View({
    template: "Username: {{ user | lowercase }}"
  })
  class Username {
    user:string;
  }
  
  ```
  
  

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation CONST
    pre.prettyprint
      code.
        @CONST()


.l-main-section
  h2 Members
  .l-sub-section
    h3 supports

    
    pre.prettyprint
      code.
        supports(str: any)
    
    :markdown
      
      





  .l-sub-section
    h3 transform

    
    pre.prettyprint
      code.
        transform(value: string, args?: List&lt;any&gt;)
    
    :markdown
      
      





  .l-sub-section
    h3 create

    
    pre.prettyprint
      code.
        create(cdRef: ChangeDetectorRef)
    
    :markdown
      
      




