
p.location-badge.
  exported from <a href='../pipes'>angular2/pipes</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.27/modules/angular2/src/change_detection/pipes/observable_pipe.ts#L4-L86">angular2/src/change_detection/pipes/observable_pipe.ts (line 4)</a>

:markdown
  Implements async bindings to Observable.
  
  # Example
  
  In this example we bind the description observable to the DOM. The async pipe will convert an
  observable to the
  latest value it emitted. It will also request a change detection check when a new value is
  emitted.
  
   ```
  @Component({
    selector: "task-cmp",
    changeDetection: ON_PUSH
  })
  @View({
    template: "Task Description {{ description | async }}"
  })
  class Task {
   description:Observable<string>;
  }
  
  ```
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_ref: ChangeDetectorRef)
    
    :markdown
      
      




  .l-sub-section
    h3 supports

    
    pre.prettyprint
      code.
        supports(obs)
    
    :markdown

      
      





  .l-sub-section
    h3 onDestroy

    
    pre.prettyprint
      code.
        onDestroy()
    
    :markdown

      
      





  .l-sub-section
    h3 transform

    
    pre.prettyprint
      code.
        transform(obs: Observable)
    
    :markdown

      
      




