/* #docregion */
cb-toggle {
	cursor: pointer ;
	display: table ;
	height: 26px ;
	line-height: 27px ;
	margin-bottom: 16px ;
	user-select: none ;
		-moz-user-select: none ;
		-webkit-user-select: none ;
}

cb-toggle div.switch {
	background-color: #333333 ;
	border-radius: 26px 26px 26px 26px ;
	display: inline-block ;
	height: 26px ;
	overflow: hidden ;
	position: relative ;
	width: 55px ;
}

cb-toggle span.thumb {
	background-color: #F0F0F0 ;
	border-radius: 100px ;
	height: 20px ;
	left: 0px ;
	margin-left: 4px ;
	position: absolute ;
	transition: all 200ms ease ;
		-moz-transition: all 200ms ease ;
		-webkit-transition: all 200ms ease ;
	top: 3px ;
	width: 20px ;
}

cb-toggle span.label {
	display: inline-block ;
	margin-left: 7px ;
	text-transform: uppercase ;
	vertical-align: top ;
}

cb-toggle.for-on div.switch {
	background-color: #30659B ;
}

cb-toggle.for-on span.thumb {
	left: 100% ;
	margin-left: -24px ;	
}

form {
	border: 1px dashed #CCCCCC ;
	border-radius: 4px 4px 4px 4px ;
	padding: 20px 20px 20px 20px ;
}

form p {
	margin: 0px 0px 0px 0px ;
}
