.cta-bar
  a(href="/docs/quickstart.html" class="cta-primary button button-large button-shield md-raised md-primary" md-button) Learn in 5 Min
  a(href="download.html" class="cta-secondary button button-large button-secondary" md-button) Download
