.cta-bar
  a(href="/docs/js/latest/quickstart.html" class="button button-large button-shield md-raised md-primary" md-button) Learn in 5 Min
  a(href="download/" class="button button-large md-raised md-primary" md-button) Download
