nav.side-nav.l-pinned-left.l-layer-4.l-offset-nav
  .side-nav-search
    input(type="search" placeholder="Search Docs...")

  ul.side-nav-primary
    li <a href="/docs/quickstart.html">Quick Start</a>
    li <a href="/docs/guide.html">Guide</a>
