if current.path[1]
  - var language = current.path[1]
if current.path[2]
  - var version = current.path[2].replace(/\_+/gm, ".")
if version && language
  - var styleguide = "/docs/"+language+"/"+ version +"/styleguide.html"
else
  - var styleguide = "/docs/ts/latest/styleguide.html"

.main-footer
  nav.background-silver.grid-fluid

    .c3.main-footer-branding
      .logo-inverse-large

    .c2
      h3.text-headline LIBRARIES

      ul.text-body
        li <a href="/"> Angular 2.0</a>
        li <a href="https://angularjs.org/"> Angular 1 for JS</a>
        li <a href="https://material.angularjs.org"> Angular Material</a>
        li <a href="https://www.firebase.com/docs/web/libraries/angular/"> AngularFire</a>

    .c2
      h3.text-headline LEARN

      ul.text-body
        li <a href="/docs/ts/latest/quickstart.html"> 5 Min Quickstart</a>
        li <a href="/docs/ts/latest/guide/"> Step by Step Guide</a>
        li <a href="/docs/ts/latest/api/"> Full API</a>
        li <a href="/docs/ts/latest/resources.html"> Resources</a>
        li <a href="http://goo.gl/sj0Nk1">Design Docs &amp; Notes</a>

    .c2
      h3.text-headline HELP

      ul.text-body
        li <a href="https://groups.google.com/forum/#!forum/angular"> Google Group</a>
        li <a href="https://gitter.im/angular/angular"> Chat Room</a>
        li <a href="https://github.com/angular/angular/issues"> Report an Issue</a>

    .c3
      h3.text-headline COMMUNITY

      ul.text-body
        li <a href="https://blog.angularjs.org/"> Blog</a>
        li <a href="https://plus.sandbox.google.com/+AngularJS/posts"> Google+</a>
        li <a href="https://twitter.com/angularjs"> Twitter</a>
        li <a href="https://github.com/angular/angular"> GitHub</a>


  footer(class="background-steel")
    small.text-caption Powered by Google ©2010-2016. Code licensed under an <a href="/license" class="text-snow">MIT-style License</a>. Documentation licensed under <a class="text-snow" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
    a(aria-label="View Style Guide" href=styleguide title="Style Guide" class="styleguide-trigger text-snow" md-button)
      span.icon-favorite
