if current.path[1]
  - var language = current.path[1]
if current.path[2]
  - var version = current.path[2].replace(/\_+/gm, ".")
if version && language
  - var styleguide = "/docs/"+language+"/"+ version +"/styleguide.html"
else
  - var styleguide = "/docs/ts/latest/styleguide.html"

.main-footer
  nav.background-blue-grey-900.grid-fluid

    .c3.main-footer-branding
      .logo-inverse-large

    .c2
      h3.text-headline RESOURCES

      ul.text-body
        // TODO: (ericjim) make a libraries page to showcase all angular 2 libraries
        //li <a href="/libraries.html">Libraries</a>
        li <a href="/about/">About</a>
        li <a href="/resources/">Books & Training</a>
        li <a href="/resources/">Tools & Libraries</a>
        li <a href="/resources/">Community</a>
        li <a href="/presskit.html">Press Kit</a>

    .c2
      h3.text-headline HELP

      ul.text-body
        li <a href="http://stackoverflow.com/questions/tagged/angular2">Stack Overflow</a>
        li <a href="https://gitter.im/angular/angular">Gitter</a>
        li <a href="https://groups.google.com/forum/#!forum/angular"> Google Group</a>
        li <a href="https://github.com/angular/angular/issues"> Report Issues</a>
        li <a class="footer-feedback" ng-click="appCtrl.openFeedback()" aria-label="Submit feedback on this page"> Site Feedback</a>

    .c2
      h3.text-headline COMMUNITY

      ul.text-body
        li <a href="/events.html">Events</a>
        li <a href="http://www.meetup.com/topics/angularjs/">Meetups</a>
        li <a href="https://twitter.com/angularjs"> Twitter</a>
        li <a href="https://github.com/angular/angular"> GitHub</a>
        li <a href="/contribute.html"> Contribute</a>

    .c2
      h3.text-headline LANGUAGES

      ul.text-body
        li <a href="https://angular.cn/">中文版</a>

  footer(class="background-steel")
    small.text-caption Powered by Google ©2010-2016. Code licensed under an <a href="/license" class="text-snow">MIT-style License</a>. Documentation licensed under <a class="text-snow" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
    a(aria-label="View Style Guide" href=styleguide title="Style Guide" class="styleguide-trigger text-snow" md-button)
      span.icon-favorite
