nav.footer

  section
    h3 About
    ul
      li <a href="#"> Press Kit</a>

  p Created by Google ©2010-2015
  p Code licensed under the The MIT License. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.