.main-footer
  nav(class="background-silver" layout="row" layout-sm="column")

    section(flex)
      p logo here

    section(flex)
      h3.text-headline ANGULAR

      ul.text-body
        li <a href="#"> Angular 2.0</a>
        li <a href="#"> Angular 1.X</a>
        li <a href="#"> AngularDart 1.X</a>
        li <a href="#"> Angular Material</a>
        li <a href="#"> AngularFire</a>

    section(flex)
      h3.text-headline LEARN

      ul.text-body
        li <a href="#"> 5 Min Quickstart</a>
        li <a href="#"> Angular 1.X</a>
        li <a href="#"> AngularDart 1.X</a>
        li <a href="#"> Angular Material</a>
        li <a href="#"> AngularFire</a>


    section(flex)
      h3.text-headline HELP

      ul.text-body
        li <a href="#"> Angular 2.0</a>
        li <a href="#"> Angular 1.X</a>
        li <a href="#"> AngularDart 1.X</a>
        li <a href="#"> Angular Material</a>
        li <a href="#"> AngularFire</a>


    section(flex)
      h3.text-headline COMMUNITY

      ul.text-body
        li <a href="#"> Angular 2.0</a>
        li <a href="#"> Angular 1.X</a>
        li <a href="#"> AngularDart 1.X</a>
        li <a href="#"> Angular Material</a>
        li <a href="#"> AngularFire</a>


  footer(class="background-steel")
    small.text-caption Powered by Google ©2010-2015. Code licensed under the The <a href="#" class="text-snow">MIT License</a>. Documentation licensed under <a class="text-snow" href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.