if current.path[1]
  - var language = current.path[1]
if current.path[2]
  - var version = current.path[2].replace(/\_+/gm, ".")
if version && language
  - var styleguide = "/docs/"+language+"/"+ version +"/styleguide.html"
else
  - var styleguide = "/docs/ts/latest/styleguide.html"

div(class="main-footer" data-swiftype-index="false")
  nav.background-midnight.grid-fluid

    .c3.main-footer-branding
      .logo-inverse-large

  footer(class="background-midnight")
    small.text-caption Powered by Google ©2010-2017. Code licensed under an <a href="/license">MIT-style License</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
    a(aria-label="View Style Guide" href=styleguide title="Style Guide" class="styleguide-trigger")
      span.icon-favorite
