header(class="background-sky l-relative")

    .hero.background-superhero-paper.is-large
        img(class="hero-logo" src='/resources/images/logos/angular2/angular.svg')
        h1.text-headline #{title}<br>#{subtitle}
        a(href="/docs/ts/latest/quickstart.html" class="hero-cta md-raised button button-large button-plain" md-button) Get Started
        
    announcement-bar
      .announcement-bar-slide.clearfix
        img(src="/resources/images/logos/angular2/angular-banner-logo-grey.png" width="64")
        p Test-drive <strong>@angular/material</strong>: 22 components now in beta.
        a(href="https://material.angular.io/" target="_blank" class="button md-button") Try now
          
