header(class="background-sky")
  .hero.background-superhero-paper.is-large
    h1.text-headline.hero-logo #{title}<br>#{subtitle}

    .hero-cta
      a(href="/docs/ts/latest/quickstart.html" class="md-raised button button-large button-plain" md-button) Get Started

.banner.banner-floaty
  .banner-ng-annoucement
    div(class="banner-text")
      p Watch the ng-conf Live Stream May 4th-6th.&nbsp;
    div(class="banner-button")
      a(href="https://www.ng-conf.org/#/extended" target="_blank" class="button md-button") View Live Stream
