header(class="background-sky")
  div.hero.background-sf-paper.is-large

    h1.text-headline.hero-logo Angular is a modern javascript framework for building professional web applications.

    .hero-cta
      a(href="/docs/quickstart.html" class="md-raised button button-large button-plain" md-button) Learn in 5 mins
      a(href="/download.html" class="button button-large button-heavy"  md-button) Download

      != partial("_social-icons")