header(class="background-sky l-relative")

    .hero.background-superhero-paper.is-large
        img(class="hero-logo" src='/resources/images/logos/angular2/angular.svg')
        h1.text-headline #{title}<br>#{subtitle}
        a(href="/docs/ts/latest/quickstart.html" class="hero-cta md-raised button button-large button-plain" md-button) Get Started

    .announcement-bar.shadow-2.clearfix
        img(src="/resources/images/logos/angular2/angular.svg")
        p Join our Special Angular Meetup 9/14 @ 7pm PT
        a(href="https://www.youtube.com/user/angularjs/live" target="_blank" class="button " + "md-button") Watch Live