header(class="background-sky l-relative")

    .hero.background-superhero-paper.is-large
        img(class="hero-logo" src='/resources/images/logos/angular/angular.svg')
        h1.text-headline #{title}<br>#{subtitle}
        a(href="/docs/ts/latest/quickstart.html" class="hero-cta md-raised button button-large button-plain" md-button) Get Started
        
    announcement-bar
      .announcement-bar-slide.clearfix
        img(src="/resources/images/logos/angular/angular-banner-logo-grey.png" width="64")
        p Angular v4.0 is out! Smaller, faster, no biggie...
        a(href="http://angularjs.blogspot.com/2017/03/angular-400-now-available.html" target="_blank" class="button md-button") Learn more
          
