header(class="background-sky")
  .hero.background-sf-paper.is-large
    h1.text-headline.hero-logo #{title}

    .hero-cta
      a(href="/docs/js/latest/quickstart.html" class="md-raised button button-large button-plain" md-button) Learn in 5 mins
      a(href="/download.html" class="button button-large button-navy"  md-button) Download

    != partial("_social-icons")


.banner.is-centered
  .banner-ng-annoucement
    h3.text-display-1 NG-CONF 2015
    h4.text-subhead March 5-6. Salt Lake City, Utah

  a(href="http://www.ng-conf.org/" class="button button-large button-banner"  md-button) Watch ng-conf