header(class="background-sky")
  .hero.background-superhero-paper.is-large
    h1.text-headline.hero-logo #{title}<br>#{subtitle}

    .hero-cta
      a(href="/docs/ts/latest/quickstart.html" class="md-raised button button-large button-plain"
      md-button) Get Started