header(class="background-sky l-relative")

    .hero.background-superhero-paper.is-large
        img(class="hero-logo" src='/resources/images/logos/angular2/angular.svg')
        h1.text-headline #{title}<br>#{subtitle}
        a(href="/docs/ts/latest/quickstart.html" class="hero-cta md-raised button button-large button-plain" md-button) Get Started


    announcement-bar
      .announcement-bar-slide.clearfix
        img(src="/resources/images/logos/angular2/angular-logo-banner.png")
        p Angular 2.0 Final Release Now Live!
        a(href="http://angularjs.blogspot.com/2016/09/angular2-final.html" target="_blank" class="button " + "md-button") Learn More

      .announcement-bar-slide.clearfix
        img(src="/resources/images/logos/ng-europe/ng-europe-logo.png")
        p Join us for <strong>ng-europe in Paris</strong>, France this October!
        a(href="https://ngeurope.org/?utm_source=angular&utm_medium=banner&utm_campaign=angular-banner" target="_blank" class="button md-button") Register now