header(class="background-sky")
  .hero.background-superhero-paper.is-large
    h1.text-headline.hero-logo #{title}<br>#{subtitle}

    .hero-cta
      a(href="/docs/ts/latest/quickstart.html" class="md-raised button button-large button-plain" md-button) Get Started

  .banner.banner-floaty
    .banner-ng-annoucement
      div(class="banner-text" align="center")
        p Join us for AngularConnect in London, UK this September!
      div(class="banner-button")
        a(href="http://angularconnect.com/?utm_source=angular&utm_medium=banner&utm_campaign=angular-banner" target="_blank" class="button md-button") Register now