textFormat = ''

if current.path[4] && current.path[3] == 'api'
  textFormat = 'is-standard-case'


header(class="hero background-sky")
  h1(class="hero-title text-display-1 #{textFormat}") #{title}

  if subtitle
    h2.hero-subtitle.text-subhead #{subtitle}

  else if current.path[0] == "docs"
    != partial("_version-dropdown")

  != partial("_social-icons")