header(class="background-sky")
  .hero.background-superhero-paper.is-large
    h1.text-headline.hero-logo #{title}<br>#{subtitle}

    .hero-cta
      a(href="/docs/ts/latest/quickstart.html" class="md-raised button button-large button-plain" md-button) Get Started

  .announcement-bar.shadow-2.clearfix
    div.announcement-bar-text
      p Join us at <strong>ng-erurope in Paris</strong>, France. Oct. 25th-26th.

    a(href="https://ngeurope.org/?utm_source=angular&utm_medium=banner&utm_campaign=angular-banner" target="_blank" class="button md-button announcement-bar-cta") Register now