- var textFormat = ''
- var headerTitle = title + (typeof varType !== 'undefined' ? (': ' + varType) : '');

if current.path[4] && current.path[3] == 'api'
  - var textFormat = 'is-standard-case'

header(class="hero background-sky")
  h1(class="hero-title text-display-1 #{textFormat}") #{headerTitle}

  if subtitle
    h2.hero-subtitle.text-subhead #{subtitle}

  else if current.path[0] == "docs"
    != partial("_version-dropdown")