header(class="background-sky")
  .hero.background-lon-paper.is-large
    h1.text-headline.hero-logo #{title}

    .hero-cta
      a(href="/docs/ts/latest/quickstart.html" class="md-raised button button-large button-plain"
      md-button) Learn in 5 mins
      a(href="/download/" class="button button-large button-navy"  md-button) Download

    != partial("_social-icons")


.banner.is-centered

  a(href="http://angularconnect.com/?utm_source=angular-io&amp;utm_medium=angular-io&amp;utm_campaign=angular-io" class="button button-large"  md-button)
    .banner-ng-annoucement.angularconnect-logo
      h3.text-display-1 AngularConnect 2015
      h4.text-subhead The European Angular Conference
  div
    a(href="https://www.youtube.com/channel/UCzrskTiT_ObAk3xBkVxMz5g" class="button button-xlarge button-navy"  md-button) Watch Track 1
    span &nbsp; &nbsp;
    a(href="https://www.youtube.com/channel/UCBXsUGFxL1ilvPgQ_WXR4mw" class="button button-xlarge button-navy"  md-button) Watch Track 2

