header(class="hero is-large background-sky")

  h1.text-headline.hero-logo Angular is a modern javascript framework for building professional web applications.

  .hero-cta
    a(href="/docs/quickstart.html") Learn in 5 mins
    a(href="/download.html" class="md-font icon-home") Download

    != partial("_social-icons")