header(class="background-sky")
  .hero.background-superhero-paper.is-large
    h1.text-headline.hero-logo #{title}<br>#{subtitle}

    .hero-cta
      a(href="/docs/ts/latest/quickstart.html" class="md-raised button button-large button-plain" md-button) Get Started

  .banner.banner-floaty
    .banner-ng-annoucement
      div(class="banner-text" align="center")
        p Angular Content in Chinese<br/>Angular 中文资源
      div(class="banner-button")
        a(href="https://angular.cn" target="_blank" class="button md-button") Visit angular.cn