header(class="background-sky l-relative")

  .hero.background-superhero-paper.is-large
    img(class="hero-logo" src='/resources/images/logos/angular2/angular.svg')
    h1.text-headline #{title}<br>#{subtitle}
    a(href="/docs/ts/latest/quickstart.html" class="hero-cta md-raised button button-large button-plain" md-button) Get Started

  .announcement-bar.shadow-2.clearfix
    img(src="/resources/images/logos/ng-europe/ng-europe-logo.png")
    p Join us at <strong>ng-europe in Paris</strong>, France. Oct. 25th-26th.
    a(href="https://ngeurope.org/?utm_source=angular&utm_medium=banner&utm_campaign=angular-banner" target="_blank" class="button md-button") Register now