header(class="background-sky")
  .hero.background-superhero-paper.is-large
    h1.text-headline.hero-logo #{title}<br>#{subtitle}

    .hero-cta
      a(href="/docs/ts/latest/quickstart.html" class="md-raised button button-large button-plain"
      md-button) Get Started

.banner.is-centered
  .banner-ng-annoucement
    h4 Announcing Angular Attack — a 48 hour online hackathon on May 14 - 15th, 2016.&nbsp;
      a(href="https://www.angularattack.com/" target="_blank") Register Today