md-toolbar(class="main-nav background-regal l-pinned-top l-layer-5")
  nav
    h1 <a href="/">Angular <sup>by Google</sup></a>

    ul
      li <a class="main-nav-button" href="/features.html">Features</a>
      li <a class="main-nav-button" href="/docs/">Docs</a>
      li <a class="main-nav-button" href="/about/">About</a>
      li <a class="main-nav-button" href="/contribute.html">Contribute</a>

    a(class="cta main-nav-button has-icon" href="/download.html")  <span class="icon icon-cloud-download"></span> Download