md-toolbar(layout="row" class="main-nav" md-scroll-shrink)
  nav.md-toolbar-tools
    h1 <a href="/">Angular <sup>by Google</sup></a>

    ul
      li <md-button href="/features.html">Features</md-button>
      li <md-button href="/docs/">Docs</md-button>
      li <md-button href="/about/">About</md-button>
      li <md-button href="/install/">Install</md-button>
