nav
  h1 <a href="/">Angular <sup>by Google</sup></a>

  ul
    li <a href="/features.html">Features</a>
    li <a href="/docs/">Docs</a>
    li <a href="/about/">About</a>
    li <a href="/install/">Install</a>
