- var language = current.path[1] || 'ts'
- if (language !== 'ts' || language !== 'js' || language !== 'dart') { language = 'ts'; }

nav(data-swiftype-index="false" class="main-nav l-pinned-top l-layer-5", scroll-y-offset-element)
  h1 <a href="/docs/ts/latest">Angular v2 Archive</a>

  button(class="main-nav-button main-nav-mobile-trigger l-right" aria-label="View Menu" ng-click="appCtrl.toggleMainMenu($event)" md-button) Site Menu <span class="icon icon-arrow-drop-down"></span>

  ul(ng-class="appCtrl.showMainNav ? 'is-visible' : ''")
    li.l-left <a class="main-nav-button" href="https://angular.io" md-button>Current Angular</a>
    li.l-left <a class="main-nav-button" href="/docs/#{language}/latest/" md-button>Docs</a>
    li.l-right <a class="main-nav-button" href="/docs/ts/latest/quickstart.html" md-button>Get Started</a>
