<!-- Angular Material Dependencies -->
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.js")

<!-- Angular Material Javascript using RawGit to load directly from `bower-material/master` -->
script(src="https://rawgit.com/angular/bower-material/master/angular-material.js")

script(src="/resources/js/site.js")
