language = current.path[1]
version = current.path[2]
title = "Some Version"

if language == 'js'
  if version == "latest"
    title = 'Javascript ' + jsLatest

if language == 'dart'
  if version == "latest"
    title = 'Dart ' + dartLatest


filter = /(\.html$)/
replace = /(\.html$)|(^index\.html$)/

mixin tree(head, tail)
  for val, key in head
    if key !== '.git' && key !== '_data'
      li #{key}


mixin tree(public.docs.js, "")
mixin tree(public.docs.dart, "")


h2.hero-subtitle.text-subhead
  button(md-button ng-click="showVersionMenu($event)") #{title}  <span class="icon-arrow-drop-down"></span>

