language = current.path[1]
version = current.path[2]
title = "Some Version"

if language == 'js'
  if version == "latest"
    title = 'Javascript ' + jsLatest

if language == 'dart'
  if version == "latest"
    title = 'Dart ' + dartLatest

h2.hero-subtitle.text-subhead
  button(md-button ng-click="showVersionMenu($event)") #{title}  <span class="icon-arrow-drop-down"></span>
