$announcement-bar-width: 752px;



.announcement-bar {
  background: $white;
  box-sizing: border-box;
  color: $blue-grey-500;
  height: 104px;
  left: 50%;
  margin-left: -($announcement-bar-width / 2);
  overflow: hidden;
  padding: $unit * 4;
  position: absolute;
  top: 600;
  width: $announcement-bar-width;

  .announcement-bar-text p {
    font-size: 18px;
    float: left;
    line-height: $unit * 5;
    margin: 0;
    padding: 0;
  }

  .announcement-bar-cta {
    background: rgba($blue-grey-50, .87);
    border-radius: 2px;
    float: right;
    line-height: $unit * 5;
    margin: 0;
    padding: 0 ($unit * 5);
  }
}