/*
* Announcment Bar Module
*
* A module displaying time senstive announcemnts
*
*/


/*
* Variables
*/

$announcement-bar: '.announcement-bar';
$announcement-bar-height: 104px;
$announcement-bar-width: 752px;


/*
* Class
*/

#{$announcement-bar} {
  background: $white;
  bottom: 0;
  box-sizing: border-box;
  color: $blue-grey-500;
  height: $announcement-bar-height;
  left: 50%;
  margin-bottom: -($announcement-bar-height / 2);
  margin-left: -($announcement-bar-width / 2);
  overflow: hidden;
  padding: $unit * 4;
  position: absolute;
  width: $announcement-bar-width;

  img, p {
    float: left;
  }

  img {
    height: 40px;
    margin: 0 ($unit) 0 0;
  }

  p {
    font-size: 18px;
    line-height: $unit * 5;
    margin: 0;
    padding: 0;
  }

  .button,
  .button.md-button {
    background: rgba($blue-grey-50, .87);
    border-radius: 2px;
    color: $blue-grey-500;
    float: right;
    font-size: 14px;
    line-height: $unit * 5;
    margin: 0;
    padding: 0 ($unit * 5);
    transition: all .3s;

    &:hover {
      background: $blue-grey-50;
      box-shadow: 0 2px 2px rgba($black, 0.24), 0 0 2px rgba($black, 0.12);
      color: $blue-500;
    }
  }


  #{$announcement-bar}-slide {
    bottom: 0;
    box-sizing: border-box;
    height: $announcement-bar-height;
    left: 0;
    margin-bottom: -$announcement-bar-height;
    opacity: 0;
    padding: $unit * 4;
    position: absolute;
    right: 0;
    transition: all .8s;
    width: $announcement-bar-width;
    z-index: $layer-1;

    &.is-visible  {
      margin-bottom: 0;
      opacity: 1;
      z-index: $layer-2;
    }
  }


  /*
  * Mobile Styles
  *
  */

  @include respond-to('mobile') {
    height: auto;
    margin: 0;
    padding: ($unit * 4) ($unit * 6);
    position: static;
    text-align: center;
    width: auto;

    &.shadow-2 {
      box-shadow: 0 2px 2px rgba($black, 0.24), 0 0 2px rgba($black, 0.12);
    }

    img, p {
      float: none;
    }

    .button {
      float: none;
      display: block;
      margin-top: $unit * 2;
    }
  }
}