@mixin icon {
  line-height: 14px;
  &.decorator:before {
    content: '@';
    background: $blueberry;
  }
  &.directive:before {
    content: 'D';
    background: #db4437;
  }
  &.class:before {
    content: 'C';
    background: #4285f4;
  }
  &.interface:before {
    content: 'I';
    background: #0097a7;
  }
  &.function:before {
    content: 'F';
    background: #0f9d58;
  }
  &.const:before,
  &.enum:before {
    content: 'N';
    background: #757575;
  }
  &.var:before,
  &.let:before {
    content: 'V';
    background: #9575cd;
  }
  &:before {
    display: inline-block;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    text-align: center;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    margin-right: $unit;
    float: left;
  }
}

.api-key {
  dt, dd {
    display: inline-block;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    padding: $unit;
  }
  dt {
    padding-left: 0;
  }
  dd {
    @include icon;
    margin: 0 0 0 ($unit);
    cursor: pointer;
    &.active {
      background: #d5d9dc;
      border-radius: 3px;
    }
  }
}

input.api-filter {
  display: block;
  max-width: ($unit * 100);
  width: 100%;
  line-height: 18px;
  padding: $unit;
  position: relative;
  left: ($unit * -1);
}

.docs-content {
  .api-list {
    list-style: none;
    padding: 0 0 ($unit * 4);
    overflow: hidden;
    .api-item {
      font-size: 14px;
      font-family: Roboto, sans-serif;
      margin: 0;
      line-height: 14px;
      padding: $unit $unit $unit 0;
      float: left;
      width: 33%;
      min-width: 220px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      box-sizing: border-box;
      a {
        text-decoration: none;
        color: black;
      }
      .symbol {
        @include icon;
      }
    }
  }
}
