/*
* API Home Page
*
*/



/*
* API Filter Menu
*
*/

.api-filter {
  .form-select-menu {
    float: left;
  }

  .form-search {
    float: left;
  }
}


/*
* API Class List
*
*/

.docs-content .api-list {
  list-style: none;
  margin: 0 0 ($unit * 6) 0;
  padding: 0;
  overflow: hidden;

  li {
    font-size: 14px;
    margin: 0 0 ($unit * 2) 0;
    line-height: 14px;
    padding: 0;
    float: left;
    width: 33%;
    min-width: 220px;
    text-overflow: ellipsis;
    white-space: nowrap;

    .symbol {
      margin-right: $unit;
    }

    a {
      color: $blue-grey-600;
      display: inline-block;
      line-height: $unit * 2;
      padding: 0 ($unit * 2) 0 0;
      text-decoration: none;
      transition: all .3s;

      &:hover {
        background: $blue-grey-50;
        color: $blue-500;
      }
    }
  }
}

.docs-content .h2-api-docs,
.docs-content .h2-api-docs:first-of-type {
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
}

.code-links {
  a {
    code, .api-doc-code {
      color: #1E88E5 !important;
    }
  }
}

.openParens {
  margin-top: 15px;
}

.endParens {
  margin-bottom: 20px !important;
}

p {

  &.selector {
    margin: 0;
  }

  &.location-badge {
    margin: 0 0 16px 16px !important;
  }

  .api-doc-code {
    border-bottom: 0px;

    :hover {
      border-bottom: none;
    }
  }
}

.row-margin {
  margin-bottom: 36px;
  h2 {
    line-height: 28px;
  }
}

.code-margin {
  margin-bottom: $unit;
}

.hr-margin {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $lightgrey;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 0;
}

.no-bg {
  background: none;
  padding: 0;
}

.no-bg-with-indent {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;
  margin-top: 6px;
  margin-bottom: 0;
  background: none;
}

.code-background {
  padding: 0 5px 0;

  span.pln {
    color: #1E88E5 !important;
  }
}

.code-anchor {
  cursor: pointer;
  text-decoration: none;

  // Override highlight.js
  .kwd {
    color: #1E88E5 !important;
  }

  &:hover {
    text-decoration: underline;
  }
}

.api-doc-code {
  font-size: 14px;
  color: #1a2326;

  // the last .pln (white space) creates additional spacing between sections of the api doc. Remove it.
  &.no-pln {
    .pln:last-child {
      display: none;
    }
  }
}


@media screen and (max-width: 600px) {
  .docs-content {
    // Overrides display flex from angular material.
    // This was added because Safari doesn't play nice with layout="column".
    // Look of API doc in Chrome and Firefox remains the same, and is fixed for Safari.
    .layout-xs-column {
      display: block !important;
    }
  }

  .api-doc-code {
    font-size: 12px;
  }

  p.location-badge {
    position: relative;
    font-size: 11px;
  }
}
