/*
* Banner
*
* Addtional information about the page located below the hero
*/

.banner {
  background: rgba($blue-grey-50, .24);
  border-bottom: 1px solid $blue-grey-50;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 200;
  padding: ($unit * 4) ($unit * 6);
  min-height: 97px;

  include respond-to('mobile') {
    padding: ($unit * 2);
  }

  &.is-plain {
    background: $white;
    height: auto;
    overflow: visible;
  }


  p, .text-body {
    color: $blue-grey-500;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
  }
}
