/*
* Banner
*
* Addtional announcements that generally follow a hero
*/

.banner-floaty {
  width: 920px;
  height: 112px;
  background-color: rgba(255, 255, 255, 1) !important;
  -moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.5);
  position: absolute;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  display: table;
  padding: 0 !important;

  @media handheld and (max-width: $phone-breakpoint),
  screen and (max-device-width: $phone-breakpoint),
  screen and (max-width: $tablet-breakpoint) {
    padding: 0;
  }

  @media(max-width: 959px) {
    width: 100%;
    height: 56px;
    padding: 16px 0 !important;
  }

  .banner-ng-annoucement {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    height: 100%;

    @media(max-width: 959px) {
      flex-direction: column;
      justify-content: space-between;
      align-content: space-between;

      .banner-text {
        padding: 16px 0;
        margin: 0 16px;
      }
    }

    .banner-text {
      font-size: 16px;
      color: #607D8B;
    }

    .banner-button {
      a {
        color: #607D8B;
        background-color: #ECEFF1;
        padding: 0;
        line-height: 36px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    @media handheld and (max-width: $phone-breakpoint),
    screen and (max-device-width: $phone-breakpoint),
    screen and (max-width: $tablet-breakpoint) {
      background: none;
      padding-left: 0px;
      margin: 0px 0px $unit 0px;
      text-align: center;
    }
  }
}

.banner {
  background: $mist;
  padding: ($unit * 2) ($unit * 6);
  min-height: $unit * 1;

  @media handheld and (max-width: $phone-breakpoint),
  screen and (max-device-width: $phone-breakpoint),
  screen and (max-width: $tablet-breakpoint) {
    padding: ($unit * 2);
  }

  &.is-centered {
    text-align: center;
  }

  .button.button-large {
    @media handheld and (max-width: $phone-breakpoint),
    screen and (max-device-width: $phone-breakpoint),
    screen and (max-width: $tablet-breakpoint) {
      display: block;
    }
  }

  .ng-conf-logo {
    background: url('/resources/images/logos/ng-conf/ng-conf-shield.png') left no-repeat;
    padding: $unit 68px;
  }

  .angularconnect-logo {
    background: url('/resources/images/logos/angularconnect/angularconnect-logo-med.png') left no-repeat;
    padding: $unit 0 $unit 108px;
  }

  h3 {
    opacity: .87;
    line-height: 34px;
    margin: 0;
  }

  h4 {
    line-height: 24px;
  }

  p,
  h4 {
    margin: 0px;
  }
}