/*
* Banner
*
* Addtional announcements that generally follow a hero
*/

.banner {
  background: $mist;
  padding: ($unit * 2) ($unit * 6);
  min-height: $unit * 1;

  @media handheld and (max-width: $phone-breakpoint),
  screen and (max-device-width: $phone-breakpoint),
  screen and (max-width: $tablet-breakpoint) {
    padding: ($unit * 2);
  }

  &.is-centered {
    text-align: center;
  }

  .button.button-large {
    @media handheld and (max-width: $phone-breakpoint),
    screen and (max-device-width: $phone-breakpoint),
    screen and (max-width: $tablet-breakpoint) {
      display: block;
    }
    padding: 0;
  }

  .ng-conf-logo {
    background: url('/resources/images/logos/ng-conf/ng-conf-shield.png') left no-repeat;
    padding: $unit 68px;
  }

  .angularconnect-logo {
    background: url('/resources/images/logos/angularconnect/angularconnect-logo-med.png') left no-repeat;
    padding: $unit 0 $unit 108px;
  }

  .banner-ng-annoucement {
    display: inline-block;
    text-align: left;

    @media handheld and (max-width: $phone-breakpoint),
    screen and (max-device-width: $phone-breakpoint),
    screen and (max-width: $tablet-breakpoint) {
      background: none;
      padding-left: 0px;
      margin: 0px 0px $unit 0px;
      text-align: center;
    }
  }

  h3 {
    opacity: .87;
    line-height: 34px;
    margin: 0;
  }

  h4 {
    line-height: 24px;
  }

  p,
  h4 {
    margin: 0px;
  }
}