/*
* Banner
*
* Addtional announcements that generally follow a hero
*/

.banner {
  background: $mist;
  padding: $unit * 4;
  min-height: $unit * 12;

  &.is-centered {
    text-align: center;
  }

  .banner-ng-annoucement {
    background: url('/resources/images/logos/ng-conf/ng-conf-shield.png') 0px 0px no-repeat;
    padding-left: 68px;
    margin-right: $unit * 3;
    display: inline-block;
  }

  h3 {
    opacity: .87;
    line-height: 34px;
    margin: 0;
  }

  h4 {
    line-height: 24px;
  }

  p,
  h4 {
    margin: 0px;
  }
}