.bio-card {
  max-width: 360px;
  margin-bottom: $unit * 4;
  overflow: hidden;

  h3 {
    margin: 0;
    white-space: nowrap;
  }

  .bio-card-twitter {
    margin-bottom: $unit * 2;
    font-size: 16px;
    text-decoration: none;
    display: block;
  }

  img {
    width: 100%;
  }

  p {
    height: 72px;
    overflow: hidden;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
  }
}