.bio-card {
  max-width: 360px;
  margin-bottom: $unit * 4;
  overflow: hidden;

  h3 {
    margin: 0px 0px $unit 0px;
    white-space: nowrap;
  }

  .bio-link {
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin: 0px $unit ($unit * 2) 0px
  }

  img {
    width: 100%;
  }

  p {
    height: 72px;
    overflow: hidden;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }
}