/*
* Button Styles
*
*/

.button {
  display: inline-block;
  line-height: $unit * 4;
  padding: 0px ($unit * 2);
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;

  // SIZES
  &.button-large {
    font-size: 15px;
    line-height: $unit * 6;
    padding: 0px ($unit * 3);
  }

  // COLORS
  &.button-plain {
    background: $snow;
    color: rgba($steel, .87);
  }

  &.button-heavy {
    background: $ocean;
    color: rgba($snow, .87);
  }
}

