.callout {
  @extend .alert;
  padding: 0px;

  header {
    color: $white;
    padding: 0px ($unit * 2);
    line-height: $unit * 3;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
  }

  p {
    padding: $unit * 2;
    margin: 0px;
    font-size: 14px;
  }

  &.is-critical {
    border-color: $red-700;
    background: rgba($red-50, .24);

    header {
      background: $red-700;
    }
  }

  &.is-important {
    border-color: $amber-700;
    background: rgba($amber-50, .24);

    header {
      background: $amber-700;
    }
  }

  &.is-helpful {
    border-color: $blue-600;
    background: rgba($blue-50, .24);

    header {
      background: $blue-600;
    }
  }
}