.cheatsheet {
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  .downloads {
    overflow: hidden;
    a {
      float: left;
      display: block;
      margin: 0 ($unit * 4) 0 0;
      text-decoration: none;
      span {
        float: left;
        display: block;
        font-size: 34px;
        margin: 0 $unit 0 0;
        line-height: 35px;
      }
      h4 {
        margin: 0;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        width: auto;
      }
      h5 {
        font-size: 10px;
        margin: ($unit * -1) 0 0;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        width: auto;
      }
    }
  }
  table {
    border-bottom: 5px solid #4D6A79;
    width: 100%;
    code {
      background: transparent;
      display: inline-block;
    }
    th {
      background: #4D6A79;
      color: white;
      padding: $unit ($unit * 2);
      box-sizing: border-box;
      width: 50%;
      code {
        color: white;
      }
      &:last-child {
        text-align: right;
      }
      &:first-child {
        text-align: left;
      }
    }
    td {
      padding: $unit ($unit * 2);
      box-sizing: border-box;
      width: 50%;
      vertical-align: top;
      border: none;
    }

    td p, th p {
      margin: 0;
      font-size: inherit;
      font-weight: inherit;
      opacity: inherit;
      line-height: inherit;
      padding: 0;
    }

    tr:nth-child(odd) {
      background: #E7EBEE;
    }
  }
}