/*
* Code Shell Module
*
* Style
*
*/


/*
* Variables
*/

$code-shell-background: $blue-grey-800;
$code-shell-color: $light-green-A400;


/*
* Class
*/

.code-shell {
  background: $code-shell-background;
  box-shadow: 0 2px 2px rgba($black, 0.24), 0 0 2px rgba($black, 0.12);
  border-radius: 2px;
  display: block;
  margin-bottom: $unit * 2;
  min-height: $unit * 8;
  overflow: hidden;

  .prettyprint {
    background: $code-shell-background;
    color: $code-shell-color;
    padding: $unit * 3;

    .pln,
    .pun {
      color: $code-shell-color;
    }
  }
}