.code-box {
  border-radius: 4px;
  background: $lightgrey;
  margin-bottom: $unit * 2;

  header {
    background: #1976D2;
    color: $snow;
    padding: $unit $unit 0px $unit;
    border-radius: 4px 4px 0px 0px;
  }

  &__live-code {
    background-color: #cfd8dc;
    height: 36px;
    color: $snow;
    padding: 0 $unit;
    border-radius: 4px 4px 0px 0px;
    margin-bottom: 0;

    & a {
      font-size: 14px;
      text-decoration: none;
      border-bottom: 1px $regal dotted;

      &:hover {
        border-bottom: 1px $regal solid;
      }
    }

    &--icon {
      font-size: 14px;
      color: $regal;
    }
  }

  nav {
    button {
      line-height: $unit * 3.5;
      height: $unit * 3.5;
      padding: 0px ($unit * 3);
      margin-right: $unit;
      font-size: 13px;
      background: #3F94E9;
      color: $snow;
      border-radius: 4px 4px 0px 0px;
      text-transform: none;

      &.is-selected,
      &.selected
      {
        background: $lightgrey;
        color: $darkgrey;
      }
    }
  }

  .prettyprint {
    box-shadow: none;
    margin: 0px;
  }
}

pre {
  margin-top: 0;
}