/*
* Code Formatting
*
* Code syntax highlighting and formatting
*
*/


/*
* Variables
*/

$prettyprint-background: $white;
$prettyprint-color: $blue-grey-700;


/*
* Class
*/

.prettyprint {
  background: $prettyprint-background;
  white-space: pre-wrap;
  color: $prettyprint-color;
  font-family: $mono-font;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  overflow: auto;
  position: relative;
  padding: 0px;
  padding: ($unit * 2) ($unit * 4);
  width: auto;

  &.linenums,
  &[class^="linenums:"],
  &[class*=" linenums:"]  {
    padding: 0px;
  }

  &.is-showcase {
    border: 4px solid $blue-600;
  }

  code {
    background: none;
    font-size: 13px;
    padding: 0px;
  }

  ol {
    background: rgba($blue-grey-50, .24);
    color: $blue-grey-200;
    padding: 0 0 0 ($unit * 5);
    margin: 0px;
    overflow: auto;
    font-size: 11px;

    li {
      background: $white;
      margin: 0;
      line-height: $unit * 3;
      list-style-type: decimal;
      padding: 0 0 0 ($unit * 2);

      &:first-child {
        padding-top: $unit * 3;
      }
      &:last-child {
        margin-bottom: 0;
        padding-bottom: $unit * 3;
      }

      code {
        background: none;
        color: $blue-grey-700;
        font-size: 13px;
      }
    }
  }


  /*
  * Screen Colors
  *
  */

  .pnk,
  .blk {
    border-radius: 4px;
    padding: 2px 4px;
  }
  .pnk {
    background: $blue-grey-50;
    color: $blue-grey-900;
  }
  .blk {
    background: $blue-grey-900;
  }
  .otl {
    outline: 1px solid rgba($blue-grey-700, .56);
  }
  .kwd {
    color: $pink-600;
  }
  .typ,
  .tag {
    color: $pink-600;
  }
  .str,
  .atv {
    color: $teal-600;
  }
  .atn {
    color: $teal-600;
  }
  .com {
    color: $teal-600;
  }
  .lit {
    color: $teal-600;
  }
  .pun {
    color: $blue-grey-700;
  }
  .pln {
    color: $blue-grey-700;
  }
  .dec {
    color: $teal-600;
  }


  /*
  * Print Colors
  *
  */

  @media print {
    border: none;
    box-shadow: none;

    ol {
      background: $white;
    }

    .kwd {
      color: $pink-600;
    }
    .typ,
    .tag {
      color: $pink-600;
    }
    .str,
    .atv {
      color: $teal-600;
    }
    .atn {
      color: $teal-600;
    }
    .com {
      color: $teal-600;
    }
    .lit {
      color: $teal-600;
    }
    .pun {
      color: $blue-grey-700;
    }
    .pln {
      color: $blue-grey-700;
    }
    .dec {
      color: $teal-600;
    }
  }
}


/*
* Embedded Code
*
* Style for embedded code examples
*/

.cp_embed_iframe {
  overflow: hidden;

  @include respond-to('mobile') {
    width: 240px !important;
  }
}
