/*
* Code Box Module
*
* Code examples with multiple sections (tabs)
*
*/


/*
* Variables
*/
$property-code-box: '.property-code-box';
$property-code-box-background: rgba($blue-grey-50, .24);
$property-code-box-primary: $cyan-500;
$property-code-box-color: $blue-grey-800;




/*
* Class
*/
#{$property-code-box} {
  background: $property-code-box-background;
  border-left: 4px solid $property-code-box-primary;
  margin-bottom: $unit * 4;
  padding: $unit * 4;

  h4 {
    color: $property-code-box-color;
    font-family: $mono-font;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 ($unit * 2) 0;
  }

  p.text-body {
    font-size: 14px;
    line-height: $unit * 3;
    margin: 0 0 ($unit * 2) 0;
  }

  .code-example {
    border-color: $property-code-box-primary;
    margin: 0 0 ($unit * 2) 0;

    &:last-child {
      margin: 0;
    }

    .prettyprint ol li:first-child{
      padding-top: $unit;
    }
    .prettyprint ol li:last-child {
      padding-bottom: $unit;
    }
  }
}