/*
* Code Box Module
*
* Code examples with multiple sections (tabs)
*
*/


/*
* Variables
*/

$codebox-primary-color: $blue-600;
$codebox-selected: $white;


/*
* Class
*/

.code-box {
  background: $white;
  border: 2px solid $codebox-primary-color;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba($black, 0.24), 0 0 2px rgba($black, 0.12);
  margin-bottom: $unit * 2;

  header {
    background: $codebox-primary-color;
    color: $white;
    padding: $unit $unit 0px $unit;
  }

  nav button {
    background: $blue-400;
    border-radius: 2px 2px 0px 0px;
    color: $white;
    font-size: 13px;
    height: $unit * 4;
    line-height: $unit * 4;
    margin-right: $unit;
    outline: none;
    padding: 0px ($unit * 3);
    text-transform: none;

    &.is-selected,
    &.selected {
      background: $white;
      color: $blue-grey-600;
    }
  }

  .prettyprint {
    background: $codebox-selected;
  }
}