/*
* Contributors footer
*
* Display contributors in footer of the api page
*
*/


/*
* Variables
*/

$unit: 8px !default;
$contributors-footer: '.contributors-footer';


/*
* Class
*/

#{$contributors-footer} {
  background: $white;
  border-top: 1px solid $blue-grey-50;
  line-height: $unit * 2;
  margin: 0 ($unit * 6);
  padding: ($unit * 3) 0;

  @include respond-to('mobile') {
    margin: 0 ($unit * 2);
    padding: ($unit * 2) 0;
  }
}

#{$contributors-footer}-tagline,
#{$contributors-footer}-developers {
  color: $blue-grey-300;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  float: left;
  line-height: $unit * 3;
  margin: 0;
}

#{$contributors-footer}-tagline {
  float: left;

  @include respond-to('mobile') {
    float: none;
    display: block;
    margin: 0 0 ($unit * 2) 0;
    text-align: left;
  }

  .material-icons {
    float: left;
    font-size: 16px;
    line-height: $unit * 3;
    margin-right: $unit;
  }
}

#{$contributors-footer}-developers {
  float: right;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;

  &.is-extended {
    clear: both;
    float: none;
    padding: ($unit) 0 0 0;

    a {
      margin-bottom: $unit;
    }
  }

  @include respond-to('mobile') {
    float: none;
    display: block;
    margin: 0;
  }

  .contributors-count {
    float: right;
    margin-right: $unit;

    @include respond-to('mobile') {
      float: none;
      display: block;
      margin: 0;
    }
  }

  a {
    float: right;
    height: $unit * 3;
    margin-left: 2px;
    transition: all .3s;
    width: $unit * 3;

    &:hover {
      box-shadow: 0 4px 4px rgba($black, 0.24), 0 0 4px rgba($black, 0.12);
    }

    @include respond-to('mobile') {
      float: none;
      display: inline-block;
    }
  }

  img,
  .view-all-button {
    border-radius: 2px;
    height: $unit * 3;
    width: $unit * 3;
  }

  .view-all-button {
    background: $blue-grey-50;
    border: 1px solid $blue-grey-50;
    box-sizing: border-box;
    color: $blue-grey-200;

    .material-icon {
      font-size: 20;
    }

    &:hover {
      background: $white;
      border-color: $blue-500;
      color: $blue-500;
    }
  }
}