/*
* Contributors footer
*
* Display contributors in footer of the api page
*
*/


/*
* Variables
*/

$unit: 8px !default;
$contributors-footer: '.contributors-footer';


/*
* Class
*/

#{$contributors-footer} {
  background: $white;
  border-top: 1px solid $blue-grey-50;
  line-height: $unit * 2;
  margin: 0 ($unit * 6);
  padding: ($unit * 3) 0;
}

#{$contributors-footer}-tagline,
#{$contributors-footer}-developers {
  color: $blue-grey-300;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  float: left;
  line-height: $unit * 3;
  margin: 0;
}

#{$contributors-footer}-tagline {
  float: left;

  .material-icons {
    float: left;
    font-size: 16px;
    line-height: $unit * 3;
    margin-right: $unit;
  }
}

#{$contributors-footer}-developers {
  float: right;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;

  .contributors-count {
    float: right;
    margin-right: $unit;
  }

  a {
    float: right;
    height: $unit * 3;
    margin-left: $unit / 2;
    transition: all .3s;
    width: $unit * 3;

    &:hover {
      box-shadow: 0 4px 4px rgba($black, 0.24), 0 0 4px rgba($black, 0.12);
    }
  }

  img,
  .view-all-button {
    border-radius: 2px;
    height: $unit * 3;
    width: $unit * 3;
  }

  .view-all-button {
    background: $blue-grey-50;
    border: 1px solid $blue-grey-50;
    box-sizing: border-box;
    color: $blue-grey-200;

    .material-icon {
      font-size: 20;
    }

    &:hover {
      background: $white;
      border-color: $blue-500;
      color: $blue-500;
    }
  }
}