/*
* Contributors footer
*
* Display contributors in footer of the api page
*
*/


/*
* Variables
*/

$unit: 8px !default;
$contributors-footer: '.contributors-footer';


/*
* Class
*/

#{$contributors-footer} {
  background: $white;
  border-top: 1px solid $blue-grey-50;
  bottom: 0;
  left: $unit * 6;
  line-height: $unit * 2;
  padding: ($unit * 3) 0;
  position: absolute;
  right: $unit * 6;
  z-index: 1;
}

#{$contributors-footer}-tagline,
#{$contributors-footer}-developers {
  color: $blue-grey-300;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  float: left;
  line-height: $unit * 2;
  margin: 0;
}

#{$contributors-footer}-tagline {
  float: left;

  .material-icons {
    float: left;
    font-size: 16px;
    margin-right: $unit;
  }
}

#{$contributors-footer}-developers {
  float: right;
}