.card-row {
  @media screen and (max-width: 1200px) {
    flex-direction: column !important;
  }
}

.docs-landing {
  .button {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .card-row-container {
    margin: 20px;
  }

  .card {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    min-height: 250px;
    width: 300px;

    @media screen and (max-width: 1200px) {
      width: 400px;
    }

    @media screen and (max-width: 600px) {
      width: 300px;
    }

    @media screen and (max-width: 321px) {
      width: 270px;
    }
  }

  md-card-content {
    p {
      font-size: 14px;
      padding: 0;
    }
  }

  footer {
    width: 100%;

    a {
      width: 100%;
    }
  }
}