.dropdown {
  background: $blue-grey-50;
  bottom: 0;
  box-sizing: border-box;
  box-shadow: 0 -1px 2px rgba($black, 0.12);
  left: 0;
  margin: 0;
  padding: $unit * 2;
  position: fixed;
  width: $sidenav-width;
  z-index: $layer-1;

  @include respond-to('mobile') {
    display: none;
    width: 100%;

    .is-visible & {
      display: block;
    }
  }

  .dropdown-button {
    background: rgba($blue-grey-100, .56);
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    color: $blue-grey-600;
    display: block;
    text-transform: none;
    font-weight: normal;
    font-size: 14px;
    line-height: $unit * 5;
    padding: 0px ($unit * 4) 0px ($unit * 2);
    margin: 0;
    cursor: pointer;
    position: relative;
    width: 100%;
    z-index: $layer-1;
    opacity: 0.87;

    .icon {
      color: $blue-grey-200;
      font-size: 24px;
      position: absolute;
      top: $unit;
      right: $unit;
      z-index: $layer-1;
      opacity: .87;
    }

    &:hover {
      background: $white;
      box-shadow: 0 2px 2px rgba($black, 0.24), 0 0 2px rgba($black, 0.12);
      color: $blue-600;

      .icon {
        color: $blue-600;
      }
    }
  }

  .dropdown-menu {
    background: $white;
    bottom: $unit * 2;
    border-radius: 2px;
    box-shadow: 0 16px 16px rgba($black, 0.24), 0 0 16px rgba($black, 0.12);
    display: none;
    left: $unit * 2;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: $unit * 2;
    z-index: $layer-5;

    li {
      border-bottom: 1px solid $blue-grey-50;
      margin: 0px;
      padding: 0;

      &:last-child {
        border: none;
      }
    }

    a {
      display: block;
      font-size: 12px;
      line-height: $unit * 7;
      margin: 0;
      padding: 0px ($unit * 2);
      text-decoration: none;
      text-align: left;
      font-weight: 400;
      color: $blue-grey-600;

      &:hover {
        background: $white;
        color: $blue-600;
      }
    }
  }
}