.dropdown {
  position: relative;
  z-index: $layer-5;

  .dropdown-button {
    background: none;
    border: none;
    text-transform: none;
    font-weight: normal;
    line-height: $unit * 4;
    padding: 0px $unit;
    cursor: pointer;
  }

  .dropdown-menu {
    background: $snow;
    box-shadow: 0px 2px 5px rgba($coal, .3);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: $layer-5;

    ul {
      list-style-type: none;
      margin: 0px 0px ($unit * 2) 0px;
      padding: 0px;

      &:last-child {
        margin: 0;
      }
    }

    li {
      margin: 0px;
    }

    a {
      display: block;
      line-height: $unit * 5;
      padding: 0px ($unit * 2);
      font-size: 14px;
      text-decoration: none;
      text-align: left;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}