.dropdown {
  position: relative;
  z-index: $layer-1;
  margin: ($unit * 2) 0 0 0;

  .dropdown-button {
    background: rgba($snow, .1);
    border: none;
    border-radius: 3px;
    text-transform: none;
    font-weight: normal;
    font-size: 14px;
    line-height: $unit * 4;
    padding: 0px ($unit * 4) 0px ($unit * 2);
    margin: (1.25 * $unit) 0;
    cursor: pointer;
    position: relative;
    z-index: $layer-1;
    opacity: 0.87;
    letter-spacing: .010em;
    min-height:4.5 * $unit;
    white-space:nowrap;
    -webkit-font-smoothing:antialiased;
    -webkit-user-select:none;

    .icon {
      position: absolute;
      top: 50%;
      right: $unit;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: $layer-1;
      font-size: 20px;
      opacity: .87;
    }
  }

  .dropdown-menu {
    background: $snow;
    box-shadow: 0px 2px 5px rgba($coal, .3);
    position: absolute;
    top: 1.25 * $unit;
    left: 0px;
    z-index: $layer-5;
    display: none;
    border-radius: 3px;
    overflow: hidden;

    ul {
      list-style-type: none;
      border-bottom: 1px solid $fog;
      margin: 0px;
      padding: 0px;

      &:last-child {
        margin: 0;
      }
    }

    li {
      margin: 0px;
    }

    a {
      display: block;
      line-height: $unit * 5;
      padding: 0px ($unit * 2);
      font-size: 14px;
      text-decoration: none;
      text-align: left;
      font-weight: 400;
      text-transform: uppercase;
      color: $metal;
    }
  }
}