.example-title {
  @extend .alert;

  color: $heather;
  padding:  0 ($unit * 2);
  font-size: 14px;
  // font-weight: 500;
  border-color: $fog;
  background: $fog;
  box-shadow: none;
  // temporary hack to remove space between example title and code-example
  margin-bottom: -18px;
}
