.example-title {
  @extend .alert;

  color: $snow;
  padding:  0 ($unit * 2);
  font-size: 14px;
  font-weight: 500;
  border-color: $blueberry;
  background: $blueberry;
  // temporary hack to remove space between example title and code-example
  margin-bottom: -18px;
}