.example-title {
  @extend .alert;

  color: $snow;
  padding:  0 ($unit * 2);
  font-size: 14px;
  // font-weight: 500;
  border-color: #1976D2;
  background: #1976D2;
  box-shadow: none;
  // temporary hack to remove space between example title and code-example
  margin-bottom: -5px;
  z-index: 1;
  position: relative;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.example-title.avoid {
  background: #E0343D;
  border-color: #E0343D;
}
