/*
* File Tree Module
*
*/


/*
* Class
*/

.filetree {
  background: $white;
  box-shadow: 0 2px 2px rgba($black, 0.24), 0 0 2px rgba($black, 0.12);
  border: 4px solid $blue-grey-50;
  margin: 0 0 ($unit * 3) 0;
  padding: $unit * 3;

  .file {
    display: block;
    font-family: $mono-font;
    line-height: 32px;
    color: $blue-grey-600;
  }

  .children {
    padding-left: $unit * 3;
    position: relative;
    overflow: hidden;

    .file {
      position: relative;

      &:before {
        content: '';
        left: -18px;
        bottom: 16px;
        width: $unit * 2;
        height: 9999px;
        position: absolute;
        border-width: 0 0 1px 1px;
        border-style: solid;
        border-color: $blue-grey-100;
        border-radius: 0 0 0 3px;
      }
    }
  }
}
