.filetree {
  padding: 12px 24px;
  background: $mist;
  .file {
    display: block;
    font-family: $mono-font;
    line-height: 32px;
    color: $platinum;
  }
  .children {
    padding-left: 24px;
    position: relative;
    overflow: hidden;
    .file {
      position: relative;
      &:before {
        content: '';
        left: -18px;
        bottom: 16px;
        width: 12px;
        height: 9999px;
        position: absolute;
        border-width: 0 0 2px 2px;
        border-style: solid;
        border-color: #bccad1;
        border-radius: 0 0 0 3px;
      }
    }
  }
}
