.filetree {
  padding: 12px 24px;
  background: $mist;
  .file {
    display: block;
    font-family: $mono-font;
    line-height: 32px;
    color: $platinum;
  }
  .children {
    padding-left: 24px;
    position: relative;
    &:before {
      content: '';
      left: 6px;
      width: 2px;
      background: $grey;
      bottom: 16px;
      top: 0;
      position: absolute;
      transform: scaleX(0.75);
    }
    .file {
      position: relative;
      &:before {
        content: '';
        left: -18px;
        top: 16px;
        width: 12px;
        height: 2px;
        background: $grey;
        position: absolute;
        transform: scaleY(0.75);
      }
    }
  }
}
