h1, h2, h3, h4 {
  .prettyprint {
    background: none;
    font-family: $mono-font;
    color: $steel;
    overflow: hidden;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
    border: none;
    box-shadow: none;
    padding: 0;

    code {
      background: none;
      font-size: 15px;
      padding: 0px;
    }


    .kwd {
      color: $steel;
    }
    .typ,
    .tag {
      color: $ruby;
    }
    .str,
    .atv {
      color: darken($sunshine, 50%);
    }
    .atn {
      color: darken($cactus, 10%);
    }
    .com {
      color: $cloud;
    }
    .lit {
      color: darken($sunshine, 50%);
    }
    .pun {
      color: $coal;
    }
    .pln {
      color: $coal;
    }
    .dec {
      color: darken($grape, 5%);
    }
  }
}