$hero-padding: ($unit * 10) ($unit * 6) ($unit * 7);

.hero {
  position: relative;
  padding: $hero-padding;
  height: $unit * 10;

  .hero-cta {
    a {
      padding-left: 48px;
      padding-right: 48px;
    }
  }

  .hero-title-with-badges {
    margin-bottom: $unit;
  }

  .status-circle {
    margin-right: 4px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
  }

  // status-*, will be matched by the results in addJadeDataDocsProcessor.js, and reflect in _hero.jade
  .status-deprecated {
    background: #E53935;
  }

  .status-stable {
    background: #558b2f;
  }

  .status-experimental {
    background: #9575cd;
  }

  @media handheld and (max-width: $phone-breakpoint),
  screen and (max-device-width: $phone-breakpoint),
  screen and (max-width: $tablet-breakpoint) {
    height: auto;
    padding-top: 40px;
  }

  &.is-large {
    height: 478px;
    padding-top: ($unit * 2);
    text-align: center;

    @media handheld and (max-width: $phone-breakpoint),
    screen and (max-device-width: $phone-breakpoint),
    screen and (max-width: $tablet-breakpoint) {
      height: auto;
    }
  }

  .inner-header {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: 599px) {
      margin: ($unit * 6) 0px 0px 0px;
    }
  }

  .badges {
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    align-items: center;

    margin-top: 4px;

    .status-badge {
      color: #0143A3;
      margin-left: 4px;
      padding-left: 8px;
      padding-right: 8px;
      background-color: rgba(255,255,255,0.5);
      border-radius: 2px;
      line-height: 20px;
      display: inline-block;

      &:first-child {
        margin-left: 0;
      }
    }

    .security-risk-badge {
      background-color: #FFF59D;
    }
  }

  @media screen and (max-width: 599px) {
    /* three items */
    .badges .status-badge:nth-child(3) {
      margin-left: 0;
      margin-top: 4px;
    }

    .hero-title-with-badges {
      margin-bottom: $unit * 2;
    }
  }

  button {
    // Override md-button from angular material to align language select with hero title.
    margin: 0 !important;
  }

  .hero-title {
    display: inline; // title will be inline with badges
    text-transform: uppercase;
    margin: 0;
    margin-right: 8px;
    opacity: .87;

    &.is-standard-case {
      text-transform: none;
    }

    @media handheld and (max-width: $phone-breakpoint),
    screen and (max-device-width: $phone-breakpoint),
    screen and (max-width: $tablet-breakpoint) {
      // reduce size of api doc title on small screens, prevents cut text on long titles
      font-size: 28px;
    }
  }

  .hero-subtitle {
    margin: 0;
    opacity: 1;

    @media handheld and (max-width: $phone-breakpoint),
    screen and (max-device-width: $phone-breakpoint),
    screen and (max-width: $tablet-breakpoint) {
      margin: 0px;
    }
  }

  // LARGE SHEILD LOGO
  .hero-logo {
    position: relative;
    padding-top: 224px;
    opacity: 1;
    width: $unit * 70;
    margin: ($unit * 3) auto ($unit * 5) auto;
    font-weight: 400;

    &:after {
      content: '';
      background: url('/resources/images/logos/angular2/angular.svg') top center no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 224px;
    }

    @media handheld and (max-width: $phone-breakpoint),
    screen and (max-device-width: $phone-breakpoint),
    screen and (max-width: $tablet-breakpoint) {
      width: auto;
      font-size: 20px;
      line-height: 28px;
      margin: ($unit * 2) auto;
      padding-top: 208px;
    }
  }

  // CTA BUTTONS
  .button {
    margin: 0px $unit;

    @media handheld and (max-width: $phone-breakpoint),
    screen and (max-device-width: $phone-breakpoint),
    screen and (max-width: $tablet-breakpoint) {
      margin: ($unit * 2) 0px;
      display: block;
    }
  }
}
