$hero-padding: $unit * 2;

.hero {
  position: relative;
  padding: $hero-padding;
  height: 192px - ($hero-padding * 2);

  &.is-large {
    height: 478px - ($hero-padding * 2);
    text-align: center;
  }

  // LARGE SHEILD LOGO
  .hero-logo {
    background: url('/resources/images/logos/standard/shield-large.png') top center no-repeat;
    padding-top: 224px;
    opacity: 1;
    width: $unit * 70;
    margin: ($unit * 5) auto ($unit * 5) auto;
    font-weight: 300;
  }

  // SOCIAL ICONS
  .social-icons {
    position: absolute;
    top: $unit * 3;
    right: $unit * 3;
    z-index: $layer-1;


    a {
      color: $snow;
      opacity: .56;
      font-size: 18px;
      text-decoration: none;
      margin-left: $unit * 2;
    }
  }

}