.image-display {
  border-radius: 4px;
  background: $mist;
  padding: $unit * 2;
  display: inline-block;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  margin: 0px 0px ($unit * 2) 0px;

  img {
    border-radius: 4px;
    display: inline-block;
  }
}