/*
* Info Bar Module
*
* Display information about the api page
*
*/


/*
* Variables
*/

$unit: 8px !default;
$info-bar: '.info-bar';


/*
* Class
*/

#{$info-bar} {
  background: $white;
  line-height: 16px;
  padding: ($unit * 4) ($unit * 6);

  @include respond-to('mobile') {
    padding: ($unit * 2) ($unit * 2) 0 ($unit * 2);
  }

  .material-icons {
    color: $blue-grey-200;
    font-size: 14px;
    line-height: 16px;
    margin: 0 $unit 0 0;

    @include respond-to('mobile') {
      display: none;
    }
  }
}

#{$info-bar}-item {
  color: $blue-grey-400;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  line-height: 16px;

  &.is-left {
    float: left;
    margin-right: $unit * 4;
  }

  &.is-right {
    float: right;
  }

  @include respond-to('mobile') {
    &.is-left,
    &.is-right {
      display: block;
      float: none;
      margin: 0 0 $unit 0;
    }
  }
}