/*
* Info Bar Module
*
* Display information about the api page
*
*/


/*
* Variables
*/

$unit: 8px !default;
$info-bar: '.info-bar';


/*
* Class
*/

#{$info-bar} {
  background: $white;
  line-height: 16px;
  padding: ($unit * 4) ($unit * 6);

  &.is-pinned {
    position: absolute;
    top: $unit * 12;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

#{$info-bar}-item {
  color: $blue-grey-400;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;

  &.is-left {
    float: left;
    margin-right: $unit * 4;
  }

  &.is-right {
    float: right;
  }
}