/*
* Info Bar Module
*
* Display information about the api page
*
*/


/*
* Variables
*/

$unit: 8px !default;
$info-bar: '.info-bar';
$search-results: '.search-results';
$search-height: 104px;
$search-width: 752px;


/*
* Class
*/


#{$info-bar} {
  background: $white;
  font-style: italic;
  line-height: 16px;
  padding: ($unit * 3) ($unit * 6) 0 ($unit * 6);
}
