.jump-nav {

  &.is-pinned {
    position: absolute;
    top: $unit * 24;
    right: $unit * 4;
    width: $unit * 16;
    z-index: $layer-1;
  }

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  li {
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid $blue-grey-50;

    a.button,
    a.button.md-button {
      color: $blue-grey-400;
      font-size: 12px;
      font-weight: 400;
      display: block;
      line-height: $unit * 5;
      text-align: left;
      padding: 0 ($unit * 2);
      margin: 0;
      text-decoration: none;
      transition: all .3s;

      &:hover, &:focus {
        background: $blue-grey-50;
        color: $blue-500;
      }
    }
  }
}