/*
* Jump Nav Module
*
* A small side nav (located on the right side) that
* acts as a table of contents (TOC) for a long page.
*/

/*
* Variables
*/

$jumpnav: '.jump-nav';
$jumpnav-primary-color: $blue-500;
$jumpnav-secondary-color: $blue-grey-400;
$jumpnav-selected: $blue-grey-600;
$jumpnav-hover: rgba($blue-grey-50, .54);

#{$jumpnav} {
  position: absolute;
  top: $unit * 3;
  right: $unit * 3;
  width: $unit * 20;
  z-index: $layer-1;

  @include respond-to('mobile') {
    margin-bottom: $unit * 4;
    position: static;
    top: 0;
    right: 0;
    width: auto;
  }

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  li {
    border-left: 4px solid $white;
    padding: 0px;
    margin: 0px;

    &.is-active {
      border-color: $jumpnav-primary-color;

      a.button,
      a.button:hover {
        background: none;
        color: $jumpnav-selected;
        font-weight: 600;
      }
    }

    a.button {
      color: $jumpnav-secondary-color;
      display: block;
      font-size: 12px;
      line-height: $unit * 4;
      padding: 0 ($unit * 2) 0 ($unit + 4);
      text-align: left;
      text-decoration: none;
      text-transform: none;
      transition: all .3s;

      &:hover {
        background: $jumpnav-hover;
        color: $jumpnav-primary-color;
      }
    }
  }
}