/*
* List Styles
*
*/



/*
* Secondary List Class
*
*/

.secondary-content-list,
.docs-content .secondary-content-list {
  margin-top: $unit * 6;

  h4 {
    color: $blue-grey-500;
    font-size: 14px;
    font-weight: 400;
    line-height: $unit * 4;
    border-bottom: 1px solid $blue-grey-50;
    margin: 0;
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
    padding: $unit 0;
  }

  li {
    margin: 0;
    padding: 0;
  }

  li a {
    background: $white;
    color: $blue-grey-400;
    display: block;
    font-size: 12px;
    line-height: $unit * 4;
    padding: 0 $unit;
    text-decoration: none;
    transition: all .3s;

    &:hover {
      background: rgba($blue-grey-50, .56);
      color: $blue-500;
      transition: none;
    }
  }
}