.main-nav {
  height: 56px;
  min-height: 56px;

  h1 {
    margin: 0px ($unit * 5) 0px 0px;
    padding: 0px;
    height: 34px;
    width: 134px;

    a {
      background: url('/resources/images/logos/standard/logo-nav.png');
      display: block;
      height: 34px;
      width: 134px;
      overflow: hidden;
      text-indent: -3000px;
    }
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    li {
      margin: 0px;
      display: inline;
    }
  }

  .cta {
    display: block;
  }
}