/*
* Main Site Footer
*
* This module contains styles for the main site footer. The
* footer contains a launchpad (lists of links) and general
* copyright and licensing information found at the bottom
* of each page
*/

.main-footer {
  nav {
    padding: $unit * 6;
  }

  .logo-inverse-large {
    background: url('/resources/images/logos/inverse/shield/128.png') 0px 0px no-repeat;
    height: 128px;
    width: 128px;
  }

  ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;

    li {
      margin: 0px;
    }

    a {
      color: $snow;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        opacity: 1;
      }
    }
  }

  footer {
    text-align: center;
    padding: $unit * 2;

    a {

    }
  }
}