/*
* Main Navigation
*
* Top main navigation for website
*/


/*
* Variables
*/

$main-nav-height: $unit * 7;
$main-nav-background: $blue-700;


/*
* Class
*/

.main-nav {
  background: $main-nav-background;
  height: $main-nav-height;
  min-height: $main-nav-height;
  padding: 0px;
  box-shadow: 0px 2px 5px 0 rgba($black, 0.24);

  .feedback-button {
    margin-top: 10px;
  }

  h1 {
    margin: 0 ($unit * 9) 0 0;
    padding: 0px;
    height: $main-nav-height;
    width: 168px;
    float: left;

    .md-button, a {
      background: url('/resources/images/logos/standard/logo-nav.png') 16px 8px no-repeat;
      border-radius: 0;
      display: block;
      height: $main-nav-height;
      overflow: hidden;
      text-indent: -3000px;
      margin:0;
      padding: 0;

      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
        background: url('/resources/images/logos/standard/logo-nav@2x.png') 16px 8px no-repeat;
        background-size: 135px 36px;
      }

      &:hover {
        background-color: $blue-600;
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    li {
      margin: 0px 0px 0px 0px;
    }

    .main-nav-button,
    .main-nav-button.md-button {
      @include respond-to('mobile') {
        display: block;
        float: none;
        line-height: $unit * 6;
        text-align: left;
        font-size: 14px;
        padding: 0px ($unit * 5);

        &.has-icon {
          padding: 0px ($unit * 5);
          position: static;
        }

        .icon {
          display: none;
        }
      }
    }

    // Make main nav icons disappear in favor of site map menu
    @include respond-to('mobile') {
      background: $main-nav-background;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
      float: none;
      position: absolute;
      top: 56px;
      right: 0px;
      left: 0px;
      z-index: $layer-6;
      display: none;

      li {
        display: block;
        float: none;
      }
    }
  }


  // NAV BUTTON STYLES
  .main-nav-button,
  .main-nav-button.md-button {
    line-height: 56px;
    display: inline-block;
    color: $white;
    text-decoration: none;
    padding: 0px ($unit * 2);
    text-transform: uppercase;
    font-family: $brand-font;
    font-weight: 400;
    font-size: 16px;
    border: none;
    background: none;
    border-radius: 0;
    position: relative;
    letter-spacing: 0.16px;
    margin: 0;
    min-width: auto;
    transition: all .3s;

    &:hover {
      background-color: $blue-600;
    }

    // ICONS
    &.has-icon {
      position: relative;
      padding-left: 30px + ($unit * 2);
    }

    .icon {
      font-size: 22px;
      position: absolute;
      top: 15px;
      left: ($unit * 2);
      z-index: $layer-1;
    }
  }

  // DROPDOWN TRIGGER BUTTON
  .main-nav-button.main-nav-mobile-trigger {
    display: none;
    padding: 0px (24px + $unit) 0px $unit;
    font-size: 14px;

    .icon {
      left: auto;
      right: ($unit );
      opacity: .56;
    }

    // Show sitemap menu
    @include respond-to('mobile') {
      display: inline-block;
    }
  }
}