.resources {
  .flex {
    display: flex;
    flex-wrap: wrap;
  }

  .showcase-content {
    @media(max-width: 320px) {
      padding: 0;
      margin: 0;
    }
  }
  
  .resource-tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;

    @media(max-width: 500px) {
      flex-direction: column-reverse;
    }
    
    .resource-tab {
      display: inline;
      background-color: #CFD8DC;
      padding: $unit (3 * $unit);
      border-radius: 2px;
      margin-right: 16px;
      color: #455A64;

      @media(max-width: 500px) {
        margin-right: 0;
        margin-bottom: 12px;
      }

      &:hover {
        cursor: pointer;
        background-color: #B0BEC5;
      }

      &.selected {
        color: #1D77CE;
        background-color: #E3F2FB;
        font-weight: bold;
      }
    }
  }

  .subsection {
    margin-bottom: 64px;
  }

  .subsection-title {
    font-weight: 400;
  }

  .card {
    display: inline-block;
    width: 320px;
    margin-right: $unit * 4;

    @media(max-width: 320px) {
      margin-right: 0;
      width: 275px;
    }
  }

  .title-link {
    padding: 0 16px;
  }

  .description {
    padding-bottom: 32px;
    line-height: 21px;
  }

  a {
    font-size: 16px;
    color: #1a2326;

    &.card-link {
      font-size: 14px;
      color: #1D77CE;
    }

    &:hover {
      color: #1D77CE;
    }
  }

  .form a {
    color: $regal;
  }
}

.capitalize {
  text-transform: capitalize !important;
}