.resources {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  @media(max-width: 768px) {
    justify-content: center;
    flex-direction: column-reverse;
  }

  a {
    font-size: 16px;
  }
}

.capitalize {
  text-transform: capitalize;
}