/*
* Search Module
*
* Module for search input and results
*
*/


/*
* Variables
*/

$unit: 8px !default;
$search-field: '.search-field';
$search-results: '.search-results';
$search-height: 104px;
$search-width: 752px;


/*
* Class
*/

#{$search-results} {

  #{$search-field} {
    background: $white;
    border: 1px solid $blue-grey-100;
    border-radius: 2px;
    box-sizing: border-box;
    color: $blue-grey-500;
    font-size: 16px;
    height: $unit * 5;
    margin-bottom: $unit * 4;
    padding: 0 $unit;
    width: 100%;

    &:active,
    &:focus {
      background: rgba($amber-50, .24);
      border: 1px solid $blue-500;
      color: $blue-500;
    }
  }


}