/*
* Search Module
*
* Module for search input and results
*
*/


/*
* Variables
*/

$unit: 8px !default;
$search-field: '.search-field';
$search-results: '.search-results';
$search-height: 104px;
$search-width: 752px;
$sidenav-search: '.sidenav .sidenav-search';

/*
* Class
*/

#{$search-results} {

  // #{$search-field} {
  //   background: $white;
  //   border: 1px solid $blue-grey-100;
  //   border-radius: 2px;
  //   box-sizing: border-box;
  //   color: $blue-grey-500;
  //   font-size: 16px;
  //   height: $unit * 5;
  //   margin-bottom: $unit * 4;
  //   padding: 0 $unit;
  //   width: 100%;

  //   &:active,
  //   &:focus {
  //     background: rgba($amber-50, .24);
  //     border: 1px solid $blue-500;
  //     color: $blue-500;
  //   }
  // }
}


/*
* Google Custom Search Results Modal Overrides.
*
* Module for search results overrides
*
*/

#{$sidenav-search} {

  /*
  * Background Blur Overlay
  */
  .gsc-modal-background-image {

  }

  .gsc-results-wrapper-overlay {
    top: 10%;

    .gsc-result {
      padding: $unit 0;
    }

    .gcsc-branding {
      display: none;
    }

    .gs-title {
      font-weight: 500;
    }

    .gsc-table-result {
      td {
        padding: 0 $unit $unit $unit;
      }
    }

    table {
      margin-bottom: 0;
      box-shadow: none;
      border-radius: none;
      background: none;

      thead {
        th {
          background: none;
          border-bottom: none;
          color: $metal;
          font-size: 12px;
          font-weight: 400;
          padding: 0;
          text-transform: none;
        }
      }

      tbody {
        th,
        td {
          border-bottom: none;
          padding: 0;
          text-align: left;
        }

        th {
          background: none;
          border-right: none;
          font-weight: 600;
          max-width: auto;
        }

        tr:last-child td {
          border: none;
        }
      }
    }
  }
}

/*
* Google Custom Search Field Overrides.
*
* Module for search input overrides
*
*/

#{$sidenav-search} {
  .gsc-control-cse, .gsc-control-cse-en {
    border: none !important;
    overflow: hidden !important;
    padding: 0 !important;
    background: none !important;
    border-radius: none !important;
  }

  /*
  * SEARCH TABLE CONTAINER
  */

  table.gsc-search-box {
    box-shadow: none !important;
    background: none !important;
    border-radius: 0 !important;
    border: none !important;
    padding: 0 !important;
    height: $unit * 4 !important;
  }

  /*
  * INPUT BOX WRAPPER
  */

  .gsc-input-box {
    background: $white !important;
    border: none !important;
    border-radius: 200px !important;
    box-sizing: border-box !important;
    color: $blue-grey-500 !important;
    font-size: 14px !important;
    height: $unit * 4 !important;
    margin: 0 !important;
    padding: 4px ($unit + 4) !important;
    width: 100% !important;

    // Close button
    a {
      margin-top: 2px;
    }
  }

  /*
  * INPUT BOX
  */
  .gsc-search-box-tools .gsc-search-box .gsc-input {
    border: none !important;
    color: $blue-grey-500 !important;
    font-size: 14px !important;
    height: ($unit * 4) - 8 !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  // OVERRIDES
  .gsc-input-box table {
    background: none !important;
    border-radius: none !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    line-height: $unit * 4 !important;

    td, th {
      padding: 0 !important;
      margin: 0 !important;
    }

    input.gsc-input {
      box-sizing: border-box !important;
      box-shadow: none !important;
      border: none !important;
      height: $unit * 4 !important;
      line-height: $unit * 4 !important;
      padding: 0 ($unit * 2) !important;
      margin: 0 !important;
    }
  }

  form.gsc-search-box {
    padding: 0 !important;
  }

  // SEARCH BUTTON
  .gsc-search-button {
    display: none !important;
  }
}