/*
* Search Module
*
* Module for search input and results
*
*/


/*
* Variables
*/

$unit: 8px !default;
$search-field: '.search-field';
$search-results: '.search-results';
$search-height: 104px;
$search-width: 752px;
$sidenav-search: '.sidenav .sidenav-search';

/*
* Class
*/

#{$search-results} {

  #{$search-field} {
    background: $white;
    border: 1px solid $blue-grey-100;
    border-radius: 2px;
    box-sizing: border-box;
    color: $blue-grey-500;
    font-size: 16px;
    height: $unit * 5;
    margin-bottom: $unit * 4;
    padding: 0 $unit;
    width: 100%;

    &:active,
    &:focus {
      background: rgba($amber-50, .24);
      border: 1px solid $blue-500;
      color: $blue-500;
    }
  }
}

#{$sidenav-search} {
  .gsc-control-cse, .gsc-control-cse-en {
    border: none !important;
    overflow: hidden !important;
    padding: 0 !important;
    background: none !important;
    border-radius: none !important;
  }

  .gsc-search-box-tools .gsc-search-box .gsc-input {
    padding: 0 !important;
  }
  .gsc-input-box,
  table.gsc-search-box  {
    box-shadow: none !important;
    background: none !important;
    border-radius: 0 !important;
    border: none !important;
    padding: 0 !important;
    height: $unit * 4 !important;
  }

  .gsc-input-box table {
    background: none !important;
    border-radius: none !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    line-height: $unit * 4 !important;

    td, th {
      padding: 0 !important;
      margin: 0 !important;
    }

    input.gsc-input {
      box-sizing: border-box !important;
      box-shadow: none !important;
      border: none !important;
      height: $unit * 4 !important;
      line-height: $unit * 4 !important;
      padding: 0 ($unit * 2) !important;
      margin: 0 !important;
    }
  }

  form.gsc-search-box {
    padding: 0 !important;
  }

  // GOOGLE SEARCH
  .gsc-search-button {
    display: none !important;
  }
}