.side-nav {
  background: $mist;
  box-shadow: 3px 0px 6px rgba($coal, .3);
  width: 224px;

  a {
    text-decoration: none;
    display: block;
  }

  .side-nav-search {
    background: $tin;
    padding: 0px ($unit * 2);
    height: $unit * 6;
    border-bottom: 1px solid $fog;

    input {
      border: none;
      border-radius: 200px;
      width: 100%;
      box-sizing: border-box;
      height: $unit * 4;
      padding: 0px $unit;
      margin-top: $unit;
    }
  }

  .side-nav-primary {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    > li {
      margin: 0px;
      padding: 0px;
      border-bottom: 1px solid $fog;

      > a {
        line-height: $unit * 6;
        padding: 0px ($unit * 2);
        color: $steel;
      }
    }
  }
}