.s-rule {
  margin-left: 12px;
  padding: 0 16px;
  font-size: 14px;
  box-shadow: none;
  margin-bottom: -5px;
  z-index: 1;
  position: relative;
  border-radius: 0;
  border-left-width: 4px;
  border-left-style: solid;
}

.s-rule.do {
  border-left-color: #1976D2;
}

.s-rule.consider {
  border-left-color: rgba(35, 115, 23, 0.64);
}

.s-rule.avoid {
  border-left-color: #E0343D;
}

.s-why {
  margin-left: 12px;
  padding: 0 16px;
  font-size: 14px;
  box-shadow: none;
  margin-bottom: -5px;
  z-index: 1;
  position: relative;
  border-radius: 0;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #EEE;
}

.s-why.s-why-last {
  margin-bottom:32px;
}

.filetree {
  margin-bottom: 32px;
  background-color: #FFF;
  border:1px solid #1976D2;
}

table tr code-example .prettyprint {
  margin-bottom: 0;
}
