.s-rule {
  margin-left: 12px;
  padding: 0 16px;
  font-size: 14px;
  box-shadow: none;
  margin-bottom: -5px;
  z-index: 1;
  position: relative;
  border-radius: 0;
  border-left-width: 4px;
  border-left-style: solid;
}

.s-rule.do {
  border-left-color: #237317;
}

.s-rule.consider {
  border-left-color: #1976D2;
}

.s-rule.avoid {
  border-left-color: #E0343D;
}

.s-why, .s-why-last {
  margin-left: 12px;
  padding: 0 16px;
  font-size: 14px;
  box-shadow: none;
  margin-bottom: -5px;
  z-index: 1;
  position: relative;
  border-radius: 0;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #EEE;
}

.s-why-last {
  margin-bottom:32px;
}

table tr code-example .prettyprint {
  margin-bottom: 0;
}

.file-tree-reference {
  margin-bottom: 20px;
  margin-top: 20px;
}
