.support-content {
  a {
    text-decoration: none;
    margin: 10px 0px;
  }
  .c8 {
    padding-top: 30px;
  }
  .grid-fluid {
    margin: 20px 0px;
  }
  hr {
    border: 0;
    color: #ECEFF1;
    background-color: #ECEFF1;
    height: 1.5px;
    }
}
