
/*
* Tables Module
*
* A collections of styles for tablular data
*
* TYPES:
* - Standard Table
* - Code Table
*/

/*
* Standard (DEFAULT) Table
*/

table {
  margin-bottom: $unit * 4;
  box-shadow: 0 2px 2px rgba($black, 0.24), 0 0 2px rgba($black, 0.12);
  border-radius: 2px;
  background: $snow;

  &.is-full-width {
    width: 100%;
  }

  thead {
    th {
      background: rgba($blue-grey-50, .24);
      border-bottom: 1px solid $blue-grey-50;
      color: $metal;
      font-size: 12px;
      font-weight: 600;
      padding: ($unit) ($unit * 4);
      text-align: left;
      text-transform: uppercase;
    }
  }

  tbody {
    th,
    td {
      border-bottom: 1px solid $blue-grey-50;
      padding: ($unit * 2) ($unit * 4);
      text-align: left;
    }

    th {
      background: rgba($blue-grey-50, .24);
      border-right: 1px solid $blue-grey-50;
      font-weight: 600;
      max-width: 100px;
    }

    tr:last-child td {
      border: none;
    }
  }
}


/*
* Code Table
*/

$toc-table: '.toc-table';
$toc-table-background: $blue-600;

#{$toc-table} {
  margin-bottom: $unit * 4;
  box-shadow: 0 2px 2px rgba($black, 0.24), 0 0 2px rgba($black, 0.12);
  border: 2px solid $toc-table-background;
  border-radius: 2px;
  border-collapse: collapse;
  background: $white;

  thead {
    th {
      background: $toc-table-background;
      border-bottom: none;
      border-radius: 2px 2px 0 0;
      color: $white;
      font-size: 14px;
      font-weight: 500;
      line-height: 32px;
      padding: 0 ($unit * 2);
      text-transform: none;
    }
  }

  tbody {
    th,
    td {
      border-bottom: 1px solid $blue-grey-50;
      font-size: 13px;
      padding: $unit;
      text-align: left;
    }

    th {
      background: rgba($blue-grey-50, .24);
      border-right: 1px solid $blue-grey-50;
      font-weight: 500;
      max-width: $unit * 20;
      padding: $unit ($unit * 2);
      text-align: right;
    }

    tr:last-child td {
      border: none;
    }
  }
}

