table {
  margin-bottom: $unit * 4;
  box-shadow: 0 2px 2px rgba($black, 0.24), 0 0 2px rgba($black, 0.12);
  border-radius: 2px;
  background: $snow;

  &.is-full-width {
    width: 100%;
  }

  thead {
    th {
      background: rgba($blue-grey-50, .24);
      border-bottom: 1px solid $blue-grey-50;
      color: $metal;
      font-size: 12px;
      font-weight: 600;
      padding: ($unit) ($unit * 4);
      text-align: left;
      text-transform: uppercase;
    }
  }

  tbody {
    th,
    td {
      border-bottom: 1px solid $blue-grey-50;
      padding: ($unit * 2) ($unit * 4);
      text-align: left;
    }

    th {
      background: rgba($blue-grey-50, .24);
      border-right: 1px solid $blue-grey-50;
      font-weight: 600;
      max-width: 100px;
    }

    tr:last-child td {
      border: none;
    }
  }
}