table {
  margin-bottom: $unit * 4;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  border-radius: 2px;
  background: $snow;

  &.is-full-width {
    width: 100%;
  }

  thead {
    th {
      background: $mist;
      border-bottom: 1px solid $mist;
      color: $metal;
      font-size: 12px;
      font-weight: 600;
      padding: ($unit) ($unit * 4);
      text-align: left;
      text-transform: uppercase;
    }
  }

  tbody {
    th,
    td {
      border-bottom: 1px solid $mist;
      color: $platinum;
      padding: ($unit * 2) ($unit * 4);
      text-align: left;
    }

    th {
      background: rgba($mist, .24);
      border-right: 1px solid $mist;
      font-weight: 600;
      max-width: 100px;

      a {
        color: $blueberry;
      }
    }

    tr:last-child td {
      border: none;
    }
  }
}