.main-nav {
  height: 56px;
  min-height: 56px;
  padding: 0px ($unit * 2);
  box-shadow: 0px 2px 5px 0 rgba($coal, 0.26);

  h1 {
    margin: 0px ($unit * 9) 0px 0px;
    padding: 0px;
    height: 36px;
    width: 136px;
    float: left;

    a {
      background: url('/resources/images/logos/standard/logo-nav.png') 0px 8px no-repeat;
      display: block;
      height: 56px;
      width: 135px;
      overflow: hidden;
      text-indent: -3000px;
    }
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    li {
      margin: 0px 0px 0px 0px;
    }

    @media handheld and (max-width: $phone-breakpoint),
    screen and (max-device-width: $phone-breakpoint),
    screen and (max-width: $tablet-breakpoint) {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
      float: none;
      position: absolute;
      top: 0px;
      right: $unit;
      z-index: $layer-1;
      background: $regal;
      display: none;

      li {
        display: block;
        float: none;
      }
    }
  }

  .main-nav-button {
    line-height: 56px;
    display: inline-block;
    color: $snow;
    text-decoration: none;
    padding: 0px ($unit * 2);
    text-transform: uppercase;
    font-family: $brand-font;
    font-weight: 300;
    font-size: 16px;

    &:hover {
      background: $ocean;
    }

    // ICONS
    &.has-icon {
      position: relative;
      padding-left: 30px + ($unit * 2);
    }

    .icon {
      font-size: 22px;
      position: absolute;
      top: 15px;
      left: ($unit * 2);
      z-index: $layer-1;
    }

    @media handheld and (max-width: $phone-breakpoint),
    screen and (max-device-width: $phone-breakpoint),
    screen and (max-width: $tablet-breakpoint) {
      display: block;
      float: none;
      line-height: $unit * 6;
      text-align: left;
      font-size: 14px;
      padding: 0px ($unit * 4);

      &.has-icon {
        padding: 0px ($unit * 4);
        position: static;
      }

      .icon {
        display: none;
      }
    }
  }
}