include ../_util-fns

:marked
  # Once Upon a Time

  Run the <live-example></live-example>.

  Create a folder called `angular-tour-of-heroes` and follow the [QuickStart](../quickstart.html) steps,
  which provide the prerequisites, folder structure, and core files for the Tour of Heroes.

include ../_quickstart_repo
:marked
  You should have the following structure:

.filetree
  .file angular-tour-of-heroes
  .children
    .file app
    .children
      .file app.component.ts
      .file app.module.ts
      .file main.ts
    .file node_modules ...
    .file typings ...
    .file index.html
    .file package.json
    .file styles.css
    .file systemjs.config.js
    .file tsconfig.json
    .file typings.json
:marked
  ## Keep the app transpiling and running
  To start the TypeScript compiler, have it watch for changes, and start our server, type the following:
  

code-example(language="bash").
  npm start

:marked
  This command runs the compiler in watch mode, starts the server, launches the app in a browser,
  and keeps the app running while you build the Tour of Heroes.

.l-main-section
  :marked
    ## Show Your Hero
    To display Hero data in the app,
    add two properties to the `AppComponent`: a `title` property for the application name and a `hero` property
    <!-- Should we use "app" or "application", or if both, is there a distinction? -->
    for a hero named "Windstorm."

  +makeExample('toh-1/ts-snippets/app.component.snippets.pt1.ts', 'app-component-1', 'app.component.ts (AppComponent class)')(format=".")

  :marked
    Now update the template in the `@Component` decoration with data bindings to these new properties.

  +makeExample('toh-1/ts-snippets/app.component.snippets.pt1.ts', 'show-hero')

  :marked
    The browser should refresh and display the title and hero name.
    <!-- Do you prefer to present results directly or with "should"? I usually avoid the passive, but in this case
         it could be justified. Either way, both styles are used in this chapter; can we choose one and be consistent? -->

    The double curly braces instruct the app to read the `title` and `hero` properties from the component and render them.
    This is the "interpolation" form of one-way data binding.
.l-sub-section
  :marked
    Learn more about interpolation in the [Displaying Data chapter](../guide/displaying-data.html).
:marked
  ### Hero object

  Our hero needs more properties.
  Let's convert the `hero` from a literal string to a class.

  Create a `Hero` class with `id` and `name` properties.
  For now, add these properties near the top of the `app.component.ts` file, just below the import statement.

+makeExample('toh-1/ts/app/app.component.ts', 'hero-class-1', 'app.component.ts (Hero class)')(format=".")

:marked
  Now in your `Hero` class, refactor the component’s `hero` property to be of type `Hero`,
  <!-- The Angular Team Writing Guidelines says to use straight quotes. Does that also apply to apostrophes? 
       I see a lot of curly apostrophes in the content, though not consistently. --> 
  then initialize it with an id of `1` and the name "Windstorm."

+makeExample('toh-1/ts/app/app.component.ts', 'hero-property-1', 'app.component.ts (hero property)')(format=".")

:marked
  Because you changed the hero from a string to an object,
  update the binding in the template to refer to the hero’s `name` property.

+makeExample('toh-1/ts-snippets/app.component.snippets.pt1.ts', 'show-hero-2')
:marked
  The browser refreshes and continues to display the hero’s name.
  <!-- "should refresh..."? -->

  ### Adding more HTML
  <!-- Can I remove this entire section and just explain the switch to multi-line strings in the next section? -->
  Displaying a name is good, but we want to see all of the hero’s properties.
  Add a `<div>` for the hero’s `id` property and another `<div>` for the hero’s `name`.

+makeExample('toh-1/ts-snippets/app.component.snippets.pt1.ts', 'show-hero-properties')
:marked
  Uh oh, the template string is getting long. Let's clean up the code to avoid making typos in the template.

  ### Multi-line template strings

  Let’s use the template strings feature
  in ES2015 and TypeScript.

  Change the quotes around the template to backticks and
  put the `<h1>`, `<h2>` and `<div>` elements on their own lines.

+makeExample('toh-1/ts-snippets/app.component.snippets.pt1.ts', 'multi-line-strings', 'app.component.ts (AppComponent\'s template)')

  .callout.is-important
    header A back-tick is not a single quote
    :marked
      **Be careful!** A back-tick (`) looks a lot like a single quote (').
      It's actually a completely different character.
      Back-ticks can do more than demarcate a string.
      Here we use them in a limited way to spread the template over multiple lines.
      Everything between the back-ticks at the beginning and end of the template
      is part of a single template string.
      <!-- I don't see this content in the browser. Is it supposed to appear? -->

.l-main-section
:marked
  ## Editing the Hero Name

  We want to be able to edit the hero name in a textbox.

  Refactor the hero name `<label>` with `<label>` and `<input>` elements as shown:

+makeExample('toh-1/ts-snippets/app.component.snippets.pt1.ts', 'editing-Hero', 'app.component.ts (input element)')
:marked
  The hero’s name now appears in the `<input>` textbox.
  But if you change the name, you'll notice that your change
  isn't reflected in the `<h2>`. To get the desired behavior,
  you'll implement two-way binding to `<input>`.

  ### Two-Way Binding

  We intend to display the name of the hero in the `<input>`, change it,
  and see those changes wherever we bind to the hero’s name.
  This is known as two-way data binding.

  Before using two-way data binding for **form inputs**, import the `FormsModule`
  package in your Angular module. Add the `FormsModule` to the `NgModule` decorator's `imports` array, which contains the list
  of external modules that the application uses.
  Now you have included the forms package that includes `ngModel`.

+makeExample('toh-1/ts/app/app.module.ts', '', 'app.module.ts (FormsModule import)')

.l-sub-section
  :marked
    Learn more about the `FormsModule` and `ngModel` in the
    [Forms](../guide/forms.html#ngModel) and
    [Template Syntax](../guide/template-syntax.html#ngModel) chapters.

:marked
  Now update the template to use the  **`ngModel`** built-in directive for two-way binding.

  Replace the `<input>` with the following HTML:
  <!-- Would it be helpful to start this sentence with "In app.component.ts, replace ..." 
       or will the proper file be obvious to the audience? -->

code-example(language="html").
  &lt;input [(ngModel)]="hero.name" placeholder="name">

:marked
  The browser refreshes. Now you can edit the hero’s name and
  see the changes reflected immediately in the `<h2>`.

.l-main-section
:marked
  ## The Road You’ve Travelled
  Let’s take stock of what you’ve built.

  * The Tour of Heroes app uses the double curly braces of interpolation (a type of one-way data binding)
  to display the application title and properties of a `Hero` object.
  * You wrote a multi-line template using ES2015’s template strings to make the template readable.
  * You added a two-way data binding to the `<input>` element
  using the built-in `ngModel` directive. This binding both displays the hero’s name and allows users to change it.
  * The `ngModel` directive propagates changes to every other binding of the `hero.name`.

  Run the <live-example></live-example> for this part.
  <!-- This seems unnecessary; users are instructed to run the live example at the beginning of the chapter,
       and to refer to it throughout. -->

  Here's the complete `app.component.ts` as it stands now:

+makeExample('toh-1/ts/app/app.component.ts', 'pt1', 'app.component.ts')

.l-main-section
:marked
  ## The Road Ahead
  In the next chapter, you'll build on the Tour of Heroes app to display a list of heroes.
  You'll also allow the user to select heroes and display their details.
  You’ll learn more about how to retrieve lists, bind them to the
  template, and allow a user to select a hero in the
  [next tutorial chapter](./toh-pt2.html).
  <!-- There is an auto-generated link to the next chapter at the end of every chapter,   
       so this link is redundant. Can I remove it? -->
