{% import "../lib/githubLinks.html" as github -%}
{% import "../lib/paramList.html" as params -%}

include {$ relativePath(doc.path, '_util-fns') $}


//- Description Banner
//-
//- @description  Breif descriptoin of what the the current API method does
//-

{%- if doc.whatItDoes %}
div(class="banner")
  p.text-body
    :marked
{$ doc.whatItDoes | indentForMarkdown(6) $}
{% endif %}


//- Info Bar
//-
//- @description  Display npm package, ng module, and link to edit document
//-

div(class="info-bar")
  {$ github.githubCustomTitleViewLink(doc, versionInfo, "Improve this doc") $}


article(class="l-docs-content has-jumpnav l-relative")

{% if doc.showSecurityNotes and doc.security %}
h2(id="security") Security Risk
  :marked
{$ doc.security | indentForMarkdown(6) $}
{% endif %}


{% if doc.showDeprecatedNotes %}
h2 Deprecation Notes
  :marked
  {%- if doc.deprecated %}
{$ doc.deprecated | indentForMarkdown(6) $}
  {% else %}
    *Not yet documented*
  {% endif %}
{% endif %}


{%- if doc.howToUse %}
  h2(class="h2-api-docs") How to use
    :marked
{% endif %}


{%- if doc.description %}
  h2 Description
    :marked
{% endif %}


{% if doc.metadataDoc and doc.metadataDoc.members.length %}

  h2 Metadata Properties

  {% for metadata in doc.metadataDoc.members %}{% if not metadata.internal %}
  a(name="{$ metadata.name $}-anchor" class="anchor-offset")
  pre(class="prettyprint no-bg" ng-class="{ 'anchor-focused': appCtrl.isApiDocMemberFocused('{$ metadata.name $}') }")
    code(class="api-doc-code").
      {$ metadata.name $}{$ params.paramList(metadata.parameters) | indent(8, false) | trim $}{$ params.returnType(metadata.returnType) $}

    :marked
      {%- if not metadata.notYetDocumented %}
{$ metadata.description | indentForMarkdown(6) | replace('### Example', '') | replace('## Example', '') | replace('# Example', '') | trimBlankLines $}
      {% endif -%}

    {% if not loop.last %}
    .hr(class="hr-margin")
    {% endif %}

  {% endif %}{% endfor %}
{% endif %}

{% block body %}{% endblock %}


  footer.contributors
    p Made with love from the Angular team and Angular Community.
    div Contributors

