
p.location-badge.
  exported from <a href='../lifecycle_hooks'>angular2/lifecycle_hooks</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/core/compiler/interfaces.ts#L124-L142">angular2/src/core/compiler/interfaces.ts (line 124)</a>

:markdown
  Defines interfaces to be implemented by directives when they need to hook into the change
  detection mechanism.
.l-main-section
  h2 Members
  .l-sub-section
    h3 afterContentChecked

    
    pre.prettyprint
      code.
        afterContentChecked()
    
    :markdown
      
      




