.row-number-column{
  width: 40px;
  background-color: #eeeeee;
  text-align: center;
}

#hero-grid td{
  border: 1px solid gray;
}

#hero-grid input{
  border:0;
}

#hero-grid .columnHeader{
  background-color: #eeeeee;
  text-transform: uppercase;
  text-align: center;
}

#hero-grid{
  border-collapse: collapse;
}
