include ../../../_includes/_util-fns

//- See the _util-fns file included above for a description of the use of these variables.
- var _docsFor = 'ts';
//- Other values match the defaults.

//- Deprecated
mixin liveExampleLink(linkText, exampleUrlPartName)
  - var text = linkText || 'live example';
  - var ex = exampleUrlPartName || getExampleName();
  - var href = '/resources/live-examples/' + ex + '/ts/plnkr.html';
  a(href='#{href}' target="_blank")= text

//- Deprecated
mixin liveExampleLink2(linkText, exampleUrlPartName)
  //- In Dart this gives 2 links: to the demo and to the source.
  +liveExampleLink(linkText, exampleUrlPartName)
