include ../../../_includes/_util-fns

- var docsFor = 'ts';

mixin privateVar(varName)
  | #{varName}

mixin liveExampleLink(linkText, exampleUrlPartName)
  a(href='/resources/live-examples/#{exampleUrlPartName}/ts/plnkr.html')= linkText

mixin liveExampleLink2(linkText, exampleUrlPartName)
  //- In Dart this also gives a link to the source.
  span.
    #[+liveExampleLink(linkText, exampleUrlPartName)]
