- var base = current.path[4] ? '.' : './guide';
.banner
  p.text-body This cheat sheet is provisional and may change. Angular 2 is currently in Release Candidate.

article(class="l-content-small grid-fluid docs-content")
  .cheatsheet
    ngio-cheatsheet(src= base + '/cheatsheet.json')
