div(flex)
  p.
    What's your question about?
  select#feedback-dropdown(name="Angular Version")
    option(value="angular2") Angular 2
    option(value="angularJS") AngularJS
  button#feedback-btn.
    Submit
