div(flex)
  p.
    What's your question about?
  select#feedback-dropdown(name="Angular Version")
    option(value="Angular2") Angular2
    option(value="AngularJS") AngularJS
  button#feedback-btn.
    Submit
