div(flex)
  p.
    What's your question about?
  select#feedback-dropdown(name="Angular Version")
    option(value="Angular2") Angular 2
    option(value="Angular1") Angular 1
  button#feedback-btn.
    Submit
