/*
* Typographic Variables
*
*/

$brand-font: 'Roboto', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$mono-font: Monaco, "Lucida Console", monospace;


/*
* Metric Variables
*
*/

$unit: 8px;


/*
* Color Variables
*
* Colors are ordered from light to dark (top to bottom).
* Do not use hex codes directly in other Sass files. The
* following colors are the only approved colors for this site.
*/

// GREEN COLORS
$cactus: #61BC67;

// BLUE COLORS
$sky: #0085D3;
$regal: #0273D4;
$blueberry: #0262C2;
$ocean: #0143A3;

// RED COLORS
$squid: #EF3872;
$cardinal: #E23237;
$ruby: #B52E31;

// DARK GRAY COLORS
$charcoal: #000000;
$steel: #36474F;
$silver: #445A64;
$platinum: #536E7A;

// LIGHT GRAY COLORS
$cloud: #AFBEC5;
$fog: #CFD8DC;
$mist: #ECEFF1;
$snow: #FFFFFF;


