/*
* Typography
*
* Only the fonts listed below should be used throughout the site.
*/

$brand-font: 'Roboto', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$mono-font: Monaco, "Lucida Console", monospace;


/*
* Metrics
*
* Metrics based on material design 8pt unit
*/

$unit: 8px;
$phone-breakpoint: 480px;
$tablet-breakpoint: 800px;


/*
* Layer Stacking
*
* The approved range that can be used for layering (z-indexes)
*/

$layer-1: 1;
$layer-2: 2;
$layer-3: 3;
$layer-4: 4;
$layer-5: 5;
$layer-6: 6;
$layer-7: 7;
$layer-8: 8;
$layer-9: 9;
$layer-10: 10;