@media print {
 /*
  * Print Styles
  *
  */
  .banner {
    background: #ECEFF1;
    -webkit-print-color-adjust: exact;
    padding: 16px 22px;
    margin: 0 48px;
    min-height: 96px;
  }
  .side-nav, nav {
    display:none;
  }
  // HIDE FOR PRINT
  .main-nav,
  .main-footer,
  .cta-bar {
    display:none;
  }

  // ZERO OUT MARGIN & PADDING
  .l-offset-nav,
  .l-offset-side-nav {
    padding: 0 !important;
    margin: 0 !important;
  }

  // BACKGROUND FOR PRINT
  // .hero {
  //   background: none !important;
  // }

  //COLOR DARK
  .hero-title,
  .hero-subtitle {
    color: $steel;
  }

  table {
    border-bottom: 5px solid #4D6A79;
    width: 100%;
    code {
      background: transparent;
      display: inline-block;
}
    th {
      background: #4D6A79;
      color: white;
      padding: $unit ($unit * 2);
      box-sizing: border-box;
      width: 50%;
      code {
        color: white;
      }
      &:last-child {
        text-align: right;
      }
      &:first-child {
        text-align: left;
      }
    }
    td {
      padding: $unit ($unit * 2);
      box-sizing: border-box;
      width: 50%;
      vertical-align: top;
      border: none;
    }

    td p, th p {
      margin: 0;
      font-size: inherit;
      font-weight: inherit;
      opacity: inherit;
      line-height: inherit;
      padding: 0;
    }

    tr:nth-child(odd) {
      background: #E7EBEE;
      -webkit-print-color-adjust: exact;
    }
  }

  .l-sub-section {
    background: #f5f6f7;
    -webkit-print-color-adjust: exact;
    border-radius: 4px;
  }

  code {
    background: #F5F6F7;
    -webkit-print-color-adjust: exact;
    border-radius: 2px;
    font-family: Monaco,"Lucida Console",monospace;
    color: #5C707A;
    padding: 0 4px;
    font-size: 90%;
  }

  .prettyprint {
    background: #F5F6F7;
    -webkit-print-color-adjust: exact;
    font-family: Monaco,"Lucida Console",monospace;
    color: #5C707A;
    width: auto;
    overflow: auto;
    position: relative;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 24px;
    border-radius: 0 0 4px 4px;
    padding: 16px 32px;
  }

  .example-title {
    color: #fff;
    padding: 0 16px;
    font-size: 14px;
    border-color: #1976D2;
    background: #1976D2;
    -webkit-print-color-adjust: exact;
    box-shadow: none;
    margin-bottom: -18px;
  }
  .example-title.avoid {
    background: #E0343D;
    border-color: #E0343D;
  }

}
