/*
* Background Colors
*
* Background utility classes to add color to elements
*/

.background-sky {
  background: linear-gradient(top, $ocean, $regal);
  color: $snow;
}

.background-regal {
  background: $regal;
  color: $snow;
}

.background-coal {
  background: $coal;
  color: $snow;
}

.background-steel {
  background: $steel;
  color: $snow;
}

.background-silver {
  background: $silver;
  color: $snow;
}


/*
* Text Colors
*
* Text color utility color classes
*/

.text-snow {
  color: $snow;
}