/*
* Background Colors
*
* Background utility classes to add color to elements
*/

.background-sky {
  background-color: $blue-700;
  background: linear-gradient(145deg, $blue-900, $blue-400);
  color: $snow;
}

.background-midnight {
  background: $blue-grey-900;
  color: $snow;
}


/*
* Background Images
*
*/

.background-superhero-paper {
  background: url('/resources/images/backgrounds/super-hero-large.png') no-repeat bottom center , linear-gradient(145deg, $blue-900, $blue-400);
  background-blend-mode: multiply;
  background-size: 100%;
}