
.nav-blocks {
    margin: 0 12px;
    padding: 15px 0;
    border-bottom: 1px solid #CFD8DC;
    color: #536E7A;
}

.nav-blocks a {
    text-decoration: none;
    color: #536E7A;
    display: block;
}

.nav-blocks:last-child {
    border: none
}

.nav-blocks ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.nav-blocks li {
    min-height: 18px;
    position: relative;
    &.is-selected  {
        > a {
          background: white;
          color: $regal;
        }
      }
}

.nav-blocks ol {
    padding-left: 15px;
    margin: 0
}

.nav-title,
.nav-sub-title {
    text-transform: uppercase;
    font-weight: bold;
}

.nav-title {
    font-size: 15px;
    padding: 5px 0 10px 0;
}

.nav-primary-link {
    margin-bottom: 10px;
    position: relative;
}

.nav-sub-title {
    font-size: 12px;
    padding: 5px 0;
}

.nav-active a {
    color: #0273D4; /* $regal */
    background: #F5F6F7; /* $lightgrey */
    font-weight: bold;
}

.nav-ordered-lists li a,
.nav-unordered-lists li a,
.nav-primary-link a {
    margin-left: -24px;
    padding-left: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav-blocks li a:hover,
.nav-primary-link a:hover {
    background: #f8f8f8;
}

.nav-primary-link a:hover {
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav-blocks li a:hover:before,
.nav-primary-link a:hover:before {
    position: absolute;
    top: 50%;
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.2em solid #8FA4AE;
    border-top: 0.2em solid #8FA4AE;
    transform: rotate(45deg);
    right: -5px;
    margin-top: -3px;
    margin-right: 14px;
}
