doctype html public
html(lang="en")
  head
    != partial("../_includes/_head-include")

  body.l-offset-nav
    != partial("../_includes/_main-nav")
    != partial("../_includes/_hero")



    article(class="l-docs-content")
      != yield

    != partial("../_includes/_footer")
    != partial("../_includes/_scripts-minimum")