<div class="resources js-resources-ctrl grid-fixed" ng-controller="ResourcesCtrl as ctrl">
    <div class="c10">
        <div class="form">
            <h2>Contribute Your Resource</h2>
            <p>
                Would you like to be listed in this page? Fill out this <a href="https://docs.google.com/a/rangle.io/forms/d/1qzWaDpTgTPe4iPDRF_VCT9aHXKimUocwlFnVJUdKabY/viewform?c=0&w=1">form</a>.
            </p>
        </div>

        <div class="showcase shadow-1" ng-repeat="(category, categoryContent) in ctrl.fbObject">
            <header class="showcase-header">
                <a name="{{category}}"></a>
                <h2 class="text-headline text-uppercase">{{ category }}</h2>
            </header>
            <div>
                <div ng-repeat="section in categoryContent">
                    <div ng-repeat="(subsectionName, subsectionObj) in section">
                        <h3 class="subsection-title">{{subsectionObj.title}}</h3>
                        <div ng-repeat="resource in subsectionObj.resources">
                            <div class="resource-row" ng-if="resource.rev">
                                <a class="flex resource-row-link" target="_blank" href="{{resource.url}}">
                                    <!--<div class="logo-container">-->
                                        <!--<img src="{{resource.logo}}" alt="">-->
                                    <!--</div>-->
                                    <div>
                                        <h4>{{ resource.title }}</h4>
                                        <p ng-if="resource.desc">{{ resource.desc }}</p>
                                        <p ng-if="!resource.desc">No Description.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="c2">-->
        <!--<ul>-->
            <!--<li ng-repeat="(category, categoryContent) in ctrl.fbObject"><a href="#{{ category }}">{{ category }}</a></li>-->
        <!--</ul>-->
    <!--</div>-->
</div>