<div class="resources js-resources-ctrl grid-fixed" ng-controller="ResourcesCtrl as ctrl">
    <div class="c8">
        <div class="l-flex--column">
            <div class="showcase" ng-repeat="(category, categoryObj) in ctrl.fbObject">
                <header class="c-resource-header">
                    <a class="h-anchor-offset" name="{{category}}"></a>
                    <h2 class="text-headline text-uppercase">{{ category }}</h2>
                </header>

                <div class="shadow-1">
                    <div ng-repeat="(subCategory, subcategoryObj) in categoryObj">
                        <a class="h-anchor-offset" name="{{subCategory}}"></a>
                        <h3 class="text-uppercase subcategory-title">{{subCategory}}</h3>

                        <div ng-repeat="(section, sectionObj) in subcategoryObj">
                            <div ng-repeat="resource in sectionObj | orderObjectByOfTypeString:'title':false">
                                <div class="c-resource" ng-if="resource.rev">
                                    <a class="l-flex--column resource-row-link" target="_blank" href="{{resource.url}}">
                                        <div>
                                            <h4>{{ resource.title }}</h4>
                                            <p class="resource-description" ng-if="resource.desc">{{ resource.desc }}</p>
                                            <p class="resource-description" ng-if="!resource.desc">No Description</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c3">
        <div class="c-resource-nav shadow-1 l-flex--column h-affix" ng-class="{ 'affix-top': ctrl.scrollPos > 200 }">
            <div class="category" ng-repeat="(category, categoryObj) in ctrl.fbObject">
                <a class="category-link h-capitalize" href="#{{ category }}">{{ category }}</a>
                <div class="subcategory" ng-repeat="(subCategory, subcategoryObj) in categoryObj">
                    <a class="subcategory-link" href="#{{subCategory}}">{{subCategory}}</a>
                </div>
            </div>
        </div>
    </div>
</div>