<div class="showcase js-resources-ctrl resources" ng-controller="ResourcesCtrl as ctrl">
    <div class="showcase-content">
        <div>
            <div class="form l-space-bottom-7">
                <div class="callout is-helpful">
                    <p>
                        Would you like to be listed in this page? Fill out this <a href="https://docs.google.com/a/rangle.io/forms/d/1qzWaDpTgTPe4iPDRF_VCT9aHXKimUocwlFnVJUdKabY/viewform?c=0&w=1">form</a>.
                    </p>
                </div>
            </div>

            <h1>Explore our Resources</h1>

            <div class="flex" style="margin-bottom: 64px;">
                <div class="resource-tabs">
                    <div ng-repeat="(category, categoryContent) in ctrl.fbObject"
                        class="resource-tab text-uppercase"
                        ng-class="{selected: category === ctrl.selectedCategory}"
                        ng-click="ctrl.onSelectCategory(category)">{{category}}
                    </div>
                </div>
            </div>
            <div class="section" ng-repeat="(category, categoryContent) in ctrl.fbObject">
                <div ng-if="ctrl.selectedCategory === category">
                    <div ng-repeat="section in categoryContent">
                        <div ng-repeat="(subsectionName, subsectionObj) in section">
                            <h1 class="subsection-title">{{ subsectionObj.title }}</h1>
                            <div class="subsection flex">
                                <div ng-repeat="resource in subsectionObj.resources">
                                    <div class="card shadow-1" ng-if="resource.rev">
                                        <a target="_blank" href="{{resource.url}}">
                                            <h3 class="title-link">{{ resource.title }}</h3></a>
                                        <!-- NOTE: Description may not exists for all entries -->
                                        <p ng-if="resource.desc" class="description">{{ resource.desc }}</p>
                                        <p ng-if="!resource.desc" class="description">No information found. Submit a description by filling out this <a class="card-link" href="https://docs.google.com/a/rangle.io/forms/d/1qzWaDpTgTPe4iPDRF_VCT9aHXKimUocwlFnVJUdKabY/viewform?c=0&w=1">form</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>