<div class="resources js-resources-ctrl grid-fixed" ng-controller="ResourcesCtrl as ctrl">
    <div class="c8">
        <div class="flex">
            <div class="showcase" ng-repeat="(category, categoryContent) in ctrl.fbObject">
                <div>
                    <header>
                        <a class="anchor-offset" name="{{category}}"></a>
                        <h2 class="text-headline text-uppercase">{{ category }}</h2>
                    </header>
                    <div class="shadow-1">
                        <div ng-repeat="section in categoryContent">
                            <div ng-repeat="(subsectionName, subsectionObj) in section">
                                <a class="anchor-offset" name="{{subsectionObj.title}}"></a>
                                <h3 class="subsection-title">{{subsectionObj.title}}</h3>
                                <div ng-repeat="resource in subsectionObj.resources">
                                    <div class="resource-row" ng-if="resource.rev">
                                        <a class="flex resource-row-link" target="_blank" href="{{resource.url}}">
                                            <div>
                                                <h4>{{ resource.title }}</h4>
                                                <p class="description" ng-if="resource.desc">{{ resource.desc }}</p>
                                                <p class="description" ng-if="!resource.desc">No Description</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form">
            <h2>Contribute Your Resource</h2>
            <p>
                Would you like to be listed in this page? Fill out this <a href="https://docs.google.com/a/rangle.io/forms/d/1qzWaDpTgTPe4iPDRF_VCT9aHXKimUocwlFnVJUdKabY/viewform?c=0&w=1">form</a>.
            </p>
        </div>
    </div>



    <div class="c4">
        <div>
            <ul class="flex">
                <li ng-repeat="(category, categoryContent) in ctrl.fbObject">
                    <a class="capitalize" href="#{{ category }}">{{ category }}</a>
                    <ul ng-repeat="section in categoryContent">
                        <li ng-repeat="group in section"><a href="#{{group.title}}">{{group.title}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>