.resources.js-resources-ctrl.grid-fixed(ng-controller='ResourcesCtrl as ctrl')
  .c8
    .l-flex--column
      .showcase(ng-repeat='(category, categoryObj) in ctrl.fbObject')
        header.c-resource-header
          a.h-anchor-offset(name='{{category}}')
          h2.text-headline.text-uppercase {{ category }}
        .shadow-1
          div(ng-repeat='(subCategory, subcategoryObj) in categoryObj')
            a.h-anchor-offset(name='{{subCategory}}')
            h3.text-uppercase.subcategory-title {{subCategory}}
            div(ng-repeat='(section, sectionObj) in subcategoryObj')
              div(ng-repeat="resource in sectionObj | orderObjectByOfTypeString:'title':false")
                .c-resource(ng-if='resource.rev')
                  a.l-flex--column.resource-row-link(target='_blank', ng-href='{{resource.url}}')
                    div
                      h4 {{ resource.title }}
                      p.resource-description(ng-if='resource.desc') {{ resource.desc }}
                      p.resource-description(ng-if='!resource.desc') No Description
  .c3
    .c-resource-nav.shadow-1.l-flex--column.h-affix(ng-class="{ 'affix-top': ctrl.scrollPos > 200 }")
      .category(ng-repeat='(category, categoryObj) in ctrl.fbObject')
        a.category-link.h-capitalize(ng-href='#{{ category }}') {{ category }}
        .subcategory(ng-repeat='(subCategory, subcategoryObj) in categoryObj')
          a.subcategory-link(ng-href='#{{subCategory}}') {{subCategory}}
