
p.location-badge.
  exported from <a href='../annotations'>angular2/annotations</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/core/annotations_impl/di.ts#L3-L44">angular2/src/core/annotations_impl/di.ts (line 3)</a>

:markdown
  Specifies that a constant attribute value should be injected.
  
  The directive can inject constant string literals of host element attributes.
  
  ## Example
  
  Suppose we have an `<input>` element and want to know its `type`.
  
  ```html
  <input type="text">
  ```
  
  A decorator can inject string literal `text` like so:
  
  ```javascript
  @Directive({
    selector: `input'
  })
  class InputDirective {
    constructor(@Attribute('type') type) {
      // type would be `text` in this example
    }
  }
  ```
  
  

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation CONST
    pre.prettyprint
      code.
        @CONST()


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(attributeName: string)
    
    :markdown
      
      




  .l-sub-section
    h3 attributeName

    
    :markdown
      
      





  .l-sub-section
    h3 token

    
    :markdown
      
      





  .l-sub-section
    h3 toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown
      
      




