/* route-link anchor tags */
nav a {padding: 5px; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
nav a:visited, a:link {color: #444;}
nav a:hover {color: white; background-color: #1171a3; }
nav a.router-link-active {color: white; background-color: #52b9e9; }

.active {font-style: italic;}
.shazam {font-weight: bold;}

img {height: 100px;}

table td {
  padding: 4px;
  border: 1px solid #e0e0e0;
}