/* #docplaster plaster here */
/* #docregion foo, bar */
h2 { color: #444; font-weight: lighter; }
/* #enddocregion foo
body { margin: 2em; }
/* #enddocregion bar
/* #docregion foo, bar */
body, input[text], button { color: #888; font-family: Cambria, Georgia; }
/* #enddocregion bar
button {padding: 0.2em; font-size: 14px}