extends ../../ts/latest/glossary.jade

block includes
  include _util-fns

block bootstrap-defn-top
  :marked
    We launch an Angular application by "bootstrapping" it with the
    `bootstrap` method.  The `bootstrap` method identifies an
    application's top level "root" [Component](#component) and optionally
    registers service [providers](#provider) with the [dependency injection
    system](#dependency-injection).
