// TODO: don't duplicate text that's in /docs/dart/latest/resources.jade
.l-main-section
  h2 Victor Savkin's Blog Posts
  ul
    li <a href="http://victorsavkin.com/post/110170125256/change-detection-in-angular-2">Change detection</a>
    li <a href="http://victorsavkin.com/post/108837493941/better-support-for-functional-programming-in">Functional programming </a>
    li <a href="http://victorsavkin.com/post/102965317996/angular-2-bits-unified-dependency-injection">Dependency injection</a>

.l-main-section
  h2 David East's Intro Todo App
  ul
    li <span class="icon-play-circle-outline"></span> <a href="https://www.youtube.com/watch?v=uD6Okha_Yj0">Building a Todo App</a> (video)

.l-main-section
  h2 <span class="icon-play-circle-outline"></span> More Videos
  ul
    li <a href="https://www.youtube.com/watch?v=lGdnh8QSPPk&list=PLhc_bKwZngxW_ZlY0NkaGkvKpiA_pzcZ-">ng-europe playlist of videos</a> on Angular 2 and the future of Angular
    li <a href="https://www.youtube.com/watch?v=QHulaj5ZxbI&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">ng-conf 2015 playlist of videos</a>


.l-main-section
  h2 <span class="icon-content-copy"></span> API Design Docs &amp; Notes
  ul
    li <a href="https://drive.google.com/open?id=0B5PzLooin-9SQW9PQUtRWktSQUk&authuser=0">Best Practices</a>
    li <a href="https://drive.google.com/open?id=0BxgtL8yFJbacUnUxc3l5aTZrbVk&authuser=0">API Design Docs</a>
    li <a href="https://drive.google.com/open?id=0BxgtL8yFJbacMEZDc2NtWS1VZ1k&authuser=0">Meeting Notes</a>
    li <a href="https://drive.google.com/open?id=0BxgtL8yFJbaceGc2dlhGQnMzYXc&authuser=0">Presentations</a>
    li <a href="http://goo.gl/sj0Nk1">More...</a>
