.l-main-section
  h2 Victor Savkin's blog posts:
  ul
    li Change Detection http://victorsavkin.com/post/110170125256/change-detection-in-angular-2
    li <a href="http://victorsavkin.com/post/108837493941/better-support-for-functional-programming-in">Functional programming </a>
    li dependency injection http://victorsavkin.com/post/110170125256/change-detection-in-angular-2

Video: David East's intro to the todo app
GDEs: https://developers.google.com/experts/all/technology/angular-js

Other videos
ng-europe playlist of videos on angular 2 and future of angular https://www.youtube.com/watch?v=lGdnh8QSPPk&list=PLhc_bKwZngxW_ZlY0NkaGkvKpiA_pzcZ-
soon: playlist of video from ng-conf 2015
Anders Hejlsberg's talk on TypeScript from December https://www.youtube.com/watch?v=Ut694dsIa8w
