// TODO: don't duplicate text that's in /docs/dart/latest/resources.jade
.l-main-section
  h2 Victor Savkin's Blog Posts
  ul
    li <a href="http://angularjs.blogspot.com/2015/03/forms-in-angular-2.html">Forms in Angular 2</a>
    li <a href="http://victorsavkin.com/post/110170125256/change-detection-in-angular-2">Change detection</a>
    li <a href="http://victorsavkin.com/post/108837493941/better-support-for-functional-programming-in">Functional programming </a>
    li <a href="http://victorsavkin.com/post/102965317996/angular-2-bits-unified-dependency-injection">Dependency injection</a>

.l-main-section
  h2 <span class="icon-play-circle-outline"></span> David East's Intro Todo App
  ul
    li <a href="https://www.youtube.com/watch?v=uD6Okha_Yj0">Building a Todo App</a> (video)

.l-main-section
  h2 <span class="icon-play-circle-outline"></span> More Videos
  ul
    li New! The <a href="https://www.youtube.com/watch?v=QHulaj5ZxbI&index=1&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">ng-conf 2015 playlist of videos</a>. Specifically:
    ul
      li <a href="https://www.youtube.com/watch?v=QHulaj5ZxbI&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">Day 1 Keynote</a>: a broad overview of Angular 2, migration, and where we are headed.
      li <a href="https://www.youtube.com/watch?v=-dMBcqwvYA0&index=21&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">Day 2 Keynote</a>: Misko and Rado do a deep-dive on Angular 2 details.
      li <a href="https://www.youtube.com/watch?v=AbunztfV5vU&index=6&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">Creating Container Components with Web Components in Angular</a>: Components Talk by Kara Erickson & Rachael L Moore from Open Table.
      li <a href="https://www.youtube.com/watch?v=jvKGQSFQf10&index=31&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">Change Detection Reinvented</a>: Why Angular 2 change detection is fast out of the box and options for developers to make it even faster.
    li From Oct 2014: the <a href="https://www.youtube.com/watch?v=lGdnh8QSPPk&list=PLhc_bKwZngxW_ZlY0NkaGkvKpiA_pzcZ-">ng-europe</a> playlist of videos on Angular 2 and the future of Angular


.l-main-section
  h2 <span class="icon-content-copy"></span> API Design Docs &amp; Notes
  ul
    li <a href="https://drive.google.com/open?id=0B5PzLooin-9SQW9PQUtRWktSQUk&authuser=0">Best Practices</a>
    li <a href="https://drive.google.com/open?id=0BxgtL8yFJbacUnUxc3l5aTZrbVk&authuser=0">API Design Docs</a>
    li <a href="https://drive.google.com/open?id=0BxgtL8yFJbacMEZDc2NtWS1VZ1k&authuser=0">Meeting Notes</a>
    li <a href="https://drive.google.com/open?id=0BxgtL8yFJbaceGc2dlhGQnMzYXc&authuser=0">Presentations</a>
    li <a href="http://goo.gl/sj0Nk1">More...</a>