<div class="resources js-resources-ctrl grid-fixed">
  <div class="c8">
    <div>
      <header class="c-resource-header" *ngIf="developmentItems.length">
        <a class="h-anchor-offset" name="Development"></a>
        <h2 class="text-headline text-uppercase">Development</h2>
      </header>
      <section class="category shadow-1">
        <div class="category__sub" *ngFor="let i of developmentItems">
          <h3>{{ i.key }}</h3>
          <a class="invisible" name="{{i.key}}"></a>
          <div class="sub__resource" *ngFor="let j of i.items">
            <template [ngIf]="j.rev">
              <a class="resource" href="{{ j.url }}">
                <h4 class="title">{{ j.title }}</h4>
                <p class="details">{{ j.desc }}</p>
              </a>
            </template>
          </div>
        </div>
      </section>

      <header class="c-resource-header" *ngIf="educationItems.length">
        <a class="h-anchor-offset" name="Education"></a>
        <h2 class="text-headline text-uppercase">Education</h2>
      </header>
      <section class="category shadow-1">
        <div class="category__sub" *ngFor="let i of educationItems">
          <h3>{{ i.key }}</h3>
          <a class="invisible" name="{{i.key}}"></a>
          <div class="sub__resource" *ngFor="let j of i.items">
            <template [ngIf]="j.rev">
              <a class="resource" href="{{ j.url }}">
                <h4 class="title">{{ j.title }}</h4>
                <p class="details">{{ j.desc }}</p>
              </a>
            </template>
          </div>
        </div>
      </section>

      <header class="c-resource-header" *ngIf="communityItems.length">
        <a class="h-anchor-offset" name="Community"></a>
        <h2 class="text-headline text-uppercase">Community</h2>
      </header>
      <section class="category shadow-1">
        <div class="category__sub" *ngFor="let i of communityItems">
          <h3>{{ i.key }}</h3>
          <a class="invisible" name="{{i.key}}"></a>
          <div class="sub__resource" *ngFor="let j of i.items">
            <template [ngIf]="j.rev">
              <a class="resource" href="{{ j.url }}">
                <h4 class="title">{{ j.title }}</h4>
                <p class="details">{{ j.desc }}</p>
              </a>
            </template>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="c2">
    <div class="jumpnav jumpnav--affix-top shadow-1" [ngClass]="{ 'jumpnav--adjust': adjustJumpnav }">
      <p class="jumpnav__title" *ngIf="developmentItems.length">Development</p>
      <div class="jumpnav__category" *ngIf="developmentItems.length">
        <a href="#{{i.key}}" *ngFor="let i of developmentItems">{{i.key}}</a>
      </div>

      <p class="jumpnav__title" *ngIf="educationItems.length">Education</p>
      <div class="jumpnav__category" *ngIf="educationItems.length">
        <a href="#{{i.key}}" *ngFor="let i of educationItems">{{i.key}}</a>
      </div>

      <p class="jumpnav__title" *ngIf="communityItems.length">Community</p>
      <div class="jumpnav__category" *ngIf="communityItems.length">
        <a href="#{{i.key}}" *ngFor="let i of communityItems">{{i.key}}</a>
      </div>
    </div>
  </div>
</div>