h2 {
  line-height: 42px;
}

h3 {
  background-color: #ECEFF1;
  padding: 16px 23px;
  font-size: 17px;
  margin: 0;
}

h4 {
  font-size: 14px;
  margin-bottom: 0;
}

.category {
  max-width: 600px;
  margin-bottom: 48px;
}

.category__sub {
}

.sub__resource {
  background: #fff;
}

.resource {
  display: block;
  padding: 0 23px;
  transition: all .3s;
  line-height: 1em;
  border: transparent solid 1px;
}

.resource:hover {
  text-decoration: none;
  box-shadow: 0 8px 8px rgba(1,67,163,0.24),0 0 8px rgba(1,67,163,0.12),0 6px 18px rgba(43,133,231,0.12);
  -webkit-transform: translate3d(0,-2px,0);
  transform: translate3d(0,-2px,0);
  border-color: #1976D2;
}

.details {
  font-size: 14px;
  line-height: 21px;
  margin-top: 4px;
}

.jumpnav {
  width: 160px;
  background: #fff;

}

.jumpnav--affix-top {
  position: fixed;
  top: 345px;
}

.jumpnav__category {
margin-bottom: 16px;
}

.jumpnav__category a {
  display: block;
  font-size: 14px;
  line-height: 24px;
}

.jumpnav__category a:hover {
  background: #edf0f2;
}

.jumpnav__title, .jumpnav__category a {
  padding: 0 16px;
}

.jumpnav__title {
  padding-top: 12px;
  text-transform: uppercase;
}

.jumpnav--adjust {
  top: 64px;
}

.invisible {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

@media(max-width: 1024px) {
  .c2 {
    display: none;
  }
}

.resource {
  color: #1a2326 !important;
}