#sg-aside.showcase.shadow-1
  header.showcase-header
    h2 Asides
    p.
      You this for content that is related in a tangential way but
      not critical to learning, it can be ignored. The paragraph
      that includes this element should always surround it with text.

  .showcase-content
    .l-sub-section

      h3 Adding an aside

      aside.is-right Did you know that hipsum is a replacement for Lorem Ipsum? To find out more visit <a href="http://hipsum.co/">hipsum.co</a>
      p.
        Etsy artisan Thundercats, authentic sustainable bitters wolf roof party meditation 90's asymmetrical XOXO hoodie. Twee umami cray iPhone. Chillwave shabby chic tilde occupy sriracha squid Brooklyn street art. Selvage heirloom kogi American Apparel bicycle rights. Carles Etsy Truffaut mlkshk trust fund. Jean shorts fashion axe Williamsburg wolf cardigan beard, twee blog locavore organic. Cred skateboard dreamcatcher, taxidermy Bushwick actually aesthetic normcore fanny pack.



      pre.prettyprint.linenums.lang-html
        code.
          aside.is-right Did you know that hipsum is a replacement for Lorem Ipsum? To find out more visit <a href="http://hipsum.co/">hipsum.co</a>

          p.
            Etsy artisan Thundercats, authentic sustainable bitters
            wolf roof party meditation 90's asymmetrical XOXO hoodie.
            Twee umami cray iPhone. Chillwave shabby chic tilde
            occupy sriracha squid Brooklyn street art.
