#sg-images.showcase.shadow-1
  header.showcase-header
    h2 Images
    p.
      To maintain visual consistency across documentation chapters, please follow the best
      practices for authors outlined in the <a href="/docs/ImageGuide.pdf" target="_blank">Image
      Guide</a>.
    p.
     The browser background template used for outlining screenshots is <a
     href="/resources/images/backgrounds/browser-background-template.png" target="_blank">here</a>.
