.grid-fluid
  .c10
    != partial("_layouts")
    != partial("_code-examples")
    != partial("_alerts")
    != partial("_callouts")
    != partial("_tables")
    != partial("_aside")
    != partial("_images")

//!= partial("_jump-nav")
