include ../_util-fns

:marked
  We’ll need an Angular application to test, one as simple as possible while having most of the angular features we want to test.

  What better app than our own [The Tour of Heroes](../tutorial/toh-pt5.html)? We're already quite familiar with it and it fits our criteria, so let's try to test what we've done there.
  
  We might end up modifying it a bit, because it doesn't have everything we want to test, but it's the perfect starting point.
  
  Create a copy of the Tour of Heroes app so that we can fiddle without fear.
