
<h1>coreDirectives</h1>
<h2>(const)</h2>
<div>
<p>A collection of the Angular core directives that are likely to be used in each and every Angular
application.</p>
<p>This collection can be used to quickly enumerate all the built-in directives in the <code>@View</code>
annotation. For example,
instead of writing:</p>
pre(class="prettyprint linenums")
  code.
import {If, NgFor, NgSwitch, NgSwitchWhen, NgSwitchDefault} from 'angular2/angular2';
import {OtherDirective} from 'myDirectives';

@Component({
 selector: 'my-component'
})
@View({
  templateUrl: 'myComponent.html',
  directives: [If, NgFor, NgSwitch, NgSwitchWhen, NgSwitchDefault, OtherDirective]
})
export class MyComponent {
  ...
}<p>one could enumerate all the core directives at once:</p>
pre(class="prettyprint linenums")
  code.
import {coreDirectives} from 'angular2/angular2';
import {OtherDirective} from 'myDirectives';

@Component({
 selector: 'my-component'
})
@View({
  templateUrl: 'myComponent.html',
  directives: [coreDirectives, OtherDirective]
})
export class MyComponent {
  ...
}
</div>
