
.l-main-section
  p.location-badge.
    exported from <a href='../directives'>angular2/directives</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/directives.ts#L63-L64">angular2/directives.ts (line 63)</a>

  :markdown
    A collection of the Angular core directives that are likely to be used in each and every Angular
    application.
    
    This collection can be used to quickly enumerate all the built-in directives in the `@View`
    annotation. For example,
    instead of writing:
    
    ```
    import {NgClass, NgIf, NgFor, NgSwitch, NgSwitchWhen, NgSwitchDefault} from 'angular2/angular2';
    import {OtherDirective} from 'myDirectives';
    
    @Component({
     selector: 'my-component'
    })
    @View({
      templateUrl: 'myComponent.html',
      directives: [NgClass, NgIf, NgFor, NgSwitch, NgSwitchWhen, NgSwitchDefault, OtherDirective]
    })
    export class MyComponent {
      ...
    }
    ```
    one could import all the core directives at once:
    
    ```
    import {CORE_DIRECTIVES} from 'angular2/angular2';
    import {OtherDirective} from 'myDirectives';
    
    @Component({
     selector: 'my-component'
    })
    @View({
      templateUrl: 'myComponent.html',
      directives: [CORE_DIRECTIVES, OtherDirective]
    })
    export class MyComponent {
      ...
    }
    ```
    
    

