
p.location-badge.
  exported from <a href='../directives'>angular2/directives</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/core/directives/ng_for.ts#L4-L115">angular2/src/core/directives/ng_for.ts (line 4)</a>

:markdown
  Common directives shipped with Angular.

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Directive
    pre.prettyprint
      code.
        @Directive({selector: &#39;[ng-for][ng-for-of]&#39;, properties: [&#39;ngForOf&#39;], lifecycle: [LifecycleEvent.DoCheck]})


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(viewContainer: ViewContainerRef, templateRef: TemplateRef, iterableDiffers: IterableDiffers, cdr: ChangeDetectorRef)
    
    :markdown
      
      




  .l-sub-section
    h3 viewContainer

    
    :markdown
      
      





  .l-sub-section
    h3 templateRef

    
    :markdown
      
      





  .l-sub-section
    h3 iterableDiffers

    
    :markdown
      
      





  .l-sub-section
    h3 cdr

    
    :markdown
      
      





  .l-sub-section
    h3 ngForOf

    
    :markdown
      
      





  .l-sub-section
    h3 doCheck

    
    pre.prettyprint
      code.
        doCheck()
    
    :markdown
      
      




