
p.location-badge.
  exported from <a href='../directives'>angular2/directives</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/core/directives/ng_style.ts#L5-L65">angular2/src/core/directives/ng_style.ts (line 5)</a>

:markdown
  Common directives shipped with Angular.

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Directive
    pre.prettyprint
      code.
        @Directive({
          selector: &#39;[ng-style]&#39;,
          lifecycle: [LifecycleEvent.DoCheck],
          properties: [&#39;rawStyle: ng-style&#39;]
        })


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_differs: KeyValueDiffers, _ngEl: ElementRef, _renderer: Renderer)
    
    :markdown
      
      




  .l-sub-section
    h3 rawStyle

    
    :markdown
      
      





  .l-sub-section
    h3 doCheck

    
    pre.prettyprint
      code.
        doCheck()
    
    :markdown
      
      




