
p.location-badge.
  exported from <a href='../directives'>angular2/directives</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/directives/ng_switch.ts#L173-L193">angular2/src/directives/ng_switch.ts (line 173)</a>

:markdown
  Defines a default case statement.
  
  Default case statements are displayed when no `NgSwitchWhen` match the `ng-switch` value.
  
  Example:
  
  ```
  <template ng-switch-default>...</template>
  ```
  
  

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Directive
    pre.prettyprint
      code.
        @Directive({selector: &#39;[ng-switch-default]&#39;})


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(viewContainer: ViewContainerRef, templateRef: TemplateRef, sswitch: NgSwitch)
    
    :markdown
      
      



