
p.location-badge.
  exported from <a href='../directives'>angular2/directives</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/core/directives/ng_switch.ts#L157-L176">angular2/src/core/directives/ng_switch.ts (line 157)</a>

:markdown
  Common directives shipped with Angular.

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Directive
    pre.prettyprint
      code.
        @Directive({selector: &#39;[ng-switch-default]&#39;})


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(viewContainer: ViewContainerRef, templateRef: TemplateRef, sswitch: NgSwitch)
    
    :markdown
      
      



