
p.location-badge.
  exported from <a href='../directives'>angular2/directives</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/directives/ng_switch.ts#L176-L198">angular2/src/directives/ng_switch.ts (line 176)</a>

:markdown
  Defines a default case statement.
  
  Default case statements are displayed when no `NgSwitchWhen` match the `switch` value.
  
  Example:
  
  ```
  <template [ng-switch-default]>...</template>
  ```
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(viewContainer: ViewContainerRef, protoViewRef: ProtoViewRef, @Parent() sswitch: NgSwitch)
    
    :markdown
      
      



