
p.location-badge.
  exported from <a href='../directives'>angular2/directives</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/directives/ng_for.ts#L116-L125">angular2/src/directives/ng_for.ts (line 116)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(record: any, view: any)
    
    :markdown
      
      




  .l-sub-section
    h3 view

    
    :markdown
      
      





  .l-sub-section
    h3 record

    
    :markdown
      
      




