
p.location-badge.
  exported from <a href='../directives'>angular2/directives</a>
  defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/directives/ng_switch.ts#L4-L18">angular2/src/directives/ng_switch.ts (line 4)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(viewContainerRef: ViewContainerRef, protoViewRef: ProtoViewRef)
    
    :markdown
      
      




  .l-sub-section
    h3 create

    
    pre.prettyprint
      code.
        create()
    
    :markdown

      
      





  .l-sub-section
    h3 destroy

    
    pre.prettyprint
      code.
        destroy()
    
    :markdown

      
      




