
p.location-badge.
  exported from <a href="/angular2/directives.html">angular2/directives</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/directives/switch.js#L187">angular2/src/directives/switch.js (line 187)</a>

:markdown
  Defines a default case statement.
  
  Default case statements are displayed when no `SwitchWhen` match the `switch` value.
  
  Example:
  
  ```
  <template [switch-default]>...</template>
  ```
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(viewContainer: ViewContainer, sswitch: Switch)
    
    :markdown
      



