
.l-main-section
  h2(class="function export") iit

  
  pre.prettyprint
    code.
      iit(name: any, fn: any, timeOut?: any)
  

  p.location-badge.
    exported from <a href='../test'>angular2/test</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/test_lib/test_lib.ts#L169-L173">angular2/src/test_lib/test_lib.ts (line 169)</a>

  :markdown
    
    


