ul{
  list-style-type: none;
}
#heroes > ul{
    list-style:none;
    padding-left:0;
}​

.add-section{
  margin-left: 40px;
  margin-bottom: 5px;
}
.add-section input{
  margin-right: 5px;
}
.add-section button{
  margin-right: 5px;
  margin-top: 5px;
}
.hero-node{
  color:black;   
  border: 1px solid black;
  margin-bottom: 2px;
  padding: 5px;
  width: 200px;  
  border-radius: 3px; 
}

.hero-low{
  background-color: red;    
}

.hero-top{
  background-color: green;    
}

.hero-ok{
  background-color: yellow;     
}

.hero-location{
  color: black;    
  font-size: 20px;
}

.tree-node-icon{
  font-weight: bold;  
  cursor: pointer;   
  color:black;   
  font-size: 25px;
}

.node-selected{
  font-weight: bold;
  text-decoration: underline;
}