.l-main-section

  .callout.is-helpful
    header Developer Preview
    p.
      The Angular 2.0 API is currently in active development and not production ready.
      This page will showcase a preview of proposed methods to help further the discussion
      in the development community. If you're building a production app today, please
      <a href="https://docs.angularjs.org/api">use Angular 1.X</a>.

ul
  for page, slug in public.docs[current.path[1]][current.path[2]].api._data
    if slug != 'index'
      url = "/docs/" + current.path[1] + "/" + current.path[2] + "/" + current.path[3] + "/" + slug + ".html"

      li.c8
        != partial("../../../../_includes/_hover-card", {name: page.title, url: url })
