
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/change_detection/differs/iterable_differs.ts#L4-L9">angular2/src/change_detection/differs/iterable_differs.ts (line 4)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 diff

    
    pre.prettyprint
      code.
        diff(object: Object)
    
    :markdown
      
      





  .l-sub-section
    h3 onDestroy

    
    pre.prettyprint
      code.
        onDestroy()
    
    :markdown
      
      




