include ../_util-fns

:marked
  We're working on the Dart version of this case study.
  In the meantime, please see these resources:

  * [Routing](/docs/ts/latest/tutorial/toh-pt5.html):
    The TypeScript version of this chapter

  * [Dart source code](https://github.com/angular/angular.io/tree/master/public/docs/_examples/toh-5/dart):
    A preliminary Dart version of the Tour of Heroes app,
    featuring the hero editor, a master/detail page,
    multiple components, services, and routing

