<h1> Frament path to jade path cross reference report

<p>Base path: {{ doc.basePath }}</p>
<ol>
     {% for fragPath, jadePaths in doc.fragToJadeMap %}
    <li>
        Fragment file: <strong>{{ fragPath }}</strong>
        <p>Jade files</p>
        <ul>
            {%- for jadePath in jadePaths %}
            <li>{{ jadePath }}</li>
            {%- endfor %}
        </ul>
        <br>
    </li>
    {%- endfor %}
</ol>