<h1> Jade document --> example Cross Reference Report

<ol>
    {%- for docMap in doc.docMaps %}
    <li>
        Jade file: <strong>{{ docMap.jadeRelativePath }}</strong>
        <p>Reference paths</p>
        <ul>
            {%- for refPath in docMap.refPaths %}
            <li>Path: {{ refPath }}</li>
            {%- endfor %}
        </ul>
        <br>
    </li>
    {%- endfor %}
</ol>