include ../_util-fns
  
:marked
  This cookbook describes how to authenticate against AzureAD and Office365 using Angular

a#toc
:marked
  ## Table of Contents
 
a#overview
.l-main-section
:marked
  ## Overview