<div class="banner is-plain api-filter clearfix">

    <!-- API Type -->
    <div class="form-select-menu">
        <div class="overlay" [ngClass]="{ visible: showApiMenu }" (click)="toggleApiMenu()"></div>
        <span *ngFor="let apiType of apiTypes; let i = index">
            <span *ngIf="selectedApiType === apiType">
                <button class="form-select-button has-symbol" (click)="toggleApiMenu()">
                    <strong *ngIf="selectedApiType.matches[0]">Type:</strong>
                    <span class="symbol {{apiType.cssClass}}" *ngIf="apiType.cssClass"></span>
                    <span *ngIf="selectedApiType.matches[0]">{{apiType.title}}</span>
                    <strong *ngIf="!selectedApiType.matches[0]">Type: All</strong>
                </button>
            </span>
            <button class="form-select-button is-default" *ngIf="i === 0 && selectedApiType === emptyApiType" (click)="toggleApiMenu()">
                <strong>Type: All</strong>
            </button>
        </span>
        <ul class="form-select-dropdown" [ngClass]="{ visible: showApiMenu }">
            <li class="fw-300" *ngFor="let apiType of apiTypes" [ngClass]="{ active: selectedApiType === apiType }"
                (click)="setApiType(apiType)"><span class="symbol {{apiType.cssClass}}"></span>{{apiType.title}}
            </li>
        </ul>
    </div>

    <!-- API Status -->
    <div class="form-select-menu" *ngIf="ngLang !== 'dart'">
        <div class="overlay" [ngClass]="{ visible: showStatusMenu }" (click)="toggleStatusMenu()"></div>
        <span *ngFor="let statusType of apiStatuses; let i = index">
            <span *ngIf="selectedApiStatus === statusType">
                <button class="form-select-button has-symbol" (click)="toggleStatusMenu()">
                    <strong *ngIf="selectedApiStatus.matches[0]">Status:</strong>
                    <span *ngIf="selectedApiStatus.matches[0]">{{statusType.title}}</span>
                    <strong *ngIf="!selectedApiStatus.matches[0]">Status: All</strong>
                </button>
            </span>
            <button class="form-select-button is-default" *ngIf="i === 0 && selectedApiStatus === emptyStatusType" (click)="toggleStatusMenu()">
                <strong>Status: All</strong>
            </button>

        </span>
        <ul class="form-select-dropdown" [ngClass]="{ visible: showStatusMenu }">
            <li class="fw-300" *ngFor="let statusType of apiStatuses" (click)="setStatus(statusType)">{{statusType.title}}</li>
        </ul>
    </div>
    <div class="form-search">
        <i class="material-icons">search</i>
        <input placeholder="Filter" class="api-filter fw-300" #input type="text" (keyup)="triggerSearch(input.value)">
    </div>
</div>

<article class="l-content-small grid-fluid docs-content">
    <div *ngFor="let section of groupedSections">
        <h2 *ngIf="hasVisibleEntries(section)">{{ section.title }}</h2>
        <ul class="api-list" *ngIf="hasVisibleEntries(section)">
            <li *ngFor="let item of section.items" [hidden]="!item.show" class="api-item">
                <a href="/docs/{{ngLang}}/latest/api/{{item.path}}"><span class="symbol {{item.docType}}"></span>{{ item.title }}</a>
            </li>
        </ul>
    </div>
</article>