table
  tr
    td
      :marked
        To see the URL changes in the browser address bar of the live example,
        open it again in the Plunker editor by clicking the icon in the upper right,
        then pop out the preview window by clicking the blue 'X' button in the upper right corner.
    td
      img(src='/resources/images/devguide/plunker-switch-to-editor-button.png' width="200px" height="70px" alt="pop out the window" align="right" )
      br
      img(src='/resources/images/devguide/plunker-separate-window-button.png' width="200px" height="47px" alt="pop out the window" align="right" )
