- var language = current.path[1]
- var lang = 'your choosen language'

if language == 'dart'
  - lang = 'Dart'
if language == 'js'
  - lang = 'JavaScript'  
if language == 'ts'
  - lang = 'TypeScript'

- var page = current.path[4] ? current.path[4] + '.html' : ''
- if (page === 'index.html') page = ''
- var path = '/docs/ts/latest/'+ current.path[3] + '/' + page
:marked
  This page is not yet available in #{lang}.
  We recommend reading [it in TypeScript](!{path}).