- var language = current.path[1]
- var lang = 'your choosen language'

if language == 'dart'
  - lang = 'Dart'
if language == 'js'
  - lang = 'JavaScript'  
if language == 'ts'
  - lang = 'TypeScript'

- var page = ''
if current.path[4]
  - var page = current.path[4] + '.html'

- var path = '/docs/ts/latest/'+ current.path[3] + '/' + page

- var name = 'it'
- var secondaryPath = public.docs[current.path[1]][current.path[2]][current.path[3]]
if secondaryPath
  - var data = secondaryPath._data
  - var listType = data._listtype
  - var items = listType == 'api' ? secondaryPath : data
  
  for item, slug in items
    if slug == current.path[4]
      - name = 'the <b><i>' + item.title + '</i></b> chapter'
    
p.
  This chapter is not yet available in #{lang}.
  We recommend reading the TypeScript version.
a(href=path, class='md-primary md-button md-ink-ripple').
  Read !{name} in TypeScript
// != partial(path)