
p.location-badge.
  exported from <a href='../metadata'>angular2/metadata</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/core/metadata.ts#L271-L322">angular2/src/core/metadata.ts (line 271)</a>

:markdown
  Annotations provide the additional information that Angular requires in order to run your
  application. This module
  contains <a href='ComponentMetadata-class.html'><code>ComponentMetadata</code></a>, <a href='DirectiveMetadata-class.html'><code>DirectiveMetadata</code></a>, and <a href='ViewMetadata-class.html'><code>ViewMetadata</code></a>
  annotations, as well as
  the <a href='../di/Host-var.html'><code>Host</code></a> annotation that is used by Angular to resolve dependencies.
