
p.location-badge.
  exported from <a href='../metadata'>angular2/metadata</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/core/metadata.ts#L46-L66">angular2/src/core/metadata.ts (line 46)</a>

:markdown
  Annotations provide the additional information that Angular requires in order to run your
  application. This module
  contains <a href='ComponentMetadata-class.html'><code>ComponentMetadata</code></a>, <a href='DirectiveMetadata-class.html'><code>DirectiveMetadata</code></a>, and <a href='ViewMetadata-class.html'><code>ViewMetadata</code></a>
  annotations, as well as
  the <a href='../di/Host-var.html'><code>Host</code></a> annotation that is used by Angular to resolve dependencies.
.l-main-section
  h2 Members
  .l-sub-section
    h3 View

    
    pre.prettyprint
      code.
        View(obj: {
            templateUrl?: string,
            template?: string,
            directives?: Array&lt;Type | any | any[]&gt;,
            pipes?: Array&lt;Type | any | any[]&gt;,
            renderer?: string,
            styles?: string[],
            styleUrls?: string[],
          })
    
    :markdown
      Chain <a href='ViewMetadata-class.html'><code>ViewMetadata</code></a> annotation.
      
      




