
.l-main-section
  p.location-badge.
    exported from <a href='../metadata'>angular2/metadata</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/core/metadata.ts#L408-L408">angular2/src/core/metadata.ts (line 408)</a>

  :markdown
    <a href='DirectiveMetadata-class.html'><code>DirectiveMetadata</code></a> factory function.
    
    

