
p.location-badge.
  exported from <a href='../metadata'>angular2/metadata</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/core/metadata/directives.ts#L1048-L1072">angular2/src/core/metadata/directives.ts (line 1048)</a>

:markdown
  Annotations provide the additional information that Angular requires in order to run your
  application. This module
  contains <a href='ComponentMetadata-class.html'><code>ComponentMetadata</code></a>, <a href='DirectiveMetadata-class.html'><code>DirectiveMetadata</code></a>, and <a href='ViewMetadata-class.html'><code>ViewMetadata</code></a>
  annotations, as well as
  the <a href='../di/Host-var.html'><code>Host</code></a> annotation that is used by Angular to resolve dependencies.

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation CONST
    pre.prettyprint
      code.
        @CONST()


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor({name}: {name: string})
    
    :markdown
      
      




  .l-sub-section
    h3 name

    
    :markdown
      
      




