
.l-main-section
  p.location-badge.
    exported from <a href='../metadata'>angular2/metadata</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/core/metadata.ts#L424-L424">angular2/src/core/metadata.ts (line 424)</a>

  :markdown
    <a href='QueryMetadata-class.html'><code>QueryMetadata</code></a> factory function.
    
    

