
.l-main-section
  p.location-badge.
    exported from <a href='../metadata'>angular2/metadata</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/core/metadata.ts#L413-L414">angular2/src/core/metadata.ts (line 413)</a>

  :markdown
    <a href='ViewMetadata-class.html'><code>ViewMetadata</code></a> factory function.
    
    

