{% include "lib/githubLinks.html" -%}
{% include "lib/paramList.html" -%}
{% extends 'class.template.html' -%}

{% block annotations %}
{% endblock %}


{% block additional -%}
.l-main-section
  h2 Selectors
  .l-sub-section{% for selector in doc.directiveOptions.selector.split(',') %}
    h3.selector
      code {$ selector $}{% endfor %}

{% if doc.inputs %}
.l-main-section
  h2 Inputs
  .l-sub-section{% for binding, property in doc.inputs %}
    h3.input
      code {$ property.bindingName $}
      | &nbsp;bound to&nbsp;
      code {$ property.memberDoc.classDoc.name $}.{$ property.propertyName $}
    :marked
{$ property.memberDoc.description | indentForMarkdown(2) | trimBlankLines $}{% endfor %}
{% endif %}

{% if doc.outputs %}
.l-main-section
  h2 Outputs
  .l-sub-section{% for binding, property in doc.outputs %}
    h3.output
      code {$ property.bindingName $}
      | &nbsp;bound to&nbsp;
      code {$ property.memberDoc.classDoc.name $}.{$ property.propertyName $}
    :marked
{$ event.memberDoc.description | indentForMarkdown(2) | trimBlankLines $}
{% endfor %}
{% endif %}

{% if doc.directiveOptions.exportAs %}
.l-main-section
  h2 Exported As
  .l-sub-section
    h3.export-as
      code {$ doc.directiveOptions.exportAs $}
{% endif %}
{% endblock %}
