{% include "lib/githubLinks.html" -%}
{% include "lib/paramList.html" -%}
{% extends 'layout/base.template.html' -%}

{% block body %}
include {$ relativePath(doc.path, '_util-fns') $}
.l-main-section
  h2(class="function export")
    pre.prettyprint
      code.
        export {$ doc.name $}{$ paramList(doc.parameters) | indent(8, true) | trim $}{$ returnType(doc.returnType) $}

  p.location-badge.
    exported from {@link {$ doc.moduleDoc.id $} {$doc.moduleDoc.id $} }
    defined in {$ githubViewLink(doc) $}

  :marked
{%- if doc.notYetDocumented %}
    *Not Yet Documented*
{% else %}
{$ doc.description | indentForMarkdown(4) | trimBlankLines $}
{% endif %}
{% endblock %}