{# Use this document to generate the _data.json files for harp.js. This acts as the link between dgeni, jade, and harp #}
{
{%- for item in doc.data %}
  "{$ item.name $}" : {
    "title" : "{$ item.title $}",
    {%- if item.intro %}
    "intro" : "{$ item.intro $}",
    {%- endif %}
    {%- if item.varType %}
    "varType" : "{$ item.varType $}",
    {%- endif %}
    {%- if item.originalModule %}
    "originalModule" : "{$ item.originalModule $}",
    {%- endif %}
    {%- if item.stability %}
    "stability" : "{$ item.stability $}",
    {%- endif %}
    {%- if item.security %}
    "security" : "{$ item.security $}",
    {%- endif %}
    "docType": "{$ item.docType $}"
  }{% if not loop.last %},{% endif %}
{% endfor -%}
}
