include ../_util-fns

+includeShared('{ts}', 'intro')
+includeShared('{ts}', 'how-to-read-1')
.alert.is-important
  :marked
    Most of the documentation has been written for TypeScript developers
    and has not yet been translated to JavaScript.
    Please bear with us. Meanwhile, we've provide links to the TypeScript chapters
    where JavaScript versions are unavailable.
+includeShared('{ts}', 'how-to-read-2')
+includeShared('{ts}', 'the-rest')
