extends ../../../ts/latest/guide/index.jade

block includes
  include ../_util-fns

block js-alert
  .alert.is-important
    :marked
      Most of the documentation has been written for TypeScript developers
      and has not yet been translated to JavaScript.
      Please bear with us. Meanwhile, we've provide links to the TypeScript chapters
      where JavaScript versions are unavailable.
