number = 1;
ul.is-plain.l-offset-page-header
  for page, slug in public.docs[current.path[1]][current.path[2]].guide._data

    if slug != '_listtype' && slug != 'index'
      url = "/docs/" + current.path[1] + "/" + current.path[2] + "/" + current.path[3] + "/" + slug + ".html"
      num = number++

      li
        != partial("../../../../_includes/_hover-card", { icon: "icon-number", number: num, name: page.title, url: url })
