p.
  <strong>Angular is still unpackaged and in alpha</strong>. This quickstart does not
  reflect the final build process for Angular. The following setup is for those who
  want to try out Angular while it is in alpha.

.l-main-section
  h2#section-create-project 1. Create a project

  p.
    The goal of this quickstart is to create a component that renders "Hello Alice" to the page.
    To get started, create a new directory.


.l-main-section
  h2#section-add-es6-shim 2. Clone the quickstart repository

  p Within your project, clone the quickstart repository:

  pre.prettyprint
    code git clone https://github.com/angular/quickstart.git



// WHAT'S NEXT... ##########################
.l-main-section
  h2#section-transpile Great job! We'll have the next steps out soon.
