
p.location-badge.
  exported from <a href="/angular2/di_annotations.html">angular2/di_annotations</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/di/annotations_impl.js#L13">angular2/src/di/annotations_impl.js (line 13)</a>

:markdown
  A parameter annotation that specifies a dependency.
  
  ```
  class AComponent {
    constructor(@Inject(MyService) aService:MyService) {}
  }
  ```
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(token)
    
    :markdown
      




  .l-sub-section
    h3 token

    
    :markdown

      




