
p.
  <span class="location-badge">exported from <a href="/angular2/di_annotations">angular2/di_annotations</a></span>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/di/annotations.js#L134">angular2/src/di/annotations.js (line 134)</a>

:markdown
  A marker annotation that marks a class as available to `Injector` for creation. Used by tooling for
  generating constructor stubs.
  
  ```
  class NeedsService {
    constructor(svc:UsefulService) {}
  }
  
  @Injectable
  class UsefulService {}
  ```
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor()
    

    :markdown
      



