
p.
  <span class="location-badge">exported from <a href="/angular2/di_annotations">angular2/di_annotations</a></span>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/di/annotations.js#L75">angular2/src/di/annotations.js (line 75)</a>

:markdown
  A parameter annotation that marks a dependency as optional. (Injects `null` if not found.)
  ```
  class AComponent {
    constructor(@Optional() aService:MyService) {
      this.aService = aService;
    }
  }
  ```
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        ()

    

    :markdown
      



