/* #docregion */
h1 {
  font-size: 1.2em;
  color: #747474;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #44667d;
}
nav a.active {
  color: #039be5;
}
nav a:hover,
nav a:focus {
  color: #23338c;
  background-color: #CFD8DC;
}
