.selected {
  background-color: #CFD8DC !important;
  color: black;
}
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes button {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  /*padding: .3em 0;*/
  /*height: 1.6em;*/
  text-align: left;
  width: 15em;
  height: 2.7em;
  border-radius: 4px;
}
.heroes button.selected:hover,
.heroes button.selected:focus{
  background-color: #BBD8DC !important;
  color: black;
}
.heroes button:hover,
.heroes button:focus{
  color: white;
  background-color: #6469dd;
  left: 0.8em;
}
.heroes .text {
  position: relative;
  top: -3px;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #4E6570;
  line-height: 1em;
  position: relative;
  left: -8px;
  top: -4px;
  height: 1.8em;
  /*margin-right: .8em;*/
  border-radius: 4px 0 0 4px;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
