
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/change_detection/parser/ast.ts#L60-L92">angular2/src/change_detection/parser/ast.ts (line 60)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(public receiver: AST, public name: string, public getter: Function, public setter: Function)
    
    :markdown
      
      




  .l-sub-section
    h3 assign

    
    pre.prettyprint
      code.
        assign(context, locals, value)
    
    :markdown

      
      





  .l-sub-section
    h3 eval

    
    pre.prettyprint
      code.
        eval(context, locals)
    
    :markdown

      
      





  .l-sub-section
    h3 getter

    
    :markdown

      
      





  .l-sub-section
    h3 isAssignable

    
    :markdown

      
      





  .l-sub-section
    h3 name

    
    :markdown

      
      





  .l-sub-section
    h3 receiver

    
    :markdown

      
      





  .l-sub-section
    h3 setter

    
    :markdown

      
      





  .l-sub-section
    h3 visit

    
    pre.prettyprint
      code.
        visit(visitor)
    
    :markdown

      
      




