
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.27/modules/angular2/src/change_detection/parser/ast.ts#L75-L107">angular2/src/change_detection/parser/ast.ts (line 75)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(receiver: AST, name: string, getter: Function, setter: Function)
    
    :markdown
      
      




  .l-sub-section
    h3 receiver

    
    :markdown

      
      





  .l-sub-section
    h3 name

    
    :markdown

      
      





  .l-sub-section
    h3 getter

    
    :markdown

      
      





  .l-sub-section
    h3 setter

    
    :markdown

      
      





  .l-sub-section
    h3 eval

    
    pre.prettyprint
      code.
        eval(context, locals: Locals)
    
    :markdown

      
      





  .l-sub-section
    h3 isAssignable

    
    :markdown

      
      





  .l-sub-section
    h3 assign

    
    pre.prettyprint
      code.
        assign(context, locals: Locals, value)
    
    :markdown

      
      





  .l-sub-section
    h3 visit

    
    pre.prettyprint
      code.
        visit(visitor: AstVisitor)
    
    :markdown

      
      




