
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/change_detection/parser/ast.ts#L351-L423">angular2/src/change_detection/parser/ast.ts (line 351)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 visitImplicitReceiver

    
    pre.prettyprint
      code.
        visitImplicitReceiver(ast: ImplicitReceiver)
    
    :markdown

      
      





  .l-sub-section
    h3 visitInterpolation

    
    pre.prettyprint
      code.
        visitInterpolation(ast: Interpolation)
    
    :markdown

      
      





  .l-sub-section
    h3 visitLiteralPrimitive

    
    pre.prettyprint
      code.
        visitLiteralPrimitive(ast: LiteralPrimitive)
    
    :markdown

      
      





  .l-sub-section
    h3 visitAccessMember

    
    pre.prettyprint
      code.
        visitAccessMember(ast: AccessMember)
    
    :markdown

      
      





  .l-sub-section
    h3 visitSafeAccessMember

    
    pre.prettyprint
      code.
        visitSafeAccessMember(ast: SafeAccessMember)
    
    :markdown

      
      





  .l-sub-section
    h3 visitMethodCall

    
    pre.prettyprint
      code.
        visitMethodCall(ast: MethodCall)
    
    :markdown

      
      





  .l-sub-section
    h3 visitSafeMethodCall

    
    pre.prettyprint
      code.
        visitSafeMethodCall(ast: SafeMethodCall)
    
    :markdown

      
      





  .l-sub-section
    h3 visitFunctionCall

    
    pre.prettyprint
      code.
        visitFunctionCall(ast: FunctionCall)
    
    :markdown

      
      





  .l-sub-section
    h3 visitLiteralArray

    
    pre.prettyprint
      code.
        visitLiteralArray(ast: LiteralArray)
    
    :markdown

      
      





  .l-sub-section
    h3 visitLiteralMap

    
    pre.prettyprint
      code.
        visitLiteralMap(ast: LiteralMap)
    
    :markdown

      
      





  .l-sub-section
    h3 visitBinary

    
    pre.prettyprint
      code.
        visitBinary(ast: Binary)
    
    :markdown

      
      





  .l-sub-section
    h3 visitPrefixNot

    
    pre.prettyprint
      code.
        visitPrefixNot(ast: PrefixNot)
    
    :markdown

      
      





  .l-sub-section
    h3 visitConditional

    
    pre.prettyprint
      code.
        visitConditional(ast: Conditional)
    
    :markdown

      
      





  .l-sub-section
    h3 visitPipe

    
    pre.prettyprint
      code.
        visitPipe(ast: Pipe)
    
    :markdown

      
      





  .l-sub-section
    h3 visitKeyedAccess

    
    pre.prettyprint
      code.
        visitKeyedAccess(ast: KeyedAccess)
    
    :markdown

      
      





  .l-sub-section
    h3 visitAll

    
    pre.prettyprint
      code.
        visitAll(asts: List&lt;any&gt;)
    
    :markdown

      
      





  .l-sub-section
    h3 visitChain

    
    pre.prettyprint
      code.
        visitChain(ast: Chain)
    
    :markdown

      
      





  .l-sub-section
    h3 visitAssignment

    
    pre.prettyprint
      code.
        visitAssignment(ast: Assignment)
    
    :markdown

      
      





  .l-sub-section
    h3 visitIf

    
    pre.prettyprint
      code.
        visitIf(ast: If)
    
    :markdown

      
      




