
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/change_detection/pipes/pipe.ts#L58-L78">angular2/src/change_detection/pipes/pipe.ts (line 58)</a>

:markdown
  Provides default implementation of `supports` and `onDestroy` method.
  
  #Example
  
  ```
  class DoublePipe extends BasePipe {
   transform(value) {
     return `${value}${value}`;
   }
  }
  ```
  
  

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation CONST
    pre.prettyprint
      code.
        @CONST()


.l-main-section
  h2 Members
  .l-sub-section
    h3 supports

    
    pre.prettyprint
      code.
        supports(obj: any)
    
    :markdown
      
      





  .l-sub-section
    h3 onDestroy

    
    pre.prettyprint
      code.
        onDestroy()
    
    :markdown
      
      





  .l-sub-section
    h3 transform

    
    pre.prettyprint
      code.
        transform(value: any, args: List&lt;any&gt;)
    
    :markdown
      
      




