
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/change_detection/binding_record.ts#L12-L113">angular2/src/change_detection/binding_record.ts (line 12)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(mode: string, implicitReceiver: any, ast: AST, elementIndex: number, propertyName: string, propertyUnit: string, setter: SetterFn, lifecycleEvent: string, directiveRecord: DirectiveRecord)
    
    :markdown
      
      




  .l-sub-section
    h3 mode

    
    :markdown

      
      





  .l-sub-section
    h3 implicitReceiver

    
    :markdown

      
      





  .l-sub-section
    h3 ast

    
    :markdown

      
      





  .l-sub-section
    h3 elementIndex

    
    :markdown

      
      





  .l-sub-section
    h3 propertyName

    
    :markdown

      
      





  .l-sub-section
    h3 propertyUnit

    
    :markdown

      
      





  .l-sub-section
    h3 setter

    
    :markdown

      
      





  .l-sub-section
    h3 lifecycleEvent

    
    :markdown

      
      





  .l-sub-section
    h3 directiveRecord

    
    :markdown

      
      





  .l-sub-section
    h3 callOnChange

    
    pre.prettyprint
      code.
        callOnChange()
    
    :markdown

      
      





  .l-sub-section
    h3 isOnPushChangeDetection

    
    pre.prettyprint
      code.
        isOnPushChangeDetection()
    
    :markdown

      
      





  .l-sub-section
    h3 isDirective

    
    pre.prettyprint
      code.
        isDirective()
    
    :markdown

      
      





  .l-sub-section
    h3 isDirectiveLifecycle

    
    pre.prettyprint
      code.
        isDirectiveLifecycle()
    
    :markdown

      
      





  .l-sub-section
    h3 isElementProperty

    
    pre.prettyprint
      code.
        isElementProperty()
    
    :markdown

      
      





  .l-sub-section
    h3 isElementAttribute

    
    pre.prettyprint
      code.
        isElementAttribute()
    
    :markdown

      
      





  .l-sub-section
    h3 isElementClass

    
    pre.prettyprint
      code.
        isElementClass()
    
    :markdown

      
      





  .l-sub-section
    h3 isElementStyle

    
    pre.prettyprint
      code.
        isElementStyle()
    
    :markdown

      
      





  .l-sub-section
    h3 isTextNode

    
    pre.prettyprint
      code.
        isTextNode()
    
    :markdown

      
      




