
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/change_detection/change_detector_ref.ts#L2-L39">angular2/src/change_detection/change_detector_ref.ts (line 2)</a>

:markdown
  Controls change detection.
  
  <a href='ChangeDetectorRef-class.html'><code>ChangeDetectorRef</code></a> allows requesting checks for detectors that rely on observables. It
  also allows detaching and attaching change detector subtrees.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_cd: ChangeDetector)
    
    :markdown
      




  .l-sub-section
    h3 requestCheck

    
    pre.prettyprint
      code.
        requestCheck()
    
    :markdown
      Request to check all ON_PUSH ancestors.
      
      





  .l-sub-section
    h3 detach

    
    pre.prettyprint
      code.
        detach()
    
    :markdown
      Detaches the change detector from the change detector tree.
      
      The detached change detector will not be checked until it is reattached.
      
      





  .l-sub-section
    h3 reattach

    
    pre.prettyprint
      code.
        reattach()
    
    :markdown
      Reattach the change detector to the change detector tree.
      
      This also requests a check of this change detector. This reattached change detector will be
      checked during the
      next change detection run.
      
      




