
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/f2ef90b/modules/angular2/src/change_detection/interfaces.ts#L60-L66">angular2/src/change_detection/interfaces.ts (line 60)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(id: string, strategy: string, variableNames: List&lt;string&gt;, bindingRecords: List&lt;BindingRecord&gt;, directiveRecords: List&lt;DirectiveRecord&gt;)
    
    :markdown
      
      




  .l-sub-section
    h3 id

    
    :markdown

      
      





  .l-sub-section
    h3 strategy

    
    :markdown

      
      





  .l-sub-section
    h3 variableNames

    
    :markdown

      
      





  .l-sub-section
    h3 bindingRecords

    
    :markdown

      
      





  .l-sub-section
    h3 directiveRecords

    
    :markdown

      
      




