
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/change_detection/exceptions.ts#L15-L30">

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(proto: ProtoRecord, originalException: any)
    
    :markdown
      
      




  .l-sub-section
    h3 location

    
    :markdown

      
      





  .l-sub-section
    h3 message

    
    :markdown

      
      





  .l-sub-section
    h3 originalException

    
    :markdown

      
      





  .l-sub-section
    h3 toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown

      
      




