
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/change_detection/interfaces.ts#L42-L59">angular2/src/change_detection/interfaces.ts (line 42)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 parent

    
    :markdown

      
      





  .l-sub-section
    h3 mode

    
    :markdown

      
      





  .l-sub-section
    h3 addChild

    
    pre.prettyprint
      code.
        addChild(cd: ChangeDetector)
    
    :markdown

      
      





  .l-sub-section
    h3 addShadowDomChild

    
    pre.prettyprint
      code.
        addShadowDomChild(cd: ChangeDetector)
    
    :markdown

      
      





  .l-sub-section
    h3 removeChild

    
    pre.prettyprint
      code.
        removeChild(cd: ChangeDetector)
    
    :markdown

      
      





  .l-sub-section
    h3 removeShadowDomChild

    
    pre.prettyprint
      code.
        removeShadowDomChild(cd: ChangeDetector)
    
    :markdown

      
      





  .l-sub-section
    h3 remove

    
    pre.prettyprint
      code.
        remove()
    
    :markdown

      
      





  .l-sub-section
    h3 hydrate

    
    pre.prettyprint
      code.
        hydrate(context: any, locals: Locals, directives: any, pipes: any)
    
    :markdown

      
      





  .l-sub-section
    h3 dehydrate

    
    pre.prettyprint
      code.
        dehydrate()
    
    :markdown

      
      





  .l-sub-section
    h3 markPathToRootAsCheckOnce

    
    pre.prettyprint
      code.
        markPathToRootAsCheckOnce()
    
    :markdown

      
      





  .l-sub-section
    h3 detectChanges

    
    pre.prettyprint
      code.
        detectChanges()
    
    :markdown

      
      





  .l-sub-section
    h3 checkNoChanges

    
    pre.prettyprint
      code.
        checkNoChanges()
    
    :markdown

      
      




