
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/change_detection/interfaces.ts#L36-L41">angular2/src/change_detection/interfaces.ts (line 36)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 notifyOnBinding

    
    pre.prettyprint
      code.
        notifyOnBinding(bindingRecord: BindingRecord, value: any)
    
    :markdown

      
      





  .l-sub-section
    h3 notifyOnAllChangesDone

    
    pre.prettyprint
      code.
        notifyOnAllChangesDone()
    
    :markdown

      
      




