
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/change_detection/exceptions.ts#L18-L36">angular2/src/change_detection/exceptions.ts (line 18)</a>

:markdown
  Thrown when an expression evaluation raises an exception.
  
  This error wraps the original exception, this is done to attach expression location information.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(proto: ProtoRecord, originalException: any, originalStack: any, context: any)
    
    :markdown
      
      




  .l-sub-section
    h3 location

    
    :markdown
      Location of the expression.
      
      




