
.l-main-section
  h2 CHECK_ALWAYS <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../change_detection'>angular2/change_detection</a>

  :markdown
    CHECK_ALWAYS means that after calling detectChanges the mode of the change detector
    will remain CHECK_ALWAYS.
    
    

