
.l-main-section
  h2 CHECKED <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../change_detection'>angular2/change_detection</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/change_detection/constants.ts#L13-L13">angular2/src/change_detection/constants.ts (line 13)</a>

  :markdown
    CHECKED means that the change detector should be skipped until its mode changes to
    CHECK_ONCE or CHECK_ALWAYS.
    
    

