
.l-main-section
  h2 CHECK_ONCE <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../change_detection'>angular2/change_detection</a>
    defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/change_detection/constants.ts#L7-L7">angular2/src/change_detection/constants.ts (line 7)</a>

  :markdown
    CHECK_ONCE means that after calling detectChanges the mode of the change detector
    will become CHECKED.
    
    

