
.l-main-section
  h2 defaultPipes <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../change_detection'>angular2/change_detection</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/change_detection/change_detection.ts#L129-L141">angular2/src/change_detection/change_detection.ts (line 129)</a>

  :markdown
    
    

