
.l-main-section
  h2 DETACHED <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../change_detection'>angular2/change_detection</a>
    defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/change_detection/constants.ts#L25-L25">angular2/src/change_detection/constants.ts (line 25)</a>

  :markdown
    DETACHED means that the change detector sub tree is not a part of the main tree and
    should be skipped.
    
    

