
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.27/modules/angular2/src/change_detection/change_detection.ts#L112-L129">angular2/src/change_detection/change_detection.ts (line 112)</a>

:markdown
  Implements change detection that does not require `eval()`.
  
  This is slower than <a href='JitChangeDetection-class.html'><code>JitChangeDetection</code></a>.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(registry: PipeRegistry)
    
    :markdown
      
      




  .l-sub-section
    h3 registry

    
    :markdown

      
      





  .l-sub-section
    h3 createProtoChangeDetector

    
    pre.prettyprint
      code.
        createProtoChangeDetector(definition: ChangeDetectorDefinition)
    
    :markdown

      
      




