
p.location-badge.
  exported from <a href="/angular2/change_detection.html">angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/change_detection/change_detection.js#L59">angular2/src/change_detection/change_detection.js (line 59)</a>

:markdown
  Implements change detection that does not require `eval()`.
  
  This is slower than <a href='JitChangeDetection-class.html'><code>JitChangeDetection</code></a>.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(registry:PipeRegistry)
    
    :markdown
      




  .l-sub-section
    h3 createProtoChangeDetector

    
    pre.prettyprint
      code.
        createProtoChangeDetector(name:string, bindingRecords:List&lt;BindingRecord&gt;, variableBindings:List&lt;string&gt;, directiveRecords:List&lt;DirectiveRecord&gt;, changeControlStrategy:string = DEFAULT)
    
    :markdown

      





  .l-sub-section
    h3 registry

    
    :markdown

      




