
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/change_detection/proto_change_detector.ts#L36-L56">angular2/src/change_detection/proto_change_detector.ts (line 36)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(definition: ChangeDetectorDefinition)
    
    :markdown
      
      




  .l-sub-section
    h3 definition

    
    :markdown

      
      





  .l-sub-section
    h3 instantiate

    
    pre.prettyprint
      code.
        instantiate(dispatcher: any)
    
    :markdown

      
      




