
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/f2ef90b/modules/angular2/src/change_detection/dynamic_change_detector.ts#L13-L326">angular2/src/change_detection/dynamic_change_detector.ts (line 13)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(id: string, changeControlStrategy: string, dispatcher: any, pipeRegistry: PipeRegistry, protos: List&lt;ProtoRecord&gt;, directiveRecords: List&lt;any&gt;)
    
    :markdown
      
      




  .l-sub-section
    h3 locals

    
    :markdown

      
      





  .l-sub-section
    h3 values

    
    :markdown

      
      





  .l-sub-section
    h3 changes

    
    :markdown

      
      





  .l-sub-section
    h3 pipes

    
    :markdown

      
      





  .l-sub-section
    h3 prevContexts

    
    :markdown

      
      





  .l-sub-section
    h3 directives

    
    :markdown

      
      





  .l-sub-section
    h3 alreadyChecked

    
    :markdown

      
      





  .l-sub-section
    h3 changeControlStrategy

    
    :markdown

      
      





  .l-sub-section
    h3 dispatcher

    
    :markdown

      
      





  .l-sub-section
    h3 pipeRegistry

    
    :markdown

      
      





  .l-sub-section
    h3 protos

    
    :markdown

      
      





  .l-sub-section
    h3 directiveRecords

    
    :markdown

      
      





  .l-sub-section
    h3 hydrate

    
    pre.prettyprint
      code.
        hydrate(context: any, locals: Locals, directives: any)
    
    :markdown

      
      





  .l-sub-section
    h3 dehydrate

    
    pre.prettyprint
      code.
        dehydrate()
    
    :markdown

      
      





  .l-sub-section
    h3 hydrated

    
    pre.prettyprint
      code.
        hydrated()
    
    :markdown

      
      





  .l-sub-section
    h3 detectChangesInRecords

    
    pre.prettyprint
      code.
        detectChangesInRecords(throwOnChange: boolean)
    
    :markdown

      
      





  .l-sub-section
    h3 callOnAllChangesDone

    
    pre.prettyprint
      code.
        callOnAllChangesDone()
    
    :markdown

      
      




