
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/change_detection/change_detection.ts#L112-L129">

:markdown
  Implements faster change detection, by generating source code.
  
  This requires `eval()`. For change detection that does not require `eval()`, see
  <a href='DynamicChangeDetection'>DynamicChangeDetection</a>.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(registry: PipeRegistry)
    
    :markdown
      
      




  .l-sub-section
    h3 createProtoChangeDetector

    
    pre.prettyprint
      code.
        createProtoChangeDetector(definition: ChangeDetectorDefinition)
    
    :markdown

      
      





  .l-sub-section
    h3 registry

    
    :markdown

      
      




