
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/change_detection/change_detection.ts#L156-L172">angular2/src/change_detection/change_detection.ts (line 156)</a>

:markdown
  Implements faster change detection by generating source code.
  
  This requires `eval()`. For change detection that does not require `eval()`, see
  <a href='DynamicChangeDetection-class.html'><code>DynamicChangeDetection</code></a> and <a href='PreGeneratedChangeDetection-class.html'><code>PreGeneratedChangeDetection</code></a>.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 createProtoChangeDetector

    
    pre.prettyprint
      code.
        createProtoChangeDetector(definition: ChangeDetectorDefinition)
    
    :markdown

      
      




