
p.location-badge.
  exported from <a href="/angular2/change_detection.html">angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/change_detection/change_detection.js#L76">angular2/src/change_detection/change_detection.js (line 76)</a>

:markdown
  Implements faster change detection, by generating source code.
  
  This requires `eval()`. For change detection that does not require `eval()`, see <a href='DynamicChangeDetection-class.html'><code>DynamicChangeDetection</code></a>.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(registry:PipeRegistry)
    
    :markdown
      




  .l-sub-section
    h3 createProtoChangeDetector

    
    pre.prettyprint
      code.
        createProtoChangeDetector(name:string, changeControlStrategy:string = DEFAULT)
    
    :markdown
      





  .l-sub-section
    h3 registry

    
    :markdown
      




