
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/core/change_detection/differs/keyvalue_differs.ts#L17-L80">angular2/src/core/change_detection/differs/keyvalue_differs.ts (line 17)</a>

:markdown
  Change detection enables data binding in Angular.

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Injectable
    pre.prettyprint
      code.
        @Injectable()


  .l-sub-section
    h3.annotation CONST
    pre.prettyprint
      code.
        @CONST()


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(factories: KeyValueDifferFactory[])
    
    :markdown
      
      




  .l-sub-section
    h3 factories

    
    :markdown
      
      





  .l-sub-section
    h3 find

    
    pre.prettyprint
      code.
        find(kv: Object)
    
    :markdown
      
      




