
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/f2ef90b/modules/angular2/src/change_detection/parser/lexer.ts#L18-L31">angular2/src/change_detection/parser/lexer.ts (line 18)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 tokenize

    
    pre.prettyprint
      code.
        tokenize(text: string)
    
    :markdown

      
      




