
.l-main-section
  h2 ON_PUSH <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../change_detection'>angular2/change_detection</a>
    defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/change_detection/constants.ts#L30-L30">angular2/src/change_detection/constants.ts (line 30)</a>

  :markdown
    ON_PUSH means that the change detector's mode will be set to CHECK_ONCE during hydration.
    
    

