
.l-main-section
  h2 ON_PUSH <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../change_detection'>angular2/change_detection</a>

  :markdown
    ON_PUSH means that the change detector's mode will be set to CHECK_ONCE during hydration.
    
    

