
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/f2ef90b/modules/angular2/src/change_detection/parser/parser.ts#L54-L115">angular2/src/change_detection/parser/parser.ts (line 54)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_lexer: Lexer, providedReflector?: Reflector)
    
    :markdown
      
      




  .l-sub-section
    h3 parseAction

    
    pre.prettyprint
      code.
        parseAction(input: string, location: any)
    
    :markdown

      
      





  .l-sub-section
    h3 parseBinding

    
    pre.prettyprint
      code.
        parseBinding(input: string, location: any)
    
    :markdown

      
      





  .l-sub-section
    h3 addPipes

    
    pre.prettyprint
      code.
        addPipes(bindingAst: ASTWithSource, pipes: List&lt;string&gt;)
    
    :markdown

      
      





  .l-sub-section
    h3 parseTemplateBindings

    
    pre.prettyprint
      code.
        parseTemplateBindings(input: string, location: any)
    
    :markdown

      
      





  .l-sub-section
    h3 parseInterpolation

    
    pre.prettyprint
      code.
        parseInterpolation(input: string, location: any)
    
    :markdown

      
      





  .l-sub-section
    h3 wrapLiteralPrimitive

    
    pre.prettyprint
      code.
        wrapLiteralPrimitive(input: string, location: any)
    
    :markdown

      
      




