
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/change_detection/pipes/pipe_registry.ts#L5-L25">angular2/src/change_detection/pipes/pipe_registry.ts (line 5)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(config)
    
    :markdown
      
      




  .l-sub-section
    h3 config

    
    :markdown

      
      





  .l-sub-section
    h3 get

    
    pre.prettyprint
      code.
        get(type: string, obj, cdRef: ChangeDetectorRef)
    
    :markdown

      
      




