
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/change_detection/pipes/pipe.ts#L28-L58">angular2/src/change_detection/pipes/pipe.ts (line 28)</a>

:markdown
  An interface which all pipes must implement.
  
  #Example
  
  ```
  class DoublePipe implements Pipe {
   supports(obj) {
     return true;
   }
  
   onDestroy() {}
  
   transform(value, args = []) {
     return `${value}${value}`;
   }
  }
  ```
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 supports

    
    pre.prettyprint
      code.
        supports(obj: any)
    
    :markdown
      Query if a pipe supports a particular object instance.
      
      





  .l-sub-section
    h3 onDestroy

    
    pre.prettyprint
      code.
        onDestroy()
    
    :markdown
      
      





  .l-sub-section
    h3 transform

    
    pre.prettyprint
      code.
        transform(value: any, args: List&lt;any&gt;)
    
    :markdown
      
      




