
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/change_detection/change_detection.ts#L69-L95">angular2/src/change_detection/change_detection.ts (line 69)</a>

:markdown
  Implements change detection using a map of pregenerated proto detectors.
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(private registry: PipeRegistry, protoChangeDetectors?)
    
    :markdown
      
      




  .l-sub-section
    h3 createProtoChangeDetector

    
    pre.prettyprint
      code.
        createProtoChangeDetector(definition: ChangeDetectorDefinition)
    
    :markdown

      
      





  .l-sub-section
    h3 registry

    
    :markdown

      
      




