
.l-main-section
  h2 preGeneratedProtoDetectors <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../change_detection'>angular2/change_detection</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.27/modules/angular2/src/change_detection/change_detection.ts#L78-L78">angular2/src/change_detection/change_detection.ts (line 78)</a>

  :markdown
    Map from <a href='ChangeDetectorDefinition-class.html#id'><code>ChangeDetectorDefinition</code></a> to a factory method which takes a
    <a href='PipeRegistry-class.html'><code>PipeRegistry</code></a> and a <a href='ChangeDetectorDefinition-class.html'><code>ChangeDetectorDefinition</code></a> and generates a
    <a href='ProtoChangeDetector-class.html'><code>ProtoChangeDetector</code></a> associated with the definition.
    
    

