
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/change_detection/change_detection.ts#L115-L143">angular2/src/change_detection/change_detection.ts (line 115)</a>

:markdown
  Implements change detection using a map of pregenerated proto detectors.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(protoChangeDetectorsForTest?:
                      StringMap&lt;string, Function&gt;)
    
    :markdown
      
      




  .l-sub-section
    h3 createProtoChangeDetector

    
    pre.prettyprint
      code.
        createProtoChangeDetector(definition: ChangeDetectorDefinition)
    
    :markdown

      
      




