
p.
  <span class="location-badge">exported from <a href="/angular2/template">angular2/template</a></span>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/core/compiler/view_container.js#L15">angular2/src/core/compiler/view_container.js (line 15)</a>

:markdown
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        (viewFactory:vfModule.ViewFactory, renderer: Renderer, parentView: viewModule.AppView, defaultProtoView: viewModule.AppProtoView, elementInjector: eiModule.ElementInjector)

    

    :markdown
      




  .l-sub-section
    h3 appInjector

    

    :markdown
      





  .l-sub-section
    h3 clear

    
    pre.prettyprint
      code.
        ()

    

    :markdown
      





  .l-sub-section
    h3 create

    
    pre.prettyprint
      code.
        (atIndex=-1, protoView:viewModule.AppProtoView = null)

    

    :markdown
      





  .l-sub-section
    h3 defaultProtoView

    

    :markdown
      





  .l-sub-section
    h3 detach

    
    pre.prettyprint
      code.
        (atIndex=-1)

    

    :markdown
      The method can be used together with insert to implement a view move, i.e.
      moving the dom nodes while the directives in the view stay intact.





  .l-sub-section
    h3 elementInjector

    

    :markdown
      





  .l-sub-section
    h3 get

    
    pre.prettyprint
      code.
        (index: number)

    

    :markdown
      





  .l-sub-section
    h3 hostElementInjector

    

    :markdown
      





  .l-sub-section
    h3 hydrated

    
    pre.prettyprint
      code.
        ()

    

    :markdown
      





  .l-sub-section
    h3 insert

    
    pre.prettyprint
      code.
        (view, atIndex=-1)

    

    :markdown
      





  .l-sub-section
    h3 internalClearWithoutRender

    
    pre.prettyprint
      code.
        ()

    

    :markdown
      





  .l-sub-section
    h3 length

    

    :markdown
      





  .l-sub-section
    h3 parentView

    

    :markdown
      





  .l-sub-section
    h3 remove

    
    pre.prettyprint
      code.
        (atIndex=-1)

    

    :markdown
      





  .l-sub-section
    h3 render

    

    :markdown
      





  .l-sub-section
    h3 renderer

    

    :markdown
      





  .l-sub-section
    h3 viewFactory

    

    :markdown
      





  .l-sub-section
    h3 viewHydrator

    

    :markdown
      




