// #docregion
import {Component, ViewEncapsulation} from 'angular2/core';

@Component({
  selector: 'quest-summary',
  template: 'No quests ongoing',
  styleUrls: ['app/quest-summary.component.css'],
  encapsulation: ViewEncapsulation.Native
})
export class QuestSummaryComponent {

}
