.l-main-section
  a(href='/docs/_examples/template-syntax/ts/src/plunkr.html') Inline plunker
:marked
  ## Using Pipes

  <a href='\docs\_examples\template-syntax\ts\src\plunkr.html'><code>Plunker</code></a>
