.l-main-section
  a(href='/docs/_examples/template-syntax/ts/src/plnkr.html') Live Example 0

:marked
  [Live Example 1](/docs/_examples/template-syntax/ts/src/plnkr.html)
  <a href='/docs/_examples/template-syntax/ts/src/plnkr.html'><code>Live Example 2</code></a>
