a {
	color: #607D8B ;
	text-decoration: underline ;
}

simple-select {
	cursor: pointer ;
	display: 'inline-block' ;
	font-size: 16px ;
	position: relative ;
	user-select: none ;
		-moz-user-select: none ;
		-webkit-user-select: none ;
}

simple-select button.select-root {
	background-color: #FFFFFF ;
	border: 1px solid #CCCCCC ;
	border-radius: 3px 3px 3px 3px ;
	color: #333333 ;
	font-size: inherit ;
	padding: 7px 10px 7px 10px ;
	position: relative ;
}

simple-select ul.select-items {
	background-color: #FFFFFF ;
	border: 1px solid #CCCCCC ;
	border-radius: 3px 3px 3px 3px ;
	left: 0px ;
	list-style-type: none ;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
	position: absolute ;
	top: 102% ;
	white-space: nowrap ;
	z-index: 2 ;
}

simple-select ul.select-items li {
	border-top: 1px solid #CCCCCC ;
	margin: 0px 0px 0px 0px ;
	padding: 7px 10px 7px 10px ;
	position: relative ;
}

simple-select ul.select-items li:first-child {
	border-top-width: 0px ;
}

/* Custom template styles. */

simple-select {
	display: table ;
	margin: 16px 0px 16px 0px ;
}

simple-select span.swatch {
	border: 1px solid #CCCCCC ;
	border-radius: 3px 3px 3px 3px ;
	display: inline-block ;
	height: 13px ;
	margin: 2px 5px 0px 0px ;
	width: 13px ;
}