
.l-main-section
  h2(class="function export") asNativeElements

  
  pre.prettyprint
    code.
      asNativeElements(arr: List&lt;DebugElement&gt;) : List&lt;any&gt;
  

  p.location-badge.
    exported from <a href='../test'>angular2/test</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/debug/debug_element.ts#L142-L146">angular2/src/debug/debug_element.ts (line 142)</a>

  :markdown
    
    


