
.l-main-section
  h2(class="function export") beforeEach

  
  pre.prettyprint
    code.
      beforeEach(fn: any)
  

  p.location-badge.
    exported from <a href='../test'>angular2/test</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/test_lib/test_lib.ts#L93-L107">angular2/src/test_lib/test_lib.ts (line 93)</a>

  :markdown
    
    


