
.l-main-section
  h2(class="function export") clearPendingTimers

  
  pre.prettyprint
    code.
      clearPendingTimers() : void
  

  p.location-badge.
    exported from <a href='../test'>angular2/test</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/test_lib/fake_async.ts#L66-L73">angular2/src/test_lib/fake_async.ts (line 66)</a>

  :markdown
    
    


