
.l-main-section
  h2(class="function export") createTestInjector

  
  pre.prettyprint
    code.
      createTestInjector(bindings: List&lt;Type | Binding | List&lt;any&gt;&gt;) : Injector
  

  p.location-badge.
    exported from <a href='../test'>angular2/test</a>
    defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/test_lib/test_injector.ts#L130-L135">angular2/src/test_lib/test_injector.ts (line 130)</a>

  :markdown
    
    


