
.l-main-section
  h2(class="function export") createTestInjector

  
  pre.prettyprint
    code.
      createTestInjector(bindings: Array&lt;Type | Binding | any[]&gt;) : Injector
  

  p.location-badge.
    exported from <a href='../test'>angular2/test</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/test_lib/test_injector.ts#L157-L162">angular2/src/test_lib/test_injector.ts (line 157)</a>

  :markdown
    
    


