
.l-main-section
  h2(class="function export") ddescribe

  
  pre.prettyprint
    code.
      ddescribe(...args: any[]) : void
  

  p.location-badge.
    exported from <a href='../test'>angular2/test</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/test_lib/test_lib.ts#L94-L98">angular2/src/test_lib/test_lib.ts (line 94)</a>

  :markdown


