
.l-main-section
  h2(class="function export") ddescribe

  
  pre.prettyprint
    code.
      ddescribe(args: any)
  

  p.location-badge.
    exported from <a href='../test'>angular2/test</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/test_lib/test_lib.ts#L88-L92">angular2/src/test_lib/test_lib.ts (line 88)</a>

  :markdown
    
    


