
.l-main-section
  h2 expect <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../test'>angular2/test</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/test_lib/test_lib.ts#L33-L33">angular2/src/test_lib/test_lib.ts (line 33)</a>

  :markdown
    
    

