
.l-main-section
  h2(class="function export") flushMicrotasks

  
  pre.prettyprint
    code.
      flushMicrotasks() : void
  

  p.location-badge.
    exported from <a href='../test'>angular2/test</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/test_lib/fake_async.ts#L88-L99">angular2/src/test_lib/fake_async.ts (line 88)</a>

  :markdown
    Flush any pending microtasks.
    
    


