
p.location-badge.
  exported from <a href='../test'>angular2/test</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/test_lib/test_injector.ts#L196-L210">angular2/src/test_lib/test_injector.ts (line 196)</a>

:markdown
.l-main-section
  h2 Members
  .l-sub-section
    h3#constructor constructor

    
    pre.prettyprint
      code.
        constructor(_tokens: any[], _fn: Function)
    
    :markdown




  .l-sub-section
    h3#execute execute

    
    pre.prettyprint
      code.
        execute(injector: Injector)
    
    :markdown
      Returns the value of the executed function.
      
      





  .l-sub-section
    h3#hasToken hasToken

    
    pre.prettyprint
      code.
        hasToken(token: any)
    
    :markdown




