
p.location-badge.
  exported from <a href='../test'>angular2/test</a>
  defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/test_lib/test_injector.ts#L169-L184">angular2/src/test_lib/test_injector.ts (line 169)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(tokens: List&lt;any&gt;, fn: Function)
    
    :markdown
      
      




  .l-sub-section
    h3 execute

    
    pre.prettyprint
      code.
        execute(injector: Injector)
    
    :markdown

      
      




