
.l-main-section
  h2(class="function export") inspectElement

  
  pre.prettyprint
    code.
      inspectElement(elementRef: ElementRef) : DebugElement
  

  p.location-badge.
    exported from <a href='../test'>angular2/test</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/debug/debug_element.ts#L138-L142">angular2/src/debug/debug_element.ts (line 138)</a>

  :markdown
    
    


