
.l-main-section
  h2(class="function export") it

  
  pre.prettyprint
    code.
      it(name: any, fn: any, timeOut?: any) : void
  

  p.location-badge.
    exported from <a href='../test'>angular2/test</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/test_lib/test_lib.ts#L186-L190">angular2/src/test_lib/test_lib.ts (line 186)</a>

  :markdown


