
p.location-badge.
  exported from <a href='../test'>angular2/test</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/test_lib/test_lib.ts#L19-L31">angular2/src/test_lib/test_lib.ts (line 19)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 toBe

    
    pre.prettyprint
      code.
        toBe(expected: any)
    
    :markdown
      
      





  .l-sub-section
    h3 toEqual

    
    pre.prettyprint
      code.
        toEqual(expected: any)
    
    :markdown
      
      





  .l-sub-section
    h3 toBePromise

    
    pre.prettyprint
      code.
        toBePromise()
    
    :markdown
      
      





  .l-sub-section
    h3 toBeAnInstanceOf

    
    pre.prettyprint
      code.
        toBeAnInstanceOf(expected: any)
    
    :markdown
      
      





  .l-sub-section
    h3 toHaveText

    
    pre.prettyprint
      code.
        toHaveText(expected: any)
    
    :markdown
      
      





  .l-sub-section
    h3 toImplement

    
    pre.prettyprint
      code.
        toImplement(expected: any)
    
    :markdown
      
      





  .l-sub-section
    h3 toContainError

    
    pre.prettyprint
      code.
        toContainError(expected: any)
    
    :markdown
      
      





  .l-sub-section
    h3 toThrowErrorWith

    
    pre.prettyprint
      code.
        toThrowErrorWith(expectedMessage: any)
    
    :markdown
      
      





  .l-sub-section
    h3 not

    
    :markdown
      
      




