
p.location-badge.
  exported from <a href='../test'>angular2/test</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/test_lib/test_component_builder.ts#L22-L41">angular2/src/test_lib/test_component_builder.ts (line 22)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(componentRef: ComponentRef)
    
    :markdown
      
      




  .l-sub-section
    h3 detectChanges

    
    pre.prettyprint
      code.
        detectChanges()
    
    :markdown
      
      





  .l-sub-section
    h3 destroy

    
    pre.prettyprint
      code.
        destroy()
    
    :markdown
      
      




