
p.location-badge.
  exported from <a href='../test'>angular2/test</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/core/debug/debug_element.ts#L146-L179">angular2/src/core/debug/debug_element.ts (line 146)</a>

:markdown
  This module is used for writing tests for applications written in Angular.
  
  This module is not included in the `angular2` module; you must import the test module explicitly.
