
p.location-badge.
  exported from <a href='../test'>angular2/test</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/test_lib/test_lib.ts#L311-L365">angular2/src/test_lib/test_lib.ts (line 311)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(type?: any)
    
    :markdown
      
      




  .l-sub-section
    h3 noSuchMethod

    
    pre.prettyprint
      code.
        noSuchMethod(args: any)
    
    :markdown
      
      





  .l-sub-section
    h3 spy

    
    pre.prettyprint
      code.
        spy(name: any)
    
    :markdown
      
      





  .l-sub-section
    h3 rttsAssert

    
    pre.prettyprint
      code.
        rttsAssert(value: any)
    
    :markdown
      
      




