
p.location-badge.
  exported from <a href='../test'>angular2/test</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/test_lib/test_lib.ts#L352-L406">angular2/src/test_lib/test_lib.ts (line 352)</a>

:markdown
.l-main-section
  h2 Members
  .l-sub-section
    h3#constructor constructor

    
    pre.prettyprint
      code.
        constructor(type?: any)
    
    :markdown




  .l-sub-section
    h3#noSuchMethod noSuchMethod

    
    pre.prettyprint
      code.
        noSuchMethod(args: any)
    
    :markdown





  .l-sub-section
    h3#spy spy

    
    pre.prettyprint
      code.
        spy(name: any)
    
    :markdown





  .l-sub-section
    h3#prop prop

    
    pre.prettyprint
      code.
        prop(name: any, value: any)
    
    :markdown




