
p.location-badge.
  exported from <a href="/angular2/test.html">angular2/test</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/test_lib/test_bed.js#L24">angular2/src/test_lib/test_bed.js (line 24)</a>

:markdown
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(injector: Injector)
    
    :markdown
      




  .l-sub-section
    h3 createView

    
    pre.prettyprint
      code.
        createView(component: Type, {context = null, html = null}: {context:any, html: string} = {}, [object Object], [object Object], [object Object])
    
    :markdown
      Creates an `AppView` for the given component.
      
      Only either a component or a context needs to be specified but both can be provided for
      advanced use cases (ie subclassing the context).
      





  .l-sub-section
    h3 overrideDirective

    
    pre.prettyprint
      code.
        overrideDirective(component: Type, from: Type, to: Type, [object Object], [object Object], [object Object])
    
    :markdown
      Overrides the directives from the component <a href="../annotations/View-class.html"><code>View</code></a>.
      





  .l-sub-section
    h3 overrideView

    
    pre.prettyprint
      code.
        overrideView(component: Type, template: View, [object Object], [object Object])
    
    :markdown
      Overrides the <a href="../annotations/View-class.html"><code>View</code></a> of a <a href="../annotations/Component-class.html"><code>Component</code></a>.
      





  .l-sub-section
    h3 setInlineTemplate

    
    pre.prettyprint
      code.
        setInlineTemplate(component: Type, html: string, [object Object], [object Object])
    
    :markdown
      Overrides only the html of a <a href="../annotations/Component-class.html"><code>Component</code></a>.
      All the other propoerties of the component's <a href="../annotations/View-class.html"><code>View</code></a> are preserved.
      




