
.l-main-section
  h2(class="function export") tick

  
  pre.prettyprint
    code.
      tick(millis?: number) : void
  

  p.location-badge.
    exported from <a href='../test'>angular2/test</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/test_lib/fake_async.ts#L73-L88">angular2/src/test_lib/fake_async.ts (line 73)</a>

  :markdown
    Simulates the asynchronous passage of time for the timers in the fakeAsync zone.
    
    The microtasks queue is drained at the very start of this function and after any timer callback
    has been executed.
    


