
p.location-badge.
  exported from <a href='../test'>angular2/test</a>
  defined in <a href="https://github.com/angular/angular/tree/3a0410a/modules/angular2/src/test_lib/test_bed.ts#L106-L141">angular2/src/test_lib/test_bed.ts (line 106)</a>

:markdown
  Proxy to `AppView` return by `createView` in <a href='TestBed-class.html'><code>TestBed</code></a> which offers a high level API for
  tests.
  TODO(juliemr): Deprecate in favor of TestElement
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(componentRef: ComponentRef)
    
    :markdown
      
      




  .l-sub-section
    h3 context

    
    :markdown

      
      





  .l-sub-section
    h3 rootNodes

    
    :markdown

      
      





  .l-sub-section
    h3 detectChanges

    
    pre.prettyprint
      code.
        detectChanges()
    
    :markdown

      
      





  .l-sub-section
    h3 querySelector

    
    pre.prettyprint
      code.
        querySelector(selector)
    
    :markdown

      
      





  .l-sub-section
    h3 destroy

    
    pre.prettyprint
      code.
        destroy()
    
    :markdown

      
      





  .l-sub-section
    h3 rawView

    
    :markdown

      




