
.l-main-section
  h2(class="function export") xdescribe

  
  pre.prettyprint
    code.
      xdescribe(...args: any[]) : void
  

  p.location-badge.
    exported from <a href='../test'>angular2/test</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/test_lib/test_lib.ts#L96-L100">angular2/src/test_lib/test_lib.ts (line 96)</a>

  :markdown
    
    


