
.l-main-section
  h2 appBaseHrefToken <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../router'>angular2/router</a>
    defined in <a href="https://github.com/angular/angular/tree/f2ef90b/modules/angular2/src/router/location.ts#L6-L6">angular2/src/router/location.ts (line 6)</a>

  :markdown
    
    

