
.l-main-section
  h2 appBaseHrefToken <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../router'>angular2/router</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/router/location.ts#L7-L7">angular2/src/router/location.ts (line 7)</a>

  :markdown
    
    

