
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/router/route_config_impl.ts#L56-L70">angular2/src/router/route_config_impl.ts (line 56)</a>

:markdown

.l-main-section
  h2 Annotations
.l-main-section
  h2 Members
  .l-sub-section
    h3#constructor constructor

    
    pre.prettyprint
      code.
        constructor({path, loader, as, data}: {path: string, loader: Function, as?: string, data?: any})
    
    :markdown




  .l-sub-section
    h3#data data

    
    :markdown





  .l-sub-section
    h3#path path

    
    :markdown





  .l-sub-section
    h3#loader loader

    
    :markdown





  .l-sub-section
    h3#as as

    
    :markdown




