
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/router/browser_location.js#L1-L37">angular2/src/router/browser_location.js (line 1)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor()
    
    :markdown
      
      




  .l-sub-section
    h3 back

    
    pre.prettyprint
      code.
        back()
    
    :markdown

      
      





  .l-sub-section
    h3 forward

    
    pre.prettyprint
      code.
        forward()
    
    :markdown

      
      





  .l-sub-section
    h3 getBaseHref

    
    pre.prettyprint
      code.
        getBaseHref()
    
    :markdown

      
      





  .l-sub-section
    h3 onPopState

    
    pre.prettyprint
      code.
        onPopState(fn: Function)
    
    :markdown

      
      





  .l-sub-section
    h3 path

    
    pre.prettyprint
      code.
        path()
    
    :markdown

      
      





  .l-sub-section
    h3 pushState

    
    pre.prettyprint
      code.
        pushState(state:any, title:string, url:string)
    
    :markdown

      
      




