
.l-main-section
  h2 CanActivate <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../router'>angular2/router</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/router/lifecycle_annotations.ts#L19-L21">angular2/src/router/lifecycle_annotations.ts (line 19)</a>

  :markdown
    
    

