
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/router/interfaces.ts#L115-L139">angular2/src/router/interfaces.ts (line 115)</a>

:markdown
  Maps application URLs into application states, to support deep-linking and navigation.
.l-main-section
  h2 Members
  .l-sub-section
    h3 canDeactivate

    
    pre.prettyprint
      code.
        canDeactivate(nextInstruction: ComponentInstruction, prevInstruction: ComponentInstruction)
    
    :markdown
      
      




