
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/router/interfaces.ts#L29-L36">angular2/src/router/interfaces.ts (line 29)</a>

:markdown
  Defines route lifecycle method [canReuse]
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 canReuse

    
    pre.prettyprint
      code.
        canReuse(nextInstruction: Instruction, prevInstruction: Instruction)
    
    :markdown
      
      




