
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/router/instruction.ts#L76-L107">angular2/src/router/instruction.ts (line 76)</a>

:markdown
  Maps application URLs into application states, to support deep-linking and navigation.
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(urlPath: string, urlParams: string[], _recognizer: PathRecognizer, params?: StringMap&lt;string, any&gt;)
    
    :markdown
      
      




  .l-sub-section
    h3 reuse

    
    :markdown
      
      





  .l-sub-section
    h3 urlPath

    
    :markdown
      
      





  .l-sub-section
    h3 urlParams

    
    :markdown
      
      





  .l-sub-section
    h3 params

    
    :markdown
      
      





  .l-sub-section
    h3 componentType

    
    :markdown
      
      





  .l-sub-section
    h3 resolveComponentType

    
    pre.prettyprint
      code.
        resolveComponentType()
    
    :markdown
      
      





  .l-sub-section
    h3 specificity

    
    :markdown
      
      





  .l-sub-section
    h3 terminal

    
    :markdown
      
      





  .l-sub-section
    h3 routeData

    
    pre.prettyprint
      code.
        routeData()
    
    :markdown
      
      




