
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/router/instruction.ts#L78-L101">angular2/src/router/instruction.ts (line 78)</a>

:markdown
  A `ComponentInstruction` represents the route state for a single component. An `Instruction` is
  composed of a tree of these `ComponentInstruction`s.
  
  `ComponentInstructions` is a public API. Instances of `ComponentInstruction` are passed
  to route lifecycle hooks, like <a href='CanActivate-var.html'><code>CanActivate</code></a>.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(urlPath: string, urlParams: List&lt;string&gt;, _recognizer: PathRecognizer, params?: StringMap&lt;string, any&gt;)
    
    :markdown
      
      




  .l-sub-section
    h3 reuse

    
    :markdown
      
      





  .l-sub-section
    h3 urlPath

    
    :markdown
      
      





  .l-sub-section
    h3 urlParams

    
    :markdown
      
      





  .l-sub-section
    h3 params

    
    :markdown
      
      





  .l-sub-section
    h3 componentType

    
    :markdown
      
      





  .l-sub-section
    h3 resolveComponentType

    
    pre.prettyprint
      code.
        resolveComponentType()
    
    :markdown
      
      





  .l-sub-section
    h3 specificity

    
    :markdown
      
      





  .l-sub-section
    h3 terminal

    
    :markdown
      
      




