
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/router/hash_location_strategy.ts#L4-L41">angular2/src/router/hash_location_strategy.ts (line 4)</a>

:markdown

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Injectable
    pre.prettyprint
      code.
        @Injectable()


.l-main-section
  h2 Members
  .l-sub-section
    h3#constructor constructor

    
    pre.prettyprint
      code.
        constructor()
    
    :markdown




  .l-sub-section
    h3#onPopState onPopState

    
    pre.prettyprint
      code.
        onPopState(fn: EventListener)
    
    :markdown





  .l-sub-section
    h3#getBaseHref getBaseHref

    
    pre.prettyprint
      code.
        getBaseHref()
    
    :markdown





  .l-sub-section
    h3#path path

    
    pre.prettyprint
      code.
        path()
    
    :markdown





  .l-sub-section
    h3#pushState pushState

    
    pre.prettyprint
      code.
        pushState(state: any, title: string, url: string)
    
    :markdown





  .l-sub-section
    h3#forward forward

    
    pre.prettyprint
      code.
        forward()
    
    :markdown





  .l-sub-section
    h3#back back

    
    pre.prettyprint
      code.
        back()
    
    :markdown




