
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/router/instruction.ts#L19-L35">angular2/src/router/instruction.ts (line 19)</a>

:markdown
  `Instruction` is a tree of `ComponentInstructions`, with all the information needed
  to transition each component in the app to a given route, including all auxiliary routes.
  
  This is a public API.
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(component: ComponentInstruction, child: Instruction, auxInstruction: StringMap&lt;string, Instruction&gt;)
    
    :markdown
      
      




  .l-sub-section
    h3 component

    
    :markdown
      
      





  .l-sub-section
    h3 child

    
    :markdown
      
      





  .l-sub-section
    h3 auxInstruction

    
    :markdown
      
      





  .l-sub-section
    h3 replaceChild

    
    pre.prettyprint
      code.
        replaceChild(child: Instruction)
    
    :markdown
      
      




