
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/router/instruction.ts#L18-L33">angular2/src/router/instruction.ts (line 18)</a>

:markdown
  Maps application URLs into application states, to support deep-linking and navigation.
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(component: ComponentInstruction, child: Instruction, auxInstruction: StringMap&lt;string, Instruction&gt;)
    
    :markdown
      
      




  .l-sub-section
    h3 component

    
    :markdown
      
      





  .l-sub-section
    h3 child

    
    :markdown
      
      





  .l-sub-section
    h3 auxInstruction

    
    :markdown
      
      





  .l-sub-section
    h3 replaceChild

    
    pre.prettyprint
      code.
        replaceChild(child: Instruction)
    
    :markdown
      
      




