
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.33/modules/angular2/src/router/location.ts#L7-L79">angular2/src/router/location.ts (line 7)</a>

:markdown
  This is the service that an application developer will directly interact with.
  
  Responsible for normalizing the URL against the application's base href.
  A normalized URL is absolute from the URL host, includes the application's base href, and has no
  trailing slash:
  - `/my/app/user/123` is normalized
  - `my/app/user/123` **is not** normalized
  - `/my/app/user/123/` **is not** normalized
  
  

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Injectable
    pre.prettyprint
      code.
        @Injectable()


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(_platformStrategy: LocationStrategy, href?: string)
    
    :markdown
      
      




  .l-sub-section
    h3 path

    
    pre.prettyprint
      code.
        path()
    
    :markdown
      
      





  .l-sub-section
    h3 normalize

    
    pre.prettyprint
      code.
        normalize(url: string)
    
    :markdown
      
      





  .l-sub-section
    h3 normalizeAbsolutely

    
    pre.prettyprint
      code.
        normalizeAbsolutely(url: string)
    
    :markdown
      
      





  .l-sub-section
    h3 go

    
    pre.prettyprint
      code.
        go(url: string)
    
    :markdown
      
      





  .l-sub-section
    h3 forward

    
    pre.prettyprint
      code.
        forward()
    
    :markdown
      
      





  .l-sub-section
    h3 back

    
    pre.prettyprint
      code.
        back()
    
    :markdown
      
      





  .l-sub-section
    h3 subscribe

    
    pre.prettyprint
      code.
        subscribe(onNext: (value: any) =&gt; void, onThrow?: (exception: any) =&gt; void, onReturn?: () =&gt; void)
    
    :markdown
      
      




