
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/router/location.js#L3-L67">angular2/src/router/location.js (line 3)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(browserLocation:BrowserLocation)
    
    :markdown
      
      




  .l-sub-section
    h3 back

    
    pre.prettyprint
      code.
        back()
    
    :markdown

      
      





  .l-sub-section
    h3 forward

    
    pre.prettyprint
      code.
        forward()
    
    :markdown

      
      





  .l-sub-section
    h3 go

    
    pre.prettyprint
      code.
        go(url:string)
    
    :markdown

      
      





  .l-sub-section
    h3 normalize

    
    pre.prettyprint
      code.
        normalize(url: string)
    
    :markdown

      
      





  .l-sub-section
    h3 normalizeAbsolutely

    
    pre.prettyprint
      code.
        normalizeAbsolutely(url: string)
    
    :markdown

      
      





  .l-sub-section
    h3 path

    
    pre.prettyprint
      code.
        path()
    
    :markdown

      
      





  .l-sub-section
    h3 subscribe

    
    pre.prettyprint
      code.
        subscribe(onNext, onThrow = null, onReturn = null)
    
    :markdown

      
      




