
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/router/location_strategy.ts#L5-L14">angular2/src/router/location_strategy.ts (line 5)</a>

:markdown
.l-main-section
  h2 Members
  .l-sub-section
    h3#path path

    
    pre.prettyprint
      code.
        path()
    
    :markdown





  .l-sub-section
    h3#pushState pushState

    
    pre.prettyprint
      code.
        pushState(ctx: any, title: string, url: string)
    
    :markdown





  .l-sub-section
    h3#forward forward

    
    pre.prettyprint
      code.
        forward()
    
    :markdown





  .l-sub-section
    h3#back back

    
    pre.prettyprint
      code.
        back()
    
    :markdown





  .l-sub-section
    h3#onPopState onPopState

    
    pre.prettyprint
      code.
        onPopState(fn: (_: any) =&gt; any)
    
    :markdown





  .l-sub-section
    h3#getBaseHref getBaseHref

    
    pre.prettyprint
      code.
        getBaseHref()
    
    :markdown




