
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/router/path_location_strategy.ts#L4-L32">angular2/src/router/path_location_strategy.ts (line 4)</a>

:markdown
  Maps application URLs into application states, to support deep-linking and navigation.

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Injectable
    pre.prettyprint
      code.
        @Injectable()


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor()
    
    :markdown
      
      




  .l-sub-section
    h3 onPopState

    
    pre.prettyprint
      code.
        onPopState(fn: EventListener)
    
    :markdown
      
      





  .l-sub-section
    h3 getBaseHref

    
    pre.prettyprint
      code.
        getBaseHref()
    
    :markdown
      
      





  .l-sub-section
    h3 path

    
    pre.prettyprint
      code.
        path()
    
    :markdown
      
      





  .l-sub-section
    h3 pushState

    
    pre.prettyprint
      code.
        pushState(state: any, title: string, url: string)
    
    :markdown
      
      





  .l-sub-section
    h3 forward

    
    pre.prettyprint
      code.
        forward()
    
    :markdown
      
      





  .l-sub-section
    h3 back

    
    pre.prettyprint
      code.
        back()
    
    :markdown
      
      




