
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/router/pipeline.ts#L4-L30">angular2/src/router/pipeline.ts (line 4)</a>

:markdown
  Responsible for performing each step of navigation.
  "Steps" are conceptually similar to "middleware"
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor()
    
    :markdown
      
      




  .l-sub-section
    h3 steps

    
    :markdown

      
      





  .l-sub-section
    h3 process

    
    pre.prettyprint
      code.
        process(instruction: Instruction)
    
    :markdown

      
      




