
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/router/route_config_impl.ts#L70-L84">angular2/src/router/route_config_impl.ts (line 70)</a>

:markdown
  Maps application URLs into application states, to support deep-linking and navigation.

.l-main-section
  h2 Annotations
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor({path, redirectTo}: {path: string, redirectTo: string})
    
    :markdown
      
      




  .l-sub-section
    h3 path

    
    :markdown
      
      





  .l-sub-section
    h3 redirectTo

    
    :markdown
      
      





  .l-sub-section
    h3 as

    
    :markdown
      
      





  .l-sub-section
    h3 loader

    
    :markdown
      
      





  .l-sub-section
    h3 data

    
    :markdown
      
      




