
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/router/route_config_impl.ts#L42-L53">angular2/src/router/route_config_impl.ts (line 42)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor({path, redirectTo}: {path: string, redirectTo: string})
    
    :markdown
      
      




  .l-sub-section
    h3 path

    
    :markdown

      
      





  .l-sub-section
    h3 redirectTo

    
    :markdown

      
      





  .l-sub-section
    h3 as

    
    :markdown

      
      




