
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/router/router.ts#L320-L346">angular2/src/router/router.ts (line 320)</a>

:markdown
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(registry: RouteRegistry, pipeline: Pipeline, location: Location, hostComponent: Type)
    
    :markdown
      
      




  .l-sub-section
    h3 commit

    
    pre.prettyprint
      code.
        commit(instruction: Instruction, _skipLocationChange?: boolean)
    
    :markdown
      
      




