
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/router/route_config_impl.ts#L17-L30">angular2/src/router/route_config_impl.ts (line 17)</a>

:markdown
  
  

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation CONST
    pre.prettyprint
      code.
        @CONST()


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor({path, component, as}: {path: string, component: Type, as?: string})
    
    :markdown
      
      




  .l-sub-section
    h3 path

    
    :markdown
      
      





  .l-sub-section
    h3 component

    
    :markdown
      
      





  .l-sub-section
    h3 as

    
    :markdown
      
      




