
.l-main-section
  p.location-badge.
    exported from <a href='../router'>angular2/router</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.36/modules/angular2/src/router/route_config_decorator.ts#L5-L6">angular2/src/router/route_config_decorator.ts (line 5)</a>

  :markdown
    
    

