
.l-main-section
  h2 routerInjectables <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../router'>angular2/router</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/router.ts#L41-L50">angular2/router.ts (line 41)</a>

  :markdown
    
    

