
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/master/modules/angular2/src/router/route_config_impl.js#L2-L19">angular2/src/router/route_config_impl.js (line 2)</a>

:markdown
  You use the RouteConfig annotation to add routes to a component.
  
  Supported keys:
  - `path` (required)
  - `component`, `components`, `redirectTo` (requires exactly one of these)
  - `as` (optional)
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(configs:List&lt;Map&gt;)
    
    :markdown
      
      




  .l-sub-section
    h3 configs

    
    :markdown

      
      




