
.l-main-section
  h2 RouteConfig <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../router'>angular2/router</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/src/router/route_config_decorator.ts#L5-L5">angular2/src/router/route_config_decorator.ts (line 5)</a>

  :markdown
    
    

