
.l-main-section
  p.location-badge.
    exported from <a href='../router'>angular2/router</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/router/route_data.ts#L4-L4">angular2/src/router/route_data.ts (line 4)</a>

  :markdown
    
    

