
.l-main-section
  h2 routerDirectives <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../router'>angular2/router</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.32/modules/angular2/router.ts#L35-L35">angular2/router.ts (line 35)</a>

  :markdown
    
    

