
.l-main-section
  h2 routerDirectives <span class="type">variable</span>
  p.location-badge.
    exported from <a href='../router'>angular2/router</a>
    defined in <a href="https://github.com/angular/angular/tree/f2ef90b/modules/angular2/router.ts#L31-L31">angular2/router.ts (line 31)</a>

  :markdown
    
    

