
.l-main-section
  h2(class="function export") routerBindings

  
  pre.prettyprint
    code.
      routerBindings(primaryComponent: Type) : Array&lt;any&gt;
  

  p.location-badge.
    exported from <a href='../router'>angular2/router</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/router.ts#L76-L80">angular2/router.ts (line 76)</a>

  :markdown


