
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/router/instruction.ts#L12-L18">angular2/src/router/instruction.ts (line 12)</a>

:markdown
  Maps application URLs into application states, to support deep-linking and navigation.
.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(params: StringMap&lt;string, string&gt;)
    
    :markdown
      
      




  .l-sub-section
    h3 params

    
    :markdown
      
      





  .l-sub-section
    h3 get

    
    pre.prettyprint
      code.
        get(param: string)
    
    :markdown
      
      




