
.l-main-section
  p.location-badge.
    exported from <a href='../router'>angular2/router</a>
    defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/router.ts#L63-L74">angular2/router.ts (line 63)</a>

  :markdown
    A list of <a href='../core/Binding-class.html'><code>Binding</code></a>. To use the router, you must add this to your application.
    
    ## Example
    
    ```typescript
    @Component({...})
    @View({directives: [ROUTER_DIRECTIVES]})
    @RouteConfig([
     new Route(...),
    ])
    class AppCmp {
     constructor(router: Router, location: Location) {
       // ...
     }
    
    }
    
    
    bootstrap(AppCmp, [ROUTER_BINDINGS]);
    ```
    
    

