
p.location-badge.
  exported from <a href='../router'>angular2/router</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.37/modules/angular2/src/router/url_parser.ts#L3-L34">angular2/src/router/url_parser.ts (line 3)</a>

:markdown
  This class represents a parsed URL
  
  
.l-main-section
  h2 Members
  .l-sub-section
    h3#constructor constructor

    
    pre.prettyprint
      code.
        constructor(path: string, child?: Url, auxiliary?: Url[], params?: StringMap&lt;string, any&gt;)
    
    :markdown




  .l-sub-section
    h3#path path

    
    :markdown





  .l-sub-section
    h3#child child

    
    :markdown





  .l-sub-section
    h3#auxiliary auxiliary

    
    :markdown





  .l-sub-section
    h3#params params

    
    :markdown





  .l-sub-section
    h3#toString toString

    
    pre.prettyprint
      code.
        toString()
    
    :markdown





  .l-sub-section
    h3#segmentToString segmentToString

    
    pre.prettyprint
      code.
        segmentToString()
    
    :markdown




