article.l-content-small
  h2 Developer Preview

  p.
    The proposed Angular 2 API does not yet have Dart-specific documentation.
    However, because the Dart and JavaScript APIs are generated from the same source,
    you might find the JavaScript API docs helpful:

  p.text-center
    <b><a href="/docs/js/latest/api/">Angular 2 API Preview (JavaScript)</a></b>

  .l-sub-section
    h3 Angular 1 for Production
    p.
      If you're building a production app today, please
      <a href="https://angulardart.org">use AngularDart 1.X</a>.
