:marked
  > **Known issues:** Although this generated API reference displays Dart APIs
  and includes some Dart examples, the text reflects the TypeScript APIs. The
  angular.io issue tracker contains [all known issues][api-issues]; if you
  notice others, please [report them][ngio-issues]. Thanks!

  [ngio-issues]: https://github.com/angular/angular.io/issues
  [api-issues]: https://github.com/angular/angular.io/labels/api

api-list(src="api-list.json")
