.l-main-section
  h2 Beta

  p.
    The proposed Angular 2 API does not yet have Dart-specific documentation.
    However, because the Dart and JavaScript APIs are generated from the same source,
    you might find the JavaScript API docs helpful:

  p.text-center
    <b><a href="/docs/js/latest/api/">Angular 2 API Preview (JavaScript)</a></b>
