:marked
  > **WARNING:** API documentation is preliminary and subject to change.

  > **Known issues:** Although this generated API reference displays Dart
  APIs, individual pages sometimes describe TypeScript APIs accompanied with
  TypeScript code. The angular.io issue tracker contains [all known
  issues][api-issues]; if you notice others, please [report
  them][new-issue]. Thanks!

  [new-issue]: https://github.com/angular/angular.io/issues/new?labels=dart,api&title=%5BDart%5D%5BAPI%5D%20
  [api-issues]: https://github.com/angular/angular.io/issues?q=label%3Aapi+label%3Adart

api-list(src="api-list.json" lang="dart")
