.l-main-section
  h2 Developer Preview

  p.
    We do not yet generate the Dart API in a standard
    <a href="https://www.dartlang.org/articles/doc-comment-guidelines/">dartdoc</a>
    format, however they can still be quite readable, so go check out:

  p.text-center
    <b><a href="http://www.dartdocs.org/">dartdocs.org</a></b>

  p.
    Another option is to read the JavaScript API docs. You might find them useful,
    because the Dart and JavaScript APIs are generated from the same source:

  p.text-center
    <b><a href="/docs/js/latest/api/">Angular 2 API Preview (JavaScript)</a></b>

  .l-sub-section
    h3 Angular 1 for Production
    p.
      If you're building a production app today, please
      <a href="https://angulardart.org">use AngularDart 1.X</a>.
