input {width: 400px;}
.job-board {
  border: 2px solid lightgray;
}
.request-panel {
  border: 2px solid grey;
  margin: 8px;
  padding: 8px;
}
.invited-hero-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
invited-hero {
  flex: 1 33.3%;
  flex-grow: 0;
}
.responding-hero {
  padding-bottom: 8px;
}
.hero-name {
  display: inline-block;
  width: 180px;
}
.announced {
    color: red;
    border: 2px solid red;
    background-color: #ffdddd;
}
.winner {
  display: inline-block;
  color: white;
  font-weight: bold;
  background-color: green;
  padding: 4px 8px;
}