.job-board {
  border: 2px solid lightgray;
  margin: 8px;
  padding: 8px;
}
.hero-panel-list {
  display: flex;
  flex-flow: row wrap;
}
hero-panel {
  flex: 1 33.3%;
  flex-grow: 0;
}
input {
  width: 400px;
}
.responding-hero {
    padding-bottom: 8px;
}
.hero-name {
  display: inline-block;
  width: 180px;
}
.winner {
  display: inline-block;
  color: white;
  font-weight: bold;
  background-color: green;
  padding: 4px 8px;
}
.message-board {
  border: 2px solid blue;
  margin-bottom: 16px;
}
.message {
  color: blue;
}