.hero-panel {
  box-sizing: border-box;
  border: 2px solid lightgray;
  margin: 8px;
  padding: 8px;
}
.job-request {
    color: gray;
    border: 1px solid lightgray;
    padding: 4px;
    background-color: #dddddd;
}
.announced {
    color: red;
    border: 2px solid red;
    background-color: #ffdddd;
}
.undertaken {
    color: blue;
    border: 2px solid blue;
    background-color: #ddddff;
}
.won {
    color: white;
    border: 2px solid green;
    background-color: green;
    padding: 8px;
}
.lost {
    color: white;
    border: 2px solid gray;
    background-color: gray;
    padding: 8px;
}
.else {
    color: gray;
    border: 2px solid gray;
    background-color: #dddddd;
    padding: 8px;
}
.distinguished {
  background-color: skyblue;
  border: 2px solid blue;
}