
include ../../_util-fns

.grid-fluid.api-content
  .c2
    h2 What It Does
  .c10
    p The <a href="#">NgSwitch</a> directive is used to conditionally swap DOM structure on your template and on a scope expression. Elements within <a href="#">NgSwitch</a> but without <a href="#">NgSwitchWhen</a> or <a href="#">NgSwitchDefault</a> directives will be preserved at the location as specified in the template.
  .c2 
    h2 How To Use
  .c10
    p 
      code-example(language="typescript").
        &lt;p&gt;Value = {{value}}&lt;/p&gt;
        &lt;button (click)=&quot;inc()&quot;&gt;Increment&lt;/button&gt;
    
        &lt;div [ng-switch]=&quot;value&quot;&gt;
          &lt;p *ng-switch-when=&quot;&#039;init&#039;&quot;&gt;increment to start&lt;/p&gt;
  .c2 
    h2 Selectors <i class="material-icons md-14">help</i>
  .c10
    p
      code [ng-switch]
  .c2 
    h2 Outputs <i class="material-icons md-14">help</i>
  .c10
    p
      <a href="#">ng-model-change</a> bound to <a href="#">NgFormControl.update</a>
  .c2 
    h2 Inputs <i class="material-icons md-14">help</i>
  .c10
    p
      <a href="#">ng-switch</a> bound to <a href="#">NgSwitch.ngSwitch</a>
  .c2
    h2 Exported As <i class="material-icons md-14">help</i>
  .c10
    p <a href="#">form</a>
  .c2 
    h2 Class Description <i class="material-icons md-14">help</i>
  .c10
    p
      :marked
        <a href="#">NgSwitch</a> simply inserts nested elements based on which match expression matches the value
        obtained from the evaluated switch expression. In other words, you define a container element
        (where you place the directive with a switch expression on the
        **`[ng-switch]="..."` attribute**), define any inner elements inside of the directive and
        place a `[ng-switch-when]` attribute per element.
        The `ng-switch-when` property is used to inform `NgSwitch` which element to display when the
        expression is evaluated. If a matching expression is not found via a `ng-switch-when` property
        then an element with the `ng-switch-default` attribute is displayed.
        
        Example ([live demo](#))
        

        code-example(language="typescript").
            
            &lt;div [ng-switch]=&quot;value&quot;&gt;
            &lt;p *ng-switch-when=&quot;&#039;init&#039;&quot;&gt;increment to start&lt;/p&gt;
            &lt;p *ng-switch-when=&quot;0&quot;&gt;0, increment again&lt;/p&gt;
            &lt;p *ng-switch-when=&quot;1&quot;&gt;1, increment again&lt;/p&gt;
            &lt;p *ng-switch-when=&quot;2&quot;&gt;2, stop incrementing&lt;/p&gt;
            &lt;p *ng-switch-default&gt;&amp;gt; 2, STOP!&lt;/p&gt;
            &lt;/div&gt;
        
            &lt;!-- alternate syntax --&gt;
        
            &lt;p [ng-switch]=&quot;value&quot;&gt;
              &lt;template ng-switch-when=&quot;init&quot;&gt;increment to start&lt;/template&gt;
              &lt;template [ng-switch-when]=&quot;0&quot;&gt;0, increment again&lt;/template&gt;
              &lt;template [ng-switch-when]=&quot;1&quot;&gt;1, increment again&lt;/template&gt;
              &lt;template [ng-switch-when]=&quot;2&quot;&gt;2, stop incrementing&lt;/template&gt;
              &lt;template ng-switch-default&gt;&amp;gt; 2, STOP!&lt;/template&gt;
            &lt;/p&gt;

  .c2 
    h2 Class Details <i class="material-icons md-14">help</i>
  .c10
    h3 NgSwitch
    hr
    h3 constructor(_validators:)
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    hr
    h3 form : Control
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    hr
    h3 model : any
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    hr
    h3 viewModel : any
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    hr
    h3 path : string[]
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
