.about-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
}

p {
  width: 300px;
}

button {
  width: 100%;
}