block includes
  include ../_util-fns

:marked
  # Documentation Change Log

  The Angular documentation is a living document with continuous improvements.
  This log calls attention to recent significant changes.

  ## Sync with Angular v.2.1.0 (2016-10-12)
  Docs and code samples updated and tested with Angular v.2.1.0 

  ## NEW "Ahead of Time (AoT) Compilation" cookbook (2016-10-11)
  The NEW [Ahead of Time (AoT) Compilation](../cookbook/aot-compiler.html) cookbook
  explains what AoT compilation is and why you'd want it.
  It demonstrates the basics with a QuickStart app
  followed by the more advanced considerations of compiling and bundling the Tour of Heroes.

  ## Sync with Angular v.2.0.2 (2016-10-6)
  Docs and code samples updated and tested with Angular v.2.0.2 

  ## "Routing and Navigation" guide with the _Router Module_ (2016-10-5)
  The [Routing and Navigation](router.html) guide now locates route configuration
  in a _Routing Module_. 
  The _Routing Module_ replaces the previous _routing object_ involving the `ModuleWithProviders`.

  All guided samples with routing use the _Routing Module_ and prose content has been updated,
  most conspicuously in the 
  [NgModule](ngmodule.html) guide and [NgModule FAQ](../cookbook/ngmodule-faq.html) cookbook.

  ## New "Internationalization" Cookbook (2016-09-30)

  Added a new [Internationalization (i18n)](../cookbook/i18n.html) cookbook that shows how
  to use Angular "i18n" facilities to translate template text into multiple languages.

  ## "angular-in-memory-web-api" package rename (2016-09-27)

  Many samples use the `angular-in-memory-web-api` to simulate a remote server.
  This library is also useful to you during early development before you have a server to talk to.

  The package name was changed from "angular2-in-memory-web-api" which is still frozen-in-time on npm.
  The new "angular-in-memory-web-api" has new features. 
  <a href="https://github.com/angular/in-memory-web-api/blob/master/README.md" target="_blank">Read about them on github</a>.

  ## "Style Guide" with _NgModules_ (2016-09-27)

  [StyleGuide](style-guide.html) explains our recommended conventions for Angular modules (NgModule).
  Barrels now are far less useful and have been removed from the style guide;
  they remain valuable but are not a matter of Angular style.
  We also relaxed the rule that discouraged use of the `@Component.host` property.

  ## _moduleId: module.id_ everywhere (2016-09-25)

  Sample components that get their templates or styles with `templateUrl` or `styleUrls`
  have been converted to _module-relative_ URLs.
  We added the `moduleId: module.id` property-and-value to their `@Component` metadata.
  
  This change is a requirement for compilation with AoT compiler when the app loads
  modules with SystemJS as the samples currently do.

  ## "Lifecycle Hooks" guide simplified (2016-09-24)

  The [Lifecycle Hooks](lifecycle-hooks.html) guide is shorter, simpler, and 
  draws more attention to the order in which Angular calls the hooks.
