.banner
  p.text-body This cheat sheet is provisional and may change. Angular 2 is currently in Developer Preview.

article(class="l-content-small grid-fluid docs-content")
  .cheatsheet
    h2 Angular for TypeScript Cheat Sheet (v2.0.0-alpha.44)
    .downloads
      a.download(href='AngularCheatSheet_Letter.pdf')
        span.icon.icon-cloud-download
        h4 Multi-page/A4 or Letter
        h5 168KB (.pdf)
      a.download(href='AngularCheatSheet_Poster.pdf')
        span.icon.icon-cloud-download
        h4 Poster/A2 or 18" x 24"
        h5 369KB (.pdf)
    br
    br

    table(ng-repeat='section in cheatsheet')
      tr
        th {{section.syntax}}
        th
          code {{section.description}}
      tr(ng-repeat='child in section.children')
        td
          code(bold='child.bold') {{child.syntax}}
        td {{child.description}}
