.banner
  p.text-body This cheat sheet is provisional and may change. Angular 2 is currently in Developer Preview.

article(class="l-content-small grid-fluid docs-content")
  .cheatsheet
    h2 Angular for TypeScript Cheat Sheet (v2.0.0-alpha.44)
    .downloads
      a.download(href='AngularCheatSheet_Letter.pdf')
        span.icon.icon-cloud-download
        h4 Multi-page/A4 or Letter
        h5 168KB (.pdf)
      a.download(href='AngularCheatSheet_Poster.pdf')
        span.icon.icon-cloud-download
        h4 Poster/A2 or 18" x 24"
        h5 369KB (.pdf)
    br
    br

    table(ng-repeat='section in appCtrl.cheatsheet' ng-cloak)
      tr
        th {{section.name}}
        th(ng-bind-html="appCtrl.getSafeHtml(section.description)")
      tr(ng-repeat='child in section.items')
        td
          code(bold='child.bold',ng-compile) {{child.syntax}}
        td(ng-bind-html="appCtrl.getSafeHtml(child.description)")
