include ../../../../_includes/_util-fns

:marked
  ## Component Communication

  Real applications rarely use a single component to implement the entire functionality of the app. To create structured, testable 
  and maintainable applications, you'd better decompose the entire logic into a set of loosely-coupled (or decoupled) components.
  This way, you can create a smaller building blocks with their own boundary of responsibility, and compose the entire application
  from them.
  
