include ../../../../_includes/_util-fns

:marked
  ## Component Communication

  Real applications rarely use a single component to implement the entire functionality of the app. To create structured, testable 
  and maintainable applications, we'd better decompose the entire logic into a set of loosely-coupled (or decoupled) components.
  This way, we can create smaller building blocks with their own boundaries of responsibility, and compose the entire application
  from them.
  
  An Angular app is a tree of components, and so it has parent and child components. Evidently, these components have to communicate
  with each other. As we already learned, _component_ is a pivotal concept of Angular, and it was designed with _inter-component 
  communication_ in mind. Thinking about an app as a tree of components, we can envision the following information flows:
  * Parent to child (and children)
  * Child to parent
  * Sibling to sibling
  * Among unrelated, completely decoupled components 
  
  In this chapter, we will learn several mechanisms available for inter-component communication. We will also get acquainted with 
  the tradeoffs of each mechanism, and understand the scenarios best suited for using a particular method of communication.
  
  ### The Hero Job Board sample
  
  We are goind to build a sample application that help us involving our heroes into actions when we really need their help. In this app,
  users can act on behalf of the person in need, and also on behalf of each hero. The basic workflow is the following:
  1. The person in need invites heroes to listen to job requests. As a simplification, we keep a list of all known heroes, and invite
  each of them independently of the superpower they possess.
  1. When there's a decent job that requires superpower, the person in need announces a job request that is received by all heroes invited.
  1. Heroes can opt to undertake the job.
  1. When having received applications for the job, the person in need assigns the job to one and only one hero among the responding ones.
  1. The assigned hero is notified about winning the job, the others receive a message about losing the opportunity.
  
  _To be continued..._
  