include ../_util-fns
.alert.is-critical
  :marked
    This chapter is a *work in progress*.
    
    It will describe the forthcoming Component Router which
    replaces the [*beta* router](router-deprecated.html).

