@import 'grids';

.l-left {
  float: left;
}

.l-right {
  float: right;
}



/*
* Margins & Spacing
*
*/

.l-offset-nav {
  padding-top: 56px;
}

.l-offset-side-nav {
  padding-left: 224px;
}

.l-content {
  padding: ($unit * 8) ($unit * 12);
}

.l-content-block {
  margin: 0px 0px ($unit * 8) 0px;
}

@for $i from 1 through 10 {
  .l-space-bottom-#{$i} {
    margin-bottom: $i * 8px;
  }
}


/*
* Pinned Layouts (fixed)
*
*/

.l-pinned-top {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.l-pinned-left {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
}


/*
* Layer Order (z-index)
*
*/

.l-layer-1 {
  z-index: $layer-1;
}

.l-layer-2 {
  z-index: $layer-2;
}

.l-layer-3 {
  z-index: $layer-3;
}

.l-layer-4 {
  z-index: $layer-4;
}

.l-layer-5 {
  z-index: $layer-5;
}

.l-layer-6 {
  z-index: $layer-6;
}

.l-layer-7 {
  z-index: $layer-7;
}

.l-layer-8 {
  z-index: $layer-8;
}

.l-layer-9 {
  z-index: $layer-9;
}

.l-layer-10 {
  z-index: $layer-10;
}



