<div class="bio-card md-card" (click)="openDialog(picture, name, twitter, bio, website)">
    <header>
        <img src="{{picture}}" alt="{{name}}">
        <nav>
            <button aria-label="View Bio">View Bio</button>
            <a title="twitter" href="https://twitter.com/{{twitter}}" [hidden]="!twitter" target="_blank">
                <span class="icon-twitter"></span>
            </a>
            <a title="website" [href]="website" [hidden]="!website" target="_blank">
                <span class="icon-publ"></span>
            </a>
        </nav>
    </header>
    <div class="md-card-content">
        <h3 class="text-headline bio-card-name">{{name}}</h3>
        <p class="bio-card-content text-body">
            {{bio}}
        </p>
    </div>
</div>